{% extends 'base.html' %}
{% load static %}
{% block title %}Water Chemistry{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'js/libraries/jquery-ui-themes-1.8.12/themes/base/jquery-ui.css' %}" type="text/css" media="all" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	
	<style type="text/css">
    @import "{% static 'css/waterquality/waterquality.css' %}" ;
    </style>
    
    <!--[if IE 8]>
    <style>
    @import "{% static 'css/waterquality/waterquality_ie.css' %}" ;
    </style>
    <![endif]-->    	
	
{% endblock %}
{% block js %}
   {{ block.super }}
	<script type="text/javascript" src="{% static 'js/libraries/jquery-1.6.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/libraries/jquery-ui-1.8.12.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/libraries/jquery.sharing/jquery.sharing.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/sharing.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/facebox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modules/exporting.js' %}"></script>
{% endblock %}

{% block masthead %}
	<a href="/waterchemistry/">Water Chemistry</a>
{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumbs">
	<li><a href="/waterchemistry/">Home</a></li>
	<li><a href="/waterchemistry/graph/ "class="active">Graphing Tool</a></li>
	<li><a href="/waterchemistry/browse/">Data Browser</a></li>
	<li><a id="teachlink" href="/waterchemistry/teaching/">Teaching Resources</a></li>
	</ul>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
    <div id="footer">
        <ul id="standard-elements">
            <li><a href="/portal/about/">About</a></li>
            <li><a href="/portal/credits/">Credits</a></li>
            <li><a href="/portal/help/">Help</a></li>
            <li><a href="mailto:ctl-dev@columbia.edu">Contact</a></li>
        </ul>
    </div>
{% endblock %}
