{% extends 'waterquality/base_waterquality.html' %}
{% load render %}
{% load static %}

{% block js %}
   {{ block.super }}

{% if not show_graph %}
<script type="text/javascript">
$(document).ready(function() {
  $('a[rel*=facebox]').facebox();   
  $(document).bind('reveal.facebox', function() {
    $('#facebox a[rel*=facebox]').facebox();
  });
});
</script>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumbs">
	<li><a href="/waterchemistry/" class="active">Home</a></li>
	<li><a href="/waterchemistry/graph/">Graphing Tool</a></li>
	<li><a href="/waterchemistry/browse/">Data Browser</a></li>
	<li><a id="teachlink" href="/waterchemistry/teaching/">Teaching Resources</a></li>
	</ul>
{% endblock %}

{% block content %}

<div id="contentcontainer">
	
	<h3>Welcome to the Water Chemistry Module!</h3>
	
	<div class="landingSlideshow" style="float: right;  width: 500px; margin: 0px 0px 30px 30px;"">
	<a data-flickr-embed="true" data-footer="true"  href="https://www.flickr.com/photos/blackrockforestconsortium/albums/72157632757903621" title="Water Chemistry Slideshow"><img src="https://c1.staticflickr.com/9/8532/8472121650_b4cb99ffe5.jpg" width="500" height="333" alt="Water Chemistry Slideshow"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
	</div>
	
	<div class="landingText">
	
		<p>Black Rock Forest Consortium and the Columbia Center for New Media Teaching and Learning have created a Virtual Forest Partnership with New York City Schools thanks to a generous grant from the Toyota USA Foundation. Visit this website often to learn about field work at Black Rock Forest, access others' data and research findings, and complete assignments offered by the schools in the Partnership.</p>
		
		<p><b>Educators:</b> Download the <a href="/waterchemistry/teaching/">Teacher Guide</a> to the Water and the Living Environment curriculum.</p>
		
		<p><b>Students:</b> Whether you have been to Black Rock Forest before or have yet to travel to Cornwall, take the next step in your journey to becoming a water quality expert here. Download the <a href="/waterchemistry/teaching/">Student Guide</a> and the <a href="/waterchemistry/teaching/">Student Journal</a> to start the Water and the Living Environment's curriculum.</p>
		
		<p>You will also be using the <a href="/waterchemistry/graph/">Graphing Tool</a> throughout the curriculum.</p>
	
	</div>
	
	
	<br clear="all" />
	<p class="funder_logo">
	<span><img src="{% static 'images/logo_toyota_foundation.jpg' %}" width="85" height="67" /></span>
	<br style="height: 15px">
	The Virtual Forest Partnership with New York City Schools
	<br />
	is made possible with support from the Toyota USA Foundation</p>
	<br clear="all" />

</div>


{% endblock %}
