{% extends 'waterquality/base_waterquality.html' %}
{% load render %}
{% load static %}

{% block css %}
   {{ block.super}}
    <style type="text/css">
        .waterchemslideshow { height: 332px; width: 432px; float: right; }
        .waterchemslideshow img { padding: 0 0 0 20px; border: none; background-color: transparent; }
    </style>
{% endblock %}

{% block js %}
   {{ block.super }}
      <script type="text/javascript" src="{% static 'js/jquery.cycle.lite.js' %}"></script>
      <script type="text/javascript" type="text/javascript">
      $(document).ready(function() {
    $('.waterchemslideshow').cycle({
		fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
	});
});
</script>

{% if not show_graph %}
<script type="text/javascript">
$(document).ready(function() {
  $('a[rel*=facebox]').facebox();   
  $(document).bind('reveal.facebox', function() {
    $('#facebox a[rel*=facebox]').facebox();
  });
});
</script>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumbs">
	<li><a href="/waterchemistry/">Home</a></li>
	<li><a href="/waterchemistry/graph/">Graphing Tool</a></li>
	<li><a href="/waterchemistry/browse/">Data Browser</a></li>
	<li><a href="/waterchemistry/teaching/"class="active">Teaching Resources</a></li>
	</ul>
{% endblock %}


{% block content %}

<div id="contentcontainer">

    <h2>
	    Teaching Resources
    </h2>

    <p>
    This section houses curricula that make use of the graphing tool. Feel free to download any that you would like to incorporate in your classroom activities. 
    </p>

    <p>
    If you would like to share your own material and the way you incorporate the graphing tool into it, we'll gladly upload it here. 
    </p>

    <p>
    To do so, <a href="mailto:ctl-dev@columbia.edu">email</a> us a short course description including a title, credits, and target audience. Most importantly, remember to attach all the required files!
    </p>

    <hr />

    <ol>
    
    
    <!--start - entry-->
	    <li> 
	
			<h3>
			Water and the Living Environment
			</h3>
			
			<h4>
			Goals:
			</h4>
			
			<ul>
				<li>
				To give students an integrated approach to water quality and its importance to living organisms
				</li>
				<li>
				To provide experiences in the use of research data and analysis of graphs
				</li>
				<li>
				To increase student problem-solving ability
				</li>
				<li>
				To stimulate student questioning and independent investigation
				</li>
				<li>
				To give students experience in the use of varied web resources
				</li>
			</ul>
			
			<h4>
			Target Audience:
			</h4>
			
			<p>
			Students in NYC public high schools and middle schools (7th-8th Grade) with varying levels of proficiency and experience in science. 
			</p>
			
			<h4>
			Written By:
			</h4>
			
			<p>
			<a href="mailto:commsci@ptmsc.org">Libby Palmer</a> and <a href="mailto:judydamore@gmail.com">Judy D'Amore</a>, <a href="https://www.ptmsc.org/" target="_blank">Port Townsend Marine Science Center, Washington</a> 
			</p>
			
			<h4>
			Files:
			</h4>
			
			<p>
			Teachers should download all 3 types of documents, while students only need the 2 pertaining to them.
			</p>
			
			<ul>
				<li>
				Teacher Guide:
				<a href="https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/waterquality/teachingresources/Water_Chemistry_Palmer_Teacher_Guides.pdf" target="_blank">PDF</a>
				|
				<a href="https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/waterquality/teachingresources/Water_Chemistry_Palmer_Teacher_Guides.zip">ZIP</a>
				</li>
				<li>
				Student Guide:
				<a href="https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/waterquality/teachingresources/Water_Chemistry_Palmer_Student_Guides.pdf" target="_blank">PDF</a>
				|
				<a href="https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/waterquality/teachingresources/Water_Chemistry_Palmer_Student_Guides.zip">ZIP</a>
				</li>
				<li>
				Student Journal:
				<a href="https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/waterquality/teachingresources/Water_Chemistry_Palmer_Student_Journals.pdf" target="_blank">PDF</a>
				|
				<a href="https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/waterquality/teachingresources/Water_Chemistry_Palmer_Student_Journals.zip">ZIP</a>
				</li>
			</ul>
			
			<h4>
			Notes for Teachers:
			</h4>
			
			<ul>
			<li>To use the curriculum as-is without modifications, simply download the PDF files.</li>
			<li>If you would like to adapt the activities to your classroom needs, download the ZIP files. These contain individual Word documents that can be editable.</li>
			</ul>
			
			<h4>
			Notes on Downloading Files:
			</h4>
			
			<ul>
			<li>Depending on the browser you are using, the ZIP documents will download in one ZIP file or will automatically be unzipped in one folder.</li>
			<li>To install an unzip application on your computer, <a href="https://www.downloadbin.com/?page=7zip&amp;kw=download+unzip+software&amp;gclid=CNjKl9nDlLECFUFV4AodmWWheg" target="_blank">download 7-Zip</a>, a free open-source one. </li>
			</ul>
			
	
	    </li>
    <!--stop - entry-->
    
    <!--start - entry-->
	    <!--
	    <li> 
			<h3>
			Test
			</h3>
	    </li>
	    -->
    <!--stop - entry-->
	    
    </ol>

</div>

{% endblock %}


