{% extends "sampler/base_sampler.html" %}

{% block masthead %}CSV Format Info{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block css %}
  <style type='text/css'>
    div#content {
      position: relative;
      width: 1080px;
      margin: 0px auto;
      margin-top: 15px;
      border: 1px black solid;
      height: 755px;
    }
  </style>

{% endblock %}

{% block content %}

<p>To import tree data from a CSV file, please ensure that your file
has the following headings: "ID", "x", "y", "species" and "dbh".
ID is the tree's unique ID number, species is its species code (e.g. 
"ro"), "dbh" is its diameter breast height (in cm), and x and y are its 
location coordinates (in meters).</p>

<p>CSV (comma-separated value) files are just plain-text versions of 
Excel 
spreadsheets.  The
exact process varies depending on your software and version, but you can
convert your Excel spreadsheet into a CSV file by selecting "Save As..."
and changing the file type (look for the choice with the file 
extension "*.csv").</p>


{% endblock %}
