{% extends "base.html" %}

{% block title %}Forest Sampling {% endblock %}

{% block masthead %}
Forest Sampling
{% endblock %}

{% block content %}

<div id="content">

<h3>Welcome to the Blackrock Forest Sampling Simulation</h3>

<p>This tool will allow you to sample real data from one of Blackrock Forest's long term plots.
You can use it to learn how to sample any area, or to get a sense of how this area of Blackrock
Forest has changed over time.</p>

<p><a href="plot">Start Simulation</a></p>

</div>
{% endblock %}
