body
{
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande", "Trebuchet MS", Arial, sans-serif !important;
}

a {color: #435142;}

h1#masthead
{
	background-color: #A18F83;
	color: #fff;
	margin: 0px 0px 0px 0px;
	padding: 10px;
	font-size: 24px;
	border-top: 3px #435142 solid;
}

#masthead_top 

{

	background-color: #1F2A1E;

}



#brf
{

	margin: 0;
	padding: 0;
	background-image: url(../images/logo_brd.gif);
	background-repeat: no-repeat;
	background-position: top left;
	height: 88px;
    display: block;
}

#ccnmtl
{
	margin: 15px;
	padding: 0;
	background-image: url(../images/logo_ccnmtl.gif);
	background-repeat: no-repeat;
	width: 105px;
	height: 41px;
	float: right;
	background-color: #1F2A1E;
}

#wrapper
{
	background-color: #fff;
	margin: 0;
	padding: 0;
}

#content
{
	background-color: #fff;
	margin: 0;
	padding: 20px;
	height: 160px;
}


#breadcrumbs
{
	background-color: #dcd3c2;
	padding: 10px;
}

div#breadcrumbs ol, div#breadcrumbs ul
{
	margin-left: -40px;
	display: inline;
	font-size: 12px;
}

div#breadcrumbs ol li, div#breadcrumbs ul li
{
	margin-left: 0;
	margin-bottom: 0;
	padding: 5px 50px 5px 5px;
	display: inline;
	font-weight: bold;
	/*cursor: pointer;*/
	color: #999;
}

div#breadcrumbs ol li.active, div#breadcrumbs ul li.active 
{ color: #996734; }

img.screenshot {
  border:1px black solid;
  padding:5px;
  margin-bottom:7px;
  background-color:#fff;
}

div.screenshot {
  background-color:#eee;
  width:312px;
  border:1px black solid;
  padding:15px;
  float: left;
  margin: 25px;
  text-align: center;
}

#sidebar_left
{
	display: block;
	float: left;
	width: 350px;
	margin-right: 25px;
	padding: 5px 5px;
	border: 1px black solid;
	z-index: 100;
	height: 2000px;
}

#right
{
    width: 1100px;
}

.landingSlideshow
{ height: 332px; width: 432px; float: right; }

.landingSlideshow img
{ padding: 0 0 0 20px; border: none; background-color: transparent; }
