.graph-note {
    margin-left: 10px;
}

img.treegrowth-banner {
    max-width: 100%;
}

img.treegrowth-right {
    display: block;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

#plot-container {
    min-height: 300px;
}

#plot-container .loader .ball-pulse {
    margin-top: 150px;
    text-align: center;
}

.loader .ball-pulse > div {
    background-color: #000;
}