body
{
	max-width: 1500px;
	min-width: 960px;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

#breadcrumbs { display: none; }

#nav
{
	background-color: #dcd3c2;
	margin: 0;
	padding: 5px 10px 12px 10px;
	border: 0;
	color: #827259;
}

div#nav ol, div#nav ul
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	list-style: none;
}

div#nav ol a, div#nav ul a
{
	text-decoration: none;
}

div#nav ol a:hover, div#nav ul a:hover
{
	text-decoration: underline;
}

div#nav ol li, div#nav ul li
{
	margin: 0 30px 0 0;
	padding: 5px 10px 7px 10px;
	border: 0;
	float: left;
	font-weight: bold;
	/*cursor: pointer;*/
}

div#nav ul li#gridcategory
{
	margin: 0 2px 0 0;
	padding-right: 0px;
}

div#nav ul li#gridresearch
{
	margin: 0;
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px dotted #999;
}

div#nav ul li#gridplay
{
	padding-left: 5px;
}

div#nav ol li a.active, div#nav ul li.active { background-color: #ffffff; }


#container
{
	display: block;
	margin: 0;
	padding: 0 10px;
	border: 0;
	min-width: 960px;
	max-width: 1200px;
}

h1#masthead a
{
	color: #fff;
	text-decoration: none;
}

#left
{
	display: block;
	width: 44%;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}

#map_canvas
{
	position: relative;
	display: block;
	width: 55%;
	min-width: 500px;
	height: 550px;
	float: left;
	margin: 0;
	padding: 0;
	border: 1px solid #999;
}

#map_canvas2
{
	position: relative;
	display: block;
	width: 55%;
	min-width: 500px;
	height: 550px;
	float: left;
	margin: 0;
	padding: 0;
	border: 1px solid #999;
}

.plain
{
	margin: 0;
	padding: 0;
	border: 0;
}

.clearfix
{
	margin: 0;
	padding: 0;
	border: 0;
	clear: both;
	display:block;
}

.instructions
{
	margin: 0;
	padding: 0 10px 0 0;
	border: 0;
	font-size: 12px;
}

.inputbox
{
	width: 60px;
	margin: 0;
	padding: 2px;
	border: 1px solid #999;
}

.inputbox:focus
{
	border: 1px solid #339900;
	background-color: #e0e0e0;
}

label
{
	font-weight: bold;
	color: #666;
}

/* Form fields */

.formfield
{
	width: 290px;
	margin: 0 10px 0 0;
	padding: 0;
	border: 0;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}

.formfield_header
{
	width: 290px;
	margin: 20px 0 10px 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	font-weight: bold;
}

.formfield label
{
	margin-left: 20px;
	width: 180px;
	display: block;
	float: left;
}

.formfield .inputbox
{
	display: block;
	float: right;
	margin-top: 5px;
}

body.research_grid .formfield,
body.research_grid .formfield_header
{
	display: none;
}

body.playground_grid .formfield,
body.playground_grid .formfield_header
{
	display: block;
}

body.playground_grid #selection_steps
{
	display: none;
}

.hide_this {
  display: none;
}

.back_page
{
	width: 260px;
	margin: -10px 0 20px 0;
	padding: 0 0 0 25px;
	border: 0;
	background: #efefef url('../images/back_page.png') 0px 0px no-repeat;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}

/* GRID SELECTION */

#selection_steps
{
	margin: 20px 0 0 0;
	padding: 0;
	border: 0;
	clear: both;
	display: block;
}

#terrain_level
{
	width: 220px;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
}

#terrain_level h4
{
	margin: 0;
	padding: 0 0 0 36px;
	border: 0;
	font-weight: bold;
	font-size: 12px;
	height: 36px;
	background: url('../images/nav_steps.png') -2px -8px no-repeat;
}

#randomizer
{
	width: 180px;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
}

#randomizer h4
{
	margin: 0;
	padding: 0 0 0 36px;
	border: 0;
	font-weight: bold;
	font-size: 12px;
	height: 36px;
	background: url('../images/nav_steps.png') -2px -48px no-repeat;
}

.randomize_again_hint
{
	margin: 5px 0 0 36px;
	padding: 0;
	border: 0;
	font-size: 11px;
}

#selection_steps select
{
	width: 150px;
	margin: 0 0 0 36px;
}

#selection_steps button
{
	width: 100px;
	margin: 0 0 0 36px;
}

/* Coordinate box for grid.html */

.coord_display
{
	margin: 20px 0 0 36px;
	padding: 0;
	border: 0;
	clear: both;
	display: block;
	font-size: 12px;
}

.terrain_info
{
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	width: 175px;
	height: 181px;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	background-color: transparent;
}

.terrain_info p
{
	margin: 20px 0 15px 5px;
	padding: 0;
	border: 0;
}

.terrain_info .prompt
{
	margin-right: 5px;
	font-style: italic;
}

.block_coordbox
{
	display: block;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	border: 0;
	width: 180px;
	height: 181px;
	border: 1px solid #669966;
	border-top: 0;
	background-color: #cfe2da;
}

.block_coordbox .topleft
{
	width: 90px;
	height: 55px;
	background: url("../images/pointer_topleft.gif") 0 0 no-repeat;
	font-size: 11px;
	float: left;
}

.topleft .coordinates
{
	padding-top: 12px !important;
	padding-left: 5px !important;
	text-align: left;
	height: 24px;
}

.block_coordbox .topright
{
	width: 90px;
	height: 55px;
	background: url("../images/pointer_topright.gif") 76px 0 no-repeat;
	font-size: 11px;
	float: left;
}

.topright .coordinates
{
	padding-top: 12px !important;
	padding-right: 5px !important;
	text-align: right;
	height: 24px;
}

.block_coordbox .center
{
	clear: both;
	width: 180px;
	height: 65px;
	background: url("../images/pointer_center.gif") center center no-repeat;
	font-size: 11px;
}

.center .coordinates
{
	padding-top: 40px !important;
	text-align: center;
	height: 24px;
}

.block_coordbox .bottomleft
{
	width: 90px;
	height: 60px;
	background: url("../images/pointer_bottomleft.gif") 0 46px no-repeat;
	font-size: 11px;
	float: left;
}

.bottomleft .coordinates
{
	padding-top: 21px !important;
	padding-left: 5px !important;
	text-align: left;
	height: 24px;
}

.block_coordbox .bottomright
{
	width: 90px;
	height: 60px;
	background: url("../images/pointer_bottomright.gif") 76px 46px no-repeat;
	font-size: 11px;
	float: left;
}

.bottomright .coordinates
{
	padding-top: 21px !important;
	padding-right: 5px !important;
	text-align: right;
	height: 24px;
}

.arrow_box {
	position: relative;
	width: 350px;
	padding: 3px;
	font-weight: bold;
	font-size: 12px;
	background: #dcd3c2;
	border: 1px solid #A18F83;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-top-color: #dcd3c2;
	border-width: 8px;
	left: 90px;
	margin-left: -8px;
}
.arrow_box:before {
	border-top-color: #A18F83;
	border-width: 10px;
	left: 90px;
	margin-left: -10px;
}

.randomize_again_hint
{
	display: none;
}

/* Page Footer Elements: All Pages */
#footer
{
	background-color: #1F2A1E;
	color: #ffffff;
	text-align: center;
	font-size: .9em;
	margin: 30px 0 0 0;
	padding: 0;
	border: 0;
}

ul#standard-elements
{
	list-style: none;
	margin: 0;
	padding: 3px 0;
}

ul#standard-elements li
{
	display: inline;
	padding: 0 5px;
}

ul#standard-elements li a
{
	color: #ffffff;
	display: inline;
	text-decoration: none;
}