{% extends "portal/base_portal.html" %}
{% load smartif %}
{% load portal %}
{% load markup %}

{% block title %}{{ object.model.verbose_name|capfirst }}: {{ object }}{% endblock %}

{% block container %}
{% with object.instance as current_object %}
{% with object.instance|klass as asset_klass %}


<div id="details-wrapper">
<table id="details-table">
<tr>
<td id="left">
    <div id="asset-details" class="blocktext">
        <h3>{{ current_object|display_name }}</h3>
        
        {% if current_object.display_image %}
            <p><img alt="{{asset_klass}} Icon" src="{{current_object.display_image.file.url}}" class="object_detail_image"></img></p>
        {% endif %}
        
        <p><span class="object_detail_label">Record Type:</span> {{current_object|klass_display}}</p>
            
        {% if asset_klass == "DataSet" %}
            {% if current_object.description %}
                <p><p><span class="object_detail_label">Description:</span>
                {{ current_object.description }}</p>
            {% endif %}
       
            {% if current_object.collection_start_date %}
                <p><span class="object_detail_label">Collection Start Date:</span>
                {{ current_object.collection_start_date|date }}</p>
            {% endif %}

            {% if current_object.collection_end_date %}
                <p><span class="object_detail_label">Collection End Date:</span>
                {{ current_object.collection_end_date|date }}</p>
            {% endif %}
        
            {% if current_object.url.all.count %}
                <p><span class="object_detail_label">Link{%if current_object.url.all.count > 0%}s{%endif%}:</span>
                <ul>
                {% for u in current_object.url.all %}
                    <li><a href="{{ u.name }}">{% if u.display_name %}{{u.display_name}}{% else %}{{u.document}}{% endif %}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
       
            {% if current_object.location %}
                {% if current_object.location.station_set.count %}
                    <p><span class="object_detail_label">Station:</span>
                    <a href="{{current_object.location.station_set.all.0|detail_url}}">{{ current_object.location.station_set.all.0.name }}</a>
                {% else %}
                    <p><span class="object_detail_label">Location:</span>
                    <a href="{{current_object.location|detail_url}}">{{ current_object.location.name }}</a>
                {% endif %}
                </p>
            {% endif %}
        
            {% if current_object.person.all.count %}
                <p><span class="object_detail_label">People:</span>
                {% for p in current_object.person.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{p|detail_url}}">{{p.name}}</a>{% endfor %}</p>
            {% endif %}
        {% else %}{% if asset_klass == "DigitalObject" %}
        
            {% if current_object.digital_format.is_image %}
                {% if current_object.file and current_object.file.url %}
                    <img src="{{current_object.file.url}}" class="object_detail_image"></img>
                {% else %}{% if current_object.url %}
                    <img src="{{current_object.url}}" class="object_detail_image"></img>
                {% endif %}{% endif %} 
                <br />
            {% endif %}
            
            {% if current_object.markup %}
                {{ current_object.markup|markdown }}<br />
            {% endif %}
            
            {% if current_object.description %}
                <p><span class="object_detail_label">Description:</span>
                {{ current_object.description }}</p>
            {% endif %}

            {% if current_object.digital_format %}
                <p><span class="object_detail_label">Format:</span>
                {{ current_object.digital_format }}</p>
             {% endif %}

            {% if current_object.url %}
                <p><span class="object_detail_label">Download link:</span>
                <a href="{{current_object.url}}">{{current_object.url}}</a></p>
            {% endif %}

            {% if current_object.source %}
                <p><span class="object_detail_label">Source:</span> {{ current_object.source }} </p>
            {% endif %}
        {% else %}{% if asset_klass == "LearningActivity" %}
             
            {% if current_object.author.all.count %}
                <p><span class="object_detail_label">Authors:</span>
                {% for x in current_object.author.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}</p>
            {% endif %}
      
            {% if current_object.description %}
                <p><span class="object_detail_label">Description:</span>
                {{ current_object.description }}</p>
            {% endif %}
     
            {% if current_object.url.all.count %}
                <p><span class="object_detail_label">Link{%if current_object.url.all.count > 0%}s{%endif%}:</span>{%if current_object.url.all.count > 1%}<br />{%endif%}
                {% for u in current_object.url.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{u.name}}">{{ u.name }}</a>{% endfor %}</p>
            {% endif %}
      
            {% if current_object.digital_format.all.count %}
                <p><span class="object_detail_label">Format:</span> 
                {% for f in current_object.digital_format.all %}{% if forloop.counter > 1 %}, {% endif %}{{ f.name }}{% endfor %}</p>
            {% endif %}
      
            {% if current_object.location %}
                <p><span class="object_detail_label">Location:</span>
                <a href="{{current_object.location|detail_url}}">{{ current_object.location.name }}</a></p>
            {% endif %}
        {% else %}{% if asset_klass == "Location" %}
            {% if current_object.location_type.count %}
                <p><span class="object_detail_label">Location Type:</span>
                {% for t in current_object.location_type.all %}{% if forloop.counter > 1 %}, {% endif %}{{ t.name }}{% endfor %}</p>
            {% endif %}
            {% if current_object.location_subtype.count %}
                <p><span class="object_detail_label">Location Subtype:</span>
                {% for t in current_object.location_subtype.all %}{% if forloop.counter > 1 %}, {% endif %}{{ t.name }}{% endfor %}</p>
            {% endif %}
            
            {% if current_object.latitude %}<p><span class="object_detail_label">Latitude:</span> {{current_object.latitude}}</p>{% endif %}
            {% if current_object.longitude %}<p><span class="object_detail_label">Longitude:</span> {{current_object.longitude}}</p>{% endif %}
        {% else %}{% if asset_klass == "Person" %}
            {% if current_object.professional_title %}
                <p><span class="object_detail_label">Title:</span> 
                {{ current_object.professional_title }}</p>
            {% endif %}
            {% if current_object.institution.all.count %}
                <p><span class="object_detail_label">Institution:</span>
                {% for i in current_object.institution.all %}{% if forloop.counter > 1 %}, {% endif %}{{ i.name }}{% endfor %}</p>
            {% endif %}
            {% if current_object.description %}
                <p><span class="object_detail_label">Biography:</span>
                {{ current_object.description }}</p>
            {% endif %}
            {% if current_object.url.all.count %}
                <p><span class="object_detail_label">Link{%if current_object.url.all.count > 0%}s{%endif%}:</span>{%if current_object.url.all.count > 1%}<br />{%endif%}
                {% for u in current_object.url.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{ u.name }}">{{u.name}}</a>{% endfor %}</p>
            {% endif %}
            {% if current_object.person_type.all.count %}
                <p><span class="object_detail_label">Roles:</span>
                {% for t in current_object.person_type.all %}{% if forloop.counter > 1 %}, {% endif %}{{ t.name }}{% endfor %}</p>
            {% endif %}
        {% else %}{% if asset_klass == "Publication" %}
            {% if current_object.publication_type.count %}
                <p><span class="object_detail_label">Publication Type:</span> 
                {% for t in current_object.publication_type.all %}{% if forloop.counter > 1 %}, {% endif %}{{ t.name }}{% endfor %}</p>
            {% endif %}
            {% if current_object.publication_date %}
                <p><span class="object_detail_label">Publication Date:</span>
                {{ current_object.publication_date|date }}</p>
            {% endif %}
            {% if current_object.citation %}
                <p><span class="object_detail_label">Citation:</span>
                {{ current_object.citation }}</p>
            {% endif %}
            {% if current_object.description %}
                <p><span class="object_detail_label">Description:</span>
                {{ current_object.description }}</p>
            {% endif %}
            {% if current_object.url.all.count %}
                <p><span class="object_detail_label">Link{%if current_object.url.all.count > 0%}s{%endif%}:</span>{%if current_object.url.all.count > 1%}<br />{%endif%}
                {% for u in current_object.url.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{ u.name }}">{{u.name}}</a>{% endfor %}</p>
            {% endif %}
            {% if current_object.doi_citation %}
                <p><span class="object_detail_label">DOI:</span>
                {{ current_object.doi_citation }}</p>
            {% endif %}
            {% if current_object.rights.all.count %}
                <p><span class="object_detail_label">Rights:</span>
                {% for r in current_object.rights.all %}{% if forloop.counter > 1 %}, {% endif %}{{ r.name }}{% endfor %}<br />
            {% endif %}
        {% else %}{% if asset_klass == "Region" %}
            {% if current_object.region_type.count %}
                <p><span class="object_detail_label">Type:</span> 
                {% for t in current_object.region_type.all %}{% if forloop.counter > 1 %}, {% endif %}{{ t.name }}{% endfor %}<br />
            {% endif %}
            {% if current_object.description %}
                <p><span class="object_detail_label">Description:</span> 
                {{ current_object.description }}<br />
            {% endif %}
        {% else %}{% if asset_klass == "ResearchProject" %}
            {% if current_object.start_date %}
                <p><span class="object_detail_label">Project Start Date:</span>
                {{ current_object.start_date|date }}</p>
            {% endif %} 
            {% if current_object.end_date %}
                <p><span class="object_detail_label">Project End Date:</span>
                {{ current_object.end_date|date }}</p>
            {% endif %}
            {% if current_object.person.count %} 
                <p><span class="object_detail_label">Principal Investigator{% if current_object.person.count > 1 %}s{% endif %}:</span>
                {% for p in current_object.person.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{p|detail_url}}">{{ p.name }}</a>{% endfor %}</p>
            {% endif %}
            {% if current_object.description %}
                <p><span class="object_detail_label">Description:</span> 
                {{ current_object.description }}</p>
            {% endif %}
            {% if current_object.location %}
                {% if current_object.location.station_set.count %}
                    <p><span class="object_detail_label">Station:</span>
                    <a href="{{current_object.location.station_set.all.0|detail_url}}">{{ current_object.location.station_set.all.0.name }}</a></p>
                {% else %}
                    <p><span class="object_detail_label">Location:</span>
                    <a href="{{current_object.location|detail_url}}">{{ current_object.location.name }}</a></p>
                {% endif %}
            {% endif %}
       {% else %}{% if asset_klass == "Station" %}
            {% if current_object.activation_date %}
                <p><span class="object_detail_label">Activation Date:</span>
                {{ current_object.activation_date|date }}</p>
            {% endif %}
            
            {% if current_object.location %}
                <p><span class="object_detail_label">Location:</span>
                <a href="{{current_object.location|detail_url}}">{{ current_object.location.name }}</a></p>
            {% endif %}
             
            {% if current_object.description %}
                <p><span class="object_detail_label">Description:</span>
                {{ current_object.description }}</p>
            {% endif %}
        {% else %}{% if asset_klass == "ForestStory" %}
             
            {% if current_object.description %}
                <p><span class="object_detail_label">Description:</span>
                {{ current_object.description }}<br />
            {% endif %}
        {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
       
        {% if current_object.facet.all.count %}
            <p><span class="object_detail_label">Keyword:</span>
            {% for f in current_object.facet.all %}{% if forloop.counter > 1 %}, {% endif %}{{ f.display_name }}{% endfor %}</p>
        {% endif %}
        
   </div>
</td>
<td id="center"> 
    {% if current_object.location or current_object.latitude %}
       <div id="map-column">
          <div id="map_canvas"></div>
       </div>
    {% endif %}

    <!--  Hand-Picked "Related" Records -->
    <div id="related-items">
    {% with "mapicon_related.png" as iconname %}
    
    
        {% if asset_klass == "LearningActivity" %}
            {% if current_object.dataset.count %}
                <p><span class="object_detail_label">Related Data Sets:</span>
                {% for x in current_object.dataset.all %}
                    {% with x as current_object %}
                        {% include "portal/asset_related.html" %}
                    {% endwith %}
                {% endfor %}
            {% endif %}
            {% if current_object.digitalobject.count %}
                <p><span class="object_detail_label">Related Digital Objects:</span>
                {% for x in current_object.digitalobject.all %}
                    {% with x as current_object %}
                        {% include "portal/asset_related.html" %}
                    {% endwith %}
                {% endfor %}
            {% endif %}
            {% if current_object.person.count %}
                <p><span class="object_detail_label">Related People:</span>
                {% for x in current_object.person.all %}
                    {% with x as current_object %}
                         {% include "portal/asset_related.html" %}
                      {% endwith %}
                {% endfor %}
            {% endif %}
        {% else %}{% if asset_klass == "ResearchProject" %}
            {% if current_object.dataset.count %}
                <p><span class="object_detail_label">Related Data Sets:</span>
                {% for x in current_object.dataset.all %}
                    {% with x as current_object %}
                        {% include "portal/asset_related.html" %}
                    {% endwith %}
                {% endfor %}
            {% endif %}
        {% else %}{% if asset_klass == "Station" %}
            {% if current_object.research_projects|length %}
                <p><span class="object_detail_label">Related Research Projects:</span>
                {% if current_object.dataset.count %}
                    <p><span class="object_detail_label">Related Research Projects:</span>
                    {% for x in current_object.researchproject.all %}
                        {% with x as current_object %}
                            {% include "portal/asset_related.html" %}
                        {% endwith %}
                    {% endfor %}
                {% endif %}
            {% endif %}
            {% if current_object.dataset.count %}
                <p><span class="object_detail_label">Related Data Sets:</span>
                {% for x in current_object.dataset.all %}
                    {% with x as current_object %}
                        {% include "portal/asset_related.html" %}
                    {% endwith %}
                {% endfor %}
            {% endif %}  
        {% else %}{%if asset_klass == "Publication" %}
            {% if current_object.person.count %}
                <p><span class="object_detail_label">Related People:</span>
                {% for x in current_object.person.all %}
                    {% with x as current_object %}
                         {% include "portal/asset_related.html" %}
                      {% endwith %}
                {% endfor %}
            {% endif %} 
        {% else %}{% if asset_klass == "Region" %}
            {% if current_object.location.count %}
                <p><span class="object_detail_label">Related Locations:</span>
                {% for x in current_object.location.all %}
                    {% with x as current_object %}
                         {% include "portal/asset_related.html" %}
                    {% endwith %}
                {% endfor %}
            {% endif %} 
        {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
        
        <!--  Related Database Records -->
        {% for related_object in object.related_objects %}
            {% if related_object.object_list %}
                {% for object in related_object.object_list %}
                        {% ifequal forloop.counter 1 %}
                            <p><span class="object_detail_label">Related {{object.instance|klass_display_plural}}</span>
                        {% endifequal %}
                    
                        {% with object.instance as current_object %}		   
    	                   {% include "portal/asset_related.html" %}
                        {% endwith %}
                    
                {% endfor %}
                <br />
            {% endif %}
        {% endfor %}
   {% endwith %}    
   </div> </td><!-- end related section --></tr></table>
   
   
   {% with 1 as includegeocode %}
       {% include "portal/asset_location.html" %}
   {% endwith %}
   
<p class="clear"></p>
</div> <!-- end detail-page -->
    
{% endwith %}{% endwith %}
{% endblock %}
