{% extends "portal/base_portal.html" %}
{% load smartif %}
{% load portal %}

{% block title %}{{ object.model.verbose_name|capfirst }}: {{ object }}{% endblock %}

{% block subnav-wrapper %}
{% endblock %}

{% block left %}
{% with object.instance as current_object %}
{% with object.instance|klass as asset_klass %}
    
    <!-- Asset Locations (Hidden. Used by maps.js to plot GMaps) -->
    {% include "portal/asset_location.html" %}
    
    <h2>{{ current_object.name }}</h2>
    <div><b>Record Type</b>: {{ current_object|klass_display }}</div>
        
    {% if asset_klass == "DataSet" %}
        <div>
             <b>Description</b>:
             {% if current_object.description %}
                {{ current_object.description }}<br />
             {% endif %}
        </div>
        <div>
            <b>Collection Start Date</b>:
            {% if current_object.collection_start_date %}
                {{ current_object.collection_start_date|date }}
            {% endif %}
        </div>
        <div>
            <b>Collection End Date</b>:
            {% if current_object.collection_end_date %}
                {{ current_object.collection_end_date|date }}
            {% endif %}
        </div>
        <div>
            <b>Url</b>:
            {% for u in current_object.url.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="u|detail_url">{{u.name}}</a>{% endfor %}<br />
        </div>
        <div>
            <b>Keyword</b>:
            {% for f in current_object.facet.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{f|detail_url}}">{{ f.name }}</a>{% endfor %}<br />
        </div>
        <div>
            <b>Categories</b>:
            {% for t in current_object.tag.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{t|detail_url}}">{{ t.name }}</a>{% endfor %}<br />
        </div>
        <div>
            {% if current_object.location %}
               {% if current_object.location.station_set.count %}
                  <b>Station</b>:
                  <a href="{{current_object.location.station_set.all.0|detail_url}}">{{ current_object.location.station_set.all.0.name }}</a>
               {% else %}
                  <b>Location</b>:
                  <a href="{{current_object.location|detail_url}}">{{ current_object.location.name }}</a>
               {% endif %}
            {% else %}
                <b>Location</b>: <!-- Show attribute label with no data -->
            {% endif %}
        </div>
        <div>
            <b>People</b>:
            {% for p in current_object.person.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{p|detail_url}}">{{p.name}}</a>{% endfor %}<br />
        </div>
        
        <br />
        <br />
        {% if current_object.researchproject_set.count %}
            <div>
                <b>Related Research Projects</b>:
                {% for x in current_object.researchproject_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
            </div>
        {% endif %}
                
        {% if current_object.learningactivity_set.count %}
            <div>
                <b>Related Learning Activities</b>:
                {% for x in current_object.learningactivity_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
            </div>
        {% endif %}
        
        {% if current_object.foreststory_set.count %}
            <div>
                <b>Related Forest Stories</b>:
                {% for x in current_object.foreststory_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
            </div>
        {% endif %}
    {% else %}{% if asset_klass == "DigitalObject" %}
       <div>
         <div>
             <b>Description</b>:
             {% if current_object.description %}
                {{ current_object.description }}<br />
             {% endif %}
         </div>
         <div>
            <b>Format</b>:
            {% if current_object.digital_format %}
                {{ current_object.digital_format }}<br />
             {% endif %}
         </div>
         <div>
            <b>Download link</b>:
            {% if current_object.url %}
                <a href="{{current_object.url}}">{{current_object.url}}</a>
            {% endif %}
         </div>
        <div>
            <b>Keyword</b>:
            {% for f in current_object.facet.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{f|detail_url}}">{{ f.name }}</a>{% endfor %}<br />
        </div>
        <div>
            <b>Categories</b>:
            {% for t in current_object.tag.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{t|detail_url}}">{{ t.name }}</a>{% endfor %}<br />
        </div>
        <div>
            <b>Source</b>:
            {% if current_object.source %}
                {{ current_object.source }}
            {% endif %}
        </div>
        
        <br />
        <br />
        {% if current_object.researchproject_set.count %}
            <div>
                <b>Related Research Projects</b>:
                {% for x in current_object.researchproject_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
            </div>
        {% endif %}
                
        {% if current_object.learningactivity_set.count %}
            <div>
                <b>Related Learning Activities</b>:
                {% for x in current_object.learningactivity_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
            </div>
        {% endif %}
        
        {% if current_object.foreststory_set.count %}
            <div>
                <b>Related Forest Stories</b>:
                {% for x in current_object.foreststory_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
            </div>
        {% endif %} 
       </div>
    {% else %}{% if asset_klass == "LearningActivity" %}
       <div>
          <div>
            <b>Format</b>: 
            {% if current_object.digital_format.count %}
                {% for f in current_object.digital_format.all %}{% if forloop.counter > 1 %}, {% endif %}{{ f.name }}{% endfor %}<br />
            {% endif %}
          </div>
          <div>
              <b>Authors</b>:
              {% for x in current_object.author.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
          </div>
          <div>
              <b>Description</b>:
              {% if current_object.description %}
                 {{ current_object.description }}<br />
              {% endif %}
          </div>
          <div>
              <b>Url</b>:
              {% for u in current_object.url.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{u.name}}">{{ u.name }}</a>{% endfor %}<br />
          </div>
          <div>
              <b>Keyword</b>:
              {% for f in current_object.facet.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{f|detail_url}}">{{ f.name }}</a>{% endfor %}<br />
          </div>
          <div>
              <b>Categories</b>:
              {% for t in current_object.tag.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{t|detail_url}}">{{ t.name }}</a>{% endfor %}<br />
          </div>
          <div>
              <b>Location</b>:
              {% if current_object.location %}
                 <a href="{{current_object.location|detail_url}}">{{ current_object.location.name }}</a>
              {% endif %}
          </div>
          <br /><br />
          {% if current_object.dataset.count %}
          <div>
             <b>Related DataSets</b>:
             {% for x in current_object.dataset.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
          </div>
          {% endif %}
          
          {% if current_object.digitalobject.count %}
          <div>
             <b>Related Digital Objects</b>:
             {% for x in current_object.digitalobject.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
          </div>
          {% endif %}
          
          {% if current_object.person.count %}
          <div>
             <b>Related People</b>:
             {% for x in current_object.person.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
          </div>
          {% endif %}
          
          {% if current_object.foreststory_set.count %}
            <div>
                <b>Related Forest Stories</b>:
                {% for x in current_object.foreststory_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
            </div>
          {% endif %}          
       </div>
    {% else %}{% if asset_klass == "Location" %}
        <div>
            <b>Location Type</b>: 
            {% if current_object.location_type.count %}
                {% for t in current_object.location_type.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{t|detail_url}}">{{ t.name }}</a>{% endfor %}
            {% endif %}
        </div>
        <div>
            <b>Location Subtype</b>:
            {% if current_object.location_subtype.count %}
                 {% for t in current_object.location_subtype.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{t|detail_url}}">{{ t.name }}</a>{% endfor %}<br />
            {% endif %}
        </div>
        <div><b>Latitude</b>: {{current_object.latitude}}</div>
        <div><b>Longitude</b>: {{current_object.longitude}}</div>
        <div>
           <b>Region</b>:
           {% if current_object.region_set.count %}
                 {% for r in current_object.region_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{r|detail_url}}">{{r.name}}</a>{% endfor %}<br />
           {% endif %} 
        </div>
        <div>
            <b>Keyword</b>:
            {% for f in current_object.facet.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{f|detail_url}}">{{ f.name }}</a>{% endfor %}<br />
        </div>
        <div>
            <b>Categories</b>:
            {% for t in current_object.tag.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{t|detail_url}}">{{ t.name }}</a>{% endfor %}<br />
        </div>
        <br />
        <br />
        {% if current_object.researchproject_set.count %}
            <div>
                <b>Related Research Projects</b>:
                {% for x in current_object.researchproject_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
            </div>
        {% endif %}
        
        {% if current_object.station_set.count %}
          <div>
             <b>Related Stations</b>:
             {% for x in current_object.station_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
          </div>
        {% endif %}
        
        {% if current_object.dataset_set.count %}
          <div>
             <b>Related DataSets</b>:
             {% for x in current_object.dataset_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
          </div>
        {% endif %}
                
        {% if current_object.learningactivity_set.count %}
            <div>
                <b>Related Learning Activities</b>:
                {% for x in current_object.learningactivity_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
            </div>
        {% endif %}
        
        {% if current_object.foreststory_set.count %}
            <div>
                <b>Related Forest Stories</b>:
                {% for x in current_object.foreststory_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
            </div>
        {% endif %}
    {% else %}{% if asset_klass == "Institution" %}
         <br />
         {% if current_object.person_set.count %}
            <div>
                <b>Also associated with {{current_object.name}}</b><br />
                {% for x in current_object.person_set.all %}<a href="{{x|detail_url}}">{{x.name}}</a><br />{% endfor %}
            </div>
         {% endif %}     
    {% else %}{% if asset_klass == "Person" %}
        <div>
            <b>Title</b>: 
            {% if current_object.professional_title %}
                {{ current_object.professional_title }}
            {% endif %}
        </div>
        <div>
            <b>Institution</b>:
            {% if current_object.institution %}
                 {% for i in current_object.institution.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{i|detail_url}}">{{ i.name }}</a>{% endfor %}
            {% endif %}
         </div>
         <div>
             <b>Biography</b>:
             {% if current_object.description %}
                 {{ current_object.description }}<br />
             {% endif %}
         </div>
         <div>
             <b>Url</b>:
             {% for u in current_object.url.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="u|detail_url">{{u.name}}</a>{% endfor %}<br />
         </div>
         <div>
             <b>Keyword</b>:
             {% for f in current_object.facet.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{f|detail_url}}">{{ f.name }}</a>{% endfor %}<br />
         </div>
         <div>
             <b>Categories</b>:
             {% for t in current_object.tag.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{t|detail_url}}">{{ t.name }}</a>{% endfor %}<br />
         </div>
         <div>
            <b>Roles</b>:
            {% for t in current_object.person_type.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{t|detail_url}}">{{ t.name }}</a>{% endfor %}<br />
         </div>
         <br />
         <br />
         {% if current_object.researchproject_set.count %}
            <div>
                <b>Related Research Projects</b>:
                {% for x in current_object.researchproject_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
            </div>
         {% endif %}
         
         {% if current_object.publication_set.count %}
            <div>
                <b>Related Publications</b>:
                {% for x in current_object.publication_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
            </div>
         {% endif %}
        
         {% if current_object.dataset_set.count %}
            <div>
                <b>Related DataSets</b>:
                {% for x in current_object.dataset_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
            </div>
         {% endif %}
                
        {% if current_object.learningactivity_set.count %}
            <div>
                <b>Related Learning Activities</b>:
                {% for x in current_object.learningactivity_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
            </div>
        {% endif %}
        
        {% if current_object.foreststory_set.count %}
            <div>
                <b>Related Forest Stories</b>:
                {% for x in current_object.foreststory_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
            </div>
        {% endif %}          
    {% else %}{% if asset_klass == "Publication" %}
           <div>
              <b>Publication Type</b>: 
              {% if current_object.publication_type.count %}
                 {% for t in current_object.publication_type.all %}{% if forloop.counter > 1 %}, {% endif %}{{ t.name }}{% endfor %}<br />
              {% endif %}
          </div>
          <div>
            <b>Publication Date</b>:
            {% if current_object.publication_date %}
                {{ current_object.publication_date|date }}
            {% endif %}
          </div>
          <div>
              <b>Citation</b>:
              {% if current_object.citation %}
                 {{ current_object.citation }}<br />
              {% endif %}
          </div>
          <div>
              <b>Description</b>:
              {% if current_object.description %}
                 {{ current_object.description }}<br />
              {% endif %}
          </div>
         <div>
             <b>Url</b>:
             {% for u in current_object.url.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="u|detail_url">{{u.name}}</a>{% endfor %}<br />
         </div>
         <div>
             <b>DOI</b>:
             {% if current_object.doi_citation %}
                {{ current_object.doi_citation }}
             {% endif %}
         </div>
         <div>
             <b>Keyword</b>:
             {% for f in current_object.facet.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{f|detail_url}}">{{ f.name }}</a>{% endfor %}<br />
         </div>
         <div>
             <b>Categories</b>:
             {% for t in current_object.tag.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{t|detail_url}}">{{ t.name }}</a>{% endfor %}<br />
         </div>
         <div>
            <b>Rights</b>:
            {% for r in current_object.rights.all %}{% if forloop.counter > 1 %}, {% endif %}{{ r.name }}{% endfor %}<br />
         </div>
         <br />
         <br />
         {% if current_object.researchproject_set.count %}
            <div>
                <b>Related Research Projects</b>:
                {% for x in current_object.researchproject_set.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
            </div>
         {% endif %}
         {% if current_object.person.count %}
            <div>
                <b>Related People</b>:
                {% for x in current_object.person.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x.name}}</a>{% endfor %}<br />
            </div>
         {% endif %} 
    {% else %}{% if asset_klass == "Region" %}
        <div>
           <b>Type</b>: 
           {% if current_object.region_type.count %}
              {% for t in current_object.region_type.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{t|detail_url}}">{{ t.name }}</a>{% endfor %}<br />
           {% endif %}
        </div>
        <div>
            <b>Description</b>: 
            {% if current_object.description %}
                {{ current_object.description }}<br />
            {% endif %}
        </div>
        <div>
            <b>Location</b>:
            {% for x in current_object.location.all %}{% if forloop.counter > 1 %}, {% endif %}{{ x.name }}{% endfor %}<br />
        </div>
        <div>
            <b>Keyword</b>:
            {% for f in current_object.facet.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{f|detail_url}}">{{ f.name }}</a>{% endfor %}<br />
        </div>
        <div>
            <b>Categories</b>:
            {% for t in current_object.tag.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{t|detail_url}}">{{ t.name }}</a>{% endfor %}<br />
        </div>
        <br />
        <br />
        {% if current_object.research_projects|length %}
            <div>
            <b>Related Research Projects</b>:
            {% for x in current_object.research_projects %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{ x.name }}</a>{% endfor %}<br />
            </div>
        {% endif %}
        {% if current_object.learning_activities|length %}
            <div>
            <b>Related Learning Activities</b>:
            {% for x in current_object.learning_activities %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{ x.name }}</a>{% endfor %}<br />
            </div>
        {% endif %}        
        {% if current_object.datasets|length %}
            <div>
            <b>Related DataSets</b>:
            {% for x in current_object.datasets %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{ x.name }}</a>{% endfor %}<br />
            </div>
        {% endif %}            
    {% else %}{% if asset_klass == "ResearchProject" %}
        <div>
            <b>Project Start Date</b>:
            {% if current_object.start_date %}
                {{ current_object.start_date|date }}
            {% endif %} 
        </div>
        <div>
            <b>Project End Date</b>:
            {% if current_object.end_date %}
                {{ current_object.end_date|date }}
            {% endif %} 
        </div>
        <div>
           <b>Principal Investigator{% if current_object.person.count > 1 %}s{% endif %}:</b>
           {% if current_object.person.count %}
              {% for p in current_object.person.all %}{% if forloop.counter > 1 %}, {% endif %}{{ p.name }}{% endfor %}<br />
           {% endif %}
        </div>
        <div>
           <b>Description</b>: 
           {% if current_object.description %}
              {{ current_object.description }}<br />
           {% endif %}
        </div>
        <div>
            {% if current_object.location %}
               {% if current_object.location.station_set.count %}
                  <b>Station</b>:
                  <a href="{{current_object.location.station_set.all.0|detail_url}}">{{ current_object.location.station_set.all.0.name }}</a>
               {% else %}
                  <b>Location</b>:
                  <a href="{{current_object.location|detail_url}}">{{ current_object.location.name }}</a>
               {% endif %}
            {% else %}
                <b>Location</b>: <!-- Show attribute label with no data -->
            {% endif %}
        </div>
        <div>
             <b>Keyword</b>:
             {% for f in current_object.facet.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{f|detail_url}}">{{ f.name }}</a>{% endfor %}<br />
        </div>
        <div>
             <b>Categories</b>:
             {% for t in current_object.tag.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{t|detail_url}}">{{ t.name }}</a>{% endfor %}<br />
         </div>
       <br /><br />
       <div>
           {% if current_object.dataset.count %}
              <b>Related DataSets</b>:
              {% for d in current_object.dataset.all %}
                <a href="/portal/browse/portal/dataset/objects/{{d.id}}">
                {{ d.name }}
                </a><br />
              {% endfor %}
           {% endif %}
       </div>
       <div>
           {% if current_object.publication.count %}
              <b>Related Publications</b>:
              {% for p in current_object.publication.all %}
                 <a href="/portal/browse/portal/publication/objects/{{p.id}}">
                    {{ p.name }}
                 </a><br />
              {% endfor %}
           {% endif %}
       </div>
   {% else %}{% if asset_klass == "Station" %}
       <div>
          <b>Activation Date</b>:
          {% if current_object.activation_date %}
             {{ current_object.activation_date|date }}
          {% endif %}
       </div>
       <div>
           <b>Location</b>:
           {% if current_object.location %}
              <a href="{{current_object.location|detail_url}}">{{ current_object.location.name }}</a>
           {% endif %}
       </div>
      <div>
         <b>Description</b>: 
         {% if current_object.description %}
            {{ current_object.description }}<br />
         {% endif %}
      </div>
      <div>
         <b>Keyword</b>:
         {% for f in current_object.facet.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{f|detail_url}}">{{ f.name }}</a>{% endfor %}<br />
      </div>
      <div>
         <b>Categories</b>:
         {% for t in current_object.tag.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{t|detail_url}}">{{ t.name }}</a>{% endfor %}<br />
      </div>
      <br /><br />  
        {% if current_object.research_projects|length %}
            <div>
            <b>Related Research Projects</b>:
            {% for x in current_object.research_projects %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{ x.name }}</a>{% endfor %}<br />
            </div>
        {% endif %}
        {% if current_object.datasets|length %}
            <div>
            <b>Related DataSets</b>:
            {% for x in current_object.datasets %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{ x.name }}</a>{% endfor %}<br />
            </div>
        {% endif %}            
   {% else %}{% if asset_klass == "ForestStory" %}
       {% if current_object.display_image %}
          <img alt="Forest Story Icon" src="{{current_object.display_image.file.url}}" class="featured_image"></img>
       {% else %}
          <img alt="Forest Story Icon" src="/portal/media/images/foreststory.png"></img>
       {% endif %}
      <div>
         <b>Description</b>: 
         {% if current_object.description %}
            {{ current_object.description }}<br />
         {% endif %}
      </div>       
    {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
{% endwith %}{% endwith %}
{% endblock %}
