requirements/src/Django-1.5.10.tar.gz
requirements/src/pytz-2011c.tar.gz
requirements/src/resolver-0.2.1.tar.gz
requirements/src/selector-0.8.11.tar.gz
requirements/src/Paste-1.7.2.tar.gz
requirements/src/PasteDeploy-1.3.3.tar.gz
requirements/src/PasteScript-1.7.3.tar.gz
requirements/src/cdap-1.0.tar.gz
requirements/src/httplib2-0.4.0.tar.gz
requirements/src/restclient-0.9.9.tar.gz
requirements/src/feedparser-4.1.tar.gz
requirements/src/Markdown-2.0.tar.gz
requirements/src/pyenchant-1.5.1.tar.gz
requirements/src/simplejson-2.0.9.tar.gz
requirements/src/uuid-1.30.tar.gz
requirements/src/psycopg2-2.4-no-mx.tar.gz
requirements/src/Pillow-1.7.8.zip
requirements/src/gspreadsheet_importer-0.1.tar.gz
requirements/src/pysolr-2.0.14-beta.tar.gz
requirements/src/gdata-2.0.10.tar.gz
requirements/src/django-tinymce-1.5.1a1.tar.gz
requirements/src/BeautifulSoup-3.0.0.tar.gz
requirements/src/nose-1.1.2.tar.gz
requirements/src/coverage-3.5.3.tar.gz
requirements/src/nose-exclude-0.1.5.tar.gz
requirements/src/djangohelpers-0.1.tar.gz
requirements/src/logilab-common-0.59.0.tar.gz
requirements/src/logilab-astng-0.24.1.tar.gz
requirements/src/pylint-0.26.0.tar.gz
requirements/src/pep8-1.4.tar.gz
requirements/src/pyflakes-0.5.0.tar.gz
requirements/src/flake8-1.7.0.tar.gz
requirements/src/statsd-2.0.2.tar.gz
requirements/src/django-smartif-0.1.tar.gz
requirements/src/djangowind-0.11.0.tar.gz
requirements/src/sorl-3.1.tar.gz
requirements/src/tagging-0.3-pre.tar.gz
requirements/src/template_utils-0.4p2.tar.gz
requirements/src/django-staticmedia-0.2.tar.gz
requirements/src/django-indexer-0.2.1.tar.gz
requirements/src/django-templatetag-sugar-0.1.tar.gz
requirements/src/django-statsd-mozilla-0.3.3.tar.gz
requirements/src/django-paging-0.2.2.tar.gz
requirements/src/django-appconf-0.4.1.tar.gz
requirements/src/django_compressor-1.1.1.tar.gz
requirements/src/raven-3.4.1.tar.gz
requirements/src/django-googlecharts-1.0-alpha-1.tar.gz
requirements/src/South-0.7.5.tar.gz
requirements/src/django-nose-0.1.3.tar.gz
requirements/src/django-jenkins-0.14.0.tar.gz
requirements/src/django-stagingcontext-0.1.0.tar.gz
requirements/src/django-smoketest-0.1.3.tar.gz
requirements/src/django-annoying-0.7.6.tar.gz
requirements/src/django-haystack-2.2.1.tar.gz
requirements/src/django-bootstrap-form-2.0.3.tar.gz
requirements/src/django-treebeard-2.0b2.tar.gz
requirements/src/django-markwhat-1.1.tar.gz
requirements/src/django-pagetree-0.14.4.tar.gz
requirements/src/django-pageblocks-0.5.3.tar.gz
requirements/src/django-databrowse-1.3.tar.gz