{% extends "admin/index.html" %} 
{% load i18n %}
{% load extras %}

{% block title %}CDRS Data Importer | {% trans "Django Admin" %}{% endblock %}
 
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/forms.css"></link>
    <link rel="stylesheet" type="text/css" href="/site_media/css/admin.css"></link>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/media/js/core.js"></script>
    <script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/media/js/admin/CollapsedFieldsets.js"></script>
    <script type="text/javascript" src="/media/js/calendar.js"></script>
    <script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script> 
    <script type="text/javascript" src="/site_media/js/json2.js"></script>
    <script type="text/javascript" src="/site_media/js/admin.js"></script>
{% endblock extrahead %}

{% block branding %}
    <h1>Blackrock Forest: Virtual Simulation</h1>
{% endblock %}

{% if not is_popup %}

    {% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="../">{% trans "Home" %}</a> &rsaquo; 
        <a href="../portal">Portal</a> &rsaquo;
        Import CDRS Data 
    </div>
    {% endblock %}

{% endif %} 

{% block content_title %}<h1>CDRS Data Repository</h1>{% endblock %}

{% block content %}
    <form action='import_cdrs' method='POST'>
        <fieldset class="module aligned">
            <h2>Retrieve Datasets</h2>
            <div style="color: #F00; font-weight: bold; margin: 5px 5px;">
                <div id="solr_error">
                {% if error %}
                    {{ error }}
                {% endif %}
                </div>
            </div>
            <div style="color: #00F; font-weight: bold; margin: 5px 5px;">
                <div id="solr_status">
                {% if created %}
                    {{created}} DataSets created<br />
                {% endif %}
                {% if updated %}
                    {{updated}} DataSets updated<br />
                {% endif %} 
                </div>
            </div>
            
            <div class="form-row">
               <label class="required">Server:</label>
               <input type="text" value="{{server}}" readonly style="width: 300px"/>            
            </div>
            
            <input type="hidden" name="application" value="portal"></input>
            <input type="hidden" name="collection_id" value="paleo,environmental-monitoring"></input>
            <input type="hidden" name="import_classification" value="educational"></input>
        </fieldset>
                        
        <div class="submit-row" style="height: 25px;">
            <input value="Import" class="default" name="_save" type="submit">
        </div>
    </form>
    
    {% if results %}
        <h2>Results</h2>
        <table width="600px" cellspacing="2px">
            {% for r in results %}
                <tr><td>{{r}}</td></tr>
            {% endfor %}
         
        </table>
    {% endif %}
  
{% endblock %}

{% block sidebar %}{% endblock %}




