<div id="content-main">
    <br />
    <br />
   <ul class="object-tools" style="text-align: left">
    <li><a href="import" class="addlink">Google Data Importer</a></li>
    <li><a href="rebuild_index" class="addlink">Rebuild Solr Index</a></li>
   </ul>
   <div class="module">
        <table summary="Static data available in the Portal application.">
        <caption><a href="" class="section">Static Data</a></caption>
            <tbody>
            <tr>
                <th scope="row"><a href="audience/">Audience</a></th>
                <td><a href="audience/add/" class="addlink">Add</a></td>
                <td><a href="audience/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="digitalformat/">Digital formats</a></th>
                <td><a href="digitalformat/add/" class="addlink">Add</a></td>
                <td><a href="digitalformat/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="keyword/">Keywords</a></th>
                <td><a href="keyword/add/" class="addlink">Add</a></td>
                <td><a href="keyword/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="institution/">Institutions</a></th>
                <td><a href="institution/add/" class="addlink">Add</a></td>
                <td><a href="institution/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="locationsubtype/">Location subtypes</a></th>
                <td><a href="locationsubtype/add/" class="addlink">Add</a></td>
                <td><a href="locationsubtype/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="locationtype/">Location types</a></th>
                <td><a href="locationtype/add/" class="addlink">Add</a></td>
                <td><a href="locationtype/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="persontype/">Person types</a></th>
                <td><a href="persontype/add/" class="addlink">Add</a></td>
                <td><a href="persontype/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="publicationtype/">Publication types</a></th>
                <td><a href="publicationtype/add/" class="addlink">Add</a></td>
                <td><a href="publicationtype/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="regiontype/">Region types</a></th>
                <td><a href="regiontype/add/" class="addlink">Add</a></td>
                <td><a href="regiontype/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="rightstype/">Rights types</a></th>
                <td><a href="rightstype/add/" class="addlink">Add</a></td>
                <td><a href="rightstype/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="url/">Url</a></th>
                <td><a href="url/add/" class="addlink">Add</a></td>
                <td><a href="url/" class="changelink">Change</a></td>
            </tr>
        </tbody></table>
   </div>
  
   <div class="module">
        <table summary="Assets available in the Portal application.">
        <caption><a href="" class="section">Assets</a></caption>
            <tr>
                <th scope="row"><a href="dataset/">Data sets</a></th>
                <td><a href="dataset/add/" class="addlink">Add</a></td>
                <td><a href="dataset/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="digitalobject/">Digital objects</a></th>
                <td><a href="digitalobject/add/" class="addlink">Add</a></td>
                <td><a href="digitalobject/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="learningactivity/">Learning activities</a></th>
                <td><a href="learningactivity/add/" class="addlink">Add</a></td>
                <td><a href="learningactivity/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="location/">Locations</a></th>
                <td><a href="location/add/" class="addlink">Add</a></td>
                <td><a href="location/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="publication/">Publications</a></th>
                <td><a href="publication/add/" class="addlink">Add</a></td>
                <td><a href="publication/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="person/">Persons</a></th>
                <td><a href="person/add/" class="addlink">Add</a></td>
                <td><a href="person/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="region/">Region</a></th>
                <td><a href="region/add/" class="addlink">Add</a></td>
                <td><a href="region/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="researchproject/">Research projects</a></th>
                <td><a href="researchproject/add/" class="addlink">Add</a></td>
                <td><a href="researchproject/" class="changelink">Change</a></td>
            </tr>
            <tr>
                <th scope="row"><a href="station/">Stations</a></th>
                <td><a href="station/add/" class="addlink">Add</a></td>
                <td><a href="station/" class="changelink">Change</a></td>
            </tr>
         </table>
      </div>
    
    

</div>
