{% load portal %}
{% load smartif %}

{% comment %}
   Used by asset_location.html. Do not include directly.
   Includes all the information to plot this location on a map. And, filter by various facets
   Geocode divs are hidden and used only for scripting purposes.
{% endcomment %}

   <div class="{{geocode_class}}" style="display:none">
      <input class="prefix" type="hidden" value="{{prefix}}"></input>
      <input class="asset_identifier" type="hidden" value="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}"></input>
      
      <input type="hidden" id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-name" value="{{current_object.name}}"></input>
      
      <input type="hidden" id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-latitude" value="{{current_location.latitude}}"></input>
      <input type="hidden" id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-longitude" value="{{current_location.longitude}}"></input>
      
      {% if audience %}
        {% if icon_display_order %}
           <input type="hidden" id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-iconname" value="mapicon_{{audience|lower}}_{{icon_display_order}}.png"></input>
        {% else %}
            <input type="hidden" id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-iconname" value="mapicon_{{audience}}list.png"></input>
        {% endif %}
      {% else %}{% if icon_display_order %}
          {% if icon_display_order <= 10 %}
              <input type="hidden" id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-iconname" value="http://chart.apis.google.com/chart?chst=d_map_pin_letter&amp;chld={{icon_display_order}}|4A3404|FFFFFF"></input>
          {% endif %}
      {% else %}{% if iconname %}
        <input type="hidden" id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-iconname" value="{{iconname}}"></input>
      {% endif %}{% endif %}{% endif %}
      
      <!-- Facets -->
      {% if show_infrastructure %}
        <input type="hidden" 
             id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-infrastructure"
             value='{% for i in current_object|facet:"Infrastructure" %}{% if forloop.counter > 1 %},{% endif %}{{i}}{% endfor %}' />
      {% else %}{% if show_featured %}
              <input type="hidden" 
             id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-featured"
             value='{% for f in current_object|facet:"Featured" %}{% if forloop.counter > 1 %},{% endif %}{{f}}{% endfor %}' />  
      {% endif %}{% endif %}
      
      <!--  Map Callout Template -->
     <div id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-description">
        <div class="callout">
            <a class="callout-display-name" href="{{current_object|detail_url}}">{{current_object|display_name }}</a>
            <div class="callout-asset-types">{{current_object|klass_display}}</div>
           
            {% if search_nearby %}  
                <a class="callout-summary-link" onclick='portalMapInstance.search({{current_location.latitude}}, {{current_location.longitude}}, "{{current_object|display_name}}")'>Search nearby</a>
            {% else %}
                <a class="callout-summary-link" href='{{current_object|map_url}}'>Show on Interactive Map</a>
            {% endif %}
        </div>
     </div>
   </div> 
    