{% load portal %}

{% comment %}

Included by:
assetlist.html
featuredasset.html
object_detail.html

Variables to this template:

current_object -- instance of an indexed asset in the portal data model
includegeocode -- include the hidden geocode div
includehighlight -- include a Highlight on Map link when processing
showinfrastructure -- Include the infrastructure facets when listing out the asset's facets
showfeatured -- Include the featured facets when listing out the asset's facets
prefix -- Prefix for the identifier to prevent duplications

{% endcomment %}
               
{% if current_object.location.count %}
    <!-- List out all asset's locations -->
    {% for l in current_object.location.all %}
        {% with l as current_location %}
            {% if includehighlight %}
                {% ifequal forloop.counter 1 %}
                    {% if l.latitude %} 
                        <!--  Highlight this asset's first location -->
                        <div class="highlightonmap"><a href="#" onmouseover="portalMapInstance.showInfoWindow('{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{l.id}}'); return false;">Highlight On Map</a></div>
                     {% endif %}
                {% endifequal %}
            {% endif %}
            {% if includegeocode %}
                {% include "portal/asset_geocode.html" %}
            {% endif %}
        {% endwith %}
    {% endfor %}
{% else %}{% if current_object.location %}
    {% with current_object.location as current_location %}
        {% if includehighlight %}
            <div class="highlightonmap"><a href="#" onmouseover="portalMapInstance.showInfoWindow('{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}'); return false;">Highlight On Map</a></div>
        {% endif %}
        {% if includegeocode %}
            {% include "portal/asset_geocode.html" %}
        {% endif %}
    {% endwith %}
{% endif %}{% endif %}

{% if current_object.latitude %}
    {% if includehighlight %}
        <div class="highlightonmap"><a href="#" onmouseover="portalMapInstance.showInfoWindow('{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_object.id}}'); return false;">Highlight On Map</a></div>
    {% endif %}
    {% if includegeocode %}
        {% with current_object as current_location %}
            {% include "portal/asset_geocode.html" %} 
        {% endwith %}
    {% endif %}
{% endif %}
