{% load portal %}
{% load smartif %}

{% comment %}
   Used by asset_location.html. Do not include directly. 
{% endcomment %}

   <!-- Includes all the information to plot this location on a map. And, filter by various facets -->
   <!-- Geocode divs are hidden and used only for scripting purposes. -->

   <div class="geocode" style="display:none">
      <input class="asset_identifier" type="hidden" value="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}">
      
      <input type="hidden" id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-name" value="{{current_object.name}}"></input>
      
      <input type="hidden" id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-latitude" value="{{current_location.latitude}}"></input>
      <input type="hidden" id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-longitude" value="{{current_location.longitude}}"></input>
      
      {% if iconname %}
        <input type="hidden" id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-iconname" value="{{iconname}}"></input>
      {% else %}{% if audience %}
        <input type="hidden" id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-iconname" value="mapicon_{{audience}}list.png"></input>
      {% endif %}{% endif %}
      
      <!-- Facets -->
      {% if show_infrastructure %}
        <input type="hidden" 
             id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-infrastructure"
             value="{% for i in current_object|infrastructure %}{% if forloop.counter > 1 %},{% endif %}{{i}}{% endfor %}" />
      {% else %}{% if show_featured %}
              <input type="hidden" 
             id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-featured"
             value="{% for f in current_object|featured %}{% if forloop.counter > 1 %},{% endif %}{{f}}{% endfor %}" />  
      {% endif %}{% endif %}
      
      <!--  Map Callout Template -->
      <div id="{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}-description">
        {% spaceless %}
        <b>
            <a href="{{current_object|detail_url}}">
                {% if current_object.display_name %}
                  {{current_object.display_name}}
                {% else %}
                  {{current_object.name}}
                {% endif %}
            </a>
        </b>
        {% endspaceless %}  
        <br />
        <div style="color: #c6c6c6; padding-bottom: 5px;">{{current_object|klass_display}}<br /></div>
        
        <div>
            <!--  Audience Icons -->
            {% for a in current_object.audience.all %}
                <img alt="{{a.name}} icon" src="/portal/media/images/nonmapicon_{{a.name|lower}}.png"></img>
            {% endfor %}
            <!--  Infrastructure Icons -->
            {% for i in current_object|infrastructure %}
                <img alt="{{i}} icon" src='/portal/media/images/nonmapicon_{{i|cut:" "|cut:"-"|lower}}.png'></img>
            {% endfor %}
        </div>
        
        <a href="{{current_object|detail_url}}">More</a>
     </div>
      
   </div>
       
