{% load portal %}
{% load smartif %}     
<div class="assetlist">  
    {% for result in block.list %}
        {% if forloop.counter <= block.list_count %}
            {% with result.object as current_object %}
            {% with 1 as highlightonmap %}
               
                <!-- Asset Locations (Hidden. Used by maps.js to plot GMaps) -->
                {% include "portal/asset_location.html" %}

                <!-- Name -->                 
                <a href="{{current_object|detail_url}}">{{current_object.name}}</a>
                <br />
                
                <!-- Asset Descriptions (tailored to asset type) -->
                {% include "portal/asset_description.html" %}
                 
                <hr style="color: #e0e0e0"/>
                
            {% endwith %}{% endwith %}
        {% endif %}
    {% endfor %}
        
    <a href="/portal/search/?{{block.search_query}}">More</a>
</div>
<input type="hidden" name="audience" value="{{block.audience}}" />
