{% load smartif %}
{% load klass %}

<div id="{{current_object|klass}}-{{current_object.id}}">   
    {% if current_object|klass == "Location" %}
       <div>
            {% spaceless %}
            <b>Description</b>: 
            {% if current_object.location_type.count %}
                {% for t in current_object.location_type.all %}{% if forloop.counter > 1 %}, {% endif %}{{ t.name }}{% endfor %}{% if current_object.location_subtype.count %},{% endif %}
            {% endif %}
            {% if current_object.location_subtype.count %}
                 {% for t in current_object.location_subtype.all %}{% if forloop.counter > 1 %}, {% endif %}{{ t.name }}{% endfor %}<br />
            {% endif %}
            {% endspaceless %}
            
        </div>
         <div style="clear: both"></div>
    {% else %}{% if current_object|klass == "Person" %}
        <div>
            <b>Description</b>:
            {% spaceless %} 
            {% if current_object.professional_title %}
                {{ current_object.professional_title }}, 
            {% endif %}
            {% if current_object.institution %}
                 {% for i in current_object.institution.all %}{% if forloop.counter > 1 %}, {% endif %}{{ i.name|truncatewords:25 }}{% endfor %}
            {% endif %}
            {% endspaceless %}
         </div>
    {% else %}{% if current_object|klass == "Publication" %}
           <div>
              <b>Description</b>: 
              {% if current_object.publication_type.count %}
                 {% for t in current_object.publication_type.all %}{% if forloop.counter > 1 %}, {% endif %}{{ t.name }}{% endfor %}<br />
              {% endif %}
          </div>
    {% else %}{% if current_object|klass == "Region" %}
       <div>
           <b>Description</b>: 
           {% if current_object.region_type.count %}
              {% for t in current_object.region_type.all %}{% if forloop.counter > 1 %}, {% endif %}{{ t.name }}{% endfor %}<br />
           {% endif %}
      </div>
    {% else %}
         <b>Description</b>: 
         {% if current_object.description %}
            {{ current_object.description|truncatewords:25 }}<br />
         {% endif %}
    {% endif %}{% endif %}{% endif %}{% endif %}

</div>