{% load portal %}
               
{% if current_object.location.count %}
    <!-- List out all asset's locations -->
    {% for l in current_object.location.all %}
        {% with l as current_location %}
            {% if highlightonmap %}
                {% ifequal forloop.counter 1 %}
                    {% if l.latitude %} 
                        <!--  Highlight this asset's first location -->
                        <div class="highlightonmap"><a href="#" onmouseout="portalMapInstance.hideInfoWindow(); return false;" onmouseover="portalMapInstance.showInfoWindow('{{current_object|klass}}-{{current_object.id}}-{{l.id}}'); return false;">Highlight On Map</a></div>
                     {% endif %}
                {% endifequal %}
            {% endif %}
            {% include "portal/asset_geocode.html" %}
        {% endwith %}
    {% endfor %}
{% else %}{% if current_object.location %}
    {% with current_object.location as current_location %}
        {% if highlightonmap %}
            <div class="highlightonmap"><a href="#" onmouseout="portalMapInstance.hideInfoWindow(); return false;" onmouseover="portalMapInstance.showInfoWindow('{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}'); return false;">Highlight On Map</a></div>
        {% endif %}
        {% include "portal/asset_geocode.html" %}
    {% endwith %}
{% endif %}{% endif %}

{% if current_object.latitude %}
    {% if highlightonmap %}
        <div class="highlightonmap"><a href="#" onmouseout="portalMapInstance.hideInfoWindow(); return false;" onmouseover="portalMapInstance.showInfoWindow('{{current_object|klass}}-{{current_object.id}}-{{current_object.id}}'); return false;">Highlight On Map</a></div>
    {% endif %}
    {% with current_object as current_location %}
        {% include "portal/asset_geocode.html" %} 
    {% endwith %}
{% endif %}
