{% load portal %}
{% load smartif %}
     
<div class="assetlist {{block.audience}}">
    {% for result in block.list %}
        {% if forloop.counter <= block.list_count %}
            {% with result.object as current_object %}
            {% with 1 as includehighlight %}
            {% with 1 as includegeocode %}
            {% with block.audience as audience %}
            
             <div class="blocktext">
                <!-- Asset Locations (Hidden. Used by maps.js to plot GMaps) -->
                {% include "portal/asset_location.html" %}

                <!-- Name -->                 
                <a class="display-name" href="{{current_object|detail_url}}">{{current_object|display_name}}</a><br />
                
                <!-- Asset Descriptions (tailored to asset type) -->
                {% include "portal/asset_description.html" %}
                
                <!-- Customized Link -->
                {% with block.audience as audience %}
                    {% include "portal/asset_detaillink.html" %}
                {% endwith %}
                 
               </div>
                
            {% endwith %}{% endwith %}{% endwith %}{% endwith %}
        {% endif %}
    {% endfor %}
        
    <a class="view-all" href="/portal/search/?{{block.search_query}}">View All</a>
</div>
<input type="hidden" name="audience" value="{{block.audience}}" />


