<html>
<head>
    <title>
      {% block title %}
        Portal: {% block pagetitle %}{% endblock %}
      {% endblock %}
    </title>
    
    <style media="screen" type="text/css">
      @import "/site_media/css/site.css" ;
      @import "/site_media/css/style.css" ;
      @import "/portal/media/css/style.css";
      @import "/portal/media/css/print.css" print;
    </style>
    {% block css %}{% endblock %}
    
    <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
    <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/Signal.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/portal/media/js/maps.js"></script>
    <script type="text/javascript">
      
      function clearDefaultText() {
         //Clear the Ghost Text if it is still set.
         var search_text = document.getElementById('id_q');
         if (search_text != null && search_text.value == 'Search') {
            search_text.value = '';
         }
      }

    </script>
    {% block js %}{% endblock %}
    
    {% block feeds %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">

<a href="/"><div id="brf"></div></a>
<a href="http://ccnmtl.columbia.edu/"><div id="ccnmtl"></div></a>

<div id="wrapper">
    <div id="mainnav">
        <div id="tab-bar">
            {% block mainnav %}
                <div class="menu-1" id="tab_home">
                    <a id="tab_home_link" href="/portal/">Home</a>
                </div>
                <div class="menu-1" id="tab_experience">
                    <a id="tab_experience_link" href="/portal/experience/">The Forest Experience</a>
                </div>
                
                <div class="menu-1" id="tab_education">
                    <a id="tab_education_link" href="/portal/education/">Educational Tools</a>
                </div>
        
                <div class="menu-1" id="tab_research">
                    <a id="tab_research_link" href="/portal/research/">Research at Black Rock</a>
                </div>
            {% endblock %}
        </div>
        
       {% block searchtab %}
       <div id="search">
           <form method="get" action="/portal/search/">
              <input name="q" id="id_q" type="text" value="Search" onfocus="clearDefaultText();">
              <input type="submit" value="Search" onclick="clearDefaultText();"/>
           </form>
        </div>
        {% endblock %}
    </div>
    
    {% block subnav-wrapper %}
    <div id="subnav">
       <div id="subnav-bar">
           {% block subnav %}
           {% endblock %}
       </div>
    </div>
    {% endblock %}

        <div id="container">
            {% block container %}
                <table width="100%">
                <tr>
                    <td id="left">
                        {% block left %} 
                        LEFT PANE REPORTING FOR DUTY 
                        {% endblock %} 
                    </td>
                    <td id="middle">&nbsp;</td>
                    <td id="right">
                        {% block right %} 
                           <div id="map_canvas"></div>
                           <div id="map_filter">
                              <table>
                                  <tr>
                                      <td id="audience_filter">
                                          <div><input type="checkbox" name="experience"/><img src="/portal/media/images/nonmapicon_experience.png/">Forest Experience</div>
                                          <div><input type="checkbox" name="education"/><img src="/portal/media/images/nonmapicon_education.png/"></img>Education</div>
                                          <div><input type="checkbox" name="research"/<img src="/portal/media/images/nonmapicon_research.png/">Research</div>
                                      </td>
                                      <td id="infrastructure_filter">
                                          <div><input type="checkbox" class="infrastructure_option" id="idFacilities" value="Forest Facilities" checked="checked" /><img src="/portal/media/images/nonmapicon_facility.png/"/>Forest Facilities</div>
                                          <div><input type="checkbox" class="infrastructure_option" id="idEnvironmentalMonitoring" value="Environmental Monitoring" /><img src="/portal/media/images/nonmapicon_monitoring.png/"/>Environmental Monitoring</div>
                                          <div><input type="checkbox" class="infrastructure_option" id="idWebcams" value="Webcams" /><img src="/portal/media/images/nonmapicon_webcam.png/"/>Webcams</div>
                                          <div><input type="checkbox" class="infrastructure_option" id="idLongtermPlots" value="Long-Term Plots" /><img src="/portal/media/images/nonmapicon_ltp.png/"/>Long-Term Plots</div>
                                      </td>
                                  </tr>
                              </table>
                           </div>
                           
                           <!--  Geocoded information for all Infrastructure assets -->
                           <div id="infrastructure_assets">
                            {% for result in infrastructure %}
                                {% with result.object as current_object %}
                                {% with 1 as show_infrastructure %}
                                {% with "infra" as prefix %}
                                   {% if current_object.location.count %}
                                      <!-- List out all asset's locations -->
                                      {% for l in current_object.location.all %}
                                         {% with l as current_location %}
                                            {% include "portal/asset_geocode.html" %}
                                         {% endwith %}
                                      {% endfor %}
                                   {% endif %}
                                   {% if current_object.location %}
                                       {% with current_object.location as current_location %}
                                          {% include "portal/asset_geocode.html" %}
                                       {% endwith %}
                                   {% endif %}
                                   {% if current_object.latitude %}
                                       {% with current_object as current_location %}
                                           {% include "portal/asset_geocode.html" %} 
                                       {% endwith %}
                                   {% endif %}
                                {% endwith %}{% endwith %}{% endwith %}
                            {% endfor %}
                           </div>
                           

                        {% endblock %} 
                    </td>
                </tr>
                </table>
            {% endblock %}
        </div>
</div>
{% block footer %}{% endblock %}
</body></html>
