{% load portal %}

<html>
<head>
    <title>
      {% block title %}
        Portal: {% block pagetitle %}{% endblock %}
      {% endblock %}
    </title>
    
    <style media="screen" type="text/css">
      @import "/site_media/css/site.css" ;
      @import "/site_media/css/style.css" ;
      @import "/site_media/css/tiny_mce.css" ;
      @import "/portal/media/css/style.css";
      @import "/site_media/js/jquery-ui-1.8.11.custom/css/smoothness/jquery-ui-1.8.11.custom.css" ;
    </style>
    {% block css %}{% endblock %}


    <script  type="text/javascript" src="/site_media/js/jquery-ui-1.8.11.custom/js/jquery-1.4.4.min.js"></script>
    <script  type="text/javascript" src="/site_media/js/jquery-ui-1.8.11.custom/js/jquery-ui-1.8.11.custom.min.js"></script>
    <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
    <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/Signal.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/portal/media/js/maps.js"></script>
    <script type="text/javascript" src="/site_media/js/flowplayer-3.1.4.min.js"></script>
    <script type="text/javascript" src="/portal/media/js/jcarousel/lib/jquery.jcarousel.js"></script>
    <script type="text/javascript">
      
      function clearDefaultText() {
         //Clear the Ghost Text if it is still set.
         var search_text = document.getElementById('id_q');
         if (search_text != null && search_text.value == 'Search') {
            search_text.value = '';
         }
      }

    </script>
    {% block js %}{% endblock %}
    
    {% block feeds %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">

<a href="/"><div id="brf"></div></a>
<a href="http://ccnmtl.columbia.edu/"><div id="ccnmtl"></div></a>

{% block mapassets %}
<!--  Geocoded information for all Infrastructure assets -->
<div id="infrastructure_assets" style="display:none">
{% for result in result|infrastructure_assets %}
    {% with result.object as current_object %}
    {% with 1 as show_infrastructure %}
    {% with 1 as includegeocode %}
    {% with "infra" as prefix %}
        {% include "portal/asset_location.html" %}
    {% endwith %}{% endwith %}{% endwith %}{% endwith %}
{% endfor %}
</div>

<!--  Geocoded information for all Featured assets -->
<div id="featured_assets" style="display:none">
{% for result in result|featured_assets %}
    {% with result.object as current_object %}
    {% with 1 as show_featured %}
    {% with 1 as includegeocode %}
    {% with "featured" as prefix %}
        {% include "portal/asset_location.html" %}
    {% endwith %}{% endwith %}{% endwith %}{% endwith %}
{% endfor %}
</div>

{% endblock %}

<div id="wrapper">
    <div id="mainnav">
      
            {% block mainnav %}
                <ul>
                <li class="home" id="tab_home">
                    <a id="tab_home_link" href="/portal/">Home</a>
                </li>
                <li class="experience" id="tab_experience">
                    <a id="tab_experience_link" href="/portal/experience/">The Forest Experience</a>
                </li>
                
                <li class="education" id="tab_education">
                    <a id="tab_education_link" href="/portal/education/">Educational Tools</a>
                </li>
        
                <li class="research" id="tab_research">
                    <a id="tab_research_link" href="/portal/research/">Research at Black Rock</a>
                </li>
		</ul>
            {% endblock %}
        
       {% block searchtab %}
       <div id="search">
           <form method="get" action="/portal/search/">
              <input name="q" id="id_q" type="text" value="Search" onfocus="clearDefaultText();">
              <input type="submit" value="Search" onclick="clearDefaultText();"/>
           </form>
        </div>
        {% endblock %}
    </div>
    
    {% block subnav-wrapper %}
        <div id="subnav" class="{{module.slug}}">
           {% block subnav %}
           {% endblock %}
        </div>
    {% endblock %}

        <div id="container">
            {% block container %}
                {% comment %}
                <table width="100%">
                <tr>
                    <td id="left">
                        {% block left %} 
                        LEFT PANE REPORTING FOR DUTY 
                        {% endblock %} 
                    </td>
                  
                    <td id="right">
                        {% block right %}
			               {% include "portal/asset_map.html" %}
                        {% endblock %} 
                    </td>
                </tr>
                </table>
                {% endcomment %}
            {% endblock %}
        </div>
</div>
{% block footer %}{% endblock %}
</body></html>
