<ul>
      <li class="home"><a href="/portal/">Home</a></li>
      <li class="interactive-map"><a href="/portal/interactive-map/">Map</a></li>
      {% ifequal "search" selected %}
          <li class="selected search">Search</li>
      {% else %}
          <li class="search"><a href="/portal/search/">Search</a></li>
      {% endifequal %}
      <li class="foreststories"><a href="/portal/foreststories/">Forest Stories</a></li>
      <li class="education"><a href="/portal/education/">Educational</a></li>
      <li class="research"><a href="/portal/research/">Research</a></li>
      <li class="weather"><a href="/portal/weather/">Sensor Data</a></li>
      <li class="forest-view"><a href="/portal/forest-view/">ForestCam</a></li>      
</ul>