<ul>
      <li class="home"><a href="/portal/">Home</a></li>
      <li class="education"><a href="/portal/education/">Educational Tools</a></li>
      <li class="research"><a href="/portal/research/">Research at Black Rock</a></li>
      <li class="interactive-map"><a href="/portal/interactive-map/">Interactive Map</a></li>
      <li class="weather"><a href="/portal/weather/">Weather</a></li>
      <li class="forest-view"><a href="/portal/forest-view/">ForestCam</a></li>
      <li class="foreststories"><a href="/portal/foreststories/">Forest Stories</a></li>
      <li class="galleries"><a href="/portal/galleries/">Galleries</a></li>
      <li class="search"><a href="/portal/search/">Search</a></li>
</ul>