<ul>
      <li class="home"><a href="/portal/">&nbsp;</a></li>
      <li class="search"><a href="/portal/search/">&nbsp;</a></li>
      <li class="interactive-map"><a href="/portal/interactive-map/">Map</a></li>
      <li class="weather"><a href="/portal/weather/">Sensor Data</a></li>
      <li class="forest-view"><a href="/portal/forest-view/">ForestCam</a></li>      
      <li class="education"><a href="/portal/education/">Education</a></li>
      <li class="research"><a href="/portal/research/">Research</a></li>
</ul>