{% load portal %}
{% load smartif %} 

<div class="assetlist" id="{{asset_klass}}-{{current_object.id}}">
{% with block.asset as current_object %}
{% with block.asset|klass as asset_klass %}
{% with 1 as highlightonmap %}

   <!--  List out this asset's location(s) in a hidden div. Will be mined by maps.js and put on GMap -->
   {% include "portal/asset_location.html" %}
   
   <a href="{{block.asset|detail_url}}">
     {%  if current_object.display_name %}
        {{current_object.display_name }}
     {% else %}
        {{current_object.name}}
     {% endif %}</a><p class="clear"><p />

   {% if block.detailed_display %}
    
      <div class="featuredasset">
          
          {% if asset_klass == "DataSet" %}
           <div>
              {% if current_object.display_image %}
                <img alt="Data Set Image" src="{{current_object.display_image.file.url}}" class="featured_image"></img>
              {% endif %}
              
              <div class="asset-summary">
                 <b>Description</b>: 
                 {% if current_object.description %}
                    {{ current_object.description|truncatewords:50 }}
                 {% endif %}
             </div>
           </div><p class="clear"><p />
        {% else %}{% if asset_klass == "DigitalObject" %}
           <div>
             <div class="asset-summary">
                 <b>Description</b>:
                 {% if current_object.description %}
                    {{ current_object.description|truncatewords:50 }}
                 {% endif %}
             </div>
           </div><p class="clear"><p />
        {% else %}{% if asset_klass == "LearningActivity" %}
           <div>
              {% if current_object.display_image %}
                <img alt="Learning Activity Image" src="{{current_object.display_image.file.url}}" class="featured_image"></img>
              {% endif %}
              <div>
                <b>Format</b>: 
                {% if current_object.digital_format.count %}
                    {% for f in current_object.digital_format.all %}{% if forloop.counter > 1 %}, {% endif %}{{ f.name }}{% endfor %}<p class="clear"><p />
                {% endif %}
              </div>
              <div class="asset-summary">
                  <b>Description</b>:
                  {% if current_object.description %}
                     {{ current_object.description|truncatewords:50 }}
                  {% endif %}
              </div>
           </div><p class="clear"><p />
        {% else %}{% if asset_klass == "Location" %}
           {% if current_object.display_image %}
              <img alt="Location Image" src="{{current_object.display_image.file.url}}" class="featured_image"></img>
           {% endif %}
           <div class="asset-summary">
                {% spaceless %}
                <b>Description</b>: 
                {% if current_object.location_type.count %}
                    {% for t in current_object.location_type.all %}{% if forloop.counter > 1 %}, {% endif %}{{ t.name }}{% endfor %}{% if current_object.location_subtype.count %},{% endif %}
                {% endif %}
                {% if current_object.location_subtype.count %}
                     {% for t in current_object.location_subtype.all %}{% if forloop.counter > 1 %}, {% endif %}{{ t.name }}{% endfor %}<p class="clear"><p />
                {% endif %}
                {% endspaceless %}        
            </div>
            <div>
               <b>Region</b>:
               {% if current_object.region_set.count %}
                     {% for r in current_object.region_set.all %}{% if forloop.counter > 1 %}, {% endif %}{{ r.name }}{% endfor %}<p class="clear"><p />
               {% endif %} 
            </div>
        {% else %}{% if asset_klass == "Person" %}
           {% if current_object.display_image %}
              <img alt="Person Icon" src="{{current_object.display_image.file.url}}" class="featured_image"></img>
           {% endif %}
        
            <div>
                <b>Title</b>: 
                {% if current_object.professional_title %}
                    {{ current_object.professional_title }}
                {% endif %}
            </div>
            <div>
                <b>Institution</b>:
                {% if current_object.institution %}
                     {% for i in current_object.institution.all %}{% if forloop.counter > 1 %}, {% endif %}{{ i.name }}{% endfor %}
                {% endif %}
             </div>
             <div class="asset-summary">
                  <b>Description</b>:
                  {% if current_object.description %}
                     {{ current_object.description|truncatewords:50 }}
                  {% endif %}
             </div><p class="clear"><p />
        {% else %}{% if asset_klass == "Publication" %}
              {% if current_object.display_image %}
                <img alt="Publication Icon" src="{{current_object.display_image.file.url}}" class="featured_image"></img>
              {% endif %}
               <div>
                  <b>Publication Type</b>: 
                  {% if current_object.publication_type.count %}
                     {% for t in current_object.publication_type.all %}{% if forloop.counter > 1 %}, {% endif %}{{ t.name }}{% endfor %}<p class="clear"><p />
                  {% endif %}
              </div>
              <div class="asset-summary">
                  <b>Description</b>:
                  {% if current_object.description %}
                     {{ current_object.description|truncatewords:50 }}
                  {% endif %}
              </div><p class="clear"><p />
        {% else %}{% if asset_klass == "Region" %}
           {% if current_object.display_image %}
              <img alt="Region Icon" src="{{current_object.display_image.file.url}}" class="featured_image"></img>
           {% endif %}
           <div>
               <b>Region Type</b>: 
               {% if current_object.region_type.count %}
                  {% for t in current_object.region_type.all %}{% if forloop.counter > 1 %}, {% endif %}{{ t.name }}{% endfor %}<p class="clear"><p />
               {% endif %}
          </div>
          <div class="asset-summary">
             <b>Description</b>: 
             {% if current_object.description %}
                {{ current_object.description|truncatewords:50 }}
             {% endif %}
          </div><p class="clear"><p />
        {% else %}{% if asset_klass == "ResearchProject" %}
           {% if current_object.display_image %}
              <img alt="Research Project Icon" src="{{current_object.display_image.file.url}}" class="featured_image"></img>
           {% endif %}
            <div>
               <b>Principal Investigator{% if current_object.person.count > 1 %}s{% endif %}:</b>
               {% if current_object.person.count %}
                  {% for p in current_object.person.all %}{% if forloop.counter > 1 %}, {% endif %}{{ p.name }}{% endfor %}
               {% endif %}
           </div><p class="clear"><p />
           <div>
               <b>Location</b>
               {% if current_object.location %}
                  {{ current_object.location.name }}
               {% endif %}
           </div>
           <div>
               <b>DataSet</b>
               {% if current_object.dataset.count %}
                  {% for d in current_object.dataset.all %}
                    <a href="/portal/browse/portal/dataset/objects/{{d.id}}">
                    {{ d.name }}
                    </a><p class="clear"><p />
                  {% endfor %}
               {% endif %}
           </div>
           <div>
               <b>Publication</b>
               {% if current_object.publication.count %}
                  {% for p in current_object.publication.all %}
                     <a href="/portal/browse/portal/publication/objects/{{p.id}}">
                        {{ p.name }}
                     </a><p class="clear"><p />
                  {% endfor %}
               {% endif %}
           </div>
          <div class="asset-summary">
             <b>Description</b>: 
             {% if current_object.description %}
                {{ current_object.description|truncatewords:50 }}
             {% endif %}
          </div><p class="clear"><p />
       {% else %}{% if asset_klass == "Station" %}
           {% if current_object.display_image %}
              <img alt="Station Image" src="{{current_object.display_image.file.url}}"  class="featured_image"></img>
           {% endif %}
           <div>
              <b>Activation Date</b>:
              {% if current_object.activation_date %}
                 {{ current_object.activation_date|date }}
              {% endif %}
           </div>
           <div>
               <b>Location</b>
               {% if current_object.location %}
                  {{ current_object.location.name }}
               {% endif %}
           </div>
          <div class="asset-summary">
             <b>Description</b>: 
             {% if current_object.description %}
                {{ current_object.description|truncatewords:50 }}
             {% endif %}
          </div>       <p class="clear"><p />
       {% else %}{% if asset_klass == "ForestStory" %}
           {% if current_object.display_image %}
              <img alt="Forest Story Image" src="{{current_object.display_image.file.url}}" class="featured_image"></img>
           {% endif %}
          <div class="asset-summary">
             <b>Description</b>: 
             {% if current_object.description %}
                {{ current_object.description|truncatewords:50 }}
             {% endif %}
          </div>       <p class="clear"><p />
        {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
      
          <!--  Customized Link -->
          {% if asset_klass == "ForestStory" %}
             <a class="summary-link" href="/portal/foreststories/{{current_object.name}}/">
          {% else %}
             <a class="summary-link" href="/portal/browse/portal/{{asset_klass|lower}}/objects/{{current_object.id}}">
          {% endif %}
          {% ifequal block.audience.name "Education" %} 
            Learn More >>
          {% else %}{% ifequal block.audience.name "Experience" %}
            Let's Go >>
          {% else %}{% ifequal block.audience.name "Research" %}
            Investigate >>
          {% else %}
            More >>
          {% endifequal %}{% endifequal %}{% endifequal %}
          </a>
      </div>
    {% else %}
        <!--  Featured, but not highlighted on the page. Default to regular asset_descriptions -->
        {% include "portal/asset_description.html" %}
    {% endif %}

{% endwith %}{% endwith %}{% endwith %}
</div>