{% extends "portal/base_portal.html" %}
{% load smartif %}
{% load portal %}

{% block title %}Grid Demo{% endblock %}
{% block js %}
    <script type="text/javascript" src="/portal/media/js/grid.js"></script>
    {{ block.super }}
{% endblock %}


{% block container %}


    <div id ="grid_json" style="display:none">{{grid_json}}</div>    
    
    <div id = "grid_form">
        <form action = '/portal/grid_demo/' method="post">
            <table>
                <tr>
                    <td rowspan = "9">
                        <div id="map_canvas" style="width: 400px; height: 200px"></div>
                    </td>
                </tr>

                <tr>
                    <td> Center of grid lat:
                    </td>
                    <td> 
                        <input type="text" name = "grid_center_y" value ="{{grid_center_y}}"> </input>
                    </td>
                </tr>
                <tr>
                    <td> Center of grid long:
                    </td>
                    <td> 
                        <input type="text" name = "grid_center_x" value ="{{grid_center_x}}"> </input>
                    </td>
                </tr>
                <tr>
                    <td> Height of grid in blocks:
                    </td>
                    <td> 
                        <input type="text" name = "height_in_blocks" value ="{{height_in_blocks}}"> </input>
                    </td>
                </tr>
                <tr>
                    <td> Width of grid in blocks:
                    </td>
                    <td> 
                        <input type="text" name = "width_in_blocks" value ="{{width_in_blocks}}"></input>
                    </td>
                </tr>
                <tr>
                    <td> Height of block in meters:
                    </td>
                    <td> 
                        <input type="text" name = "block_height_in_m" value ="{{block_height_in_m}}"> </input>
                    </td>
                </tr>
                <tr>
                    <td> Width of block in meters:
                    </td>
                    <td> 
                        <input type="text" name = "block_width_in_m" value ="{{block_width_in_m}}"> </input>
                    </td>
                </tr> 
                <tr>
                    <td> Declination:
                    </td>
                    <td> 
                        <input type="text" name = "magnetic_declination" value ="{{magnetic_declination}}"> </input>
                    </td>
                </tr>
                <tr>
                    <td> 
                    </td>
                    <td> 
                        <input type="submit" value="Redraw Map"></input>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <p>
        Click "Satellite" to zoom in further.
    </p>
{% endblock %}

