{% extends "portal/base_portal.html" %}
{% load smartif %}
{% load portal %}


{% block title %}Grid Block{% endblock %}
{% block js %}
    <script type="text/javascript" src="/portal/media/js/grid_and_block.js"></script>
    <script type="text/javascript" src="/portal/media/js/block.js"></script>
    {{ block.super }}
{% endblock %}


{% block css %}
    <style media="screen" type="text/css">
        tr.highlighted {
            color : blue;
        }

        #distances_table td
        {
            border-color: #ABA;
            border-width: 1px;
            border-style: solid;
            margin:  1px;
            padding: 4px;
            background-color: #EFE;
        }
    </style>

    {{ block.super }}
{% endblock %}




{% block container %}


    <div id ="block_json" style="display:none">{{block_json}}</div>    
    
    <div id ="trap_sites" style="display:none">{{trap_sites}}</div>    
    
    <div id ="test_points" style="display:none">{{test_points}}</div>    
    
    <div id = "grid_form">
        <form action = '/portal/grid_block/' method="post">
            <table>
                <tr>
                    <td rowspan = "12">
                        <div id="map_canvas" style="width: 500px; height: 500px"></div>
                    </td>
                </tr>

                <tr>
                    <td> Center of block lat:
                    </td>
                    <td> 
                        <input type="text" name = "grid_center_y" value ="{{selected_block_center_y}}"> </input>
                    </td>
                </tr>
                <tr>
                    <td> Center of block long:
                    </td>
                    <td> 
                        <input type="text" name = "grid_center_x" value ="{{selected_block_center_x}}"> </input>
                    </td>
                </tr>
                <tr>
                    <td> Height of block in meters:
                    </td>
                    <td> 
                        <input type="text" name = "block_height_in_m" value ="{{block_height_in_m}}"> </input>
                    </td>
                </tr>
                <tr>
                    <td> Width of block in meters:
                    </td>
                    <td> 
                        <input type="text" name = "block_width_in_m" value ="{{block_width_in_m}}"> </input>
                    </td>
                </tr> 
                <tr>
                    <td> Declination:
                    </td>
                    <td> 
                        <input type="text" name = "magnetic_declination" value ="{{magnetic_declination}}"> </input>
                    </td>
                </tr>
                <tr>
                    <td> Number of Points:
                    </td>
                    <td> 
                        <input type="text" name = "num_points" value ="{{num_points}}"> </input>
                    </td>
                </tr>
                <tr>
                    <td > 
                        <input type="submit" value="Redraw"></input>
                    </td>
                    <td> 
                        <a href = "/portal/grid/">Reset</a>
                    </td>
                </tr>
                <tr>
                    <td  colspan = "2"> 
                        <b>Distances from center of block:</b> 
                            <table id ="distances_table" >
                                        <tr>
                                            <td rowspan="2"> Team</td>
                                            <td rowspan="2"> Lat</td>
                                            <td rowspan="2"> Lon</td>

                                            <td  colspan="3"> Distance from center</td>
                                        
                                        
                                        </tr>
                                        <tr >
                                            <td > North or south</td>
                                            <td > East or west</td>
                                            <td> As the crow flies</td>
                                        </tr>
                                {%for trap in trap_sites_obj%}
                                                
                                        <tr id = "point_{{trap.point_id}}">
                                        
                                            <td> {{trap.point_id}}</td>
                                        
                                            <td> {{trap.point.0|floatformat:4}}</td>
                                            <td> {{trap.point.1|floatformat:4}}</td>
                                            
                                            <td> {{trap.distance_y|floatformat:0}} meters {{trap.direction_y}}</td>
                                            <td> {{trap.distance_x|floatformat:0}} meters {{trap.direction_x}}</td>
                                            <td>{{trap.actual_distance|floatformat:0}} meters @ {{trap.heading|floatformat:0}}&deg;</td>
                                        </tr>
                                    
                                {% endfor %}


                            </table>
                    
                    </td>
                </tr>
                
            </table>
        </form>
    </div>
    <p>
        Click "Satellite" to zoom in further.
    </p>
{% endblock %}

