{% load portal %}
{% load smartif %}                
{% load cache %}

{% with 1 as search_nearby %}

{% if selected %}
    {% with "geoselected" as geocode_class %}
    {% with "selected" as prefix %}
    {% with selected as current_object %}
        {% include "portal/asset_location.html" %}
    {% endwith %}{% endwith %}{% endwith %}
{% endif %}

{% with "geocode" as geocode_class %}
            
<!--  Geocoded information for all Infrastructure assets -->
<div id="infrastructure_assets" style="display:none">
    {% for result in result|facet_assets:"infrastructure" %}
        {% with result.object as current_object %}
        {% with 1 as show_infrastructure %}
        {% with "infra" as prefix %}
            {% include "portal/asset_location.html" %}
        {% endwith %}{% endwith %}{% endwith %}
    {% endfor %}
</div>

<!--  Geocoded information for all Featured assets -->
<div id="featured_assets" style="display:none">
    {% for result in result|facet_assets:"featured" %}
        {% with result.object as current_object %}
        {% with 1 as show_featured %}
        {% with "featured" as prefix %}
            {% include "portal/asset_location.html" %}
        {% endwith %}{% endwith %}{% endwith %}
    {% endfor %}
</div>

{% endwith %}{% endwith %}

<div>
    <div id="nearby_results" style="display:none"></div>
    <div id="map_canvas" class="full"></div>
</div>

<div style="clear: both" />

<div id="map_filter">
  <table width="100%">
      <tr>
          {% with object|facet_counts:"infrastructure" as infrastructure_counts %}
          <td id="infrastructure_filter">
              <h3>Cultural Features</h3>
              <table>
                <tr>
                    <td width="50%">
                        <div style="display: none"><input type="checkbox" class="layer" id="boundary" value="Forest Boundary" checked="checked" /></div>
                        <div><input type="checkbox" class="layer" id="viewpoints" value="Viewpoints" /><img src="/portal/media/images/nonmapicon_viewpoints.png/" alt="Viewpoints"/>Viewpoints</div>
                        <div><input type="checkbox" class="layer" id="roads" value="Roads" /><img src="/portal/media/images/nonmapicon_roads.png/" alt="Forest Roads" />Roads/Parking Lots</div>
                        <div><input type="checkbox" class="layer" id="trails" value="Trails" /><img src="/portal/media/images/nonmapicon_trails.png/" alt="Forest Trails"/>Trails</div>
                        <div><input type="checkbox" class="layer" id="buildings" value="Buildings" checked="checked" /><img src="/portal/media/images/nonmapicon_forestfacilities.png/" alt="Buildings"/>Buildings</div>
                    </td>
                    <td>
                        <div><input type="checkbox" class="infrastructure_option" id="idEnvironmentalMonitoring" value="Environmental Monitoring Stations" /><img src="/portal/media/images/nonmapicon_environmentalmonitoringstations.png/" alt="Environmental Monitoring"/>Environmental Monitoring Stations ({{infrastructure_counts.EnvironmentalMonitoringStations}})</div>
                        <!-- checked="checked"  --> <div><input type="checkbox" class="infrastructure_option" id="idLongtermPlots" value="Long-Term Plots" disabled="disabled" /><img src="/portal/media/images/nonmapicon_longtermplots.png/" alt="Long-Term Plots"/>Long-Term Plots ({{infrastructure_counts.LongTermPlots}})</div>
                        <div><input type="checkbox" class="layer" id="webcams" value="Webcams" /><img src="/portal/media/images/nonmapicon_webcams.png/" alt="Webcams" />Webcams  (1)</div>
                        <div>&nbsp;</div>
                        
                    </td>
                </tr>
              </table>
          </td>
          {% endwith %}
          
          
          <td id="natural_features_filter">
              <h3>Natural Features</h3>
              <div><input type="checkbox" class="layer" id="ponds" value="Ponds" checked="checked" /><img src="/portal/media/images/nonmapicon_ponds.png/" alt="Ponds"/>Ponds</div>
              <div><input type="checkbox" class="layer" id="streams" value="Streams" checked="checked" /><img src="/portal/media/images/nonmapicon_streams.png/" alt="Streams"/>Streams</div>
              <div><input type="checkbox" class="layer" id="peaks" value="Peaks" checked="checked" /><img src="/portal/media/images/nonmapicon_peaks.png/" alt="Peaks"/>Peaks (6)</div>
              
          </td>
          
          {% with result|facet_counts:"featured" as featured_counts %}
          <td id="featured_filter">
              <h3>Points of Interest</h3>
              <div><input type="checkbox" class="featured_option" id="id_education" value="Education" /><img src="/portal/media/images/nonmapicon_education.png/" alt="Education" />Education ({{featured_counts.FeaturedEducation}})</div>
              <div><input type="checkbox" class="featured_option" id="id_research" value="Research" /><img src="/portal/media/images/nonmapicon_research.png/" alt="Research" />Research ({{featured_counts.FeaturedResearch}})</div>
          </td>
          {% endwith %}
          
      </tr>
  </table>
</div>

<script type="text/javascript">
addLoadEvent(function() {
    portalMapInstance.toggleLayer();
});
</script>
