{% load smartif %}
{% load portal %}

<div id="search-results">
    <div id="header">
        <h3 style="display: inline">Near <span id="nearby_asset"></span></h3>
        <button style="float: right; font-size: .75em; font-weight: bold;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" onclick='portalMapInstance.closeSearch();'><span class="ui-button-text">X</span></button>
    </div>
    <div class="assetlist">
        {% for current_object in results %}
            {% with "nearby" as prefix %}
            {% with "nearby" as geocode_class %}
            {% with forloop.counter as icon_display_order %}
            {% with 1 as includehighlight %}
            {% with 1 as search_nearby %}
                {% include "portal/asset_location.html" %}
            {% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}
             <div class="single_result">
                <table>
                    <tr>
                    <td>
                        <div style="font-size: .9em;">
                        <a class="search-display-name" href="{{current_object|detail_url}}">{{current_object|display_name}}</a><br />
                        <b>Record Type</b>: {{current_object|klass_display}}
                        {% include "portal/asset_description.html" %}
                        </div>
                    </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>
</div>
