{% extends "portal/base_portal.html" %} 

{% block title %}{{section.label}}{% endblock %}

{% block mainnav %}
    {% with root as current %}
    {% with section.get_parent as selected %}
    {% with "foreststories" as hidden %}
        {% include "portal/menu.html" %}
    {% endwith %}{% endwith %}{% endwith %}
{% endblock %}

{% block subnav %}
    {% with module as current %}
      {% with section as selected %}
            {% include "portal/menu.html" %}
      {% endwith %}
    {% endwith %}
{% endblock %}

{% block left %} 
    {% for block in section.pageblock_set.all %}
        {% if block.label %}<h4>{{block.label}}</h4>{% endif %}
        {{ block.render }}
    {% endfor %}
{% endblock %}
