{% extends "portal/base_portal.html" %} 

{% block title %}{{module.label}}: {{section.label}}{% endblock %}

{% block mainnav %}
    {% with root as current %}
    {% with section.get_parent as selected %}
    {% with "foreststories" as hidden %}
    {% with 1 as audience %}
        {% include "portal/menu.html" %}
    {% endwith %}{% endwith %}{% endwith %}{% endwith %}
{% endblock %}

{% block subnav %}
    {% ifnotequal module.slug "foreststories" %} 
        {% with module as current %}
        {% with section as selected %}
                {% include "portal/menu.html" %}
        {% endwith %}{% endwith %}
    {% endifnotequal %}
{% endblock %}

{% block container %} 
    {% ifequal module.slug "home" %}
        {% include "portal/pageblocks.html" %}
    {% else %}{% ifequal section.slug "weather" %}
        {% include "portal/pageblocks.html" %}
    {% else %}{% ifequal section.slug "webcams" %}
        {% include "portal/pageblocks.html" %}
    {% else %}     
        <table width="100%">
            <tr>
                <td id="left">
                    {% include "portal/pageblocks.html" %}
                </td>
                <td id="right">
                    {% include "portal/asset_map.html" %}
                </td>
            </tr>
        </table>
    {% endifequal %}{% endifequal %}{% endifequal %}
{% endblock %}

