{% load portal %}
{% load smartif %}

<link href="/portal/media/js/jcarousel/skins/blackrock/skin.css" media="screen" rel="stylesheet" type="text/css"/> 
<script type="text/javascript" src="/portal/media/js/photogallery.js"></script>
    
<div id="home_banner">

    <div id="photoswitcher">
        <div class=" jcarousel-skin-blackrock">
        <div class="jcarousel-container-horizontal">
        <div style="position: relative; display: block;" class="jcarousel-container jcarousel-container-horizontal">
        <div style="overflow: hidden; position: relative;" class="jcarousel-clip jcarousel-clip-horizontal">
            <ul id="scrolling-photo-gallery" class="jcarousel-list jcarousel-list-horizontal">
                {% for item in block.item.all %}
                    <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-{{item.position}} jcarousel-item-{{item.position}}-horizontal">
                        <div class="jcarousel-caption">
                            <h4>{{item.title}}</h4>
                            <p></p>
                            <p>{{item.description}}</p>
                            <p class="action">
                                <a href="{{item.action}}">Learn More >></a>
                            </p>
                        </div>
                        <input type="hidden" value="jcarousel-selector-{{item.position}}"></input>
                        <img src="{{item.image.file.url}}" alt="jCarousel image {{item.position}}" />
                    </li>
                {% endfor %}
            </ul>
                
            <ul class="nav dl_navigation">
                {% for item in block.item.all %}
                    <li id="jcarousel-selector-{{item.position}}" class="jcarousel-selector"><a>{{item.position}}</a></li>
                 {% endfor %}
                <li><a id="toggle_play" class="jcarousel-pause"></a></li>
            </ul>
        </div></div></div></div>
    </div>
            

    <div id="weather-widget">
        <div id="weather-widget-tab"><img src="/portal/media/images/weather-widget-tab.png" alt="Weather Widget Slider"/></div>

        <div id="weather-widget-content">        
            <div id="data">
                <div class="weather-widget-title">Current Conditions</div>
                <h6>as of {% now "g a" %} on {% now "m/d/y" %}</h6>
                <p><img src="{% value_from_settings BLACK_ROCK_FEED %}data/current/Widget.png" alt="Current Conditions Widget" /></p>
                <div class="action"><a href="/portal/weather/">More >></a></div>
            </div>
        
            <div id="webcam">
                <div class="weather-widget-title">Forest View</div>
                <h6>&nbsp;</h6>
                <p><img src="{% value_from_settings BLACK_ROCK_FEED %}webcam/2011/05/15/Black_Rock_{{block.current_time}}.jpg" alt="Current Forest View" /></p>
                <div class="action"><a href="/portal/forest-view/">More >></a></div>
            </div>
        </div>
   </div>
</div>


<div>
 	<table id="home_module_container">
        <tbody>
            <tr>
                <td class="home_module research_module">
            
                        <h4>Research at Black Rock</h4>
                         <table class="left_image">
                         <tr>
                          <td class="image_block"><div class="image_block_image"><img src="/uploads/portal/2010/09/17/northSlope.jpg" alt="" /></div></td>
                          <td class="text_block">
                          <a href="/portal/browse/portal/foreststory/objects/6/">The Future of Oak Forests Study</a>
                          This study is the first direct investigation of the cascade of impacts likely to follow from the loss of oaks, a key species group in the ecosystem of northeastern forests.
                          </td>
                         </tr>
                         </table>
                          
                        <ul>
                            <li><a href="/portal/browse/portal/researchproject/objects/14/">Age-related changes in oak forest productivity</a></li>
                            <li><a href="/portal/browse/portal/researchproject/objects/79/">Holocene vegetation, climate, and fire history of the Hudson Highlands, southeastern New York, USA.</a></li>
                            <li><a href="/portal/browse/portal/researchproject/objects/77/">Wind energy assessment and monitoring project</a></li>
                        </ul>
                    
                </td>
                <td class="home_module education_module">
                  
                        <h4>Education</h4>
                        
                         <table class="left_image">
                         <tr>
                          <td class="image_block"><div class="image_block_image"><img src="/uploads/portal/2010/09/17/paleoModule.jpg" alt="" /></div></td>
                          <td class="text_block">
                          <a href="/portal/browse/portal/learningactivity/objects/4/">Paleoecology Learning Module</a>Using sediment core sample data taken from Sutherland Pond in Black Rock Forest, students will learn how to identify pollen grains and plant macrofossils found in pond sediments and develop strategies for efficient sampling a pond core.
                        </td>
                         </tr>
                         </table>
           
                        <ul>
                            <li><a href="/portal/browse/portal/learningactivity/objects/2/">Tree Respiration Module</a></li>
                            <li><a href="/portal/browse/portal/learningactivity/objects/5/">Turtle Module</a></li>
                            <li><a href="/portal/browse/portal/learningactivity/objects/3/">Forest Sampling Design and Optimization Tool</a></li>
                        </ul>
                   
               
    

				</td>
			</tr>
			<tr>
				<td class="home_module tools_module" colspan="2">
        <h4>Tools</h4>
          <table class="left_image tool">
                         <tr>
                          <td class="image_block"><div class="image_block_image"><img src="/uploads/portal/2011/03/26/B_Open_Lowland_Station_and_Old_HQ.JPG" alt="Open Lowland Station" /></div></td>
                          <td class="text_block">
                          <a href="/portal/browse/portal/foreststory/objects/4/">Environmental Monitoring Network</a> Six environmental monitoring stations automatically collect and compile data hourly via radiotelemetry at a base station in the Science Center. Live and historic data are available for education and research.
                            </td>
                         </tr>
                         </table>
                         
                           <table class="left_image tool">
                         <tr>
                          <td class="image_block"><div class="image_block_image"><img src="/uploads/portal/2011/03/26/R_hemlock_study_plot_with_deer_fence_vert.jpg" alt="Hemlock Study Plot" /></div></td>
                          <td class="text_block">
                          <a href="/portal/browse/portal/foreststory/objects/5/">Long-Term Plots</a> The Black Rock Forest Consortium maintains eight long-term research plots where data relating to species composition and productivity has been collected since the 1930s.
						  </td>
                         </tr>
                         </table>
                         
                           <table class="left_image tool">
                         <tr>
                          <td class="image_block"><div class="image_block_image"><img src="/uploads/portal/2011/03/26/B_Chatfield_Stone_House-reduced.jpg" alt="The Stone House" /></div></td>
                          <td class="text_block">
                         <a href="http://www.blackrockforest.org/docs/about-the-forest/GreenBuildings/index.html">Buildings at Black Rock</a>As the Consortium is committed to sustainability, many Black Rock Forest facilities incorporate "Green Building" and "Smart Features." These include a Science and Education Center with a library and laboratories, a Forest Lodge for overnight visitors and a Solar Pavilion.
                         </td>
                         </tr>
                         </table>    
     			</td>
            </tr>
        </tbody>
    </table>


</div>
