{% extends "portal/base_portal.html" %}
{% load smartif %}
{% load portal %}

{% block title %}Search{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block mainnav %}
    {% with "search" as selected %}
        {% include "portal/default_mainnav.html" %}
    {% endwith %}
{% endblock %}


{% block container %}
<form method="get" action=".">

 <div id="search-wrapper">
 <table id="search-table">
    <tr>
    <td id="facets_column">
        <div id="facets" class="">
             {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    <span class="header">{{field.label_tag}}:</span> {{ field }}
                    
                    {% ifequal field.label "Search" %}
                        <input type="submit" value="Search"></input>&nbsp;<input type="reset" value="Reset" onclick="parent.location='/portal/search/'"></input>
                    {% endifequal %}
                </div>
            {% endfor %}
        </div>
    </td>
    <td id="results_column">
        <div id="search-results"> 
            <h2>Search Results ({{count}})</h2>
            <br />
            <div class="assetlist">
                {% for result in page.object_list %}
                     <div class="single_result">
                     {% with result.object as current_object %}
                        <table>
                            <tr>
                            {% if current_object.display_image %}
                                <td class="search_detail_image_column">
                                    <img alt="{{asset_klass}} Icon" src="{{current_object.display_image.file.url}}" class="search_detail_image"></img>
                                </td>
                            {% else %}{% if current_object.digital_format %}
                                {% if current_object.digital_format.is_image %}
                                    {% if current_object.file.url %}
                                        <td class="search_detail_image_column"><img src="{{current_object.file.url}}" class="search_detail_image"></img></td>
                                    {% else %}{% if current_object.url %}
                                        <td class="search_detail_image_column"><img src="{{current_object.url}}" class="search_detail_image"></img></td>
                                    {% endif %}{% endif %}
                                {% endif %} 
                            {% endif %}{% endif %}
                            <td>
                                <a class="search-display-name" href="{{result.object|detail_url}}">{{result.object|search_name}}</a>
                                <b>Record Type</b>: {{result.object|klass_display}}
                                {% include "portal/asset_description.html" %}
                                
                                {% if result.object.facet.count %}
                                    <b>Keywords</b>: 
                                    {% for k in result.object.facet.all %}{% if forloop.counter > 1 %}, {% endif %}{{ k.name }}{% endfor %}
                                {% endif %}
                            </td>
                            </tr>
                        </table>
                      {% endwith %}                         
                    </div>
                {% endfor %}
            </div>
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?{{ query }}page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?{{ query }}page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        </div>
   </td>
   </tr>
</table>
</form>
</div>
{% endblock %}

