{% extends "base.html" %}

{% block content %}

{% load smartif %}
{% load klass %}

<div id="content">

    <h2>Facet by Audience / Full Text Search</h2>
    
    <form method="get" action=".">
        <table>
            <tbody>
                {{ form.as_table }}
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Search"></td>
                </tr>
            </tbody>
        </table>
    </form>
    
    {% if query %}
        <!-- Begin faceting. -->
        <h2>By Author</h2>
    
        <div>
            <dl>
                {% if facets.fields.audience %}
                    <dt>Audience</dt>
                    
                    {% for audience in facets.fields.audience %}
                        <dd><a href="/portal/singlefacet/audience?q={{query}}&selected_facets=audience:{{ audience.0|urlencode }}">{{ audience.0 }}</a> ({{ audience.1 }})</dd>
                    {% endfor %}
                {% else %}
                    <p>No audience facets.</p>
                {% endif %}
            </dl>
        </div>
        <!-- End faceting -->
    
        <!-- Display results... -->
        <h2>Results: 
        {% if selected_facets %}
            {{ selected_facets }} ({{results|length}})
        {% else %}
            All ({{results|length}})
        {% endif %}
        </h2>
        {% for result in results %}
            <div class="search_result">
                <h3><a href="/portal/browse/portal/{{result.object|klass|lower}}/objects/{{result.object.id}}">{{result.object|klass}}: {{ result.object.name }}</a></h3>
    
                <p>{{ result.object.description|truncatewords:80 }}</p>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}