{% load smartif %}

<h2>Environmental Monitoring Data</h2>
<div id="weather"> 
	<div class="header-row"><h3>Conditions as of [date and time pull from server] (updated every five minutes)</h3></div>
	<div class="station-id"><h3>Open Lowland Station:</h3><br />Elevation 270 feet</div>
		<div id="weather-viewer">
			<ul>
				<li class="aag">At a Glance</li>
				<li><a class="selected" href="#">Air and Soil Temperature</a></li>
				<li><a href="#">Precipitation</a></li>
				<li><a href="#">Wind</a></li>
				<li><a href="#">Barometric Pressure</a></li>
			</ul>
		<div id="time-switcher">24 hours | 7 days | 30 days</div>	
		<div class="current-graphic"><img src="http://kang.ccnmtl.columbia.edu/sb/jonah/blackrock_photo_fetcher/downloads/data/current/Air-Soil-24Hr.png"></div>
		</div>
</div>

