{% load smartif %}
<link rel="stylesheet" type="text/css" href="/portal/media/js/imageflow/imageflow.css" />

<script  type="text/javascript" src="/portal/media/js/imageflow/imageflow.js"></script>
<script  type="text/javascript" src="/portal/media/js/blackrock_webcam.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {
        draw_image_flow(15, 5 - 1, 2011);
                         
        jQuery("#webcam-flow_previous").html("<span class='flowlabel'><br />Earlier Views</span>");
        jQuery("#webcam-flow_next").html("<span class='flowlabel'><br />Current View</span>");
    
        // set up the datepicker
        jQuery( "#datepicker" ).datepicker({
    		    // trigger calendar selector from the icon
    		    showOn: "button",
    		    buttonImage: "/portal/media/images/calendar.gif",
    		    buttonImageOnly: true,
    		    // animate calendar
    		    showAnim: "slideDown",
    		    // we only have pics going back to 3/4/11
    		    minDate: new Date(2011, 3 - 1, 4),
    		    // limit selections to the past.
    		    maxDate: new Date(2011, 5 - 1, 15), // "+0",
    		    // onSelect - load the photos from that day
    		    onSelect: function(dateText, inst) {
    		           var pickedDate = new Date(Date.parse(jQuery(this).datepicker('getDate'))); 
    		           //var pickedDate = inst.('getDate');
                       picked_date = pickedDate.getDate();
    		           picked_month = pickedDate.getMonth();
    		           picked_year = pickedDate.getFullYear();
                               draw_image_flow(picked_date, picked_month, picked_year);
                               // jQuery("#picked-date").html(picked_month + "/" + picked_date + "/" + picked_year); 
                               jQuery("#picked-date").html(pickedDate.toDateString());
    		           //console.log(picked_date, picked_month, picked_year);
    		    }
    	     });

        jQuery("#datepicker").datepicker("setDate", new Date(2011, 5 - 1, 15));
        
    });
  
</script>
 
<h2>Forest View</h2>
<div id="webcam_page"> 
<h3><span id="picked-date">Today</span> at the Forest <div><input type="hidden" id="datepicker" /></div></h3>
	<div id="image-viewer">
	   
	   <div id="webcam-focus-container">
	     <!-- <img id="webcam-focus" src="http://ccnmtl.columbia.edu/projects/blackrock/forestdata/webcam/current.jpg" width="550" /> -->
	   </div>
	   <div id="webcam-flow" class="imageflow"></div>
	   <p style="text-align: center;" >Drag the slider to scroll through the last 24 hours of forest view photos</p>
	</div>
	
	
	<div id="timelapse">
	<h3>Featured Events</h3>	
		
		<h4>Sunrise</h4>
		<div class="video">
	<script type="text/javascript" src="http://ccnmtl.columbia.edu/stream/jsembed?player=download_mp4_v3&file=projects/mp4/virtualforest_time_lapse01_glare.mp4&width=480&height=360&poster=http://ccnmtl.columbia.edu/broadcast/projects/mp4/virtualforest_time_lapse01_glare.jpg&protection=5b9e4fe881b47f0a4ffcaa630dc4f0ca4d36d1e1"></script>
	</div>


		<h4>Snow Melting</h4>		
		<div class="video">
		<script type="text/javascript" src="http://ccnmtl.columbia.edu/stream/jsembed?player=download_mp4_v3&file=projects/mp4/virtualforest_time_lapse03_snow_long.mp4&width=480&height=360&poster=http://ccnmtl.columbia.edu/broadcast/projects/mp4/virtualforest_time_lapse03_snow_long.jpg&protection=c0a8e54641fecf4f2d2daf1ffe96fc5b83c28dca"></script>

</div>
		
		<h4>April Showers</h4>
		<div class="video">
		<script type="text/javascript" src="http://ccnmtl.columbia.edu/stream/jsembed?player=download_mp4_v3&file=projects/mp4/virtualforest_time_lapse02_april_showers.mp4&width=480&height=360&poster=http://ccnmtl.columbia.edu/broadcast/projects/mp4/virtualforest_time_lapse02_april_showers.jpg&protection=3bf74c25d2c49a56a6d6c9612134a2d25fb3e1c1"></script>
		</div>

	</div>

</div>

<br class="clear" />
