{% load smartif %}
<link rel="stylesheet" type="text/css" href="/portal/media/js/imageflow/imageflow.css" />

<script  type="text/javascript" src="/portal/media/js/imageflow/imageflow.js"></script>
<script  type="text/javascript" src="/portal/media/js/blackrock_webcam.js"></script>

<script type="text/javascript">
  function swap_webcam_image(url) {

  }

  jQuery(document).ready(function() {
    // add the webcam images to the dom
    var webcamImageArray = get_webcam_image_array();
    for (i = 0; i < webcamImageArray.length; i++) {
        // console.log(webcamImageArray[i].src);
	jQuery("#webcam-flow").append(
		  jQuery("<img/>")
		    .attr("src", webcamImageArray[i].src)
		    .attr("longdesc", webcamImageArray[i].src)
		    .attr("width", "70")
		    .attr("height", "48")
		    .attr("alt", webcamImageArray[i].text)
		    )
	
    }
    var instanceOne = new ImageFlow();
    // console.log("initializing imageflow");
    instanceOne.init({ ImageFlowID:'webcam-flow',
		       preloadImages: true,
		       //aspectRatio: 2.333, 
		       //aspectRatio: 1, 
		       imageFocusMax: 1,
		       imageFocusM: 1.5,
		       xStep: 220,
		       buttons: true,
		       startID: 287,
               reflections: false,  
               reflectionP: 0.0,
                onClick: function() { return false; }
            });
                     
  jQuery("#webcam-flow_previous").html("<span class='flowlabel'><br />Earlier Views</span>");
  jQuery("#webcam-flow_next").html("<span class='flowlabel'><br />Current View</span>");
                   
                     
  });
</script>
 
<h2>Forest View</h2>
<div id="webcam_page"> 
<h3>Today at the Forest</h3>
	<div id="image-viewer">
	   
	   <div id="webcam-focus-container">
	     <!-- <img id="webcam-focus" src="http://ccnmtl.columbia.edu/projects/blackrock/forestdata/webcam/current.jpg" width="550" /> -->
	   </div>
	   <div id="webcam-flow" class="imageflow"></div>
	   <p style="text-align: center;" >Drag the slider to scroll through the last 24 hours of forest view photos</p>
	</div>
	
	
	<div id="timelapse">
	<h3>Featured Events</h3>	
<!--		
		<h4>Sunrise</h4>
		<div class="video">
	<script type="text/javascript" src="http://ccnmtl.columbia.edu/stream/jsembed?player=download_mp4_v3&file=projects/mp4/virtualforest_time_lapse01_glare.mp4&width=480&height=360&poster=http://ccnmtl.columbia.edu/broadcast/projects/mp4/virtualforest_time_lapse01_glare.jpg&protection=5b9e4fe881b47f0a4ffcaa630dc4f0ca4d36d1e1"></script>
	</div>


		<h4>Snow Melting</h4>		
		<div class="video">
		<script type="text/javascript" src="http://ccnmtl.columbia.edu/stream/jsembed?player=download_mp4_v3&file=projects/mp4/virtualforest_time_lapse03_snow_long.mp4&width=480&height=360&poster=http://ccnmtl.columbia.edu/broadcast/projects/mp4/virtualforest_time_lapse03_snow_long.jpg&protection=c0a8e54641fecf4f2d2daf1ffe96fc5b83c28dca"></script>

</div>
		
		<h4>April Showers</h4>
		<div class="video">
		<script type="text/javascript" src="http://ccnmtl.columbia.edu/stream/jsembed?player=download_mp4_v3&file=projects/mp4/virtualforest_time_lapse02_april_showers.mp4&width=480&height=360&poster=http://ccnmtl.columbia.edu/broadcast/projects/mp4/virtualforest_time_lapse02_april_showers.jpg&protection=3bf74c25d2c49a56a6d6c9612134a2d25fb3e1c1"></script>
		</div>

	</div>

</div>-->

<br class="clear" />
