{% load smartif %}
<link rel="stylesheet" type="text/css" href="/portal/media/js/imageflow/imageflow.css" />

<script  type="text/javascript" src="/portal/media/js/imageflow/imageflow.js"></script>
<script  type="text/javascript" src="/portal/media/js/blackrock_webcam.js"></script>

<script type="text/javascript">
  function swap_webcam_image(url) {

  }

  jQuery(document).ready(function() {
    // add the webcam images to the dom
    var webcamImageArray = get_webcam_image_array();
    for (i = 0; i < webcamImageArray.length; i++) {
        // console.log(webcamImageArray[i].src);
	jQuery("#webcam-flow").append(
		  jQuery("<img/>")
		    .attr("src", webcamImageArray[i].src)
		    .attr("longdesc", webcamImageArray[i].src)
		    .attr("width", "300")
		    .attr("height", "300")
		    .attr("alt", webcamImageArray[i].text)
		    )
	
    }
    var instanceOne = new ImageFlow();
    // console.log("initializing imageflow");
    instanceOne.init({ ImageFlowID:'webcam-flow',
		       preloadImages: false,
		       aspectRatio: 1, 
		       imageFocusM: 1,
		       //imageScaling: false,
		       imageFocusMax: 4,
		       xStep: 300,
		       buttons: true,
		       startID: 288,
                       reflections: false,  
                       reflectionP: 0.0,
		       slideshow: true,
		       onClick: function() { jQuery("#webcam-focus").attr("src", this.url) }
                     });
  });
</script>
 
<h2>Webcam</h2>
<div id="webcam_page"> 

	<div id="image-viewer">
	 
	   <div id="webcam-focus-container">
	     <img id="webcam-focus" src="http://ccnmtl.columbia.edu/projects/blackrock/forestdata/webcam/current.jpg" width="550" />
	   </div>
	   <div id="webcam-flow" class="imageflow"></div>
	</div>
	
	
	<div id="timelapse">
	<h3>Time Lapse Videos</h3>	
		
		<h4>Video 1 Title</h4>
		<div class="video">
		<script type="text/javascript" src="http://ccnmtl.columbia.edu/stream/jsembed?player=download_mp4_v3&file=projects/mp4/virtualforest_schuster_turtles_turtle_races.mp4&width=480&height=272&poster=http://ccnmtl.columbia.edu/broadcast/projects/mp4/virtualforest_schuster_turtles_turtle_races.jpg&protection=5500fac33addf0ad7329152fbd5564cce6b38d5e"></script>
		</div>

<!--Hiding to protect Liz's sad computer

		<h4>Video 2 Title</h4>		
		<div class="video">
		<script type="text/javascript" src="http://ccnmtl.columbia.edu/stream/jsembed?player=download_mp4_v3&file=projects/mp4/virtualforest_schuster_turtles_pulling_turtle_traps.mp4&width=480&height=272&poster=http://ccnmtl.columbia.edu/broadcast/projects/mp4/virtualforest_schuster_turtles_pulling_turtle_traps.jpg&protection=3babea366e98904ff63d341552d7de109d8701c1"></script>
		</div>
		
		<h4>Video 3 Title</h4>
		<div class="video">
		<script type="text/javascript" src="http://ccnmtl.columbia.edu/stream/jsembed?player=download_mp4_v3&file=projects/mp4/virtualforest_schuster_turtles_data_collection.mp4&width=480&height=272&poster=http://ccnmtl.columbia.edu/broadcast/projects/mp4/virtualforest_schuster_turtles_data_collection.jpg&protection=69982bcc2185766084b7b5b45a45a261417c922a"></script>
		</div>
-->
	</div>

</div>

<br class="clear" />
