#parameters
{
        margin:0 10px;

}

#parameters h2
{
	background-color: #A18F83;
	padding: 5px 5px 5px 10px;
	margin: 0;
	text-align: left;
	font-size: 125%;
}

.heading-addendum 
{
        font-size:70%;
        font-weight:normal;   
}

div.container
{
	
	margin: 25px auto;
	border: 1px #A18F83 solid;
	border-collapse: collapse;
	text-align: center;
}

#csv {
  text-align: left;
  padding: 20px;
  border: 1px solid #A18F83;
  width: 23.4em;
  margin: 0 20px;
  background-color: #eee;
}

.runtable {
  text-align: left;
  background-color: #dcd3c2;
  margin: 20px;
  border: 1px solid #A18F83;
}

.runtable table,
.runtable table td {
  font-size:12px;
  border:1px solid black;
  vertical-align:top;
}

#run-interface 
{
        margin-right:400px;
}

#runform,
#run-interface 
{
        min-width:500px;
}

.generalinfo 
{
        font-size:80%;
}

div.inner
{
	position: relative;
	padding-bottom: 15px;
	min-height: 280px;
}

div.right
{
        float:right;
	background-color: #DCD3C2;
	width: 380px;
	text-align: left;
	padding: 10px;
	border-left: 1px #A18F83 solid;
}

.container h3
{
	background-color: #dcd3c2;
	padding: 5px 5px 5px 10px;
	margin: 0;
	text-align: left;
}

h4 {
  text-align: left;
  margin: 0;
  padding: 0;
}

.caps { text-transform: uppercase; }

/* styles for dropdown arrows */
span.rightarrow {
  cursor: pointer;
  display: none;
}
span.downarrow {
  cursor: pointer;
}

form
{
	padding: 0;
	margin: 0;
}

#results, #waitmessage, #errormessage, #details { display: none; }

#results
{
	width: 810px;
	margin: 25px auto;
	border: 1px #A18F83 solid;
	border-collapse: collapse;
	text-align: center;
	background-color: #eee;
	padding: 20px;
        clear:both;
}

#results h2
{
	background-color: #A18F83;
	padding: 5px 5px 5px 10px;
	margin: -20px -20px 0 -20px;
	text-align: left;
	font-size: 125%;
}

#results h4
{
	margin: 15px 15px 0 20px;
		color: #573e33;
		font-size: 100%;
}

#results .plot-info h4

{
	margin: 0 0 0 5px;
	color: #573e33;
			font-size: 100%;
}

#waitmessage
{
	background-color: #A18F83;
	color: #fff;
}

#parameters thead
{
	font-weight: bold;
}

#results_summary {

background-color: #fff;

}

table.results-summary
{
	border-collapse: collapse;
	margin-bottom: 15px;
	margin-top: 10px;
}

table.results
{
	border-collapse: collapse;

}

table.results td, table.results-summary td
{
	padding: 5px;
	border: 1px #A18F83 solid;
}

td.left
{
	text-align: right;
	padding-right: 15px;
}

#results_summary.container .toggle-nest {padding: 10px;}

#results_summary.container .toggle-nest table {margin: 10px 15px 15px 15px;}

table.results-summary
{
	font-weight: normal;
	border-collapse: collapse;
	text-align: left;
}

table.results thead td, td.header
{
	font-weight: bold;
	background-color: #ccc !important;
	color: #333;
	/*border-right: 1px #A18F83 solid;*/
	padding: 2px 5px 2px 5px;
}

td.subheader { background-color: #DCD3C2; }
td.right { text-align: right; }

.plot-info
{
	border: 1px #A18F83 solid;
	background-color: #eee;
}

.plot-title
{
	font-weight: bold;
	text-align: left;
	margin-bottom: 15px;
}

#details table.results td { background-color: #fff; }

.plot-info, .nest {padding: 10px; margin: 15px; background-color: #fff;}

#results-map-container
{
	border: 1px solid #999;
        background-color:white;
}
