{% extends 'treegrowth/base_treegrowth.html' %}
{% load staticfiles %}

{% block jquery %}
    <script src={% static 'js/libraries/jquery-3.2.1.min.js' %}></script>
{% endblock %}

{% block js %}
    <script src={% static 'js/libraries/highcharts/stock/highstock.js' %}></script>
    <script src={% static 'js/libraries/highcharts/stock/modules/exporting.js' %}></script>
    <script src={% static 'js/libraries/highcharts/stock/modules/data.js' %}></script>
    <script src={% static 'js/libraries/highcharts/export-csv.js' %}></script>
    <script src={% static 'js/libraries/papaparse.min.js' %}></script>
    <script src={% static 'js/src/treegrowth/graph-utils.js' %}></script>
    <script src={% static 'js/src/treegrowth/graph.js' %}></script>
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="{% url 'treegrowth-index' %}">Home</a></li>
        <li><a href="{% url 'treegrowth-graph' %}" class="active">Graphing Tool</a></li>
    </ul>
{% endblock %}

{% block content %}
    <link href="{% static 'css/loaders.min.css' %}" media="all" rel="stylesheet" />
    <div id="plot-container">
        <div class="loader">
            <div class="loader-inner ball-pulse">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <small class="graph-note">
        The navigator graph displays the Site 1 AVG.
    </small>
{% endblock %}
