{% extends 'treegrowth/base_treegrowth.html' %}
{% load staticfiles %}

{% block jquery %}
    <script src={% static 'js/libraries/jquery-3.1.0.min.js' %}></script>
{% endblock %}

{% block js %}
    <script src={% static 'js/libraries/highcharts/stock/highstock.js' %}></script>
    <script src={% static 'js/libraries/highcharts/stock/modules/exporting.js' %}></script>
    <script src={% static 'js/libraries/highcharts/modules/data.js' %}></script>
    <script src={% static 'js/libraries/highcharts/export-csv.js' %}></script>
    <script src={% static 'js/libraries/papaparse.min.js' %}></script>
    <script src={% static 'js/src/treegrowth/graph.js' %}></script>
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="{% url 'treegrowth-index' %}">Home</a></li>
        <li><a href="{% url 'treegrowth-graph' %}" class="active">Graphing Tool</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div id="plot-container"></div>
{% endblock %}
