div.container
{
	position: relative;
	width: 850px;
	margin-left: -425px;
	border: 1px #A18F83 solid;
	border-collapse: collapse;
	text-align: left;
}

div.inner { height: 280px; }

div.right { height: 280px; }