/* Photo Switcher ---------------------------------------------------------*/

.jcarousel-container-horizontal, 
.jcarousel-clip-horizontal,  
.jcarousel-item-horizontal
{height: 417px; width: 744px;  }

.jcarousel-clip  {position: absolute; height: 417px; width: 744px;  }

.jcarousel-clip li div {
    top: 225px;
    letter-spacing: 0.03em;
    line-height: normal;
    padding: 20px 20px 18px;
    position: absolute;
    z-index: 10;
    width: 400px;
}

.jcarousel-clip li div h4 {
    color: white;
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 5px;
}

.jcarousel-clip li div p {
    color: #FFFFFF;
    font-size: .65em;
}

.jcarousel-clip li div a {
    color: #FFFFFF;
    font-size: 1em;
    text-decoration: none;
    padding-left: 5px;
    padding-bottom: 5px;
    display: block;
}

.jcarousel-clip li div p.action {
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    padding-top: 5px;
    width: 100px;
}

.jcarousel-clip .dl_navigation {
    bottom: 16px;
    float: right;
    position: absolute;
    right: 16px;
    z-index: 100;
}

.jcarousel-clip ol, .jcarousel-clip ul {
    list-style: none outside none;
}

.jcarousel-clip .dl_navigation li {
    font-size: 0.938em;
    height: 20px;
    margin: 0 5px;
    text-align: center;
    width: 20px;
}

.jcarousel-clip .dl_navigation li.prev, .jcarousel-clip .dl_navigation li.next {
    display: none !important;
}

.jcarousel-clip .dl_navigation li.jcarousel-selector {
    background-color: white;
}

.jcarousel-clip .dl_navigation li.jcarousel-selector:hover, .jcarousel-clip .dl_navigation li.jcarousel-selected {
    background-color: yellow;
}

.jcarousel-clip .dl_navigation li a {
    display: block;
    width: 20px;
    height: 20px;
}

.jcarousel-clip .dl_navigation li a.jcarousel-pause {
    background: url("/portal/media/images/pause.png") no-repeat transparent;
}

.jcarousel-clip .dl_navigation li a.jcarousel-play {
    background: url("/portal/media/images/play.png") no-repeat transparent;
}

.jcarousel-clip .nav li {
    float: left;
}

.jcarousel-clip .nav li a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.jcarousel-caption {
    display: none;
}