{{ field.errors }}
{% if field.field.choices %}
<!-- ### BEGIN MAMMAL SPECIES -->
<div class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons">
    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-focus ui-corner-all"><!-- 'ui-icon-triangle-1-e' IS THE CLASS FOR THE BOX TO CLOSE. JQUERY UI FLIPS IT BACK TO 'ui-icon-triangle-1-s' IF YOU OPEN THE BOX --><span class="ui-icon ui-icon-triangle-1-e"></span><a tabindex="-1" href="#">{{field.label_tag}}</a></h3>
    <div style="display: none;" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
        <div class="ui-accordion-content-scroll">
            {{ field }}
        </div><!-- div class="ui-accordion-content-scroll -->                       
    </div><!-- div class="ui-accordion-content ui-helper-reset... -->
</div><!-- div class="ui-accordion ui-widget... -->
{% else %}
{% endif %}
