<div class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons">
    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-focus ui-corner-all"><!-- 'ui-icon-triangle-1-e' IS THE CLASS FOR THE BOX TO CLOSE. JQUERY UI FLIPS IT BACK TO 'ui-icon-triangle-1-s' IF YOU OPEN THE BOX --><span class="ui-icon ui-icon-triangle-1-e"></span><a tabindex="-1" href="#">{{form.trap_species.label_tag}}</a></h3>
    <div style="display: none;" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
        <div class="ui-accordion-content-scroll">
            {%for trap_species_item in form.trap_species.field.choices %}
                <li>
                    <label for="id_trap_species_{{forloop.counter}}">
                        <input type="checkbox"
                            name="trap_species"
                            value="{{trap_species_item.0}}"
                            id="id_trap_species_{{forloop.counter}}" />
                        {{trap_species_item.1}}
                    </label>
                </li>
            {%endfor%}
        </div><!-- div class="ui-accordion-content-scroll -->                       
    </div><!-- div class="ui-accordion-content ui-helper-reset... -->
</div><!-- div class="ui-accordion ui-widget... -->
