body
{
	max-width: 1500px;
	min-width: 960px;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

#breadcrumbs { display: none; }

#nav
{
	background-color: #dcd3c2;
	margin: 0;
	padding: 5px 10px 12px 10px;
	border: 0;
	color: #827259;
}

div#nav ol, div#nav ul
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	list-style: none;
}

div#nav ol a, div#nav ul a
{
	text-decoration: none;
}

div#nav ol a:hover, div#nav ul a:hover
{
	text-decoration: underline;
}

div#nav ol li, div#nav ul li
{
	margin: 0 30px 0 0;
	padding: 5px 10px 7px 10px;
	border: 0;
	float: left;
	font-weight: bold;
	/*cursor: pointer;*/
}

div#nav ul li#gridcategory
{
	margin: 0 2px 0 0;
	padding-right: 0px;
}

div#nav ul li#gridresearch
{
	margin: 0;
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px dotted #999;
}

div#nav ul li#gridplay
{
	padding-left: 5px;
}

div#nav ol li a.default, div#nav ul li.default { background-color: transparent; }

div#nav ol li a.active, div#nav ul li.active { background-color: #ffffff; }


#container_mammals
{
	display: block;
	margin: 0;
	padding: 0 20px;
	border: 0;
	min-width: 960px;
	max-width: 1200px;
}

#left
{
	display: block;
	width: 44%;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}

#map_canvas
{
	position: relative;
	display: block;
	width: 55%;
	min-width: 500px;
	height: 550px;
	float: left;
	margin: 10px 0 0 0;
	padding: 0;
	border: 1px solid #999;
}

#map_canvas2
{
	position: relative;
	display: block;
	width: 55%;
	min-width: 500px;
	height: 550px;
	float: left;
	margin: 0;
	padding: 0;
	border: 1px solid #999;
}

.plain
{
	margin: 0;
	padding: 0;
	border: 0;
}

.clearfix
{
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	clear: both;
	display:block;
	float: none !important;
}

.instructions
{
	margin: 0;
	padding: 0 10px 0 0;
	border: 0;
	font-size: 12px;
}

.inputbox
{
	width: 60px;
	margin: 0;
	padding: 2px;
	border: 1px solid #999;
}

.inputbox:focus
{
	border: 1px solid #339900;
	background-color: #e0e0e0;
}

label
{
	font-weight: bold;
	color: #666;
}


#container_mammals input,
#container_mammals select,
#container_mammals textarea
{
  border: solid 1px #ccc;
  font-size: 14px;
  margin: 0 0 5px 0;
  padding: 1px 5px;
}

#container_mammals input [type="button"],
#container_mammals [type="submit"], 
#container_mammals input[type="reset"], 
#container_mammals input[type="file"]::-webkit-file-upload-button, 
#container_mammals button
{
    font-size: 14px;
}

/* Form fields */

.formfield
{
	width: 360px;
	margin: 0 10px 0 0;
	padding: 0;
	border: 0;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	border-bottom: 1px dotted #999;
}

body.square .height40
{
	height: 40px;
	line-height: 150%;
	font-size: 12px;
	border-bottom: 1px dotted #999;
}

.multiformfield
{
	height: 50px;
	line-height: auto;
}

.formfield_header
{
	width: 360px;
	margin: 20px 0 10px 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	font-weight: bold;
}

.formfield label
{
	margin-left: 10px;
	width: 180px;
	display: block;
	float: left;
}

body.square .formfield label
{
	margin-left: 10px;
	width: 270px;
	display: block;
	float: left;
}

.formfield .inputbox
{
	display: block;
	float: left;
	margin-top: 5px;
}

.formfield .multifield
{
	margin-left: 10px;
	width: 180px;
	display: block;
	float: left;
	font-weight: bold;
	color: #666;
	border: 0;
}

.formfield .multiinput
{
	display: block;
	float: left;
	margin: 0;
}

.formfield .multiinput div
{
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

.formfield .multiinput label
{
	margin: 0;
	padding: 7px 0 0 0;
	width: auto;
	display: block;
	float: none;
	line-height: 15px;
	height: 15px;
}

.formfield .multiinput .inputbox
{
	display: block;
	float: none;
	margin-top: 0;
}

.hide_this {
  display: none;
}

.back_page
{
	margin: -12px 0 20px 0;
	padding: 0x;
	border: 0;
	width: 250px
}

.back_page a
{
	display: block;
	margin: 0;
	padding: 0 0 0 25px;
	border: 0;
	background: transparent url('../../images/mammals/back_page.png') 0px 0px no-repeat;
	height: 20px;
	line-height: 20px;
	font-size: 11px;
	text-decoration: none;
}

/* GRID SELECTION */

#selection_steps
{
	margin: 0;
	padding: 0;
	border: 0;
	clear: both;
	display: block;
}

#terrain_level, #access_level
{
	width: 220px;
	margin: 20px 0 0 0;
	padding: 0;
	border: 0;
	float: left;
}

#terrain_level h4, #access_level h4
{
	margin: 0;
	padding: 0 0 0 36px;
	border: 0;
	font-weight: bold;
	font-size: 12px;
	height: 36px;
}

#terrain_level h4{
	background: url('../../images/mammals/nav_steps.png') -2px -48px no-repeat;
}


#access_level h4{
	background: url('../../images/mammals/nav_steps.png') -2px -8px no-repeat;
}

.randomizer_click {
  display: inline;
  float: left;
  width: 180px;
}

#randomizer
{
	
	margin: 25px 0 0 0;
	padding: 0;
	border: 0;
	float: left;
	clear:both;
}

#randomizer h4
{
	margin: 0;
	padding: 0 0 0 36px;
	border: 0;
	font-weight: bold;
	font-size: 12px;
	height: 36px;
	background: url('../../images/mammals/nav_steps.png') -2px -126px no-repeat;
}

.randomize_again_hint
{
  background-color:#fcf8e3;
  color: #c09853;
	margin: 5px 0 0 36px;
	padding: 5px;
	border: solid 1px #fbeed5;
	font-size: 11px;
	-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  width: 180px;
}

.red {
  color: #DD1144;
}
#selection_steps select
{
	width: 150px;
	margin: 0 0 0 36px;
}

#selection_steps button
{
	width: 100px;
	margin: 0 0 0 36px;
}

.selected_sq_info
{
	display: block;
	width: 360px;
	margin: 20px 0 0 0;
	padding: 0;
	border: 1px solid #A18F83;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.selected_sq_info h3
{
	display: block;
	margin: 0;
	padding: 3px;
	font-weight: bold;
	font-size: 12px;
	border: 0;
	background-color: #dcd3c2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.detail_toggle
{
	padding-right: 3px;
	display: block;
	float: right;
	font-weight: normal;
	cursor: pointer;
	color: #006600;
}

.detail_toggle:hover
{
	cursor: pointer;
	color: #009900;
}

/* Coordinate box for grid.html */

.coord_display
{
	margin: 20px 0 0 36px;
	padding: 0;
	border: 0;
	clear: both;
	display: block;
	font-size: 12px;
}

.terrain_info
{
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	width: 175px;
	height: 181px;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	background-color: transparent;
}

.terrain_info p
{
	margin: 20px 0 15px 5px;
	padding: 0;
	border: 0;
}

.terrain_info .prompt
{
	margin-right: 5px;
	font-style: italic;
}

.terrain_info h4
{
	margin: 0;
	padding: 0 0 0 36px;
	border: 0;
	font-weight: bold;
	font-size: 12px;
	height: 36px;
	background: url('../../images/mammals/nav_steps.png') -2px -127px no-repeat;
}



.block_coordbox
{
	display: block;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	border: 0;
	width: 180px;
	height: 181px;
	border: 1px solid #669966;
	border-top: 0;
	background-color: #cfe2da;
}

.block_coordbox .topleft
{
	width: 90px;
	height: 55px;
	background: url("../../images/mammals/pointer_topleft.gif") 0 0 no-repeat;
	font-size: 11px;
	float: left;
}

.topleft .coordinates
{
	padding-top: 12px !important;
	padding-left: 5px !important;
	text-align: left;
	height: 24px;
}

.block_coordbox .topright
{
	width: 90px;
	height: 55px;
	background: url("../../images/mammals/pointer_topright.gif") 76px 0 no-repeat;
	font-size: 11px;
	float: left;
}

.topright .coordinates
{
	padding-top: 12px !important;
	padding-right: 5px !important;
	text-align: right;
	height: 24px;
}

.block_coordbox .center
{
	clear: both;
	width: 180px;
	height: 65px;
	background: url("../../images/mammals/pointer_center.gif") center center no-repeat;
	font-size: 11px;
}

.center .coordinates
{
	padding-top: 40px !important;
	text-align: center;
	height: 24px;
}

.block_coordbox .bottomleft
{
	width: 90px;
	height: 60px;
	background: url("../../images/mammals/pointer_bottomleft.gif") 0 46px no-repeat;
	font-size: 11px;
	float: left;
}

.bottomleft .coordinates
{
	padding-top: 21px !important;
	padding-left: 5px !important;
	text-align: left;
	height: 24px;
}

.block_coordbox .bottomright
{
	width: 90px;
	height: 60px;
	background: url("../../images/mammals/pointer_bottomright.gif") 76px 46px no-repeat;
	font-size: 11px;
	float: left;
}

.bottomright .coordinates
{
	padding-top: 21px !important;
	padding-right: 5px !important;
	text-align: right;
	height: 24px;
}

.arrow_box {
	position: relative;
	width: 350px;
	padding: 3px;
	font-weight: bold;
	font-size: 12px;
	background: #dcd3c2;
	border: 1px solid #A18F83;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-top-color: #dcd3c2;
	border-width: 8px;
	left: 90px;
	margin-left: -8px;
}
.arrow_box:before {
	border-top-color: #A18F83;
	border-width: 10px;
	left: 90px;
	margin-left: -10px;
}

.randomize_again_hint
{
	display: none;
}

/* Page Footer Elements: All Pages */
#footer
{
	background-color: #1F2A1E;
	color: #ffffff;
	text-align: center;
	font-size: .9em;
	margin: 30px 0 0 0;
	padding: 0;
	border: 0;
	clear: both;
}

ul#standard-elements
{
	list-style: none;
	margin: 0;
	padding: 3px 0;
}

ul#standard-elements li
{
	display: inline;
	padding: 0 5px;
}

ul#standard-elements li a
{
	color: #ffffff;
	display: inline;
	text-decoration: none;
}




body.research_grid #playground_form
{
	display: none;
}

body.playground_grid #playground_form
{
	display: block;
}

body.square #playground_form
{
	display: none;
}

body.playground_grid #selection_steps,
body.playground_grid #block_difficulty
{
	display: none;
}

body.playground_grid .coord_display
{
	margin-left: 10px;
}

body.square .highlighted { color: #003399 !important; background-color: #b8dbff !important; }

body.square table.center_point_table {
  width: 375px;
  font-size: 12px;
}

body.square .center_point_table td
{
	border-color: #ABA;
	border-width: 1px;
	border-style: solid;
  background-color: #EFE;
}

body.square .center_point_table th {
  margin: 0;
  font-weight: bold;
  border: 1px solid #A18F83;
  background-color: #dcd3c2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: left;
}

body.square .center_point_table td.latlong {
  font-weight: bold;
}

.team_trap_table
{
	margin: 20px 0 0 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	float: left;
}

.transect_table {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
}

.table_actions {
  background-color: #f5f5f5;
	margin: 0;
	padding: 10px;
	border-bottom: none;
	border-top: solid 1px #ccc;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	display: block;
	clear: both;
}

#csv_export_form, #print_export_form, #new_start_expedition_form {
  display: inline;
}

body.square div#transect_table_overflow_div {
    height: 250px;
    overflow: auto;
    border: none;
    min-width: 345px;
}


body.square div#transect_table_overflow_div::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
}

body.square div#transect_table_overflow_div::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}


body.square .distances_table_header,
body.square .distances_table {
    border-collapse: collapse;
}

body.square .distances_table_header td,
body.square .distances_table td {
    font-size: 1.5em;
    width: 90px;
    margin: 0;
    padding: 2px;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

body.square .distances_table_header td
{
	vertical-align: top;
	font-weight: bold;
    background-color: #f5f5f5;
}

body.square .distances_table_header .suggested_td,
body.square .distances_table .suggested_td {
  padding-right:35px;
}

body.square .distances_table td.transect_td {
    vertical-align: top;
}

body.square .distances_table { background-color: #EFE; }
body.square .distances_table tr.first_color { background-color: #eeffee; }
body.square .distances_table tr.second_color { background-color: #ffffcc; }

/*let's try to get the table headings to match:

body.square .distances_table_header td
{
	background-color: #EFE;
	border-color: #ABA;
	border-width: 1px;
	border-style: solid;
	border-spacing: 0px;
	width: 70px;
}

body.square #transect_table_overflow_div .center_point_table { display: none; }

body.square table.right_hand_table td
{
	margin: 5px;
	padding: 5px;
}
*/

body.square .hide_this { display: none; }
body.square .form_tr { display: none; }
body.square .top_px_number { display: none; }

body.square .grid_square_print_page_div #hide_square_coords_table_button { display: none; }
body.square .grid_square_print_page_div #show_square_coords_table_button { display: none; }

.grid_square_print_page_div {
    margin: 20px 0 0 0;
    padding: 0;
    border: 0;
}

.grid_square_print_page_div #hide_square_coords_table_button{
    display:none;
}

.grid_square_print_page_div #show_square_coords_table_button{
    display:none;
}

.grid_square_print_page_div .selected_sq_info
{
	display: block;
	width: 360px;
	margin: 0 0 0 0;
	padding: 0;
	border: 1px solid #A18F83;
	background-color: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float: left; 
}

.grid_square_print_page_div .selected_sq_info h3
{
	border-bottom: 1px solid #A18F83;
}

.grid_square_print_page_div .coord_display
{
	margin: 0 0 0 0;
}

.grid_square_print_page_div .block_coordbox
{
	border: 0;
	border-right: 1px solid #669966 !important;
}

.grid_square_print_page_div .terrain_info
{
	border: 0;
}

.grid_square_print_page_div .team_trap_table {
    margin: 0 20px 0 0;
}

body.square .coord_display
{
	margin: 0;
}
body.square .terrain_info,
body.square .block_coordbox
{
	border: 0;
}

/* Definitions for Habitat Map */

.habitatmap #left
{
	display: block;
	width: 33%;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
}

.habitatmap #map_canvas
{
	position: relative;
	display: block;
	width: 66%;
	min-width: 500px;
	height: 550px;
	float: left;
	margin: 10px 0 0 0;
	padding: 0;
	border: 1px solid #999;
}

.habitatmap .ui-widget {
    font-size: 11px !important;
    margin-bottom: 10px;
}

.habitatmap .ui-widget h3 a {
    font-size: 11px !important;
    font-weight: bold;
}

.habitatmap .ui-accordion {
    width: auto !important;
    margin-right: 20px !important;
}

.habitatmap .ui-accordion-content {
    max-height: 150px;
    /* min-height: 100px; */
    overflow: hidden;
    padding: 0px !important;
}

.habitatmap .ui-accordion-content-scroll {
    max-height: 140px;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    overflow: auto;
    padding: 0px 10px !important;
}

.habitatmap .ui-accordion-content div {
	padding-bottom: 3px;
	padding-top: 3px;
}

.habitatmap .ui-accordion-content div.facetItem div.checkbox,
.habitatmap .ui-accordion-content div.facetItem div.legend,
.habitatmap .ui-accordion-content div.facetItem div.title {
    float: left;
	padding: 0px 2px 0px 0px;
}

.habitatmap .ui-accordion-content-scroll label {
    font-weight: normal !important;
    color: #000 !important;
}

.habitatmap .gridselector
{
	margin: 0 0 10px 0;
	padding: 0;
	border: 0;
    font-size: 11px;
}

.habitatmap .reset_map_button {
  float: right;
  margin: 0 35px 0 0;
}

.habitatmap div.gridselector div.checkbox,
.habitatmap div.gridselector div.legend,
.habitatmap div.gridselector div.title {
   float: left;
}

.habitatmap div.gridselector #show_map_grid,
.habitatmap div.gridselector #square_coordinates
{
 float: left;
 display: block; 
 clear:both;
}

.habitatmap div.gridselector #reset_map_button  {
  float: right;
  padding: 0 22px 0 0;
}


.habitatmap div.gridselector #show_map_grid div.title {
  padding: 3px 0 0 4px;
}

.habitatmap .ui-accordion-content div.facetItem div.title {
	padding: 3px 0px 0px 0px;
}

.habitatmap .ui-state-focus .ui-icon {
    background-image: url('../../images/mammals/carets.png') !important;
}

.habitatmap .ui-icon-triangle-1-s {
    background-position: -16px 0px !important;
}

.habitatmap .ui-icon-triangle-1-e {
    background-position: 0px 0px !important;
}

.habitatmap .ui-icon-triangle-1-l {
    background-image: url('../../images/mammals/carets.png') !important;
    background-position: -32px 0px !important;
}

.habitatmap #id_from_date, #id_until_date {
    width: 100px;
    margin: 3px;
}

.habitatmap #date_accordion {
    height: 35px !important;
}

/* Expeditions & Sightings Pages*/
.green_table td,
#distances_table td
   {
   border-color: #ccc;
   border-width: 1px;
   background-color: transparent;
   border-style: solid;
   margin:  1px;
   padding: 4px;
   }
 
.green_table td a,
#distances_table td a,
div.container_div div.slide a,
div.trap_location_container a {
  color: #0071bc;
  font-weight: bold;
  text-decoration: none;
} 

.green_table td a:hover,
#distances_table td a:hover,
div.container_div div.slide a:hover,
div.trap_location_container a:hover  {
  color: #54A6DD;
}

    .hide_this {
            display:none;
        }
        
        div#top_part_of_form div.slide{
            min-height: 300px !important;
        }
        div#bottom_part_of_form div.slide{
            min-height: 120px !important;
        }
        
        input.short_input_field {
            width: 50px;
        }
        
        
        div.container_div h4
        {
            margin:  10px;
            font-weight: bold;
        }

        
        div.container_div
        {
            overflow: hidden !important;
        }
        div.container_div div.slide
        {
            float: left;    
            border:2px solid !important;
            border-color: #ccc !important;
            border-width: 1px !important;
            margin:  2px;
            padding: 2px;
        }
        div.trap_location_container {
            float:left;
            border:2px solid !important;
            border-color: #ccc !important;
            border-width: 1px !important;
            margin:  10px 10px 10px 10px;
            padding:  10px 10px 10px 10px;
        
        }
        
        .coord_input {
            width : 60px;
        
        }
        .team_form_map {
            width:120px;
            height:120px;
        }    

.pagination {
  margin: 10px 0;
  font-size: .85em;
}


.funder_logo 
{
	display: block;
	margin: 50px 0 0 0;
	font-size: 12px;
}

.funder_logo span
{
	display: block;
	float: left;
	padding: 5px 10px 5px 0;
	margin: 0;
}
  
