#team_form {
  margin: 20px;
  font-size: 14px;
}


.title {
  width: 993px;
  font-size: 16px;
  letter-spacing: .035em;
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  float: left;
}

.title td{
  border-bottom: none;
}

.title .title_static {
   clear: both;
   display: block;
   text-align: center;
   font-weight: bold;
   text-transform: uppercase;
}
  
.title .title_day {
   clear: both;
   display: block;
   text-align: center;
   text-transform: uppercase;
}

.team_form_top_table {
  width: 993px;
  border: solid 1px #ccc;
  padding: 20px;
  float: left;
}

.team_form_table_left {
  width: 50%;
  float: left;
}

.team_form_table_right {
  width: 50%;
  float: left;
}

.team_form_table_left div,
.team_form_table_right div {
  height: 20px;
}


.team_form_top_table em {
  font-size: 10px;
  font-style: normal;
}

table td {
  padding: 3px 0;
  margin: 3px 0;
}

#trap_container {
  width: 100%;
  display: block;
  float: left;
}

.trap_rectangle {
  float: left;
  display: block;
  width: 450px;
  border: solid 1px #ccc;
  padding: 20px;
  margin: 20px 50px 0 0;
}

.team_form_container {
  margin: -45px 0 0 0;
}

.mammals_form {
  float: left;
  display: block;
  height: 35px;
}

.team_form_distance {
  float: left;
}

.team_form_mini_map {
  float: right;
  height: 120px;
  width: 120px;
}

.team_form_was_a_trap_set_here,
.team_form_trap_type_div,
.team_form_bait_type_div,
.team_form_trap_success,
.team_form_trap_animals,
.team_form_habitat_type_div,
.team_form_understory_div,
.team_form_lat_lon_coord.longitude.actual {
  clear: both;
}

h3.trap_label {
  position: relative;
  top: -46px;
  background-color: #fff;
  padding: 3px;
  border: solid 1px #ccc;
  width: 100px;
  text-align: center;
}


.team_form_map {
  width: 120px;
  height: 120px;
}

.save_buttons {
  clear: both;
}

