body { font-family: "lucida grande"; }

div#instructions
{
	display: none;
}

.button
{
	display: none;
}

#equation
{
	display: none;
}


#tab-bar
{
	display: none;
}

img.slider
{
	display: none;
}

#equation
{
	display: none;
}

#tab-bar
{
	display: none;
}

#left
{
}

div#right
{
	height: 500px;
	width: 520px;
}

#forestgraph
{
	display: none;
}

/* */

div#container { margin: 0px 30px 0px 30px; }


canvas
{
	border: 1px gray solid;
	/*we CANNOT set the width here
     it is set in respiration/media/js/graph.js
     with Bluff.Line command
     */
}

.bluff-wrapper { margin-left: 40px; }

#y-grid-leaf
{
	background-image: url(../images/ygridleaf.gif);
	width: 29px;
	height: 192px;
	position: absolute;
	left: 20px;
	top: 100px;
}

form#leaf-form, form#leaf-form table { font-size: 11px; }
form#leaf-form fieldset { margin-bottom: 10px; }

fieldset
{
	background-color: #ccc;
	background-image: url(../images/background_panel.jpg);
	background-repeat: repeat-x;
	border: 1px gray solid;
}

legend
{
	padding: 6px;
	border: 1px gray solid;
	background-image: url(../images/background_panel.jpg);
	background-repeat: repeat-x;
}

#scenariocontainer, .speciescontainer { border-top: 1px solid gray; }

#scenarioheader, .speciesheader,.advancedoptionsheader
{
	padding: 10px;
	font-weight: bold;
	background-color: #bbb;
}

.speciesheader
{
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

.advancedoptionsheader { border-bottom: 1px solid gray; }

.advancedoptionscontainer
{
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
}

#scenarioheader
{
	background-color: #666;
	color: white;
}

#scenariobox
{
	border: 1px solid gray;
	padding: 10px;
}

.scenariotitle
{
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	background-color: #999;
}

.scenariotemp
{
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	padding: 6px 10px 6px 10px;
	background-color: #bbb;
}

.speciestemp
{
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	background-color: #bbb;
}

.speciesbox { border-top: 1px solid gray; }

.speciescontainer
{
	overflow: auto;
}

.species
{
	padding: 10px 10px 10px 0px;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
}

.species, .species td { font-size: 11px; }

.species-name
{
	display: inline;
	font-size: 11px;
	width: 140px;
}


#temp-slider
{
	width: 500px;
	position: relative;
	/*PUT BACKGROUND IMAGE FOR SLIDER HERE */
	background-image: url(../images/background_slider.gif);
	background-repeat: repeat-x;
	background-position: center center;
	margin-top: 10px;
	background-color: #eee;
	height: 26px;
}

#temp-slider .range
{
	position: absolute;
	top: 8px;
	background-color: red;
	height: 10px;
	margin-left: 12px;
	/*width of left cursor*/
}

input#plotGraph.needsupdate
{
	background-color: #ffe;
	border-color: red;
}

#temp_label
{
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
	font-size: 10px;
}

#temp_manual_controls
{
	display: inline;
	font-weight: normal;
}

#temperature_adjustment
{
	padding: 0px;
	margin-left: 20px;
	width: 500px;
}

#graph-cursor
{
	position: absolute;
	width: 1px;
	height: 270px;
	/*canvas's height + border - label margin*/
	top: 70px;
	/*#right's padding + label margin*/
	left: 0px;
	background-color: #f00;
	z-index: 9000;
	display: none;
	/*initial state*/
	margin-left: 50px;
	/*.bluff-wrapper margin-left + #rightfield padding-left*/
}

#graph-cursor #unfreeze
{
	display: none;
	/*default*/
	/*for Marc to change*/
	height: 9px;
	width: 9px;
	position: absolute;
	top: 0px;
	left: -5px;
	border: 1px solid red;
	background-color: #CCC;
	background-image: url(../images/cursorswitch.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

#leftslider { }
#rightslider { margin-left: -5px; }

/*The mouse updated values*/
input[disabled='disabled']
{
	background-color: #fff;
	border: 1px solid #f00;
}

.colorswatch
{
	height: 20px;
	width: 20px;
	background-color: #000;
	display: inline;
	margin-left: 4px;
}

a.tooltip
{
	text-decoration: none;
	color: #000;
}
