div#right
{
	right: 20px;
}

div#left
{
	padding-right: 570px;
}

#y-grid-leaf, #y-grid-canopy
{
	left: 5px;
}

#temp-slider
{
	margin-right: 15px;
}

#temp-slider .range 
{ 
	background-position: 0px 3px; 
}

fieldset
{
	padding: 5px;
}
