div#left
{
    width: 395px;
}
    
div#right
{
	right: -20px;
}

#y-grid-leaf, #y-grid-canopy
{
	left: 5px;
}

#temp-slider
{
	margin-right: 15px;
}

#temp-slider .range 
{ 
	background-position: 0px 3px; 
}

fieldset
{
	padding: 5px;
}

div#equation
{
	top: 260px;
}
