{% extends "portal/base_portal.html" %}
{% load portal %}
{% load static %}

{% block title %}{{ object }}{% endblock %}

{% block css %}
    <link href="{% static 'js/portal/jcarousel/skins/blackrock-detail/skin.css' %}" media="screen" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block js %}
    {{block.super}}
    <script src="{% static 'js/portal/object_detail.js' %}" type="text/javascript"></script>
{% endblock %}

{% block container %}

{% with object.instance as current_object %}
{% with object.instance|klass as asset_klass %}

<div id="details-wrapper">
  <table id="details-table">
    <tr>
      <td id="left">
        <div id="asset-details">
          <div class="pagetitle">
            <img src="{% static 'images/portal/' %}nonmapicon_{{asset_klass|lower}}.png" alt="record type icon" />
            <h3>{{current_object|display_name}}</h3>
          </div>
          {% with current_object|gallery as images %}
            {% if images %}
              <center style="background-color: #DCDCDC;">
              <div class="jcarousel-skin-blackrock-detail">
              <div class="jcarousel-container jcarousel-container-horizontal">
              <div class="jcarousel-clip jcarousel-clip-horizontal">
                <ul id="scrolling-photo-gallery" class="jcarousel-list jcarousel-list-horizontal">
                    {% for image in images %}
                        <li class="jcarousel-item jcarousel-item-horizontal">
                            <input type="hidden" class="selector" value="jcarousel-selector-{{forloop.counter}}"></input>
                            <input type="hidden" class="caption" value="jcarousel-caption-{{forloop.counter}}"></input>
                            <center>
                            {% if image.digital_format.is_image %}
                                <img class="object_detail_image" src="{{image.file.url}}" alt="jCarousel image {{forloop.counter}}" />
                            {% else %}{% if image.digital_format.is_video %}
                                {% if image.markup %}
                                    {{ image.markup|safe }}
                                {% else %}
                                    <a
                                        href="{{image.url}}"
                                        style="display:block;width:480px;height:272px;"
                                        id="player">
                                    </a>
                                    
                                    <script>
                                        // install Flowplayer inside the previous anchor tag
                                        flowplayer("player", "https://releases.flowplayer.org/swf/flowplayer-3.2.4.swf", {
                                            playlist: [
                                                       {% if image.file %}
                                                          {url: '{{image.file.url}}', scaling: 'orig'},
                                                       {% endif %}
                            
                                                       // our MP3 does not start automatically
                                                       {url: '{{image.url}}', autoPlay: false, autoBuffering: true}
                            
                                                   ]
                                        });
                                    </script>
                                {% endif %}
                            {% endif %}{% endif %}
                            
                            
                            </center>
                        </li>
                    {% endfor %}
                </ul>
            </div></div></div>
            
                        {% for image in images %}
                <div id="jcarousel-caption-{{forloop.counter}}" class="jcarousel-caption">
                    <h4>{{image.name}}</h4>
                    <p>{{image.description}}</p>
                </div>
            {% endfor %}
            
            {% if images.1 %}
            <div class="xy_navigation">
                {% for image in current_object|gallery %}
                    <a id="jcarousel-selector-{{forloop.counter}}" class="jcarousel-selector">
                    <input type="hidden" class="idx" value="{{forloop.counter}}"/>&#8226;</a>
                {% endfor %}
            </div>
            {% endif %}
            

            </center>
        {% endif %}{% endwith %}
        
                
        <p><span class="object_detail_label">Record Type: </span>
          <a href="/portal/search/?q=&amp;asset_type={{current_object|klass}}">{{current_object|klass_display}}</a></p>        
            
        {% if asset_klass == "DataSet" %}
            {% if current_object.description %}
                <p><span class="object_detail_label">Description:</span>
                {{ current_object.description|safe }}</p>
            {% endif %}
       
            {% if current_object.collection_start_date %}
                <p><span class="object_detail_label">Collection Start Date:</span>
                {{ current_object.collection_start_date|date }}</p>
            {% endif %}

            {% if current_object.collection_end_date %}
                <p><span class="object_detail_label">Collection End Date:</span>
                {{ current_object.collection_end_date|date }}</p>
            {% endif %}
        
            {% if current_object.url.all.count %}
                <p><span class="object_detail_label">Link{%if current_object.url.all.count > 0%}s{%endif%}:</span></p>
                <ul>
                {% for u in current_object.url.all %}
                    <li><a href="{{ u.name }}">{% if u.display_name %}{{u.display_name}}{% else %}{{u.document}}{% endif %}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        
            {% if current_object.person.all.count %}
                <p><span class="object_detail_label">People:</span>
                {% for p in current_object.person.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{p|detail_url}}">{{p|display_name}}</a>{% endfor %}</p>
            {% endif %}
            
            {% if current_object.station %}
                <p><span class="object_detail_label">Station:</span>
                <a href="{{current_object.station|detail_url}}">{{ current_object.station|display_name }}</a>
                </p>
            {% endif %}
        {% else %}{% if asset_klass == "LearningActivity" %}
             
            {% if current_object.author.all.count %}
                <p><span class="object_detail_label">Authors:</span>
                {% for x in current_object.author.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{x|detail_url}}">{{x|display_name}}</a>{% endfor %}</p>
            {% endif %}
      
            {% if current_object.description %}
                <p><span class="object_detail_label">Description:</span>
                {{ current_object.description|safe }}</p>
            {% endif %}
     
            {% if current_object.url.all.count %}
                <p><span class="object_detail_label">Link{%if current_object.url.all.count > 0%}s{%endif%}:</span>{%if current_object.url.all.count > 1%}<br />{%endif%}
                {% for u in current_object.url.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{u.name}}">{{ u|display_name}}</a>{% endfor %}</p>
            {% endif %}
            {% if current_object.digital_format.all.count %}
                <p><span class="object_detail_label">Format:</span> 
                {% for f in current_object.digital_format.all %}{% if forloop.counter > 1 %}, {% endif %}{{ f.name }}{% endfor %}</p>
            {% endif %}
        {% else %}{% if asset_klass == "Person" %}
            {% if current_object.professional_title %}
                <p><span class="object_detail_label">Title:</span> 
                {{ current_object.professional_title }}</p>
            {% endif %}
            {% if current_object.institution.all.count %}
                <p><span class="object_detail_label">Institution:</span>
                {% for i in current_object.institution.all %}{% if forloop.counter > 1 %}, {% endif %}{{ i.name }}{% endfor %}</p>
            {% endif %}
            {% if current_object.description %}
                <p><span class="object_detail_label">Biography:</span>
                {{ current_object.description|safe }}</p>
            {% endif %}
            {% if current_object.url.all.count %}
                <p><span class="object_detail_label">Link{%if current_object.url.all.count > 0%}s{%endif%}:</span>{%if current_object.url.all.count > 1%}<br />{%endif%}
                {% for u in current_object.url.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{u.name}}">{{ u|display_name}}</a>{% endfor %}</p>
            {% endif %}
            {% if current_object.person_type.all.count %}
                <p><span class="object_detail_label">Roles:</span>
                {% for t in current_object.person_type.all %}{% if forloop.counter > 1 %}, {% endif %}{{ t.name }}{% endfor %}</p>
            {% endif %}
        {% else %}{% if asset_klass == "ResearchProject" %}
            {% if current_object.start_date %}
                <p><span class="object_detail_label">Project Start Date:</span>
                {{ current_object.start_date|date }}</p>
            {% endif %} 
            {% if current_object.end_date %}
                <p><span class="object_detail_label">Project End Date:</span>
                {{ current_object.end_date|date }}</p>
            {% endif %}
            {% if current_object.person.count %} 
                <p><span class="object_detail_label">Principal Investigator{% if current_object.person.count > 1 %}s{% endif %}:</span>
                {% for p in current_object.person.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{p|detail_url}}">{{ p|display_name }}</a>{% endfor %}</p>
            {% endif %}
            {% if current_object.description %}
                <p><span class="object_detail_label">Description:</span> 
                {{ current_object.description|safe }}</p>
            {% endif %}
       {% else %}{% if asset_klass == "Station" %}
            {% if current_object.activation_date %}
                <p><span class="object_detail_label">Activation Date:</span>
                {{ current_object.activation_date|date }}</p>
            {% endif %}
            
            {% if current_object.datasets %}
                <p><span class="object_detail_label">Archived Data:</span>
                {% for d in current_object.datasets %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{d|detail_url}}">{{ d|display_name }}</a>{% endfor %}</p>
            {% endif %}
             
            {% if current_object.description %}
                <p><span class="object_detail_label">Description:</span>
                {{ current_object.description|safe }}</p>
            {% endif %}
            
        {% else %}{% if asset_klass == "ForestStory" %}
            {% if current_object.person.count %} 
                <p><span class="object_detail_label">People:</span>
                {% for p in current_object.person.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="{{p|detail_url}}">{{ p|display_name }}</a>{% endfor %}
                </p>
            {% endif %}
            
            {% if current_object.description %}
                <p><span class="object_detail_label">Description:</span>
                {{ current_object.description|safe }}<br />
                </p>
            {% endif %}
        {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
       
        {% if current_object.facet.all.count %}
            <p><span class="object_detail_label">Keyword:</span>
            {% for f in current_object.facet.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="/portal/search/?q=&amp;{{f.solr_name}}={{f.name}}">{{ f.display_name }}</a>{% endfor %}
            </p>
        {% endif %}
   </div>
</td>
<td id="center"> 
    {% if current_object.location.latitude or current_object.latitude %}
       <div id="map_canvas"></div>
    {% else %}{% if asset_klass == "ForestStory" %}
       <div id="map_canvas"></div>
    {% endif %}{% endif %}
    
    {% with object|related as all_related %}
    {% if all_related %}
        <div id="related-items">
        <h3>Related Records</h3>
        {% for x in all_related %}
            {% with x as current_object %}	
                {% if asset_klass == "ForestStory" %}
                    {% with forloop.counter as icon_display_order %}
                    {% with 1 as includehighlight %}
                    {% with "geocode" as geocode_class %}
                       {% include "portal/asset_location.html" %}
                       {% include "portal/asset_singleresult.html" %}
                       
                	{% endwith %}{% endwith %}{% endwith %}
                {% else %}
                    {% include "portal/asset_singleresult.html" %}
                {% endif %}
            {% endwith %}
        {% endfor %}
       </div>
    {% endif %}
    {% endwith %}
</td><!-- end related section --></tr></table>

{% with "geocode_detail" as geocode_class %}
{% include "portal/asset_location.html" %}
{% endwith %}
<p class="clear"></p>
</div> <!-- end detail-page -->
    
{% endwith %}{% endwith %}
{% endblock %}
