{% extends "mammals/base_mammals.html" %}
{% load smartif %}
{%block mammals_nav_map%}class="active"{%endblock%}
{% block js %}
    <script type="text/javascript" src="/mammals/media/js/general_map.js"></script>
    {%block extra_map_js%}{%endblock%}
    {{ block.super }}
{% endblock %}
{% block css %}
    {{ block.super }}
{% endblock %}
{% block container %}
<div id ="map_data" style="display:none">{{map_data|safe}}</div>    
<div height="500px">
    <p>{% block map_help_text%}{%endblock%}</p>
    <div id="map_canvas" style="width: 600px; height: 450px"></div>
</div>
<br clear="all" />
<div id = "heatmap_image" style="display:none">{% block heatmap_image%}{%endblock%}</div>
{% endblock %}
