{% extends 'base.html' %}

{% block css %}
<style type='text/css'>
  @import "/mammals/media/css/style.css";
</style> 
{% endblock %}

{% block js %}
<script  type="text/javascript" src="/site_media/js/jquery-ui-1.8.11.custom/js/jquery-1.4.4.min.js"></script>
<script  type="text/javascript" src="/site_media/js/jquery-ui-1.8.11.custom/js/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
<script type="text/javascript" src="/site_media/js/mochikit/MochiKit/Signal.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/mammals/media/js/maps.js"></script>
{% endblock %}

{% block masthead %}
<a href="/mammals/" title="Return to 'Mammals and Habitats' home">Mammals and Habitats</a>
{% endblock %}

{% block nav %}
    <ul>
        <li class="default {% block status_home %}{% endblock %}"><a href="/mammals/">Home</a></li>
        <li id="gridcategory">GRID:</li>
        <li id="gridresearch" class="default {% block status_research %}{% endblock %}"><a href="/mammals/grid/">Research</a></li>
        <li id="gridplay" class="default {% block status_playground %}{% endblock %}"><a href="/mammals/sandbox/grid/">Playground</a></li>
        <li class="default {% block status_teaching %}{% endblock %}"><a href="/mammals/teaching/">Teaching Resources</a></li>
        <li class="default {% block status_help %}{% endblock %}"><a href="/mammals/help/">Help</a></li>
    </ul>
{% endblock %}

{% block content %}
<div id="container">
	{% block container %}
	{% endblock %}
</div><!-- id="container" -->
{% endblock %}


{% block footer %}
    <div id="footer">
        <ul id="standard-elements">
            <li><a href="mailto:ccnmtl-blackrock@columbia.edu">Contact</a></li>
        </ul>
    </div>
{% endblock %}
