<style media="screen" type="text/css">
    .highlighted {
        color : blue;
    }
    .distances_table td, .center_point_table td
    {
        border-color: #ABA;
        border-width: 1px;
        border-style: solid;
        padding: 4px;
    }
    .distances_table, .center_point_table {
        background-color: #EFE;
        margin:5px;
    }
    .distances_table tr.first_color {
        background-color: #EFE;
    }
    .distances_table tr.second_color {
        background-color: #FFE;
    }

    #transect_table_overflow_div .center_point_table {
        display:none;
    }
    
    #hide_printer_friendly_table, #show_printer_friendly_table
    {
        margin:5px;
        border-color: #ABA;
        border-width: 1px;
        border-style: solid;
        padding: 4px;
        background-color: #EFE;
        width: 200px;
        cursor: pointer;
    }
    
    table.right_hand_table td {
        margin: 5px;
        padding: 5px;
    }
    
    div#transect_table_overflow_div {
        margin:5px;
        height: 230px;
        overflow: auto;
        border-color: #9B9;
        border-width: 1px;
        border-style: solid;
    }
    .hide_this {
        display:none;
    }
    .form_tr {
        display: none;
    }
</style>
