<div id="terrain_level">
	<h4>Choose terrain<br />difficulty level:</h4>
	<select id="difficulty_menu_select" title="Pick a maximum access difficulty" onselect>
		<option class="difficulty_menu_option" value="1">Easiest level</option>
		<option class="difficulty_menu_option" value="2">Up to level 2</option>
		<option class="difficulty_menu_option" value="3">Up to level 3</option>
		<option class="difficulty_menu_option" value="4">Up to level 4</option>
		<option class="difficulty_menu_option" value="5" selected>All levels</option>
	</select>
</div><!-- id="terrain_level" -->

