{% extends "mammals/base_mammals.html" %}
{% load smartif %}
{% block title %}Grid Block{% endblock %}
{% block js %}
    <script type="text/javascript" src="/mammals/media/js/grid_and_block.js"></script>
    <script type="text/javascript" src="/mammals/media/js/block.js"></script>
    {{ block.super }}
{% endblock %}


{% block css %}
    <style media="screen" type="text/css">
        tr.highlighted, td.highlighted {
            color : blue;
        }
        #distances_table td
        {
            border-color: #ABA;
            border-width: 1px;
            border-style: solid;
            margin:  1px;
            padding: 4px;
            background-color: #EFE;
        }
        table.right_hand_table td {
            margin: 5px;
            padding: 5px;
        }
        .hide_this {
            display:none;
        }
    </style>

    {{ block.super }}
{% endblock %}

{% block container %}
<div id ="block_json" style="display:none">{{block_json}}</div>    
<div id ="transects_json" style="display:none">{{transects_json}}</div>

<h3 > Expedition # {{expedition.id }}</h3>

<!-- todo: create edit expedition controller, which then redirects to all expeditions -->
<form action="/mammals/all_expeditions/" >
<div >  to Square {{expedition.grid_square.label_2 }} ( {{expedition.grid_square}}, center {{expedition.grid_square.center}})  on {{expedition.start_date_of_expedition|date:"D d M Y" }}</div>
        <tr>
            <td > 
                Grade level: 
            </td>
            <td >
                <select>
                    {% for grade in grades %}
                        <option value = "{{grade.id}}">{{grade.label}}</option>
                    {%endfor %}
                </select>
            </td>
        </tr>
        {%comment %}
     <table>
            <tr>
                <td  > 
                    Understory:
                </td> 
                <td  > 
                   Temperature:
                </td> 
                <td  > 
                   Moon Phase
                </td> 
                <td  > 
                   Cloud Cover
                </td>
            </tr>
            <tr>
                <td  > 
                    <input value ="{{expedition.number_of_students}}"></input>
                </td> 
                <td  > 
                    <input name = "school_contact_1_name" value ="{{expedition.school_contact_1_name}}"></input></td> 
                <td  > 
                    <input name = "school_contact_1_phone"  value ="{{expedition.school_contact_1_phone}}"></input>
                </td> 
                <td  > 
                    <input  name = "school_contact_1_email" value ="{{expedition.school_contact_1_email}}"></input>
                </td>

            </tr>
            <tr>
                <td  > 
                   Light
                </td>
                <td  > 
                   Precipitation
                </td>
                <td  > 
                   Snow amount
                </td>
            
            </tr>
            <tr>
                <td  > 
                    <input value ="{{expedition.number_of_students}}"></input>
                </td> 
                <td  > 
                    <input name = "school_contact_1_name" value ="{{expedition.school_contact_1_name}}"></input></td> 
                <td  > 
                    <input name = "school_contact_1_phone"  value ="{{expedition.school_contact_1_phone}}"></input>
                </td> 
            </tr>
    </table>
    
        {%endcomment %}
    <table>
        <tr>
            <td  > 
                Number of students:
            </td> 
            <td  > 
                School contact (name):
            <td > 
                School contact (phone):
            </td> 
            <td  > 
                School contact (email): 
            </td>
        </tr>
        <tr>
            <td  > 
                <input value ="{{expedition.number_of_students}}"></input>
            </td> 
            <td  > 
                <input name = "school_contact_1_name" value ="{{expedition.school_contact_1_name}}"></input></td> 
            <td  > 
                <input name = "school_contact_1_phone"  value ="{{expedition.school_contact_1_phone}}"></input>
            </td> 
            <td  > 
                <input  name = "school_contact_1_email" value ="{{expedition.school_contact_1_email}}"></input>
            </td>
        </tr>
    </table>
    
    
        <table id ="distances_table">
        {%for point in expedition.traplocation_set.all %}
            {%ifchanged point.team_letter        %}
                <tr>
                    <td > 
                        <a href = "/mammals/team_form/{{expedition.id }}/{{point.team_letter }}/" >Team {{point.team_letter }}'s locations</a>
                    </td>
                </tr>     
            {%endifchanged %} 
        {%endfor%}
    </table>
    
{%comment %}        
        <table id ="distances_table">
            <tr>
                <td colspan = "1"> 
                    ALL LOCATIONS
                </td>
                <td > 
                    Trap<br/>placed<br/>here?
                </td>
                <td   > 
                    Bait: 
                </td>
                <td   > 
                    Bait left: 
                </td>
                <td   > 
                    Catch:
                </td>
                <td > 
                    Habitat:
                </td>
            </tr>    
        <tr>
            <td colspan = "1"> 
                ALL LOCATIONS
            </td>
            <td > <select><option value = "yes">Yes</option><option value = "no">No</option></select>
            </td>
            <td > 
                <select>
                {% for b in baits %}
                    <option value = "{{b.id}}">{{b}}</option>
                {%endfor %}
                </select>
            </td>
            <td > <select><option value = "yes">Yes</option><option value = "no">No</option></select>
            </td>
            <td > 
                <select>
                    <option value = "none">Nothing caught</option>
                {% for species in species %}
                    <option value = "{{species.id}}">{{species}}</option>
                {%endfor %}
                </select>
            </td>
            <td > 
                <select>
                {% for habitat in habitats %}
                    <option value = "{{habitat.id}}">{{habitat}}</option>
                {%endfor %}
                </select>
            </td>
        </tr>      
        <tr>
                <td   > 
                    Trap
                </td>
                <td   > 
                    Trap<br/>placed<br/>here?
                </td>
                <td   > 
                    Bait: 
                </td>
                <td   > 
                    Bait left: 
                </td>
                <td   > 
                    Catch:
                </td>
                <td > 
                    Habitat:
                </td>
            </tr>    
        
        {%for point in expedition.traplocation_set.all     %}
        <tr>
            <td > 
                {{point.team_letter }}{{point.team_number }}  ( 12m @ {{point.transect_bearing|floatformat:0 }}&deg;)<br/>
                {{point }}
            </td>
        
            <td > 
                <select><option value = "yes">Yes</option><option value = "no">No</option></select>
            </td>
            <td > 
                <select>
                {% for b in baits %}
                    <option value = "{{b.id}}">{{b}}</option>
                {%endfor %}
                </select>
            </td>
            <td > <select><option value = "yes">Yes</option><option value = "no">No</option></select>
            </td>
            <td > 
                <select>
                {% for species in species %}
                    <option value = "{{species.id}}">{{species}}</option>
                {%endfor %}
                </select>
            </td>
            <td > 
                <select>
                {% for habitat in habitats %}
                    <option value = "{{habitat.id}}">{{habitat}}</option>
                {%endfor %}
                </select>
            </td>
        </tr>      
        {%endfor%}

    </table>
{%endcomment %}
<button>Save this information </button>
</form>
</div>
{% endblock %}

