{% extends "mammals/base_mammals.html" %}
{% load smartif %}
{% block title %}Grid Block{% endblock %}
{% block js %}
    <script type="text/javascript" src="/mammals/media/js/grid_and_block.js"></script>
    <script type="text/javascript" src="/mammals/media/js/block.js"></script>
    {{ block.super }}
{% endblock %}


{% block css %}
    <style media="screen" type="text/css">
        tr.highlighted, td.highlighted {
            color : blue;
        }
        #distances_table td
        {
            border-color: #ABA;
            border-width: 1px;
            border-style: solid;
            margin:  1px;
            padding: 4px;
            background-color: #EFE;
        }
        table.right_hand_table td {
            margin: 5px;
            padding: 5px;
        }
        .hide_this {
            display:none;
        }
    </style>

    {{ block.super }}
{% endblock %}

{% block container %}
<div id ="block_json" style="display:none">{{block_json}}</div>    
<div id ="transects_json" style="display:none">{{transects_json}}</div>

<h3 > Expedition # {{expedition.id }} to Square {{expedition.grid_square.battleship_coords }}, {{expedition.start_date_of_expedition|date:"d M Y" }}</h3>

<form action="/mammals/edit_expedition/{{expedition.id}}/" method="post" id="edit_expedition_form" >
   <table id ="distances_table">
        <tr>
            <td > 
                Grade level: 
            </td>
            <td >
                <select name="grade" id = "grade">
                    {% for grade in grades %}
                        <option value = "{{grade.id}}" {%ifequal expedition.grade_level_id grade.id %} selected{%endifequal%}>{{grade.label}}</option>
                    {%endfor %}
                </select>
            </td>
        </tr>
        
        <tr>
            <td  > 
                School:
            </td> 
            <td  >             
                <select name="school" id = "school">
                        <option value = "None">None selected</option>
                        {% for school in schools %}
                            <option value = "{{school.id}}" {%ifequal expedition.school_id school.id %} selected{%endifequal%}>{{school.name}}</option>
                        {%endfor %}
                </select>
            </td> 
        </tr>
        <tr>
            <td  > 
                Number of students:
            </td> 
            <td  > 
                <input name="number_of_students" value ="{{expedition.number_of_students}}"></input>
            </td> 
        </tr>
        {%comment %}
        <tr>
            <td  > 
                Understory:
            </td> 
            <td > 
                <input type="text" id = "understory" name= "understory" value ="{% if expedition.understory %}{{expedition.understory}}{%endif%}"> </input>
            </td> 
        </tr>
        {%endcomment %}
        <tr>
            <td  > 
               Temperature:
            </td> 
            <td  > 
                <select id="overnight_temperature" name="overnight_temperature">
                    {% for temp in overnight_temperatures %}
                        <option value = "{{temp.id}}" {%ifequal expedition.overnight_temperature_id temp.id %} selected{%endifequal%}>{{temp}}</option>
                    {%endfor %}
                </select> &deg; C
            </td> 
        </tr>
        <tr>
             <td  > 
               Moon Phase:
            </td> 

            <td  > 
                <select id = "moon_phase" name = "moon_phase">
                    {% for moon_phase in moon_phases %}
                        <option value = "{{moon_phase.id}}" {%ifequal expedition.moon_phase_id moon_phase.id %} selected{%endifequal%}>{{moon_phase}}</option>
                    {%endfor %}
                </select>
            </td> 
        </tr>
        <tr>

            <td  > 
               Cloud Cover:
            </td>
            <td  > 
                <select  id = "cloud_cover" name = "cloud_cover">
                    {% for cloud_cover in cloud_covers %}
                        <option value = "{{cloud_cover.id}}" {%ifequal expedition.cloud_cover.id  cloud_cover.id%} selected{%endifequal%}>{{cloud_cover}}</option>
                    {%endfor %}
                </select>
            </td>
        </tr>
        {%comment %}
        <tr>
            <td  > 
               Light:
            </td>
            <td  > 
                <select  id = "illumination" name = "illumination">
                {% for light in illuminations %}
                    <option value = "{{light.id}}" {%ifequal expedition.illumination_id light.id %} selected{%endifequal%}>{{light}}</option>
                {%endfor %}
                </select>
            </td> 
        </tr>
        {%endcomment %}
        <tr>
            <td  > 
               Precipitation:
            </td>
            <td  > 
                <select  id = "overnight_precipitation" name = "overnight_precipitation">
                {% for pr in overnight_precipitations %}
                    <option value = "{{pr.id}}" {%ifequal expedition.overnight_precipitation_id pr.id %} selected{%endifequal%}>{{pr}}</option>
                {%endfor %}
                </select>
            </td> 
        </tr>
        <tr>
            <td  > 
               Type of precipitation:
            </td>
            <td  > 
                <select  id = "overnight_precipitation_type" name = "overnight_precipitation_type">
                {% for prt in overnight_precipitation_types %}
                    <option value = "{{prt.id}}" {%ifequal expedition.overnight_precipitation_type_id prt.id %} selected{%endifequal%}>{{prt}}</option>
                {%endfor %}
                </select>
            </td> 
        </tr>
        
        
        
        
    
    
        {% if expedition.how_many_mammals_caught %}
            <tr>
                <td   > 
                    {{expedition.how_many_mammals_caught }} animal{{expedition.how_many_mammals_caught|pluralize }} caught
                </td>
                <td>
                    <a href ="/mammals/expedition/{{expedition.id}}/animals/">Animal details</a>
                </td>
            </tr>     
        {%endif%}
        
            
        {%for point in expedition.trap_locations_ordered_by_team %}
            {%ifchanged point.team_letter %}
                <tr>
                    <td  colspan = "2"> 
                        <a href = "/mammals/team_form/{{expedition.id }}/{{point.team_letter }}/" >Locations for team {{point.team_letter }}</a>
                    </td>
                </tr>     
            {%endifchanged %} 
        {%endfor%}
        <tr  >
            <td  colspan = "2" > 
                    <button type="button" onclick="javascript:jQuery('#edit_expedition_form').submit()">Save and go back</button>
                
           </td>
        </tr> 
        
        
        
    </table>
</form>
{% endblock %}
