{% extends "mammals/base_mammals.html" %}
{% load smartif %}
{% block title %}Grid Block{% endblock %}
{% block js %}
    <script type="text/javascript" src="/mammals/media/js/grid_and_block.js"></script>
    <script type="text/javascript" src="/mammals/media/js/block.js"></script>
    {{ block.super }}
{% endblock %}

{% block css %}
    {% include "mammals/block_css.html" %}     
    {{ block.super }}
{% endblock %}

{% block container %}
<div id ="block_json" style="display:none">{{block_json}}</div>    
<div id ="transects_json" style="display:none">{{transects_json}}</div>
    
<div >
    <table id ="right_hand_table">
        <tr>
            <td  colspan = "2"> 
                Expedition # {{expedition.id }} to {{expedition.grid_square}}  on {{expedition.start_date|date:"D d M Y" }}
            </td>
        </tr>
        {%comment %}
        <tr>
            <td > 
                Grade level: 
                
                {{expedition.grade_level}}
            </td>
            <td > <select></select>
            </td>
        </tr>
        {%endcomment %}
        <tr>
            <td  colspan = "2"> 
                Number of students: <input value ="{{expedition.number_of_students}}"></input>
            </td>
        </tr>
        
        <tr>
            <td  colspan = "2"> 
                School contact (name): <input name = "school_contact_1_name" value ="{{expedition.school_contact_1_name}}"></input>
            </td>
        </tr>
        <tr>
            <td  colspan = "2"> 
                School contact (phone): <input name = "school_contact_1_phone"  value ="{{expedition.school_contact_1_phone}}"></input>
            </td>
        </tr>
        <tr>
            <td  colspan = "2"> 
                 School contact (email): <input  name = "school_contact_1_email" value ="{{expedition.school_contact_1_email}}"></input>
            </td>
        </tr>

        <tr>
            <td  colspan = "2"> 
                 Trap locations:
            </td>
        </tr>

        
        {%for point in expedition.traplocation_set.all     %}
        <tr>
            <td  colspan = "2"> 
                {{point }} -- transect bearing {{point.transect_bearing|floatformat:0 }}&deg; , Team {{point.team_letter }}{{point.team_number }}
                Bait: <input/>
                Mammal caught: <input/> 
                Habitat: <input/> 
            </td>
        </tr>      
        {%endfor%}

    </table>
</div>
{% endblock %}

