{% extends "mammals/base_mammals.html" %}
{% load smartif %}
{% block title %}Grid Block{% endblock %}
{% block js %}
    <script type="text/javascript" src="/mammals/media/js/grid_and_block.js"></script>
    <script type="text/javascript" src="/mammals/media/js/block.js"></script>
    {{ block.super }}
{% endblock %}

{% block css %}
    <style media="screen" type="text/css">
        
        .highlighted {
            color : blue;
        }
        
        .distances_table td, .center_point_table td
        {
            border-color: #ABA;
            border-width: 1px;
            border-style: solid;
            padding: 4px;
        }
                
        .distances_table, .center_point_table {
            background-color: #EFE;
            margin:5px;
        }
        
        .distances_table tr.first_color {
            background-color: #EFE;
        }
        
        
        .distances_table tr.second_color {
            background-color: #FFE;
        }

        #transect_table_overflow_div .center_point_table {
            display:none;
        }
        
        #hide_printer_friendly_table, #show_printer_friendly_table
        {
            margin:5px;
            border-color: #ABA;
            border-width: 1px;
            border-style: solid;
            padding: 4px;
            background-color: #EFE;
            width: 200px;
            cursor: pointer;
        }
        
        table.right_hand_table td {
            margin: 5px;
            padding: 5px;
        }
        
        div#transect_table_overflow_div {
            margin:5px;
            height: 300px;
            overflow: auto;
            border-color: #9B9;
            border-width: 1px;
            border-style: solid;
        }
        .hide_this {
            display:none;
        }
    </style>

    {{ block.super }}
{% endblock %}

{% block container %}
<div id ="block_json" style="display:none">{{block_json}}</div>    
<div id ="transects_json" style="display:none">{{transects_json}}</div>    
    
<div >
    <form 
    {% if sandbox %}
        action='/mammals/sandbox/grid_square/'
    {% else %}
        action ='/mammals/grid_square/'
    {% endif %}
    method="post" id = "block_form">  {% csrf_token %}
        <table id ="right_hand_table">
            <tr>
                <td rowspan = "12" valign ="top">
                    <div id="map_canvas" style="width: 500px; height: 500px"></div>
                </td>
            </tr>
            <tr>
                <td colspan = "2"> 
                    <a href="javascript:back_to_grid_from_square ()">&lt;--- Back to the main grid</a>      
                </td>
            </tr>
            <tr class="hide_this">
                <td> Center of grid latitude:
                </td>
                <td> 
                    <input type="text" name = "grid_center_y" value ="{{grid_center_y}}"> </input>
                </td>
            </tr>
            <tr class="hide_this">
                <td> Center of grid longitude:
                </td>
                <td> 
                    <input type="text" name = "grid_center_x" value ="{{grid_center_x}}"> </input>
                </td>
            </tr>
            
            <tr class="hide_this">
                <td> Height of grid in squares:
                </td>
                <td> 
                    <input type="text" name = "height_in_blocks" value ="{{height_in_blocks}}"> </input>
                </td>
            </tr>
            <tr class="hide_this">
                <td> Width of grid in squares:
                </td>
                <td> 
                    <input type="text" name = "width_in_blocks" value ="{{width_in_blocks}}"></input>
                </td>
            </tr>
            <tr class="hide_this">
                <td> Center of square latitude:
                </td>
                <td> 
                    <input type="text" name = "selected_block_center_y" value ="{{selected_block_center_y}}"> </input>
                </td>
            </tr>
            <tr class="hide_this">
                <td> Center of square longitude:
                </td>
                <td> 
                    <input type="text" name = "selected_block_center_x" value ="{{selected_block_center_x}}"> </input>
                </td>
            </tr>
            <tr class="hide_this">
                <td> Height of square in meters:
                </td>
                <td> 
                    <input type="text" name = "block_height_in_m" value ="{{block_height_in_m}}"> </input>
                </td>
            </tr>
            <tr class="hide_this">
                <td> Width of square in meters:
                </td>
                <td> 
                    <input type="text" name = "block_width_in_m" value ="{{block_width_in_m}}"> </input>
                </td>
            </tr> 
            <tr>
                <td> Declination (difference between magnetic and true North):
                </td>
                <td> 
                    <input type="text" name = "magnetic_declination" value ="{{magnetic_declination}}"> </input>
                </td>
            </tr>
            <tr>
                <td> How many bearings would you like?
                </td>
                <td> 
                    <input type="text" name = "num_transects" value ="{{num_transects}}"> </input>
                </td>
            </tr>
            <tr>
                <td> How many traps do you want on each bearing?:
                </td>
                <td> 
                    <input type="text" name = "points_per_transect" value ="{{points_per_transect}}"> </input>
                </td>
            </tr>
            <tr>
                <td colspan = "2"> 
                    <input type="submit" value="Generate new bearings"></input> &lt;- Try clicking this button to generate some new bearings at random.</td>
            </tr>
            <tr>
                <td  colspan = "2"> 
                    <div id="show_printer_friendly_table">Show printer-friendly table</div>
                    
                    <table class ="center_point_table">
                        <tr>
                            <td>&nbsp;</td>
                            <td >Distance (m)</td>
                            <td >Latitude</td>
                            <td >Longitude</td>
                        </tr>
                        
                        <tr >
                            <td >Center of the square</td>
                            <td >0</td>
                            <td >{{selected_block_center_y|floatformat:4}}</td>
                            <td >{{selected_block_center_x|floatformat:4}}</td>
                        </tr>

                    </table>
                    
                    <div id="transect_table_overflow_div">
                        {% include "mammals/transect_table.html" %} 
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<div id = "printer_friendly_table">

    <div id="hide_printer_friendly_table">Hide printer-friendly table</div>
    <p>
        Printer-friendly table:
    </p>
    {% include "mammals/transect_table.html" %} 
</div>

{% endblock %}

