

<p id = "block_info"></p>

<p id = "block_difficulty"></p>

<table class = "grid_border_coords_table">
    <tr>
        <td id = "tl"  class = "top_side left_side">&nbsp;</td>
        <td class = "top_side">&nbsp;</td>
        <td id = "tr"  class = "top_side right_side">&nbsp;</td>
    </tr>
    <tr>
        <td class = "left_side">&nbsp;</td>
        <td id = "c">&nbsp;</td>
        <td class = "right_side">&nbsp;</td>
    </tr>
    <tr>
        <td id = "bl" class = "bottom_side left_side">&nbsp;</td>
        <td class = "bottom_side">&nbsp;</td>
        <td id = "br" class = "bottom_side right_side">&nbsp;</td>
    </tr>
</table>
