{% if sandbox %}
    <table class ="center_point_table">
        <tr>
            <td>&nbsp;</td>
            <td >Latitude</td>
            <td >Longitude</td>
        </tr>
        <tr >
            <td >Center of the square</td>
            <td >{{selected_block_center_y|floatformat:5}}</td>
            <td >{{selected_block_center_x|floatformat:5}}</td>
        </tr>
    </table>
{%else %}

<button id ="hide_square_coords_table_button">hide square details</button>
<button id ="show_square_coords_table_button">show square details</button>

<div class = "square_coords_table_div">

    <p id = "block_info">Block # {{selected_block.label_2}}</p>
    <p id = "block_difficulty"> Terrain difficulty: {{selected_block.access_difficulty}} </p>
    
    
    <table >
        <tr>
            <td id = "tl"  class = "top_side left_side">{{selected_block.NE_corner.lat|floatformat:5}}, {{selected_block.NE_corner.lon|floatformat:5}}</td>
            <td class = "top_side">&nbsp;</td>
            <td id = "tr"  class = "top_side right_side">{{selected_block.NW_corner.lat|floatformat:5}}, {{selected_block.NW_corner.lon|floatformat:5}}</td>
        </tr>
        <tr>
            <td class = "left_side">&nbsp;</td>
            <td id = "c">{{selected_block.center.lat|floatformat:5}}, {{selected_block.center.lon|floatformat:5}}</td>
            <td class = "right_side">&nbsp;</td>
        </tr>
        <tr>
            <td id = "bl" class = "bottom_side left_side">{{selected_block.SE_corner.lat|floatformat:5}}, {{selected_block.SE_corner.lon|floatformat:5}}</td>
            <td class = "bottom_side">&nbsp;</td>
            <td id = "br" class = "bottom_side right_side">{{selected_block.SW_corner.lat|floatformat:5}}, {{selected_block.SW_corner.lon|floatformat:5}}</td>
        </tr>
    </table>
</div>
{%endif%}

