{% extends "mammals/base_mammals.html" %}
{% load smartif %}
{% block title %}Grid Block{% endblock %}
{% block js %}
    <script type="text/javascript" src="/mammals/media/js/grid_and_block.js"></script>
    <script type="text/javascript" src="/mammals/media/js/block.js"></script>
    {{ block.super }}
{% endblock %}

{% block css %}
    {% include "mammals/block_css.html" %}     
    {{ block.super }}
{% endblock %}

{% block container %}
<div id ="block_json" style="display:none">{{block_json}}</div>    
<div id ="transects_json" style="display:none">{{transects_json}}</div>
    
<div >
    <table id ="right_hand_table">
        <tr>
            <td rowspan = "12" valign ="top">
                <div id="map_canvas" style="width: 500px; height: 500px"></div>
            </td>
        </tr>
        <tr>
            <td colspan = "2"> 
                <button onclick="back_to_grid_from_square ()">&lt;&lt;&lt; Back to the main grid &lt;&lt;&lt;</button>
                
              {% if not sandbox and user.is_staff %}   
                <form action='/mammals/new_expedition/' method="post" id = "start_expedition_form">
                <input type="text" name = "grid_square_id" id="grid_square_id" value ="{{grid_square_id}}" class="hide_this"></input>
                 {% csrf_token %}
                <input type="text" name="transects_json" style="display:none" value = "{{transects_json}}"></input>
                <input type="submit" value="Save these locations &gt;&gt;&gt; "></input> 
                </form>
              {% endif%}   
            </td>
        </tr>
        <tr>
            <td colspan = "2"> 
                {% include "mammals/grid_center_table.html" %}
            </td>
        </tr>
        
        <form {% if sandbox %} action='/mammals/sandbox/grid_square/' {% else %} action ='/mammals/grid_square/' {% endif %}
            method="post" id = "block_form">
            {% csrf_token %}
            {% include "mammals/grid_form.html" %}
                <tr>
                    <td> Declination (difference between magnetic and true North):
                    </td>
                    <td> 
                        <input type="text" name = "magnetic_declination" value ="{{magnetic_declination}}"> </input>
                    </td>
                </tr>
                <tr>
                    <td> How many bearings would you like?
                    </td>
                    <td> 
                        <input type="text" name = "num_transects" value ="{{num_transects}}"> </input>
                    </td>
                </tr>
                <tr>
                    <td> How many traps do you want on each bearing?
                    </td>
                    <td> 
                        <input type="text" name = "points_per_transect" value ="{{points_per_transect}}"> </input>
                    </td>
                </tr>
                <tr>
                    <td colspan = "2"> 
                        <input type="submit" value="Generate new bearings"></input> &lt;- Try clicking this button to regenerate the table below.</td>
                </tr>
                <input type="text" name = "grid_square_id" id="grid_square_id" value ="{{grid_square_id}}" class="hide_this"></input>
        </form>
        <tr>
            <td colspan = "2"> 
                {% include "mammals/csv_export_form.html" %}
            </td>
        </tr>
        <tr>
            <td  colspan = "2"> 
                <button id="show_printer_friendly_table">Show printer-friendly table</button>
                    {% include "mammals/transect_table_heading.html" %} 
                <div id="transect_table_overflow_div">
                    {% include "mammals/transect_table.html" %} 
                </div>
            </td>
        </tr>      
    </table>
</div>
<div id = "printer_friendly_table">
    <button id="hide_printer_friendly_table">Hide printer-friendly table</button>
    {% include "mammals/grid_center_table.html" %}
    {% include "mammals/transect_table_heading.html" %} 
    {% include "mammals/transect_table.html" %} 
</div>

{% endblock %}

