{% extends "mammals/base_mammals.html" %}
{% load smartif %}

{% block title %}Grid{% endblock %}
{% block js %}
    <script type="text/javascript" src="/mammals/media/js/grid_and_block.js"></script>
    <script type="text/javascript" src="/mammals/media/js/grid.js"></script>
    {{ block.super }}
{% endblock %}
{% block css %}
    {% include "mammals/grid_css.html" %} 
    {{ block.super }}
{% endblock %}
{% block container %}
<div id ="grid_json" style="display:none">{{grid_json}}</div>    
<div id ="test_points" style="display:none">{{test_points}}</div>    
<div >
    <table id= "grid_form_table">
        <tr>
            <td rowspan = "13">
                <div id="map_canvas" style="width: 800px; height: 800px"></div>
            </td>
        </tr>
        
        <form action=/mammals/grid/' method="post" id="grid_form" >  {% csrf_token %}
            {% include "mammals/grid_form.html" %} 
        </form>
        <tr>
            <td colspan = "2"> 
                Click a green square on the map to randomly generate a table of bearings.
            </td>
        </tr>
        <tr>
            <td  colspan = "2"> 
                {% include "mammals/difficulty_menu.html" %} 
            </td>
        </tr>
        <tr>
            <td  colspan = "2"> 
                {% include "mammals/suggest_unsuggest.html" %} 
            </td>
        </tr>
        <tr>
            <td  colspan = "2"> 
                {% include "mammals/grid_border_coords.html" %} 
            </td>
        </tr>
    </table>
</div>
{% endblock %}

