		<div class="coord_display">
			<div class="arrow_box" id="block_info">Hover over a square on the grid for details</div>
			<div class="square_infobox">
				<div class="block_coordbox">
					<div class="topleft">
						<div class="coordinates" id="tl">&nbsp;</div>
					</div>
					<div class="topright">
						<div class="coordinates" id="tr">&nbsp;</div>
					</div>
					<div class="center">
						<div class="coordinates" id="c">&nbsp;</div>
					</div>
					<div class="bottomleft">
						<div class="coordinates" id="bl">&nbsp;</div>
					</div>
					<div class="bottomright">
						<div class="coordinates" id="br">&nbsp;</div>
					</div>
				</div><!-- class="block_coordbox" -->
				<div class="terrain_info">
				<p id="block_difficulty">&nbsp;</p>
				<p class="prompt">Click a square on the map to set up bearings and traps.</p>
				</div><!-- class="terrain_info" -->
			</div><!-- class="square_infobox" -->
		</div><!-- class="coord_display" -->
