{% extends "mammals/base_mammals.html" %}

{% block title %}Mammals and Habitats{% endblock %}

{% block nav %}
	<ul>
	<li class="active"><a href="/mammals/">Home</a></li>
	<li id="gridcategory">GRID:</li>
	<li id="gridresearch"><a href="/mammals/grid/">Research</a></li>
	<li id="gridplay"><a href="/mammals/sandbox/grid/">Playground</a></li>
	<li><a href="/mammals/teaching/">Teaching Resources</a></li>
	<li><a href="/mammals/help/">Help</a></li>
	</ul>
{% endblock %}

{% block container %}
    <h3>Welcome to the Mammals Module!</h3>

    <p>As part of the Virtual Forest Initiative, <a href="http://ccnmtl.columbia.edu/">CCNMTL</a> is developing a suite of web-based learning tools that utilizes Black Rock Forest's rich archive of scientific records such as climate field station and tree data. These learning modules extend Black Rock's research and education assets.</p>
    
    <p>In the Mammals and Habitats module, high school students take part in a longitudinal study to identify Black Rock Forest mammals in various habitats. Over the years, these habitats will emerge and be represented as colorful overlays on the current Forest map.</p>
    
    
    <p>Use the <a href="/mammals/grid/" >Research Grid</a> to see the real data collected by students at the forest.</p>
    
    <p>Use the <a href="/mammals/sandbox/grid/" >Sandbox</a> to get familiar with the tool and set it to your school location.</p>

{% endblock %}
