{% extends "mammals/base_mammals.html" %}

{% block title %}Mammals and Habitats{% endblock %}

{%block mammals_nav_map%}class="active"{%endblock%}

{% block container %}
    <h3>Mammals at Blackrock:</h3>
    <p><strong><a href="/mammals/species_map/" >Overview</a></strong></p>
    {% for sp in all_species %}    
        <p> <a href="/mammals/species_map/{{sp.id}}/" >{{sp}}</a></p>
    {%endfor%}
        
    <h3>Habitats at Blackrock:</h3>
    <p><strong><a href="/mammals/habitat_map/" >Overview</a></strong></p>
    {% for ha in all_habitats %}    
        <p> <a href="/mammals/habitat_map/{{ha.id}}/" >{{ha}}</a></p>
    {%endfor%}
{% endblock %}
