{% extends "mammals/base_mammals.html" %}

{% block title %}Mammals and Habitats{% endblock %}

{% block status_home %}active{% endblock %}

{% block container %}
    <h3>Habitat and Species Maps</h3>
    {% for sp in all_species %}    
        <p> <a href="/mammals/species_map/{{sp.id}}/" >{{sp}}</a></p>
    {%endfor%}
        <p> <a href="/mammals/species_map/" > ** Species overview</a></p>
        
    {% for ha in all_habitats %}    
        <p> <a href="/mammals/habitat_map/{{ha.id}}/" >{{ha}}</a></p>
    {%endfor%}
        <p> <a href="/mammals/habitat_map/" > ** Habitat overview</a></p>
{% endblock %}
