<form action='/mammals/grid_square_print/' method="post" id = "print_export_form" target="_blank">
    {% csrf_token %}
    <input type="text" name="transects_json" style="display:none" value = "{{transects_json}}"></input>
    <input type="text" name = "selected_block_center_y" id="selected_block_center_y"  value ="{{selected_block_center_y}}" class="hide_this"></input>
    <input type="text" name = "selected_block_center_x" id="selected_block_center_x" value ="{{selected_block_center_x}}" class="hide_this"></input>
{%if not sandbox %}
<input type="text" name = "selected_block_database_id" id="selected_block_database_id" value ="{{selected_block_database_id}}" class="hide_this"></input>
{%endif %}
<input type="submit" value="Print"></input>
</form>
