{% if  user.username == 'eddie' %}
  {% if grid_square_id > 0 and not sandbox %}
    <form action='/mammals/new_expedition/' method="post" id = "start_expedition_form">
        <div  text-align="right">
            {% csrf_token %}
            <input type="text" name = "grid_square_id" id="grid_square_id" value ="{{grid_square_id}}" class="hide_this"></input>
            
            <input type="text" name="transects_json" style="display:none" value = "{{transects_json}}"></input>
            <input type="submit" value="Save"></input> 
        </div>
    </form>
      {% endif%}
{%endif %}
