{% extends "mammals/base_mammals.html" %}
{% load smartif %}

{% block js %}
	{{ block.super }}
{% endblock %}


{%comment %}
    {% block css %}
	    {{ block.super }}
            @import "http://blackrock.ccnmtl.columbia.edu/site_media/js/jquery-ui-1.8.11.custom/css/smoothness/jquery-ui-1.8.11.custom.css"; /* THIS NEED TO BE ADDED TO THE HABITAT MAP TEMPLATE, NOT THE BASE_MAMMAL. */
    {% endblock %}
{%endcomment %}




{% block container %}



 <form method="get" action=".">
        {% for field in form %}
            {{ field.errors }}
            {% if field.field.choices %}
                {%if field.label == "Species" %}
                    {%include "mammals/search_subtemplates/species.html" %}
                {%endif %}
                {%if field.label == "Habitat" %}
                    {%include "mammals/search_subtemplates/habitats.html" %}
                {%endif %}
            {% else %}
            {% endif %}
        {%endfor %}
        <input type="submit" value="Search">


        {% if query %}
            <h3>Results</h3>

            {% for result in page.object_list %}
                <p>
                    <a href="">{{ result.object }}</a>
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
</form>
{%endblock%}


