{% extends "mammals/base_mammals.html" %}
{% load smartif %}
{% block js %}
	{{ block.super }}
	<script type="text/javascript" src="/mammals/media/js/habitat_map_style.js"></script>
	<script type="text/javascript" src="/mammals/media/js/habitat_map_code.js"></script>
{% endblock %}
{% block css %}
    <style type='text/css'>
      @import "/mammals/media/css/style.css";
      @import "/site_media/js/jquery-ui-1.8.11.custom/css/smoothness/jquery-ui-1.8.11.custom.css";
    </style> 
{% endblock %}
{% block container %}
 <!-- ### BEGIN CONTENT FOR HABITAT MAP, PUT IN TEMPLATE -->
 <div id="container" class="habitatmap">
    <div class="plain">
        <div id="left">
            <h3>Habitat Map</h3>
            <form method="get" action=".">
                    {%include "mammals/search_subtemplates/grid_selector.html" %}
                    {%include "mammals/search_subtemplates/traps_and_spotting.html" %}
                    <!-- annoying: species and habitat are the wrong way around in the template. 
                    since I apparently don't understand the "with" tag in the django templating language.-->
                    {% for field in form %}
                        {%if field.label == "Species" %}
                            {%include "mammals/search_subtemplates/species.html" %}
                        {%else %}
                        {%endif %}
                        {%if field.label == "Habitat" %}
                            {%include "mammals/search_subtemplates/habitats.html" %}
                        {%else %}
                        {%endif %}
                    {%endfor %}
                    {%include "mammals/search_subtemplates/schools.html" %}
                    {%include "mammals/search_subtemplates/dates.html" %}
                    <input type="submit" value="Search">
            </form>
            </div><!-- div id="left" -->
        <div id="map_canvas">MAP GO HERE</div><!-- id="map_canvas" -->
        <div class="clearfix"></div><!-- class="clearfix" -->
    </div><!-- div class="plain" -->
</div><!-- div id="container" -->
 <!-- ### END CONTENT FOR HABITAT MAP -->
{%include "mammals/search_subtemplates/results.html" %}
{%include "mammals/search_subtemplates/accordion.html" %}
{%endblock%}


