{% extends "mammals/base_mammals.html" %}
{% load smartif %}
{% load humanize %}
{% block title %}List of sightings{% endblock %}
{%block mammals_nav_expeditions%}class="active"{%endblock%}

{% block js %}
    {{ block.super }}
  
    
{% endblock %}
{% block css %}

    {{ block.super }}
{% endblock %}

{% block container %}
<h3>Animal sightings by Black Rock Forest staff</h3>
     <table class = "green_table">
        <tr>
                <td  > 
                    Species
                </td> 
                <td  > 
                    Habitat
                </td> 
                <td  > 
                    Observer
                </td> 
                <td  > 
                    Date
                </td> 
                <td  > 
                    Details
                </td> 
        </tr>
        {% for si in sightings %}
            <tr>
                <td  > 
                    {{si.species}}
                </td> 
                <td  > 
                    {{si.habitat}}
                </td> 
                <td  > 
                    {{si.observers}}
                </td> 
                <td  >
                    {{si.date|naturalday}}
                </td>
                <td  > 
                    <a href= "/mammals/sighting/{{si.id }}/">Go</a>
                </td> 
        </tr>
        {%endfor%}
        <tr>
            <td colspan = "5">
                <a href = "/mammals/create_sighting/">New Sighting</a>
            </td>
        </tr>
    </table>
{% endblock %}

