{% extends "mammals/base_mammals.html" %}
{% load smartif %}

{% block title %}Simple Animal Map{% endblock %}

{%block mammals_nav_simplemap%}class="active"{%endblock%}

{% block js %}
    <script type="text/javascript" src="/mammals/media/js/simple_map.js"></script>
    {{ block.super }}
{% endblock %}
{% block css %}
    {% include "mammals/grid_css.html" %} 
    {{ block.super }}
{% endblock %}
{% block container %}

<div id ="animals" style="display:none">{{animals|safe}}</div>    
<div >
    <p>
        The markers in the map below are locations where
        student visitors to the forest found different mammals.
        To see the different species, hover over the markers. As you can see, we're just getting started, but our goal is to assemble a full species and habitat map, covering the whole forest.
    </p>
    <p>
        To help us gather data for this research, click "Contact" below.
    </p>
     <div id="map_canvas" style="width: 600px; height: 500px"></div>
</div>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}

