{% extends "mammals/base_mammals.html" %}
{% load smartif %}
{% block title %}Grid Block{% endblock %}
{% block js %}
    <script type="text/javascript" src="/mammals/media/js/grid_and_block.js"></script>
    <script type="text/javascript" src="/mammals/media/js/block.js"></script>
    {{ block.super }}
{% endblock %}

{% block css %}
    <style media="screen" type="text/css">
        .green_table td
        {
            border-color: #ABA;
            border-width: 1px;
            border-style: solid;
            margin:  1px;
            padding: 4px;
            background-color: #EFE;
        }
    </style>

    {{ block.super }}
{% endblock %}

{% block container %}
<div id ="block_json" style="display:none">{{block_json}}</div>    
<div id ="transects_json" style="display:none">{{transects_json}}</div>
<h3 > DATA INPUT FORM FOR TEAM {{team_letter}} </h3>
<h3 > Expedition # {{expedition.id }} to {{expedition.grid_square}} <br/>( {{expedition.grid_square.center}}) <br/> on {{expedition.start_date_of_expedition|date:"D d M Y" }}</h3>
     <form action ="/mammals/edit_expedition/{{expedition.id}}/" method ="post"> 
     
     <h3 >General conditions:</h3>
     <table class = "green_table">
            <tr>
                <td  > 
                    Understory:
                </td> 
                <td  > 
                   Temperature:
                </td> 
                <td  > 
                   Moon Phase:
                </td> 
                <td  > 
                   Cloud Cover:
                </td>
            </tr>
            <tr>
                <td  > 
                    <select>
                        <option value = "none">Grass</option>
                    </select>
                </td> 
                <td  > 
                    <select>
                        <option value = "none">15 &deg; C</option>
                    </select>
                </td> 
                <td  > 
                    <select>
                        <option value = "none">Waxing gibbous</option>
                    </select>
                </td> 
                <td  > 
                    <select>
                        <option value = "none">40%</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td  > 
                   Light:
                </td>
                <td  > 
                   Precipitation:
                </td>
                <td  > 
                   Snow amount:
                </td>
                <td>
                    Habitat:
                </td>
            </tr>
            <tr>
                <td  > 
                    <select>
                        <option value = "none">40%</option>
                    </select>
                </td> 
                <td  > 
                    <select>
                        <option value = "none">1,000 lux</option>
                    </select>
                </td> 
                <td  > 
                    <select>
                        <option value = "none">No snow</option>
                    </select>
                </td> 
                <td > 
                    <select>
                    {% for habitat in habitats %}
                        <option value = "{{habitat.id}}">{{habitat}}</option>
                    {%endfor %}
                    </select>
                </td>
            </tr>
    </table>
    
        {%comment %}
            <tr>
                <td colspan = "1"> 
                    ALL LOCATIONS
                </td>
                <td > 
                    Trap placed here?
                </td>
                <td   > 
                    Bait: 
                </td>
                <td   > 
                    Bait left: 
                </td>
                <td   > 
                    Catch:
                </td>
                <td > 
                    Habitat:
                </td>
            </tr>    
        <tr>
            <td colspan = "1"> 
                ALL LOCATIONS
            </td>
            <td > <select><option value = "yes">Yes</option><option value = "no">No</option></select>
            </td>
            <td > 
                <select>
                {% for b in baits %}
                    <option value = "{{b.id}}">{{b}}</option>
                {%endfor %}
                </select>
            </td>
            <td > <select><option value = "yes">Yes</option><option value = "no">No</option></select>
            </td>
            <td > 
                <select>
                    <option value = "none">Nothing caught</option>
                {% for species in species %}
                    <option value = "{{species.id}}">{{species}}</option>
                {%endfor %}
                </select>
            </td>
            <td > 
                <select>
                {% for habitat in habitats %}
                    <option value = "{{habitat.id}}">{{habitat}}</option>
                {%endfor %}
                </select>
            </td>
        </tr>      
        
        {%endcomment %}
        
        <!-- todo: include distance along bearing for each trap. -->
        
        {%for point in expedition.traplocation_set.all     %}
        
        {%ifequal point.team_letter team_letter%}
        
     <table class = "green_table">
                           <h3>Trap {{point.team_letter }}{{point.team_number }}  ( {{point.transect_distance|floatformat:0}}m @ {{point.transect_bearing|floatformat:0 }}&deg;) {{point }}</h3>
            <tr>
                <td > 
                    Trap placed here?
                </td>
                </td>
                <td   > 
                    Bait: 
                </td>
                <td   > 
                    Bait left: 
                </td>
            </tr>
            <tr>
                <td > 
                    <select><option value = "yes">Yes</option><option value = "no">No</option></select>
                </td>
                <td > 
                    <select>
                    {% for b in baits %}
                        <option value = "{{b.id}}">{{b}}</option>
                    {%endfor %}
                    </select>
                </td>
                <td > <select><option value = "yes">Yes</option><option value = "no">No</option></select>
                </td>
            </tr>
            <tr>
                <td   > 
                    Catch:
                </td>
                <td > 
                    Habitat:
                </td>
            </tr>
            <tr>
                <td > 
                    <select>
                        <option value="None">Trap empty</option>
                        {% for species in species %}
                            <option value = "{{species.id}}">{{species}}</option>
                        {%endfor %}
                    </select>
                </td>
                <td > 
                    <select>
                        {% for habitat in habitats %}
                            <option value = "{{habitat.id}}">{{habitat}}</option>
                        {%endfor %}
                    </select>
                </td>
            </tr>      
            
    </table>
        {%endifequal %}

        {%endfor%}

    <button>Save this data and go back to expedition page.</button>
    
</form>
</div>
{% endblock %}

