{% extends "mammals/base_mammals.html" %}
{% load smartif %}
{% block title %}Grid Block{% endblock %}
{% block js %}
    <script type="text/javascript" src="/mammals/media/js/grid_and_block.js"></script>
    <script type="text/javascript" src="/mammals/media/js/block.js"></script>
    {{ block.super }}
{% endblock %}

{% block css %}
    <style media="screen" type="text/css">
        .green_table td
        {
            border-color: #ABA;
            border-width: 1px;
            border-style: solid;
            margin:  1px;
            padding: 4px;
            background-color: #EFE;
        }
        .coord_input {
            width : 60px;
        
        }
    </style>

    {{ block.super }}
{% endblock %}
{% block container %}
<div id ="block_json" style="display:none">{{block_json}}</div>    
<div id ="transects_json" style="display:none">{{transects_json}}</div>
<h3 > DATA INPUT FORM FOR TEAM {{team_letter}} </h3>
<h3 > Expedition # {{expedition.id }} to square {{expedition.grid_square.battleship_coords}} on {{expedition.start_date_of_expedition|date:"d M, Y" }}</h3>
    <form action ="/mammals/save_team_form/" method ="post"> 
    <input type="hidden" name = "expedition_id" id = "expedition_id" value ="{{expedition.id}}" />
    <input type="hidden" name = "team_letter"   id = "team_letter"   value ="{{team_letter}}" />
     
    {%with team_points.1 as point %}
    
     <h3 >General conditions:</h3>
     <table class = "green_table">
            <tr>
                <td  > 
                    Understory:
                </td> 
                <td  > 
                   Temperature:
                </td> 
                <td  > 
                   Moon Phase:
                </td> 
                <td  > 
                   Cloud Cover:
                </td>
            </tr>
            <tr>
                <td > 
                    <input type="text" id = "understory" name= "understory" value ="{% if point.understory %}{{point.understory}}{%endif%}"> </input>
                </td> 
                <td  > 
                    <select id="overnight_temperature" name="overnight_temperature">
                        {% for temp in overnight_temperatures %}
                            <option value = "{{temp.id}}" {%ifequal point.overnight_temperature_id temp.id %} selected{%endifequal%}>{{temp}}</option>
                        {%endfor %}
                    </select> &deg; C
                </td> 
                <td  > 
                    <select id = "moon_phase" name = "moon_phase">
                        {% for moon_phase in moon_phases %}
                            <option value = "{{moon_phase.id}}" {%ifequal point.moon_phase_id moon_phase.id %} selected{%endifequal%}>{{moon_phase}}</option>
                        {%endfor %}
                    </select>
                </td> 
                <td  > 
                    <select  id = "cloud_cover" name = "cloud_cover">
                        {% for cloud_cover in cloud_covers %}
                            <option value = "{{cloud_cover.id}}" {%ifequal point.cloud_cover.id  cloud_cover.id%} selected{%endifequal%}>{{cloud_cover}}</option>
                        {%endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td  > 
                   Light:
                </td>
                <td  > 
                   Precipitation:
                </td>
                <td  > 
                   Type of precipitation:
                </td>
                {%comment %}
                <td>
                    Habitat:
                </td>
                {%endcomment %}
            </tr>
            <tr>
                <td  > 
                    <select  id = "illumination" name = "illumination">
                    {% for light in illuminations %}
                        <option value = "{{light.id}}" {%ifequal point.illumination_id light.id %} selected{%endifequal%}>{{light}}</option>
                    {%endfor %}
                    </select>
                </td> 
                <td  > 
                    <select  id = "overnight_precipitation" name = "overnight_precipitation">
                    {% for pr in overnight_precipitations %}
                        <option value = "{{pr.id}}" {%ifequal point.overnight_precipitation_id pr.id %} selected{%endifequal%}>{{pr}}</option>
                    {%endfor %}
                    </select>
                </td> 
                <td  > 
                    <select  id = "overnight_precipitation_type" name = "overnight_precipitation_type">
                    {% for prt in overnight_precipitation_types %}
                        <option value = "{{prt.id}}" {%ifequal point.overnight_precipitation_type_id prt.id %} selected{%endifequal%}>{{prt}}</option>
                    {%endfor %}
                    </select>
                </td> 
                {%comment %}
                <!-- we're doing habitat per trap i guess. -->
                <td > 
                    <select  id = "habitat" name = "habitat">
                    {% for habitat in habitats %}
                        <option value = "{{habitat.id}} {%ifequal point.habitat_id habitat.id %} selected{%endifequal%}">{{habitat}}</option>
                    {%endfor %}
                    </select>
                </td>
                {%endcomment %}
            </tr>
    </table>
    {%endwith %}
    
        <!-- todo: include distance along bearing for each trap. -->
        
        {%for point in team_points     %}
        
<h3>Trap {{point.team_letter }}{{point.team_number }}  ( {{point.transect_distance|floatformat:0}}m @ {{point.transect_bearing_wrt_magnetic_north|floatformat:0 }}&deg; from magnetic north)</h3> 
     <table class = "green_table">
     
            <tr>
                <td rowspan="2"> 
                    Location
                </td>
                <td > 
                    Habitat:
                </td>
                <td > 
                    Suggested location:
                </td>
                <td > 
                    Actual location used:
                </td>
            </tr>

            <tr>
                <td > 
                        <select id="habitat_{{point.id}}" name="habitat_{{point.id}}">
                        
                        <option value="None">None recorded</option>
                        {% for habitat in habitats %}
                            <option value = "{{habitat.id}}" {%ifequal point.habitat_id habitat.id %} selected{%endifequal%} >{{habitat}}</option>
                        {%endfor %}
                    </select>
                </td>
                <td>
                  {{point.suggested_lat|floatformat:5 }} {{point.suggested_lon|floatformat:5 }}
                </td>
                <td>
                  <input class="coord_input" type="text" name = "actual_lat_{{point.id}}" value = "{{point.actual_lat|floatformat:5}}"  maxlength="9" />
                  <input class="coord_input" type="text" name = "actual_lon_{{point.id}}" value = "{{point.actual_lon|floatformat:5}}"  maxlength="9" />
                </td>
            </tr>
            
            <tr>
                <td rowspan="2"> 
                    Trap info:
                </td>
                <td > 
                    Trap placed here?
                </td>
                </td>
                <td > 
                    Bait: 
                </td>
                <td  rowspan = "4"> 
                    MAP
                </td>
            </tr>
            <tr>
                <td > 
                    <select id="whether_a_trap_was_set_here_{{point.id}}" name="whether_a_trap_was_set_here_{{point.id}}">
                        <option value = "True"  {%if point.whether_a_trap_was_set_here %}selected{%endif%}>Yes</option>
                        <option value = "False" {%if not point.whether_a_trap_was_set_here %}selected{%endif%}>No</option>
                    </select>
                </td>
                <td > 
                    <select id="bait_{{point.id}}" name="bait_{{point.id}}">
                    
                    <option value="None">No bait placed in trap</option>
                    {% for b in baits %}
                        <option value = "{{b.id}}"{%ifequal point.bait_id b.id %} selected{%endifequal%}>{{b}}</option>
                    {%endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td rowspan="2"> 
                    Results:
                </td>
                <td > 
                    Bait left? 
                </td>
                <td   > 
                    Caught:
                </td>
            </tr>
            <tr>
                <td >
                    <select  id = "bait_still_there_{{point.id}}" name="bait_still_there_{{point.id}}" >
                        <option value = "True"  {%if point.bait_still_there %}selected{%endif%}>Yes</option>
                        <option value = "False" {%if not point.bait_still_there %}selected{%endif%}>No</option>
                    </select>
                </td>
                <td > 
                        <select id="animal_{{point.id}}" name="animal_{{point.id}}">
                            <option value="None">Trap empty</option>
                            {% for species in species %}
                                <option value = "{{species.id}}"  {%ifequal point.animal.species_id species.id %} selected{%endifequal%}   >{{species}}</option>
                            {%endfor %}
                    </select>
                </td>
            </tr>      
            
    </table>

        {%endfor%}
    {% csrf_token %}
    <input type ="submit" value = "Save" </input>
</form>
</div>
{% endblock %}

