{% extends "base.html" %} 

{% block title %}
Forest Sampling Optimization Tool 
{% endblock %} 

{% block css %} 
<style type='text/css'>
  @import "media/css/style.css";
</style> 
<!--[if IE]>
<style type='text/css'>
  @import "media/css/style_ie7.css";
</style> 
<![endif]-->
{% endblock %} 

{% block js %} 
<script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script> 
<script type="text/javascript" src="/site_media/js/mochikit/MochiKit/Signal.js"></script> 

	<!--script type="text/javascript">
	  function setActiveTab() { addElementClass("{% block tabname %}tab-run{% endblock %}", "tab-selected"); }
	  addLoadEvent(setActiveTab);
	</script--> 
	

{% endblock %} 

{% block masthead %} 
Forest Sampling Optimization Tool
{% endblock %} 

{% block content %} 
<div id="content">

	<div id="tab-bar">
	<div class="tab" id="tab-run">
		Run Details
	</div>
	
	<div class="tab" id="tab-log">
		Run Log
	</div>
	
	</div>
	
</div>
{% endblock %}