{% extends "optimization/base_optimization.html" %} 

{% block tabname %}tab-leaf{% endblock %} 

{% block js %}
  {{ block.super }}
  
  <script type="text/javascript" src="media/js/run.js"></script>
  <script type="text/javascript" src="media/js/toggles.js"></script>
  <script type="text/javascript" src="media/js/area.js"></script>
{% endblock %}

{% block content %}

<div class="container toggle-container" id="parameters">
  <h3 class="toggle-control"><span class='downarrow'>&#x25BE;</span>
      <span class='rightarrow'>&#x25B8</span>
      Run Parameters</h3>
  
  <div class="inner toggle-nest">
  <form id='runform'>
    <table>
      <tr>
        <td class='left'>
          Number of Plots:
        </td>
        <td>
          <input type='text' id='numPlots' size='5' value='1' />
        </td>
      </tr>
      <tr>
        <td class='left'>
          Plot Shape:
        </td>
        <td>
          <select id='plotShape'>
            <option value="circle">Circle</option>
            <option value="square">Square</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class='left'>
          Plot <span id='shapeLabel'>Radius</span> (m):
        </td>
        <td>
          <input type='text' id='plotSize' size='5' value='3' />
          <!--select id='plotDiameter'>
            <option value='3'>Small (3m)</option>
            <option value='5'>Medium (5m)</option>
            <option value='10'>Large (10m)</option>
          </select-->
        </td>
      </tr>
      <tr>
        <td class='left'>
          Plot Arrangement:
        </td>
        <td>
          <select id='plotArrangement'>
            <option value='random'>Randomize</option>
            <!--option value='random'>Straight Line</option-->
            <!--option value='random'>Two Parallel Lines</option-->
            <!--option value='random'>Grid</option-->
          </select>
        </td>
      </tr>
      <tr>
        <td colspan='2'>&nbsp;<br />&nbsp;<br /></td>
      </tr>
      <tr>
         <td class='left'>
           Total Sample Area:
         </td>
         <td>
            <span id='plotArea'></span>m<sup>2</sup>
         </td>
      </tr>
    </table>
    
    <div class="right">
      <p><span style="font-weight:bold;font-size:18px;">About the Virtual Forest</span></p>
      <p><span style="font-weight:bold;">Grid size:</span><br />
      4ha (200m x 200m / 40,000m<sup>2</sup>)</p>
      <p><span style="font-weight:bold;">Base Dataset:</span><br />
      Mount Misery Plot (LTP 5a4c)</p>
      
      <p><span style="font-weight:bold;">Data Collection Year:</span><br />
      2007</p>

      <input type="reset" value="Reset" id="reset" />      
      <input type="button" value="Calculate" id="calculate" />      
    </div>
    
  </form>
  </div> <!-- end div "inner" -->

</div>

<div class="container" id="waitmessage">
  Calculating results, please wait...
</div>

<div class="container" id="errormessage">
  Sorry, the calculation encountered an error.  Please try again.
</div>

<div class="container toggle-container" id="results">
  <h3 class="toggle-control"><span class='downarrow'>&#x25BE;</span>
      <span class='rightarrow'>&#x25B8</span>
      Sampling Summary and Analysis</h3>
  <div class="toggle-nest">
  <table class="results-summary">
    <tr>
      <td class='header'>TIME TO SAMPLE</td>
      <td class='right'><span id='results-time'></span></td>
    </tr>
    <tr>
      <td class='header'>AVERAGE TIME PER PLOT</td>
      <td class='right'><span id='results-avg-time'></span></td>
    </tr>
    <tr>
      <td class='header'>SAMPLE VARIANCE DENSITY</td>
      <td id='results-variance-density' class='right'></td>
    </tr>
    <tr>
      <td class='header'>SAMPLE VARIANCE BASAL AREA</td>
      <td id='results-variance-basal' class='right'></td>
    </tr>
  </table>

  <table class='results'>
    <thead>
      <tr>
        <td></td>
        <td>AREA (m<sup>2</sup>)</td>
        <td>SPECIES</td>
        <td># OF TREES</td>
        <td>MEAN DBH (cm)</td>
        <td>VARIANCE DBH</td>
        <td>DENSITY (N/ha)</td>
        <td>BASAL AREA (m<sup>2</sup>/ha)</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class='header'>SAMPLE PLOTS</td>
        <td id='results-area' class='right'></td>
        <td id='results-species' class='right'></td>
        <td id='results-count' class='right'></td>
        <td id='results-dbh' class='right'></td>
        <td id='results-variance-dbh' class='right'></td>
        <td id='results-density' class='right'></td>
        <td id='results-basal' class='right'></td>
      </tr>
      <tr>
        <td class='header'>FOREST POPULATION</td>
        <td id='actual-area' class='right'></td>
        <td id='actual-species' class='right'></td>
        <td id='actual-count' class='right'></td>
        <td id='actual-dbh' class='right'></td>
        <td id='actual-variance-dbh' class='right'></td>
        <td id='actual-density' class='right'></td>
        <td id='actual-basal' class='right'></td>
      </tr>
      <tr>
        <td class='header'>COMPARISON</td>
        <td id='comparison-area' class='right'></td>
        <td id='comparison-species' class='right'></td>
        <td id='comparison-count' class='right'></td>
        <td id='comparison-dbh' class='right'></td>
        <td id='comparison-variance-dbh' class='right'></td>
        <td id='comparison-density' class='right'></td>
        <td id='comparison-basal' class='right'></td>
      </tr>
    </tbody>
  </table><!-- end inner table -->
  </div><!-- end div nest -->
</div><!-- end div container -->

<div class="container" id="details">
  <!--h3 class="toggle"><span class='downarrow'>&#x25BE;</span>
      <span class='rightarrow'>&#x25B8</span>
      Sampling Details</h3-->
  <h3>Sampling Details</h3>
  <div id='plot-parent'>
    <div class='plot-wrapper' id='plot1'>
    <div class='plot-title'>
      PLOT 1:</div>
    <div class='plot-info toggle-container'>
    
    <table class="results-summary">
      <tr>
        <td class='header'>PLOT AREA (m<sup>2</sup>)</td>
        <td id='plot1-area' class='right'></td>
      </tr>
      <tr>
        <td class='header'>TREES</td>
        <td class='right'><span id='plot1-count'></span></td>
      </tr>
      <tr>
        <td class='header'>TOTAL SAMPLING TIME</td>
        <td class='right'><span id='plot1-time-total'></span> min</td>
      </tr>
    </table>

<h4 class='toggle-control'><span class='downarrow'>&#x25BE;</span>
      <span class='rightarrow'>&#x25B8</span> Details</h3>

  <div class='toggle-nest'>

  <table class="results-summary">
    <tr>
      <td class='header'>Time Spent...</td>
      <td></td>
    </tr>
    <tr>
      <td class='subheader right'>Locating Plot</td>
      <td class='right'><span id='plot1-time-locate'></span> min</td>
    </tr>
    <tr>
      <td class='subheader right'>Traveling to Plot Area</td>
      <td class='right'><span id='plot1-time-travel'></span> min</td>
    </tr>
    <tr>
      <td class='subheader right'>Establishing Plot</td>
      <td class='right'><span id='plot1-time-establish'></span> min</td>
    </tr>
    <tr>
      <td class='subheader right'>Measuring Trees</td>
      <td class='right'><span id='plot1-time-measure'></span> min</td>
    </tr>
  </table>
  
  <table class='results'>
    <thead>
      <tr>
        <td>SPECIES</td>
        <td># OF TREES</td>
        <td>MEAN DBH (cm)</td>
        <td>VARIANCE DBH</td>
        <td>DENSITY (N/ha)</td>
        <td>BASAL AREA (m<sup>2</sup>/ha)</td>
      </tr>
    </thead>
    <tbody id='plot1-species-table'>
      <tr>
        <td><strong>TOTAL: <span id='plot1-species'></span></strong></td>
        <td id='plot1-details-count' class='right'></td>
        <td id='plot1-dbh' class='right'></td>
        <td id='plot1-variance-dbh' class='right'></td>
        <td id='plot1-density' class='right'></td>
        <td id='plot1-basal' class='right'></td>
      </tr>
    </tbody>
  </table>
    </div><!-- end div toggle-nest -->
    </div><!-- end div plot-info -->
    </div><!-- end div plot-wrapper -->
  </div> <!-- end div nest -->
</div><!-- end div container -->


{% endblock %}