{% load static %}

<!DOCTYPE html>
<head>

    <title>The Virtual Forest Initiative: {% block title %}{% endblock %}</title>

    <style media="screen" type="text/css">
        @import "{% static 'css/site.css' %}";
        @import "{% static 'css/style.css' %}";
    </style>

    {% include "ctlsettings/sentry_js.html" %}

    <script>var STATIC_URL = "{{STATIC_URL}}";</script>

    {% block css %}{% endblock %}

    {% block jquery %}
        <!-- Altough most modules will use 1.6, some, such as tree respiration have been upgraded and
        I believe one module (can't recall which) is using 1.4 so override block in the other templates
        as needed -->
        <script src="{% static 'js/libraries/jquery-1.6.4.min.js' %}" type="text/javascript"></script>
    {% endblock jquery %}


    {% block js %}
    <!-- Moving JavaScript here, used in almost every module to the base template -->
    <script src="{% static 'js/mochikit/MochiKit/MochiKit.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/mochikit/MochiKit/Signal.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/browserdetect.js' %}" type="text/javascript" language="javascript"></script>
    {% endblock %}

    {% block feeds %}{% endblock %}

    {% include "google_analytics.html" %}

    <link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
    <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
</head>
<body class="{% block bodyclass %}{% endblock %}">

    {% block overlay %}{% endblock %}

<div id="masthead_top">
    <a href="http://ctl.columbia.edu/">
        <img id="ctl_logo"
             width="200"
             class="img-responsive"
             src="{% static 'images/ctl-logo-white.png' %}">
    </a>
<a href="/"><span id="brf"></span></a>
</div>

<div id="wrapper">

<h1 id="masthead"><span>{% block masthead %}{% endblock %}</span></h1>
<div id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
<div id="nav">{% block nav %}{% endblock %}</div>

{% block content %}{% endblock %}
</div>
{% block footer %}{% endblock %}
{% block script_footer %}{% endblock %}

{% if STAGING_ENV %}
    <div class="alert alert-error"
        style="position: fixed; bottom: 0px; background-color: #fee; border: #f00 solid 1px;">
        <h4>Warning: Staging Site</h4>
        <p>You are viewing a staging version of this site, not the production site.</p>
        <p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
    </div>
{% endif %}
</body></html>
