<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

    <title>The Virtual Forest Initiative: {% block title %}MY PAGE TITLE{% endblock %}</title>
    
    <style media="screen" type="text/css">
        @import "/site_media/css/site.css" ;
        @import "/site_media/css/style.css" ;
        @import "/site_media/css/shield.css";
    </style>

    <script src="/site_media/js/browserdetect.js" type="text/javascript" language="javascript"></script>
    <script src="/site_media/js/shield.js" type="text/javascript" language="javascript"></script>

    {% block css %}{% endblock %}
    
    {% block js %}{% endblock %}
    
    {% block feeds %}{% endblock %}
    
    {% include "google_analytics.html" %}

</head>
<body class="{% block bodyclass %}{% endblock %}">
    <div id="shieldbox"></div>
    {% block overlay %}{% endblock %}

<div id="masthead_top">
<a href="http://ccnmtl.columbia.edu/"><span id="ccnmtl"></span></a>
<a href="/"><span id="brf"></span></a>
</div>

<div id="wrapper">

<h1 id="masthead"><span>{% block masthead %}{% endblock %}</span></h1>
<div id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
<div id="nav">{% block nav %}{% endblock %}</div>

{% block content %}{% endblock %}
</div>
{% block footer %}{% endblock %}
{% block script_footer %}{% endblock %}

{% if STAGING_ENV %}
    <div class="alert alert-error"
        style="position: fixed; bottom: 0px; background-color: #fee; border: #f00 solid 1px;">
        <h4>Warning: Staging Site</h4>
        <p>You are viewing a staging version of this site, not the production site.</p>
        <p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
    </div>
{% endif %}
</body></html>
