{% extends "base.html" %}
{% load static %}

{% block title %}The Virtual Forest Initiative{% endblock %}

{% block css %}
<style type='text/css'>
  @import "{% static 'css/style.css' %}";
</style>
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}

<div id="content">

<h3>Welcome to the Virtual Forest Initiative!</h3>

<p>The Virtual Forest Initiative aims to provide a technological framework to support and enhance research, education, and community activities centered on scientific activities at <a href="https://www.blackrockforest.org/index.html"> Black Rock Forest</a>, a research forest located 50 miles north of New York City in the Hudson Highlands. At the heart of this initiative is the provision of searchable, downloadable forest data and resources for use by scientists, educators, and the general public.</p>

<p>As part of the Virtual Forest Initiative, <a href="http://welcome.ccnmtl.columbia.edu/">CCNMTL</a> is developing a suite of web-based learning tools that utilizes Black Rock Forest's rich archive of scientific records such as climate field station and tree data. These learning modules extend Black Rock's research and education assets and are used as laboratory assignments by Barnard and Columbia University Earth Science and Ecology faculty in their respective courses.</p>

<p>The following modules are presently in prototype form. Stay tuned for updates on this page, as we complete the full launch of our learning modules.</p>

<hr />

<h3 style='text-align:center;'>Modules</h3>

<p>Select a module by clicking on one of the module images below.</p>

<div class="container">
{% for app in apps %}
  {% if app.admin %}
    {% if user.is_staff %}
        <div class='screenshot'>
        <a href="{{ app.path }}">
          <img class='screenshot' src="{{STATIC_URL}}images/screenshot%20-%20{{app.name|urlencode}}.png" alt="{{app.name}}-screenshot"></img><br/>
          {{ app.name }}</a>
        </div>
    {% endif %}
  {% else %}
        <div class='screenshot'>
        <a href="{{ app.path }}">
          <img class='screenshot' src="{{STATIC_URL}}images/screenshot%20-%20{{app.name|urlencode}}.png" alt="{{app.name}}-screenshot"></img><br/>
          {{ app.name }}</a>
        </div>
  {% endif %}
{% endfor %}
</div>

{% if user.is_staff %}
  {% if not apps %}
    There are currently no modules enabled.
  {% endif %}
{% else %}
  {% ifequal num_public_apps 0 %}
    There are currently no modules enabled.
  {% endifequal %}
{% endif %}

</div>
{% endblock %}
