body 
{ 
	font-family: "Lucida Grande", "Trebuchet MS", arial, helvetica, sans-serif !important; 
}

#breadcrumbs { height: 20px; }

div#tab-bar
{
	position: absolute;
	right: 0;
	top: 154px;
}

div.tab
{
	/*background-color: #DCD3C2;*/
	background-color: #a18f83;
	color: black;
	z-index: 100;
	float: right;
	padding: 5px 10px 5px 10px;
	margin: 0px 25px 0 0;
	font-size: 14px;
	cursor: pointer;
}

div.tab-selected
{
	background-color: white;
	border-bottom: 3px white solid;
}

div#top-box
{
	margin: 70px 350px 0px 30px;
	border: 1px solid red;
}

.selected .line-id, .selected .keyitem { background-color: #ffffb3; }

div#container
{
	margin: 0px 30px 0px 30px;
	position: relative;
	min-width: 900px;
}

div#left
{
	
   float: left;
   width: 44%;
   min-width: 418px;
   margin-bottom: 10px;
}

div#instructions {
	margin-bottom: 1em;
}

.instructions {
	margin-bottom: 1em;
	float: left;
}

div#right
{
	float: left;
	width: 51%;
	margin-left: 1em;
	
}

#identify-box {
  border: 1px #A18F83 solid;
  margin-bottom: 10px;
  height: 163px;
}

.identify-title {
 
  background-color: #A18F83;
  padding: 5px;
  font-weight: bold;
}

#identify-form {
  margin-top: 10px;
  float: left;
}

#closebutton {
  display: none;
  float: right;
  border: 1px black solid;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}


#pollen-image-container {
  float: left;
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border: 1px solid #ccc;
  text-align: center;
  margin: 10px;
    padding: 5px;
}

#pollen-image-container2 {
  
  width: 200px;
  height: 100px;
  background-color: #ddd;
  border: 1px solid #ccc;
  text-align: center;
  margin: 10px;
  padding: 5px;
}


#pollen-image {



}

#pollen-image img {
  max-width: 100px;
  max-height: 100px;

  
}

.pollen-zoo-image img {
  cursor: pointer;
  max-width: 50px;
  max-height: 50px;
  margin: 5px 10px 5px 5px;
  float: left;
 

}

.pollen-zoo-image {
  
  float: left;
  background-color: #ddd;
  border: 1px solid #ccc;
  margin: 0 0 5px 12px;
  
}

.pollen-zoo-image.unanswered {
  
	width: 60px;

}

.pollen-zoo-image.answered {
  
	width: 356px;


}

.pollen-zoo-image.core {
  
	width: 210px;

}

.pollen-zoo-image .imagename{
  font-size: 11px;
   margin: 5px;
   
   

}

.pollen-zoo-image .imageanswer {
  color: green;
  font-style: italic;
    font-size: 11px;
 
 

}

#pollen-zoo-outer {
  border: 1px #A18F83 solid;
  
}

#pollen-zoo {
  height: 335px;
  overflow: auto;
  padding: 10px;
}

#complete {
  display: none;
  float: right;
}

.rightanswer {
  border: 5px green solid;
}

.wronganswer {
  border: 5px red solid;
}


#key-tabs {
}

div.keytab-selected
{
	background-color: #DCD3C2;
}

.key-tab
{
	text-align: center;
	text-decoration: none;
	margin: 0px;
	font-weight: bold;
	cursor: pointer;
	background-color: #A18F83;
	padding: 4px .5em 7px .5em;
	display: inline;
	font-size: 90%;
}

#key-container {

	background-color:#DCD3C2;
	padding: 5px;
	margin-top: 7px;
	border: 1px solid #DCD3C2;
	margin-bottom: 10px;
}

.key {
   
   font-size: 75%;
	height:525px;
	overflow: auto;
   
}

.key_button {
  border-top: 1px #ccc solid;
   border-left: 1px #ccc solid;
   border-right: 1px #999 solid;
  border-bottom: 1px #999 solid;
  font-size: 12px;
  text-align: center;
  font-style: italic;
  padding: 5px;
  cursor: pointer;
    font-size: 75%;
    font-weight: bold;
   background-color: #dedede;
}



.key_answer {
  font-style: italic;
  color: #47634b;
  margin-top: 3px;
  fomt-size: 11px;
}

.key table {
  border-top: 1px #A18F83 solid;
  font-size: 75%;

}

.keyitem {

background-color: #fff;
padding: 1px 0;
margin-left: 30px;

}



#key-reset {

	float: right;
	
	
	}
	
.keyrow {

	
	margin-bottom: 5px;
}


.characteristic-pair{

border: 1px solid #ccc;
margin: 5px;
padding: 5px;
min-height:23px;
background-color: #fff;

}

.characteristic {

	display: block;
	margin-right: 125px;

}


.line-id {

	display: block;
	height: 20px;
	width: 20px;
	background-color: #fff;
	padding: 5px;
	text-align: center;
	font-size:120%;
font-weight:bold;
float: left;
}
	
.button-container {

width: 120px;
float: right;
margin-top: 0px;

}

/* styles for results tables */
table.resultstable td.header, table.resultstable thead td {
  background-color: #000;
  color: #fff;
}

div#details {
  width: 100%;
  height: 400px;
  overflow: auto;
}

div.results-container {
  background-color: lightgray;
  padding: 5px;
  border: 1px black solid;
}

div.results-container table {
  border-collapse: collapse;
}

table.resultstable td {
  border: 1px gray solid;
  padding: 5px;
  background-color: #fff;
}

tr.totals td {
  background-color: lightgray;
}

/* styles for explore view */
div.sample-info {
  display:none;
  height: 400px;
   background-color: #fff;
  font-size:75%;
   border: 1px solid #A18F83;
}

div.sample-info-title {
  background-color: #A18F83;
  padding: 5px;
  font-weight: bold;
}

div.sample-info-container {
 border: 1px solid #A18F83;
  
}

div.sample-info-right {
  border: 1px solid #A18F83;
  margin: 10px;
  float: left;
  padding: 5px;
}

div.sample-info-left {
  border: 1px solid #A18F83;
  margin: 10px;
  float: left;
    padding: 5px;
    overflow: auto;
    height: 340px;
    width: 250px;

}

div#yardstick {
  border-right: 1px black dotted;
  height: 595px;
  float: left;
  padding-right: 35px;
  font-size: 80%;
  color: #5d5d5d;
  margin-top: 5px;

}

div#yardstick .toplevel {

float: right;
margin-top:-10px;



}

div#yardstick .bottomlevel {

display: block;
margin-top:582px;
position:relative;


}

div#core-unzoomed {
  
  height: 606px;
  width: 60px;
     float: left;
       	background-image: url(../images/coresample/wholecore.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}

div#core-zoomed {
  border: 1px gray solid;
  height: 600px;
  width: 125px;
  overflow: auto;
    float: left;
    margin-left: 1em;
}

div.core-slice {
  border: 2px white solid;
  background-color: #833c3b;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

div.core-slice.2 {
 
  background-color: #925f5f;

}

div.core-slice.3 {

  background-color: #5d5d5d;

}

div.core-slice a:link {
  text-decoration: none;
  color: #000;
}

div.middle {
	float: left;
	margin:-1em 1em 0 -1em;
	position: absolute;
}

div.datapop {
	float: left;
	margin: 1em 0 0 20em;
	position: absolute;
	width: 560px;
}

div#right-inner {
   background-color: lightgray;
   height: 580px;
   padding: 10px;
   float: left;
}

div.bottom {
  text-align: right;
}