<script type="text/javascript">
   addLoadEvent(previewSolr);
</script>

<form name="solr_loader" id="id_solr_loader" action="../../paleoecology/loadsolr" method="POST" onSubmit="return submitSolrQuery(this, 'solr_progress');">
     <input type="hidden" name="application" value="paleoecology"></input>
     <input type="hidden" name="collection_id" value="paleo"></input>
     <input type="hidden" name="import_set_type" value="educational"></input>
     <input type="hidden" name="facet_field" value="import_set_section"></input>
     <input type="hidden" name="import_set" value=""></input>

     <fieldset class="module aligned">
        <h2>Import Data from SOLR</h2>
        <div style="color: #F00; font-weight: bold; margin: 5px 5px;"><div id="solr_error"></div></div>
        <div style="color: #00F; font-weight: bold; margin: 5px 5px;"><div id="solr_status"></div></div>
        <div id="solr_progress" class="progress_indicator" style="display: none; top: 116px;"><div>Loading...please wait<br /><img src="/site_media/images/progress.gif" /></div></div>
        
        <div class="form-row">
           <label class="required">Preview:</label>  
           <div style="display: none;" id="no_data_to_import">No data has changed since the prior import. Nothing to do.</div> 
           <div style="display: none;" id="no_last_import_date">All available data will be imported.</div>
           <div style="display: none;" id="yes_last_import_date">Data modified after <span id="id_last_import_datetime"></span> will be imported.</div>
           <br />
           <table style="margin-left: 102px" id="previewsolr"></table>
        </div>
        <div class="submit-row">
            <input value="Import" class="default" name="_save" type="submit">
            <input onclick="return previewSolr();" value="Update Preview" name="_continue" type="submit">
        </div>
    </fieldset>
    
</form>

<br/><br/>


<form name="loadcounts" action="../../paleoecology/loadcounts" enctype="multipart/form-data" method="POST">
    <fieldset class="module aligned">
        <h2>Import Pollen Counts From CSV</h2>
    
        <div style="color: #F00; font-weight: bold; margin: 5px 5px;" colspan="2"><div id="import_error"></div></div>
        <div style="color: #00F; font-weight: bold; margin: 5px 5px;" colspan="2"><div id="import_status"></div></div>
        <div id="progress_indicator" style="display: none;">Loading...please wait<br /><img src="/site_media/images/progress.gif" /></div>
    
        <div class="form-row">
            <label for="id_csvfile" class="required">Filename:</label><input type="file" id="id_csvfile" name="csvfile" size="40"></input>
        </div> 
        <div class="form-row">
            <input value="Import Data" class="default" name="_submit" type="submit">
        </div>
    </fieldset>
</form>
<br />
<form name="loadpercents" action="../../paleoecology/loadpercents" enctype="multipart/form-data" method="POST">
    <fieldset class="module aligned">
        <h2>Import Pollen Percentages From CSV</h2>
    
        <div style="color: #F00; font-weight: bold; margin: 5px 5px;" colspan="2"><div id="import_error"></div></div>
        <div style="color: #00F; font-weight: bold; margin: 5px 5px;" colspan="2"><div id="import_status"></div></div>
        <div id="progress_indicator" style="display: none;">Loading...please wait<br /><img src="/site_media/images/progress.gif" /></div>
    
        <div class="form-row">
            <label for="id_csvfile" class="required">Filename:</label><input type="file" id="id_csvfile" name="csvfile" size="40"></input>
        </div> 
        <div class="form-row">
            <input value="Import Data" class="default" name="_submit" type="submit">
        </div>
    </fieldset>
</form>
<br />
