{% extends "paleoecology/base_paleoecology.html" %}
{% load paleo-extras %}

{% block pagetitle %}Sediment Sampling{% endblock %}

{% block tabname %}tab-coresample{% endblock %}

{% block css %}
{{ block.super }}
<style type='text/css'>
  @import "media/css/corestyle.css";
</style> 

{% endblock %}

{% block js %}
{{ block.super }}

  <script type="text/javascript">
    function initNav() {
      connect("tab-identification", "onclick", function() { location.href='identification'; });
    }
    addLoadEvent(initNav);
  </script>
  
  <script type="text/javascript" src="/site_media/js/mochikit/MochiKit/DragAndDrop.js"></script> 
  <script type="text/javascript" src="media/js/explore-nav.js"></script>
  <script type="text/javascript" src="media/js/explore.js"></script>
{% endblock %}

{% block left %}

<div id="yardstick"><span class="toplevel">0cm</span><span class="bottomlevel">1070cm</span></div>
<div id="core-unzoomed"><div id="windowdrag"><img src="../../paleoecology/media/images/coresample/windowdrag.png" alt="" width="65" height="25"></div></div>  
<div id="core-zoomed">
    <!--div class="core-slice core-slice-clay"></div-->
    <!--div class="core-slice core-slice-mixed"></div-->
    <!--div class="core-slice core-slice-mud"></div-->
    <!--div class="core-slice core-slice-blank"></div-->

    {% for n in intervals %}
      {% if samples|contains:n %}
        <div id="core-slice-{{n|floatformat}}" class="core-slice core-slice-{{n|soiltype}}">
          {{n|floatformat}}
        </div>
      {% endif %}
      {% if not samples|contains:n %}
        <div id="core-slice-{{n|floatformat}}" class="core-slice core-slice-blank"></div>
      {% endif %}
    {% endfor %}    
  </div>

{% endblock %}

{% block right %}
 <div id="right-inner">

  
  <div class="instructions">
    Explore the sediment core at left to get an understanding of how the forest has changed over time.
  </div>
  
     <div class="datapop">
    {% for sample in samples %}
    <div id="sample-info-{{sample|floatformat}}" class="sample-info unloaded">
      <div class="sample-info-title">Sample Depth: {{sample|floatformat}}cm<div id="closebutton">X</div></div>
      <div id="sample-inf-container">
      <div class="sample-info-left-container">
        <h4>Most common specimens in this sample</h4>
        <div class="sample-info-left">
        <div id="sample-counts-{{sample|floatformat}}">
          Loading, please wait...
        </div>
        <br /></div>
      </div>
      <div class="sample-info-right-container">
      <h4>Species breakdown</h4>
      <div class="sample-info-right">
       
        <div id="sample-percents-{{sample|floatformat}}">
          Loading, please wait...
        </div>
      </div>
      </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="bottom">
    <a href="data/percentages.csv" style="text-decoration:none;">
    <input type="button" value="Download CSV &gt;&gt;"></input>
    </a>
  </div>
  </div>
  
   
  
{% endblock %}