{% extends "paleoecology/base_paleoecology.html" %} 
{% load extras %}

{% block tabname %}tab-identification{% endblock %} 

{% block js %} 
{{ block.super }} 

  <script type="text/javascript">
    function initNav() {
      connect("tab-coresample", "onclick", function() { location.href='coresample'; });
    }
    addLoadEvent(initNav);
  </script>
  
  <script type="text/javascript" src="media/js/interactive_key.js"></script>
{% endblock %} 

{% block left %}

<div id="identify-box">
  <div id="identify-title">Identify This Specimen</div>
  
  <div id="pollen-image"><img src="media/images/pollen/alnus (alder) pollen.jpg"></img></div>
  
  <form id="identify-form">
    Write Species Name:<br />
    <input type="text"></input><br />
    <button>Next Species &gt;&gt;</button>
  </form>
</div>

<div id="pollen-zoo">
  Species to Identify<br />
  
  <img src="media/images/pollen/abies (fir) needle.jpg" />
  <img src="media/images/pollen/abies (fir) pollen.jpg" />
  <img src="media/images/pollen/alnus (alder) pollen.jpg" />
  <img src="media/images/pollen/asteraceae (herbs) pollen.jpg" />
  <img src="media/images/pollen/betula (birch) pollen.jpg" />
  <img src="media/images/pollen/betula papyrifera (paper birch) seed.jpg" />
  <img src="media/images/pollen/betula populifolia (gray birch) seed.jpg" />
  <img src="media/images/pollen/carya (hickory) pollen.jpg" />
  <img src="media/images/pollen/castanea dentata (American chestnut) pollen.jpg" />
  <img src="media/images/pollen/cyperaceae (sedge) pollen.jpg" />
  <img src="media/images/pollen/fagus grandifolia (American beech) pollen.jpg" />
  <img src="media/images/pollen/fraxinus (ash) pollen.jpg" />
  <img src="media/images/pollen/gramineae (grass) pollen.jpg" />
  <img src="media/images/pollen/ostrya - carpinus pollen.jpg" />
  <img src="media/images/pollen/picea (spruce) needle.jpg" />
  <img src="media/images/pollen/picea (spruce) pollen.jpg" />
  <img src="media/images/pollen/pinus strobus (white pine) needle.jpg" />
  <img src="media/images/pollen/pinus strobus (white pine) pollen.jpg" />
  <img src="media/images/pollen/quercus (oak) pollen.jpg" />
  <img src="media/images/pollen/tsuga canadensis (eastern hemlock) needles.jpg" />
  <img src="media/images/pollen/tsuga canadensis (eastern hemlock) pollen.jpg" />
</div>

{% endblock %}



{% block right %}
<div id="key-tabs">
  <div id="seed-tab" class="key-tab">Seed Key</div>
  <div id="needle-tab" class="key-tab">Needle Key</div>
  <div id="pollen-tab" class="key-tab keytab-selected">Pollen Key</div>
</div>

<div id="pollen-key" class="key">

  <table class="keyitem selected" id="keyitem-1">
    <tr>
      <td rowspan=2>1.</td>
      <td>
        Pollen has bladders (vesiculate)
      </td>
      <td align='right'>
        <div class="key_button" onclick="goto('1','12')">Go to 12.</div>
      </td>
    </tr>
    <tr>
      <td>
        Pollen has no bladders
      </td>
      <td align='right'>
        <div class="key_button" onclick="goto('1','2a');">Go to 2a.</div>
      </td>
    </tr>
  </table>

  <table class="keyitem" id="keyitem-2a">
    <tr>
      <td rowspan=2>2a.</td>
      <td>
        Pollen is spherical/round or somewhat elongated in shape
      </td>
      <td>
        <div class="key_button" onclick="goto('2a','2b')">Go to 2b.</div>
      </td>
    </tr>
    <tr>
      <td>
        Pollen is pyramidal (pear-shaped)
      </td>
      <td>
        <div class="key_button" onclick="goto('2a','14')">Go to 14.</div>
      </td>
    </tr>
  </table>

  <table class="keyitem" id="keyitem-2b">
    <tr>
      <td rowspan=3>2b.</td>
      <td>
        Pollen has spines or bumps
      </td>
      <td>
        <div class="key_answer">Asteraceae/Composite/Ambrosia</div>
      </td>
    </tr>
    <tr>
      <td>
        Pollen has pores only (porate)
      </td>
      <td>
        <div class="key_button" onclick="goto('2b','3')">Go to 3.</div>
      </td>
    </tr>
    <tr>
      <td>
        Pollen has no pores and no furrows
      </td>
      <td>
        <div class="key_button" onclick="goto('2b','14')">Go to 14.</div>
      </td>
    </tr>
  </table>

  <table class="keyitem" id="keyitem-3">
    <tr>
      <td rowspan=2>3.</td>
      <td>
        Pollen has one pore (monoporate)
      </td>
      <td>
        <div class="key_answer">Gramineae/Poaceae/Grasses</div>
      </td>
    </tr>
    <tr>
      <td>
        Pollen has more than one pore
      </td>
      <td>
        <div class="key_button" onclick="goto('3','6')">Go to 6.</div>
      </td>
    </tr>
  </table>

  <table class="keyitem" id="keyitem-4">
    <tr>
      <td rowspan=2>4.</td>
      <td>
        Pollen has furrows only (colpate)
      </td>
      <td>
        <div class="key_button" onclick="goto('4','5')>Go to 5.</div>
      </td>
    </tr>
    <tr>
      <td>
        Pollen has furrows and pores (colporate)
      </td>
      <td>
        <div class="key_button" onclick="goto('4','11')">Go to 11.</div>
      </td>
    </tr>
  </table>

  <table class="keyitem" id="keyitem-5">
    <tr>
      <td rowspan=2>5.</td>
      <td>
        Pollen has three furrows and is slightly elongated
      </td>
      <td>
        <div class="key_answer">Quercus (oak)</div>
      </td>
    </tr>
    <tr>
      <td>
        Pollen has four shallow furrows
      </td>
      <td>
        <div class="key_answer">Fraxinus (ash)</div>
      </td>
    </tr>
  </table>

  <table class="keyitem" id="keyitem-6">
    <tr>
      <td rowspan=2>6.</td>
      <td>
        Pollen has three pores (triporate)
      </td>
      <td>
        <div class="key_button" onclick="goto('6','7')">Go to 7.</div>
      </td>
    </tr>
    <tr>
      <td>
        Pollen has more than three pores
      </td>
      <td>
        <div class="key_button" onclick="goto('6','9')">Go to 9.</div>
      </td>
    </tr>
  </table>
  
  <table class="keyitem" id="keyitem-7">
    <tr>
      <td rowspan=3>7.</td>
      <td>
        Three pores are on edge of grain and are protruding
      </td>
      <td>
        <div class="key_answer">Betula (birch)</div>
      </td>
    </tr>
    <tr>
      <td>
        Three pores are on edge of grain and not protruding
      </td>
      <td>
        <div class="key_answer">Ostrya/Carpinus</div>
      </td>
    </tr>
    <tr>
      <td>
        Three pores not on edge of grain
      </td>
      <td>
        <div class="key_button" onclick="goto('7','8')">Go to 8.</div>
      </td>
    </tr>
  </table>

  <table class="keyitem" id="keyitem-8">
    <tr>
      <td>8.</td>
      <td>
        Three pores are round and flat and on same face of pollen grain
      </td>
      <td>
        <div class="key_answer">Carya (hickory)</div>
      </td>
    </tr>
  </table>

  <table class="keyitem" id="keyitem-9">
    <tr>
      <td>9.</td>
      <td>
        Pollen has 4 or 5 pores
      </td>
      <td>
        <div class="key_button" onclick="goto('9','10')">Go to 10.</div>
      </td>
    </tr>
  </table>

  <table class="keyitem" id="keyitem-10">
    <tr>
      <td rowspan=2>10.</td>
      <td>
        Pores are connected by arcs
      </td>
      <td>
        <div class="key_answer">Alnus (alder)</div>
      </td>
    </tr>
    <tr>
      <td>
        Pores not connected by arcs and surface has rugulate (lobed) pattern
      </td>
      <td>
        <div class="key_answer">Ulmus (elm)</div>
      </td>
    </tr>
  </table>
  
  <table class="keyitem" id="keyitem-11">
    <tr>
      <td rowspan=2>11.</td>
      <td>
        Pollen is tricolporate and the circular pore exceeds the width of the furrow
      </td>
      <td>
        <div class="key_answer">Fagus (beech)</div>
      </td>
    </tr>
    <tr>
      <td>
        Pollen is tricolporate, elongated and small
      </td>
      <td>
        <div class="key_answer">Castanea dentata (American chestnut)</div>
      </td>
    </tr>
  </table>
  
  <table class="keyitem" id="keyitem-12">
    <tr>
      <td rowspan=3>12.</td>
      <td>
        Connection between bladder and body is not constricted at point of attachment
      </td>
      <td>
        <div class="key_answer">Picea (spruce)</div>
      </td>
    </tr>
    <tr>
      <td>
        Connection between bladder and body is constricted
      </td>
      <td>
        <div class="key_button" onclick="goto('12','13')">Go to 13.</div>
      </td>
    </tr>
  </table>

  <table class="keyitem" id="keyitem-13">
    <tr>
      <td rowspan=2>13.</td>
      <td>
        Cap on body has uneven thickness
      </td>
      <td>
        <div class="key_answer">Abies (fir)</div>
      </td>
    </tr>
    <tr>
      <td>
        Cap on body has even thickness and has bumps on bottom of body (verrucae)
      </td>
      <td>
        <div class="key_answer">Pinus strobus (white pine)</div>
      </td>
    </tr>
  </table>

  <table class="keyitem" id="keyitem-14">
    <tr>
      <td rowspan=2>14.</td>
      <td>
        Pollen has no pore or furrow and has a pyramidal shape
      </td>
      <td>
        <div class="key_answer">Cyperaceae (sedge)</div>
      </td>
    </tr>
    <tr>
      <td>
        Pollen has no pore or furrow and is large and round
      </td>
      <td>
        <div class="key_answer">Tsuga canadensis (e. hemlock)</div>
      </td>
    </tr>
  </table>


  <!--div class="yesno">
    <div class="yn_button" onclick="goto(2a)">No</div>
    <div class="yn_button" onclick="goto(13)">Yes</div>
  </div>
  <div class="keyitem selected" id="keyitem-1">1. Pollen has bladders (vesiculate)
    <div class="keygoto">Go to 13.</div>
  </div>

  <div class="yesno">
    <div class="yn_button" onclick="goto(2b)">No</div>
    <div class="yn_button" onclick="goto(15)">Yes</div>
  </div>
  <div class="keyitem" id="keyitem-2a">2a. Pollen is pyramidal (pear-shaped)
    <div class="keygoto">Go to 15.</div>
  </div>
</div-->

<div id="needle-key" class="key" style="display:none;">
  THIS IS NEEDLE KEY
</div>

<div id="seed-key" class="key" style="display:none;">
  THIS IS SEED KEY
</div>

{% endblock %}