{% extends "paleoecology/base_paleoecology.html" %} 
{% load extras %}

{% block tabname %}tab-identification{% endblock %} 

{% block js %} 
{{ block.super }} 

  <script type="text/javascript">
    function initNav() {
      connect("tab-coresample", "onclick", function() { location.href='coresample'; });
    }
    addLoadEvent(initNav);
  </script>
  
  <script type="text/javascript" src="media/js/pollen_identification.js"></script>
  <script type="text/javascript" src="media/js/interactive_key.js"></script>
{% endblock %} 

{% block instructions %}
<div id="instructions"><strong>Instructions:</strong> Use the appropriate interactive key to identify each of the pictured specimens.  You may change your answer any time by clicking on a specimen you have already identified.</div>
{% endblock %}

{% block left %}

<div id="identify-box">
  <div class="identify-title">Identify This Specimen</div>
  
 <div id="pollen-image-container"><div id="pollen-image"></div></div>
  
  <form id="identify-form">
    <div>
      Choose Species Name:<br /><br />
        <select name="pollen-choice" id='pollen-choice'>
          <option value=""></option>
          <option value="abies (fir) needle">abies (fir) needle</option>
          <option value="abies (fir) pollen">abies (fir) pollen</option>
          <option value="alnus (alder) pollen">alnus (alder) pollen</option>
          <option value="asteraceae (herbs) pollen">asteraceae (herbs) pollen</option>
          <option value="betula (birch) pollen">betula (birch) pollen</option>
          <option value="betula papyrifera (paper birch) seed">betula papyrifera (paper birch) seed</option>
          <option value="betula populifolia (gray birch) seed">betula populifolia (gray birch) seed</option>
          <option value="carya (hickory) pollen">carya (hickory) pollen</option>
          <option value="castanea dentata (American chestnut) pollen">castanea dentata (American chestnut) pollen</option>
          <option value="cyperaceae (sedge) pollen">cyperaceae (sedge) pollen</option>
          <option value="fagus grandifolia (American beech) pollen">fagus grandifolia (American beech) pollen</option>
          <option value="fraxinus (ash) pollen">fraxinus (ash) pollen</option>
          <option value="gramineae (grass) pollen">gramineae (grass) pollen</option>
          <option value="ostrya/carpinus pollen">ostrya/carpinus pollen</option>
          <option value="picea (spruce) needle">picea (spruce) needle</option>
          <option value="picea (spruce) pollen">picea (spruce) pollen</option>
          <option value="pinus strobus (white pine) needle">pinus strobus (white pine) needle</option>
          <option value="pinus strobus (white pine) pollen">pinus strobus (white pine) pollen</option>
          <option value="quercus (oak) pollen">quercus (oak) pollen</option>
          <option value="tsuga canadensis (eastern hemlock) needle">tsuga canadensis (eastern hemlock) needle</option>
          <option value="tsuga canadensis (eastern hemlock) pollen">tsuga canadensis (eastern hemlock) pollen</option>
          
        </select>
      </div>
      <!--input type="text" id='name-form'></input--><br />
      <span id="next"><input type='button' id='next' value='Next Species &gt;&gt;'/></span>
    <br /><br />
    <input type='button' id='answers' value='Check Answers' />
  </form>
</div>

<div id="pollen-zoo-outer">
  <div class="identify-title"><span id='zoo-title'>Species to Identify</span><div id='closebutton'>X</div></div>
  <div id="pollen-zoo"></div>
</div>

{% endblock %}

{% block bottombuttons %}
  <input type='button' id='complete' value='Complete Activity &gt;&gt;' />


{% endblock %}

{% block right %}


<div id="key-tabs">
  <div id="seed-tab" class="key-tab">Seed Key</div>
  <div id="needle-tab" class="key-tab">Needle Key</div>
  <div id="pollen-tab" class="key-tab keytab-selected">Pollen Key</div><input type="button" id='key-reset' value="Start Over" />
</div>
<div id="key-container">


<div id="pollen-key" class="key">


 <div class="keyrow"> <div class="line-id selected">1.</div><div class="keyitem selected" id="keyitem-pollen1">
    <div class="characteristic-pair">
     
      <div class="characteristic">
        Pollen has bladders (vesiculate)
      </div>
      <div class="button-container">
        <div class="key_button" onclick="goto('12')">Go to 12.</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Pollen has no bladders
      </div>
      <div class="button-container">
        <div class="key_button" onclick="goto('2a');">Go to 2a.</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow"> <div class="line-id">2a.</div><div class="keyitem" id="keyitem-pollen2a">
    <div class="characteristic-pair">
     
      <div class="characteristic">
        Pollen is spherical/round or somewhat elongated in shape
      </div>
      <div class="button-container">
        <div class="key_button" onclick="goto('2b')">Go to 2b.</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Pollen is pyramidal (pear-shaped)
      </div>
      <div class="button-container">
        <div class="key_button" onclick="goto('14')">Go to 14.</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow"><div class="line-id">2b.</div><div class="keyitem" id="keyitem-pollen2b">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Pollen has spines or bumps
      </div>
      <div class="characteristic">
        <div class="key_answer">Asteraceae/Composite/Ambrosia</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Pollen has pores only (porate)
      </div>
      <div class="button-container">
        <div class="key_button" onclick="goto('3')">Go to 3.</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Pollen has no pores and no furrows
      </div>
      <div class="button-container">
        <div class="key_button" onclick="goto('14')">Go to 14.</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow"><div class="line-id">3.</div><div class="keyitem" id="keyitem-pollen3">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Pollen has one pore (monoporate)
      </div>
      <div class="characteristic">
        <div class="key_answer">Gramineae/Poaceae/Grasses</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Pollen has more than one pore
      </div>
      <div class="button-container">
        <div class="key_button" onclick="goto('6')">Go to 6.</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow"><div class="line-id">4.</div><div class="keyitem" id="keyitem-pollen4">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Pollen has furrows only (colpate)
      </div>
      <div class="button-container">
        <div class="key_button" onclick="goto('5')">Go to 5.</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Pollen has furrows and pores (colporate)
      </div>
      <div class="button-container">
        <div class="key_button" onclick="goto('11')">Go to 11.</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow"><div class="line-id">5.</div><div class="keyitem" id="keyitem-pollen5">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Pollen has three furrows and is slightly elongated
      </div>
      <div class="characteristic">
        <div class="key_answer">Quercus (oak)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Pollen has four shallow furrows
      </div>
      <div class="characteristic">
        <div class="key_answer">Fraxinus (ash)</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow"><div class="line-id">6.</div><div class="keyitem" id="keyitem-pollen6">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Pollen has three pores (triporate)
      </div>
      <div class="button-container">
        <div class="key_button" onclick="goto('7')">Go to 7.</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Pollen has more than three pores
      </div>
      <div class="button-container">
        <div class="key_button" onclick="goto('9')">Go to 9.</div>
      </div>
    </div>
  </div></div>
  
  <div class="keyrow"><div class="line-id">7.</div><div class="keyitem" id="keyitem-pollen7">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Three pores are on edge of grain and are protruding
      </div>
      <div class="characteristic">
        <div class="key_answer">Betula (birch)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Three pores are on edge of grain and not protruding
      </div>
      <div class="characteristic">
        <div class="key_answer">Ostrya/Carpinus</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Three pores not on edge of grain
      </div>
      <div class="button-container">
        <div class="key_button" onclick="goto('8')">Go to 8.</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow"><div class="line-id">8.</div><div class="keyitem" id="keyitem-pollen8">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Three pores are round and flat and on same face of pollen grain
      </div>
      <div class="characteristic">
        <div class="key_answer">Carya (hickory)</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow"><div class="line-id">9.</div><div class="keyitem" id="keyitem-pollen9">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Pollen has 4 or 5 pores
      </div>
      <div class="button-container">
        <div class="key_button" onclick="goto('10')">Go to 10.</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow"><div class="line-id">10.</div><div class="keyitem" id="keyitem-pollen10">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Pores are connected by arcs
      </div>
      <div class="characteristic">
        <div class="key_answer">Alnus (alder)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Pores not connected by arcs and surface has rugulate (lobed) pattern
      </div>
      <div class="characteristic">
        <div class="key_answer">Ulmus (elm)</div>
      </div>
    </div>
  </div></div>
  
  <div class="keyrow"><div class="line-id">11.</div><div class="keyitem" id="keyitem-pollen11">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Pollen is tricolporate and the circular pore exceeds the width of the furrow
      </div>
      <div class="characteristic">
        <div class="key_answer">Fagus (beech)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Pollen is tricolporate, elongated and small
      </div>
      <div class="characteristic">
        <div class="key_answer">Castanea dentata (American chestnut)</div>
      </div>
    </div>
  </div></div>
  
  <div class="keyrow"><div class="line-id">12.</div><div class="keyitem" id="keyitem-pollen12">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Connection between bladder and body is not constricted at point of attachment
      </div>
      <div class="characteristic">
        <div class="key_answer">Picea (spruce)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Connection between bladder and body is constricted
      </div>
      <div class="button-container">
        <div class="key_button" onclick="goto('13')">Go to 13.</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow"><div class="line-id">13.</div><div class="keyitem" id="keyitem-pollen13">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Cap on body has uneven thickness
      </div>
      <div class="characteristic">
        <div class="key_answer">Abies (fir)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Cap on body has even thickness and has bumps on bottom of body (verrucae)
      </div>
      <div class="characteristic">
        <div class="key_answer">Pinus strobus (white pine)</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow"><div class="line-id">14.</div><div class="keyitem" id="keyitem-pollen14">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Pollen has no pore or furrow and has a pyramidal shape
      </div>
      <div class="characteristic">
        <div class="key_answer">Cyperaceae (sedge)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Pollen has no pore or furrow and is large and round
      </div>
      <div class="characteristic">
        <div class="key_answer">Tsuga canadensis (eastern hemlock)</div>
      </div>
    </div>
  </div></div>

</div>

<div id="needle-key" class="key" style="display:none;">

  <div class="keyrow"><div class="line-id">1.</div><div class="keyitem selected" id="keyitem-needle1">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Needle is square in cross-section
      </div>
      <div class="characteristic">
        <div class="key_answer">Picea (spruce)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Needle is not square in cross-section
      </div>
      <div class="characteristic">
        <div class="key_button" onclick="goto('2')">Go to 2.</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow"><div class="line-id">2.</div><div class="keyitem" id="keyitem-needle2">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Needle is flat in cross-section
      </div>
      <div class="characteristic">
        <div class="key_button" onclick="goto('3')">Go to 3.</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Needle is not flat in cross-section
      </div>
      <div class="characteristic">
        <div class="key_button" onclick="goto('4')">Go to 4.</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow"><div class="line-id">3.</div><div class="keyitem" id="keyitem-needle3">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Needle has a notch at the tip
      </div>
      <div class="characteristic">
        <div class="key_answer">Abies (fir)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Needle has no notch at the tip and the leaf stem (petiole) is at a 45&deg; angle
      </div>
      <div class="characteristic">
        <div class="key_answer">Tsuga (hemlock)</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow"><div class="keyitem" id="keyitem-needle4">
    <div class="characteristic-pair">
      <div class="characteristic">4.</div>
      <div class="characteristic">
        Needle is triangular in cross-section and slightly serrated
      </div>
      <div class="characteristic">
        <div class="key_answer">Pinus strobus (white pine)</div>
      </div>
    </div>
  </div></div>

</div>

<div id="seed-key" class="key" style="display:none;">

  <div class="keyrow"><div class="line-id">1.</div>
  <div class="keyitem selected" id="keyitem-seed1">
    
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Each wing of the seed is about the same size as the nut of the seed
      </div>
      <div class="characteristic">
        <div class="key_answer">Betula papyrifera (paper birch)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Each wing of the seed is much larger than the nut of the seed
      </div>
      <div class="characteristic">
        <div class="key_answer">Betula populifolia (gray birch)</div>
      </div>
    </div>
  </div>
  </div>
</div>

</div>

{% endblock %}