{% extends "base.html" %}

{% block title %}Paleoecology{% endblock %}

{% block css %}
<style type='text/css'>
  @import "media/css/style.css";
</style>

{% endblock %}

{% block js %}
{% endblock %}

{% block masthead %}
Paleoecology
{% endblock %}

{% block content %}

<div id="content">

<h3>Welcome to the Paleoecology Module!</h3>

<h4>
Overview
</h4>

<p>
This module has two activities centered on data from a sediment core sample taken from Sutherland Pond in Black Rock Forest.
</p>

<p>
In the Pollen Identification Activity, students learn how to identify pollen grains and plant macrofossils found in Sutherland Pond sediments.
</p>

<p>
In the Sediment Core Sampling Activity, students learn strategies for efficient sampling of a pond core to ensure the capture of the relevant changes in the pollen record over time.
</p>

<p>
This module is currently being developed by the Center for New Media Teaching and Learning in collaboration with Dr. Terryanne Maenza-Gmelch of the Department of Environmental Science at Barnard College.
</p>

<h4>This Module Contains Two Activities:</h4>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="identification">Start Pollen Identification Activity</a></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="explore">Start Sediment Sampling Activity</a></p>

<h4>
Technical Specifications
</h4>

<p>
Use the latest Firefox browser to access the Paleoecology Module.
</p>

</div>
{% endblock %}

{% block script_footer %}    
    <script type="text/javascript">
        /* Select from list: Chrome, Firefox, Safari, MSIE */
        shieldbrowser({"Chrome": 1, "Firefox": 3.6, "Safari": 4, "MSIE": 7 });
    </script>
{% endblock %} 