{% extends "base.html" %}

{% block title %}Paleoecology{% endblock %}

{% block css %}
<style type='text/css'>
  @import "media/css/style.css";
</style>

{% endblock %}

{% block js %}
{% endblock %}

{% block masthead %}
Paleoecology
{% endblock %}

{% block content %}

<div id="content">

<h3>Welcome to the Paleoecology Module!</h3>

<h4>
Overview
</h4>

<p>
This module has two activities centered on data from a core sediment sample taken from Sutherland Pond in Black Rock Forest.
</p>

<p>
In the Pollen Identification Activity, students learn how to identify pollen grains and other plant macrofossils from a pond core sample.
</p>

<p>
In the Core Sediment Sampling Activity, students learn strategies for efficient sampling of a pond core to ensure the capture of the relevant changes in the pollen record over time.
</p>

<p>
This module is currently being developed by the Center for New Media Teaching and Learning in collaboration with Dr. Terryanne Maenza-Gmelch of the Department of Environmental Science at Barnard College.
</p>

<h4>This Module Contains Two Activities:</h4>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="identification">Start Pollen Identification Activity</a></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="coresample">Start Sediment Sampling Activity</a></p>

<h4>
Technical Specifications
</h4>

<p>
Use the latest Firefox browser to access the Paleoecology Module.
</p>


{% if user.is_staff %}
<fieldset>
  <legend>Admin Options</legend>
  <form action="loadcsv" method="post" enctype="multipart/form-data">
    <label>Import respiration data from CSV:</label> <input type="file" name="csvfile" size="20"></input>
    <input type="submit" value="Import"></input>
  </form>
  {{ admin_messages }}
  <a href="/admin/paleoecology/">View Data</a><br />
</fieldset>
{% endif %}

<!-- p><a href="../admin/">Administration</a></p-->

</div>
{% endblock %}