body, html, p, span, a {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #000;
}

@page {
margin: 0.25cm;
}

#nav {
  display: none;
}

h1#masthead a {
  text-decoration: none;
}

.grid_square_print_page_div {
  margin: 0;
  padding: 0;
}

.grid_square_print_page_div .team_trap_table {
  margin-right: 5px;
  float: left;
}

.grid_square_print_page_div .team_trap_table .distances_table_header td {
  width: 75px;
}

.grid_square_print_page_div .team_trap_table .distances_table_header .suggested_td {
  padding-right: 0;
}

.grid_square_print_page_div .team_trap_table .distances_table .suggested_td {
  padding-right: 10px;
}

.grid_square_print_page_div .team_trap_table .distances_table td {
  width: 75px;
}

.grid_square_print_page_div .selected_sq_info {
   margin: 0;
   float: left;
 }
      
#footer {
  display: none;
}
