{% load static %}

<form name="import_csv" action="../../optimization/loadcsv" enctype="multipart/form-data" method="POST">
    <fieldset class="module aligned">
        <h2>Import Tree Data From CSV</h2>
    
        <div style="color: #F00; font-weight: bold; margin: 5px 5px;"><div id="import_error"></div></div>
        <div style="color: #00F; font-weight: bold; margin: 5px 5px;"><div id="import_status"></div></div>
        <div id="progress_indicator" style="display: none;">Loading...please wait<br /><img src="{% static 'images/progress.gif' %}" /></div>
    
        <div class="form-row">
            <label for="id_csvfile" class="required">Filename:</label><input type="file" id="id_csvfile" name="csvfile" size="40"></input>
        </div> 
        <div class="form-row">
            <input value="Import Data" class="default" name="_submit" type="submit">
        </div>
    </fieldset>
</form>
<br />
