{% extends "base.html" %} 
{% load static %}

{% block title %}
  Forest Sampling Optimization Tool 
{% endblock %} 

{% block css %} 
	<style type='text/css'>
	  @import "{% static 'css/optimization/style.css' %}";
	</style> 
	<!--[if IE]>
	<style type='text/css'>
	  @import "{% static 'css/style_ie7.css' %}";
	</style> 
	<![endif]-->
{% endblock %} 

{% block js %} 
    {{block.super}}
    <script type="text/javascript" src="{% static 'js/libraries/OpenLayers-2.9.js' %}"></script>
    <script>
    OpenLayers.ImgPath = "{% static 'openlayers/img/' %}";
    </script>
{% endblock %} 

{% block masthead %} 
<a href="/optimization/" title="Return to 'Forest Sampling Optimization Tool' home">Forest Sampling Optimization Tool</a>
{% endblock %} 

{% block content %} 
    <div id="content">
    
    	<div id="tab-bar">
    	<div class="tab" id="tab-run">
    		Run Details
    	</div>
    	
    	<div class="tab" id="tab-log">
    		Run Log
    	</div>
    	
    	</div>
    </div>
{% endblock %}

{% block script_footer %}    
    <script type="text/javascript">
        /* Select from list: Chrome, Firefox, Safari, MSIE */
        shieldbrowser({"Chrome": 1, "Firefox": 3.6, "Safari": 4, "MSIE": 8 });
    </script>
{% endblock %}
