{% extends "base.html" %}
{% load static %}

{% block title %}Forest Sampling Optimization Tool{% endblock %}

{% block css %}
<style type='text/css'>
  @import "{% static 'css/optimizaton/style.css' %}";
</style>
{% endblock %}


{% block masthead %}

<a href="/optimization/" title="Return to 'Forest Sampling Design & Optimization' home">Forest Sampling Design & Optimization</a>
{% endblock %}

{% block content %}

<div id="content">

<h3>Welcome to the Forest Sampling Design & Optimization Module!</h3>

<h4>
Overview
</h4>

<p>
This simulation aims to teach students the considerations that go into the process of sampling design and thus how to effectively and efficiently sample a forest.
</p>
<p>
This module is currently being developed by the Center for New Media Teaching and Learning in collaboration with Professor Matt Palmer of the Department of Ecology, Evolution, and Environmental Biology (E3B) at Columbia University.
</p>

<p><a href="run">Start Module</a></p>

<h4>
Technical Specifications
</h4>

<p>
Use the latest Firefox browser to access the Tree Sampling Design & Optimization Module.
</p>

</div>
{% endblock %}

{% block script_footer %}    
    <script type="text/javascript">
        /* Select from list: Chrome, Firefox, Safari, MSIE */
        shieldbrowser({"Chrome": 1, "Firefox": 3.6, "Safari": 4, "MSIE": 8 });
    </script>
{% endblock %}
