/* Photo Switcher ---------------------------------------------------------*/


.jcarousel-container-horizontal, 
.jcarousel-clip-horizontal,  
.jcarousel-item-horizontal
{height: 400px; width: 1600px; *width: auto;}

.jcarousel-clip  {position: absolute;}

.jcarousel-clip li div {
    top: 225px;
    letter-spacing: 0.03em;
    line-height: normal;
    padding: 0 18px;
    position: absolute;
    z-index: 10;
    width: 650px;
}

.jcarousel-clip li div h4 {
    color: white;
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 5px;
}

.jcarousel-clip li div p {
    color: #FFFFFF;
    font-size: .9em;
    line-height: 1.5em;
}

.jcarousel-clip li div a {
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 5px;
    padding-bottom: 5px;
    display: block;
}

.jcarousel-clip li div p.action {
    border: 1px solid #FFFFFF;
    padding-top: 5px;
    width: 120px;
}

.jcarousel-clip .dl_navigation {
    top: 0px;
    position: absolute;
    left: 0px;
    z-index: 100;

}

.jcarousel-clip ol,
.jcarousel-clip ul {
    list-style: none outside none;
    margin: 18px;
    padding: 0;
}

.jcarousel-clip .dl_navigation li {
    height: 19px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 19px;
}

.jcarousel-clip .dl_navigation li.prev,
.jcarousel-clip .dl_navigation li.next 
{
    display: none !important;
}

.jcarousel-clip .dl_navigation li.jcarousel-selector {
    background-color: white;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.jcarousel-clip .dl_navigation li.jcarousel-selector:hover,
.jcarousel-clip .dl_navigation li.jcarousel-selected 
{
    background-color: yellow;
}

.jcarousel-clip .dl_navigation li a {
    display: block;
    width: 19px;
    height: 19px;
    padding-top: 1px;
}

.jcarousel-clip .dl_navigation li a.jcarousel-pause {
    background: url("../../../../../images/portal/pause.png") no-repeat transparent;
}

.jcarousel-clip .dl_navigation li a.jcarousel-play {
    background: url("../../../../../images/portal/play.png") no-repeat transparent;
}

.jcarousel-clip .nav li {
    float: left;
}

.jcarousel-clip .nav li a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.jcarousel-caption {
    display: none;
}
