/* darkest brown background-color: #897467;  */ 
/* deeper brown background background-color: #e4dbcc; */
/* light tan background-color: #DCD3C2; */ 
/*default links: #3d2800 */
/*experience links: #436751 */
/*education links: #730711 */
/*research links: #0071bc */



body { 
	font-family: "Lucida Grande", "Trebuchet MS", arial, helvetica, sans-serif !important; 
	margin: 0 auto;
	padding: 0 auto;
}

div#mainnav
{
    background-color: #b49f93;
    height: 40px;
}

div#tab-bar {
    margin-left: 10px;
}



div.menu-1 {
    background-color: #897467; /* darkest brown */ 
	color: black;
	z-index: 100;
	float: left;
	padding: 5px 5px 5px 5px;
	margin: 13px 10px -1px 0;
	font-size: 12px;
	cursor: pointer;
	font-weight: normal;
	border: 1px solid #E4DBCC;
	border-bottom: none;
	color: white;
}



div.menu-1 a {
    color: white;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
}

div.menu-1:hover {
   background-color: #e4dbcc;
      color: black;

}

div.menu-1 a:hover {
   color: black;

}

div.menu-1-selected {
	background-color: #3d2800;
	color: #fff;
}

div.menu-1-selected.experience {background-color: #436751; color: #fff;}
div.menu-1-selected.education{background-color: #730711; color: #fff;}
div.menu-1-selected.research{background-color: #0071bc; color: #fff;}



div.menu-1-selected a {
    color: black;
    text-decoration: none;
}

div#search {
    float: right;
    color: black; 
    font-weight: normal;
    font-size: 80%;
    margin: 7px 7px 0 0;
    padding: 0;
    height: 24px;
}

div#search-tab {
    color: black;
    z-index: 100;
    float: right;
    padding: 5px 5px 5px 5px;
    margin: 13px 10px 0 0;
    font-size: 12px;
    cursor: pointer;
    font-weight: normal;
    background-color: #dcd3c2;
    border: 1px #dcd3c2 solid;
    color: black; 
}

div#subnav {
    background-color: #e4dbcc;
    color: #fff;
    font-size: 12px;
    height: 29px;
    clear: both;
    margin-top: -1px;
}


div#subnav div.experience {height: 29px; background-color: #436751;}
div#subnav div.education {height: 29px; background-color: #730711;}
div#subnav div.research {height: 29px; background-color: #0071bc;}

div#subnav-bar {
    display: block;
    margin: 0px 0px 0px 5px;
}

div.menu-2 {
 
    color: black;
    z-index: 100;
    float: left;
    padding: 3px 5px;
    margin: 5px 10px 0 0;
    font-size: 90%;
    cursor: pointer;
    font-weight: normal;
    color: black;  
}

div.menu-2:hover {
    text-decoration: underline;
}

div#subnav div.experience div#subnav-bar div.experience {
    height: auto;
    background-color: #00be5b;
    color: white;
}

div#subnav div.experience div#subnav-bar div.experience.menu-2.menu-2-selected {
    background-color: #DCD3C2;
    text-transform: upppercase;
    color: black;
}

div.menu-2 a {
    color: black;
    text-decoration: none;
}

div#container {
   padding: 0;
    background-color: #b49f93;
}

div#container table {
	border: none;
	border-collapse: collapse;
}



td#left {
  width: 45%;
  vertical-align: top;
  padding: 10px;
  border: none;
  border-collapse: collapse;
  min-width: 400px;
}



td#right {
  width: 55%;
  background-color: #e6ebdd;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
  border: 2px solid white;
}

.blocktext {
    padding: 1px 20px 10px;
    background-color: white;
    margin:0 0 10px;
    font-size: 70%;
}


.head_default {

	font-size: 110%;
	color: #000;
	line-height: 26px;
	margin: 10px 0 5px;

}

.head_experience {

	font-size: 110%;
	color: #436751;
	background-image: url(../images/nonmapicon_experience.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	padding-left: 34px;
	line-height: 26px;
	margin: 10px 0 5px;

}

assetlist.link_experience a, a.link_experience {

	color: #436751;
	font-weight: bold;
	font-size: 90%;
	margin: 10px 0 0; 
	display: block;

}

.head_education {

	font-size: 110%;
	color: #730711;
	background-image: url(../images/nonmapicon_education.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	padding-left: 34px;
	line-height: 26px;
	margin: 10px 0 5px;

}

assetlist.link_education a, a.link_education {

	color: #730711;
	font-weight: bold;
	font-size: 90%;
	margin: 10px 0 0; 
	display: block;

}

.head_research {

	font-size: 100%;
	color: #0071bc;
	background-image: url(../images/nonmapicon_research.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	padding-left: 34px;
	line-height: 26px;
	margin: 10px 0 5px;

}

assetlist.link_research a, a.link_research {

	color: #0071bc;
	font-weight: bold;
	font-size: 90%;
	margin: 10px 0 0; 
	display: block;

}

#map_canvas {
    background-color: white;
    height:400px;
}

.assetlist {
   
}

.assetlist a {
    color: #3d2800;
    margin: 0;
    display: block;

}

.assetlist .blocktext a.summary-link {

display:block;
margin:0 15px 0 auto;
width:55%;
text-decoration: none;

}


.featuredasset {


}

#featured_filter, #infrastructure_filter {
    vertical-align: top;
    width: auto;
    padding: 10px 20px;
    white-space: nowrap;
    font-size:  85%;
    line-height: 250%;
}

#featured_filter img, #infrastructure_filter img {
	margin-right: 5px;
	vertical-align: top;
}

#infrastructure_filter {
    vertical-align: top;
    padding: 10px 20px;
    width: 100%;
    white-space: nowrap;
}

.geocode {
    display: none;
}

.featured_image {
    width: 37%;
    height: auto;
    float: left;
    border: 1px solid #ccc;
   
}

.featured_details {
    width: 35%;
    height: auto;
    float: left;
    background-color: #dedede;
    padding: 0 10px 10px 10px;
   
}

.featured_details h4, .asset_summary h4, .blocktext h4 {
	margin: 20px 0 5px 0;
   
}

.highlightonmap{
    float: right;
    background-color: #fefeb3;
margin:-2px -21px 10px 0px;
border: 1px solid #b49f93;
}

.assetlist .blocktext .highlightonmap a {

	padding: 7px 10px 5px;
	margin: -1px 0 0 0;
	white-space: nowrap;
	 font-weight: bold;
	 text-decoration: none;

}


.assetlist .blocktext a.display-name {

	font-size: 120%;
	font-weight: bold;
	text-decoration: none;
	margin: 10px 0;
	clear: right;
	
}


    
    
    
.pagetitle {

	font-size: 110%;
	font-weight: bold;
}

.pagesubtitle {

	font-size: 90%;
	font-weight: bold;
}

.asset-summary {
	display: block;
	width: 55%;
	margin: 0 15px 15px auto;

}



.clear {

	clear: both;
	
}



