/* darkest brown background-color: #897467;  */ 
/* deeper brown background background-color: #e4dbcc; */
/* light tan background-color: #DCD3C2; */ 
/*default links: #3d2800 */
/*experience links: #436751 */
/*education links: #730711 */
/*research links: #0071bc */
/*serach page #89a08c */



body { 
	font-family: "Lucida Grande", "Trebuchet MS", arial, helvetica, sans-serif !important; 
	margin: 0 auto;
	padding: 0 auto;
	background-color: #897467;
}


/* Main Nav (Tabs) */

div#mainnav
{
    background-color: #b49f93;
    height: 40px;
    margin: 0;
}


div#mainnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
    
}

div#mainnav ul li {
    background-color: #897467;  
	color: black;
	z-index: 100;
	float: left;
	padding: 5px 10px;
	margin: 10px 0px 0px 10px;
	font-size: 90%;
	cursor: pointer;
	font-weight: normal;
	border: 1px solid #E4DBCC;
	border-bottom: none;

}


div#mainnav ul li.home.selected {background-color: #3d2800; color: #fff;}
div#mainnav ul li.experience.selected {background-color: #436751; color: #fff;}
div#mainnav ul li.education.selected {background-color: #730711; color: #fff;}
div#mainnav ul li.research.selected {background-color: #0071bc; color: #fff;}



div#mainnav ul li a {
    color: white;
    text-decoration: none;
    display: block;
   	padding: 5px 10px;
   	margin: -5px -10px;
}

div#mainnav ul li:hover {
   background-color: #e4dbcc;
      color: black;

}

div#mainnav ul li a:hover {
   color: black;

}







div#mainnav ul li-selected a {
    color: black;
    text-decoration: none;
}





div#search {
    float: right;
    color: black; 
    font-weight: normal;
    font-size: 80%;
    margin: 7px 7px 0 0;
    padding: 0;
    height: 24px;
}

div#search-tab {
    color: black;
    z-index: 100;
    float: right;
    padding: 5px 10px;
    margin: 10px 10px -5px 0;
    font-size: 90%;
    cursor: pointer;
    font-weight: normal;
    background-color: #89a08c;
    border: 1px #dcd3c2 solid;
    border-bottom: 5px solid #89a08c;
    color: black; 
    

}


/* Sub Nav (Boxes) */

div#subnav {
    display: block;
    margin: 0px;
    padding-left: 5px;
    height: 29px; 
    background-color: #897467;
    color: #fff;
    font-size: 12px;
    height: 4px;
    clear: both;
    margin-top: -1px;
}

div#subnav.home {height: 29px; background-color: #3d2800;}
div#subnav.experience {height: 29px; background-color: #436751;}
div#subnav.foreststories {}
div#subnav.education {height: 29px; background-color: #730711;}
div#subnav.research {height: 29px; background-color: #0071bc;}
div#subnav.search {height: 5px; background-color: #dcd3c2;}


div#subnav ul {
    list-style: none;
    color: black;
    z-index: 100;
    float: left;
    padding: 0;
    margin: 0;
    font-size: 90%;
    cursor: pointer;
    font-weight: normal;
      
}

div#subnav ul li {
 
    color: black;
    z-index: 100;
    float: left;
    padding: 3px 5px;
    margin: 5px 10px 0 0;
    font-size: 100%;
    cursor: pointer;
    font-weight: normal;
    color: black;  
}

div#subnav ul li a {
 
    color: black;
    z-index: 100;
    float: left;
    padding: 3px 5px;
    margin: -3px -5px;
    cursor: pointer;
    font-weight: normal;
    color: black;  
    text-decoration: none;
}

div#subnav.home ul li {background-color: #8e7365;}
div#subnav.experience ul li {background-color: green;}
div#subnav.education ul li {background-color: red;}
div#subnav.research ul li {background-color: blue;}

div#subnav.home ul li.selected {background-color: #fff;}
div#subnav.experience ul li.selected {background-color: #fff;}
div#subnav.education ul li.selected {background-color: #fff;}
div#subnav.research ul li.selected {background-color: #fff;}



/*Page Body*/

div#container {
   padding: 0;
    background-color: #b49f93;
}

div#container table {
	border: none;
	border-collapse: collapse;
}



td#left {
  width: 45%;
  vertical-align: top;
  border: none;
  border-collapse: collapse;
  padding: 10px;
  min-width: 400px;
}



td#right {
  width: 55%;
  background-color: #e6ebdd;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
  border: 2px solid white;
}

.blocktext {
    padding: 1px 20px 10px;
    background-color: white;
    margin:0 0 10px;
    font-size: 70%;
}


.head_default {

	font-size: 110%;
	color: #000;
	line-height: 26px;
	margin: 10px 0 5px;

}

.head_experience {

	font-size: 110%;
	color: #436751;
	background-image: url(../images/nonmapicon_experience.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	padding-left: 34px;
	line-height: 26px;
	margin: 10px 0 5px;

}

a.link_experience, span.link_experience {

	color: #436751;
	font-weight: bold;
	font-size: 90%;
	margin: 10px 0 0; 
	display: block;

}

.head_education {

	font-size: 110%;
	color: #730711;
	background-image: url(../images/nonmapicon_education.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	padding-left: 34px;
	line-height: 26px;
	margin: 10px 0 5px;

}

a.link_education, span.link_education {

	color: #730711;
	font-weight: bold;
	font-size: 90%;
	margin: 10px 0 0; 
	display: block;

}

.head_research {

	font-size: 100%;
	color: #0071bc;
	background-image: url(../images/nonmapicon_research.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	padding-left: 34px;
	line-height: 26px;
	margin: 10px 0 5px;

}

a.link_research, span.link_research {

	color: #0071bc;
	font-weight: bold;
	font-size: 90%;
	margin: 10px 0 0; 
	display: block;

}

#map_canvas {
    background-color: white;
    height:300px;
}

.assetlist {

	max-height: 435px;
	overflow: auto;
	padding: 10px;
	margin: -10px;
   
}

.assetlist a {
    color: #3d2800;
    margin: 0;
    display: block;

}

.assetlist .blocktext a.summary-link {

display:block;
margin:15px 15px 0 auto;
width:55% auto;
text-decoration: none;
font-weight: bold;

}

a.view-all {

	font-weight: bold;
	font-size: 110%;
	text-align: right;
	margin-top: 10px;

}


.featuredasset {


}

#featured_filter, #infrastructure_filter {
    vertical-align: top;
    width: auto;
    padding: 10px 20px;
    white-space: nowrap;
    font-size:  85%;
    line-height: 250%;
}

#featured_filter img, #infrastructure_filter img {
	margin-right: 5px;
	vertical-align: top;
}

#infrastructure_filter {
    vertical-align: top;
    padding: 10px 20px;
    width: 100%;
    white-space: nowrap;
}

.geocode {
    display: none;
}

.featured_image {
    width: 37%;
    height: auto;
    float: left;
    border: 1px solid #ccc;
    margin-right: 20px;
   
}

.featured_details {
    width: 35%;
    height: auto;
    float: left;
    background-color: #dedede;
    padding: 0 10px 10px 10px;
    margin-right: 20px;
   
}

.featured_details h4, .asset_summary h4, .blocktext h4 {
	margin: 20px 0 10px 0;
	font-size: 120%;
   
}

.highlightonmap{
    float: right;
    background-color: #fefeb3;
margin:-2px -21px 10px 0px;
border: 1px solid #b49f93;
}

.assetlist .blocktext .highlightonmap a {

	padding: 7px 10px 5px;
	margin: -1px 0 0 0;
	white-space: nowrap;
	 font-weight: bold;
	 text-decoration: none;

}


a.display-name {

	font-size: 120%;
	font-weight: bold;
	text-decoration: none;
	margin: 10px 0;
	clear: right;
	
}


    
    
    
.pagetitle {

	font-size: 110%;
	font-weight: bold;
}

.pagesubtitle {

	font-size: 90%;
	font-weight: bold;
}

.asset-summary {
	display: block;
	width: auto;
	margin: 15px 15px 15px auto;

}



.clear {

	clear: both;
	
}


/* Search Page Styles*/

div#search-wrapper {

	background-color: #89a08c;
	padding: 10px;
}


div#facets {

width:35%;
float: left;

}

div#facets.blocktext form table tbody tr td {

    font-size: 70%;

}

div#facets.blocktext form table tbody tr td {

    padding: 10px;


}

div#facets.blocktext form table tbody tr th; {

	width: 200px;
	text-align: right;

}


div#facets.blocktext form table tbody tr td ul{
list-style: none;
}




div#search-results {


	margin-left: auto;
	width: 60%;
}


/*Details Page*/

div#details-wrapper {

}


div#asset-details {

width: 50%;
float: left;



}

div#map-column {

width:30%;
float: left;
background-color:#E6EBDD;
border:2px solid white;
margin:0;
padding:0;
vertical-align:top;



}

div#related-items {

width:20%;
margin-left: auto;
padding: 10px;
background-color: #DCD3C2;

}

.gmnoprint {

	font-size: 65%;
}

