{% load static %}

<script type="text/javascript">
   addLoadEvent(previewSolr);
</script>

<form name="solr_loader" id="id_solr_loader" action="../../respiration/loadsolr" method="POST" onSubmit="return submitSolrQuery(this, 'solr_progress');">
     <input type="hidden" name="application" value="respiration"></input>
     <input type="hidden" name="collection_id" value="environmental-monitoring"></input>
     <input type="hidden" name="import_classification" value="educational"></input>
     
     <fieldset class="module aligned">
        <h2>Import Respiration Data from SOLR</h2>
        <div style="color: #F00; font-weight: bold; margin: 5px 5px;"><div id="solr_error"></div></div>
        <div style="color: #00F; font-weight: bold; margin: 5px 5px;"><div id="solr_status"></div></div>
        <div id="solr_progress" class="progress_indicator" style="display: none; top: 116px;"><div>Loading...please wait<br /><img src="{% static 'images/progress.gif' %}" /></div></div>
        
        <div class="form-row">
           <label class="required">Last Import Date:</label>
           <p class="datetime">
           Date: <input name="last_import_date" id="id_last_import_date" class="vDateField" size="10" type="text"><br />
           Time: <input name="last_import_time" value="00:00:00" class="vTimeField" id="id_last_import_time" size="8" type="text">
           </p>
        </div>
        <div class="form-row">
           <label class="required">Preview:</label>  
           <div style="display: none;" id="no_data_to_import">No data has changed since the prior import. Nothing to do.</div> 
           <div style="display: none;" id="no_last_import_date">No prior import is recorded. All available data will be imported.</div>
           <div style="display: none;" id="yes_last_import_date">Data modified after <span id="id_last_import_datetime"></span> will be imported.</div>
           <br />
           <table style="margin-left: 102px" id="previewsolr"></table>
        </div>
     </fieldset>
    <div class="submit-row">
        <input value="Import" class="default" name="_save" type="submit">
        <input onclick="return previewSolr();" value="Update Preview" name="_continue" type="submit">
    </div>
</form>

<br/><br/>

<form name="import_csv" action="../../respiration/loadcsv" enctype="multipart/form-data" method="POST">
    <fieldset class="module aligned">
        <h2>Import Respiration Data From CSV</h2>
    
        <div style="color: #F00; font-weight: bold; margin: 5px 5px;" colspan="2"><div id="import_error"></div></div>
        <div style="color: #00F; font-weight: bold; margin: 5px 5px;" colspan="2"><div id="import_status"></div></div>
        <div id="csv_progress" class="progress_indicator" style="display: none; top: 442px; height:130px;"><div>Loading...please wait<br /><img src="{% static 'images/progress.gif' %}" /></div></div>
    
        <div class="form-row">
            <label for="id_csvfile" class="required">Filename:</label><input type="file" id="id_csvfile" name="csvfile" size="40"></input>
        </div> 
        <div class="form-row">
            <label for="id_delete_data">Delete Data</label><input type="checkbox" name="delete" id="id_delete"></input>
        </div>
    </fieldset>
    <div class="submit-row" style="height: 25px;">
        <input value="Import Data" class="default" name="_submit" type="submit">
    </div>
</form>

<br /><br />
