{% extends "base.html" %} 
{% load render %}

{% block title %}Tree Respiration{% endblock %}

{% block css %} 
<style type='text/css'>
  @import "/respiration/media/css/style.css";
</style> 
<!--[if IE]>
<style type='text/css'>
  @import "/respiration/media/css/style_ie.css";
</style> 
<![endif]-->
{% endblock %} 

{% block js %} 
    <script src="/site_media/js/browserdetect.js" type="text/javascript" language="javascript"></script>
    <script src="/site_media/js/shield.js" type="text/javascript" language="javascript"></script>
    <script type="text/javascript" src="/site_media/js/libraries/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/site_media/js/libraries/jquery-ui-1.11.4.min.js"></script>  
    <script src="/site_media/js/mochikit/MochiKit/MochiKit.js" type="text/javascript"></script> 
    <script src="/site_media/js/mochikit/MochiKit/Signal.js" type="text/javascript"></script>   
    <script type="text/javascript" src="/site_media/js/libraries/jquery.sharing/jquery.sharing.js"></script>
    <script type="text/javascript" src="/site_media/js/libraries/sharing.js"></script>
    <script type="text/javascript" src="/site_media/js/bluff/js-class.js"></script> 
    <script type="text/javascript" src="/site_media/js/bluff/excanvas.js"></script> 
    <script type="text/javascript" src="/site_media/js/bluff/bluff-src.js"></script>
    <script type="text/javascript" src="/respiration/media/js/graph.js"></script> 

    <script type="text/javascript">
      function closePredefinedSpecies() {
          var elts = getElementsByTagAndClassName("div", "species-predefined-list");
          forEach(elts, function(elt) {
              if (getStyle(elt, 'display') === 'block') {
                  hideElement(elt);
              }
          });
      }

      function setActiveTab() {
          var tabname = "{% block tabname %}tab-leaf{% endblock %}";
          if (document.getElementById(tabname) != null) { 
              addElementClass(tabname, "tab-selected");
          }
          connect(document.body, "onclick", closePredefinedSpecies);    
      }

      addLoadEvent(setActiveTab);      
      
    </script>
    
    
    <script type="text/javascript">
      function initNav() {
          connect("tab-leaf", "onclick", function() {
              window.location = '/respiration/leaf';
          });
          connect("tab-canopy", "onclick", function() {
              window.location = '/respiration/forest';
          });
       }
       addLoadEvent(initNav);
    </script>
    <script type="text/javascript">
      function showResources() {
    	  jQuery('#tab-leaf').removeClass('active');
    	  jQuery('#tab-canopy').removeClass('active');
    	  jQuery('#tab-leaf').removeClass('tab-selected');
    	  jQuery('#tab-canopy').removeClass('tab-selected');
    	  jQuery('#tab-resources').addClass('active');
    	  jQuery('#tab-resources').addClass('tab-selected');
    	  //empty the module header
    	  jQuery('#respiration_content').html("");
    	  //replace the current content with the resources content
    	  jQuery('#container').html(jQuery('#resources-template').html());
      }
    </script>
    <script type="text/template" id="resources-template">
  <div id="resource-contents">
    <h3>Teaching Resources</h3>
    <ul>
      <li>
	<a href="/respiration/media/pdf/Respiration_Lab_Presentation.pdf" target="_blank">
	  Tree Respiration Lab Presentation
	</a>
      </li>
      <li>
	<a href="/respiration/media/pdf/Respiration_Lab_Protocol.pdf" target="_blank">
	  Tree Repiration Lab Protocol
	</a>
      </li>
      <li>
	<a href="/respiration/media/pdf/Respiration_Lab_Spreadsheet.pdf" target="_blank">
	  Tree Respiration Lab Spreadsheet
	</a>
      </li>
    </ul>
  </div>
</script>
{% endblock %} 

{% block masthead %} 
<a href="/respiration/" title="Return to 'Tree Respiration' home">Tree Respiration</a>

{% endblock %} 



{% block content %}
    {% include "respiration/sharing.html" %}
        <div id="tab-bar">

            <div class="tab" id="tab-resources" onclick="showResources();">
                Teaching Resources
            </div>
            <div class="tab" id="tab-canopy">
                Canopy Level
            </div>          
            <div class="tab" id="tab-leaf">
                Leaf Level
            </div>          
        </div>
    
    {% block moduleheader %}
	    <div id="respiration_content">
	       	<div id="instructions">
	        	<strong>Instructions:</strong>
	        	{% block instructions %}
	        	{% endblock %}
	       	</div>
	    	{% include "respiration/arrhenius_function.html" %}
	    </div> <!-- end respiration content -->
    {% endblock %}  
    
    <div id="container">
        {% block modulecontainer %}
    	<div id="left">
    		<div id="leftfield">
               
               {% block leftlegend %}
                  LEFT LEGEND
               {% endblock %}
               
    		
    		   {% block left %} 
    		      LEFT PANE 
    		   {% endblock %} 
    		</div>
    	</div>
    
    	<div id="right">
    	  <div id="rightfield">
            <h3>
                {% block rightlegend %}
        	    RIGHT LEGEND
        	    {% endblock %}
            </h3>
    	    {% block graph %} 
    		  <div id="graph-cursor"><div id="unfreeze"></div></div>
    		  <canvas id="graph" width="460" height="345"></canvas>
    	    {% endblock %} 
    	    {% block right %} 
    		    RIGHT PANE
    	    {% endblock %} 
    	  </div>
    	</div>
        {% endblock %}
    </div> <!-- end div "container" -->    
{% endblock %}

{% block script_footer %}    
    <script type="text/javascript">
        /* Select from list: Chrome, Firefox, Safari, MSIE */
        shieldbrowser({"Chrome": 1, "Firefox": 3.6, "Safari": 4, "MSIE": 9});

    </script>
{% endblock %} 
