{% extends "base.html" %} 
{% load render %}
{% load static %}

{% block title %}Tree Respiration{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/respiration/style.css' %}" media="screen" />
{% endblock %} 

{% block js %} 
    <script type="text/javascript" src="{% static 'js/browserdetect.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/shield.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/jquery-ui-1.11.4.min.js' %}"></script>  
    <script type="text/javascript" src="{% static 'js/mochikit/MochiKit/MochiKit.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mochikit/MochiKit/Signal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/jquery.sharing/jquery.sharing.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/sharing.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bluff/js-class.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/bluff/excanvas.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/bluff/bluff-src.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/respiration/graph.js' %}"></script> 

    <script type="text/javascript">
      function closePredefinedSpecies() {
          jQuery('.species-predefined-list:visible').hide();
      }

      function setActiveTab() {
          var tabname = "{% block tabname %}tab-leaf{% endblock %}";
          if (tabname === "tab-leaf") { 
            jQuery('#tab-leaf').addClass("tab-selected");
          }
          if (tabname === "tab-canopy") { 
              jQuery('#tab-canopy').addClass("tab-selected");
          }
          if (tabname === "tab-resources") { 
              jQuery('#tab-resources').addClass("tab-selected");
          }
      }

          jQuery(document).ready(function() {
              setActiveTab();
               
              jQuery('#tab-leaf').on('click', function() {
                   window.location = '/respiration/leaf';
              }); 
              jQuery('#tab-canopy').on('click', function() {    
                   window.location = '/respiration/forest';
              });
              jQuery('#tab-resources').on('click', function() {    
                   window.location = '/respiration/resources';
              });
              
              jQuery('body').on('click', closePredefinedSpecies);
          });
      </script>
{% endblock %} 

{% block masthead %} 
    <a href="/respiration/" title="Return to 'Tree Respiration' home">Tree Respiration</a>
{% endblock %} 

{% block content %}
    {% include "respiration/sharing.html" %}
        <div id="tab-bar">
            <div class="tab" id="tab-resources">
                Teaching Resources
            </div>
            <div class="tab" id="tab-canopy">
                Canopy Level
            </div>          
            <div class="tab" id="tab-leaf">
                Leaf Level
            </div>
        </div>
    
    {% block moduleheader %}
	    <div id="respiration_content">
	       	<div id="instructions">
	        	<strong>Instructions:</strong>
	        	{% block instructions %}
	        	{% endblock %}
	       	</div>
	    	{% include "respiration/arrhenius_function.html" %}
	    </div> <!-- end respiration content -->
    {% endblock %}  
    
    <div id="container">
        {% block modulecontainer %}
    	<div id="left">
    		<div id="leftfield">
               {% block leftlegend %}
                  LEFT LEGEND
               {% endblock %}
               
    		
    		   {% block left %} 
    		      LEFT PANE 
    		   {% endblock %} 
    		</div>
    	</div>
    
    	<div id="right">
    	  <div id="rightfield">
            <h3>
                {% block rightlegend %}
        	    RIGHT LEGEND
        	    {% endblock %}
            </h3>
    	    {% block graph %} 
    		  <div id="graph-cursor"><div id="unfreeze"></div></div>
    		  <canvas id="graph" width="460" height="345"></canvas>
    	    {% endblock %} 
    	    {% block right %} 
    		    RIGHT PANE
    	    {% endblock %} 
    	  </div>
    	</div>
        {% endblock %}
    </div> <!-- end div "container" -->    
{% endblock %}

{% block script_footer %}    
    <script type="text/javascript">
        /* Select from list: Chrome, Firefox, Safari, MSIE */
        shieldbrowser({"Chrome": 1, "Firefox": 3.6, "Safari": 4, "MSIE": 9});

    </script>
{% endblock %} 
