{% extends "respiration/base_respiration.html" %}
{% load extras %}

{% block tabname %}tab-canopy{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript" src="media/js/foresthelpers.js"></script> 
  <script type="text/javascript" src="media/js/scenario.js"></script> 
  <script type="text/javascript" src="media/js/species.js"></script> 
  <script type="text/javascript" src="media/js/forestgraph.js"></script> 

  <script type="text/javascript">
    addLoadEvent(function() {
        {% for station in stations %}
            addYears("{{station}}", {{years|hash:station}});
        {% endfor %}
        initNav(); // foresthelpers.js
        initYearHelper(); // foresthelpers.js
        initSpeciesModule(); // species.js
        initScenarioModule(); // scenario.js
        setup(); // graph.js        
      });
  </script>

  <script type="text/javascript">
  <!--
    makeExportLink = function(a) {
      var id = a.id;
      id = id.split('-')[0];
      var year = document.getElementById(id+'-year').value;
      var start = document.getElementById(id+'-startdate').value;
      var end = document.getElementById(id+'-enddate').value;
      var station = document.getElementById(id+'-fieldstation').value;
      a.href = "/respiration/getcsv?year="+year+"&start="+start+"&end="+end+"&station="+station;
    };
    //-->
  </script>
{% endblock %}

{% block instructions %}
  Explore how climate fluctuations and changes in species composition affect the respiration output of a forest using actual temperature data from Black Rock Forest. Enter the following scenario parameters into the fields below. Click on the Graph button to determine and view the total amount (moles) of carbon respired from a m<sup>2</sup> of forest for each of your scenarios. 
  <br /><br />
  Advanced options include a forest leaf area index that takes into consideration the canopy layers of the forest as well as a delta function that modifies the temperature data points across the board.
{% endblock %}

{% block leftlegend %}
    <div id="forestgraph">
      <input id="graph_button" type="button" value="Graph &gt;&gt;" onclick="javascript:forestGraph();" />
      <input id="print_button" type="button" value="Print" onclick="javascript:window.print()" />      
    </div>
    <h3>Set Scenario Variables</h3>
{% endblock %}

{% block left %}
<div id="error">Some errors occurred while graphing.  You might want to double-check the boxes highlighted in red.</div>

<form id="leaf-form" name="leaf-form" action="leaf" method="post">
  <input type="hidden" name="leaf-base-temp" id="leaf-base-temp" class="leafdata" value='{{ scenario_options|hash:"basetemp" }}' />
  <input type="hidden" name="leaf-numspecies" id="leaf-numspecies" class="leafdata" value="{{ numspecies }}" />
  {% for species in specieslist %}
    <input type="hidden" name="leaf-species{{forloop.counter}}-name" id="leaf-species{{forloop.counter}}-name" value='{{species|hash:"name"}}' />
    <input type="hidden" name="leaf-species{{forloop.counter}}-E0" id="leaf-species{{forloop.counter}}-E0" value='{{species|hash:"E0"}}' />
    <input type="hidden" name="leaf-species{{forloop.counter}}-R0" id="leaf-species{{forloop.counter}}-R0" value='{{species|hash:"R0"}}' />
    <input type="hidden" name="leaf-species{{forloop.counter}}-percent" id="leaf-species{{forloop.counter}}-percent" value='{{species|hash:"percent"}}' />
  {% endfor %}
</form>

<div id="scenariocontainer">
  <div id="scenarioheader">
    <span class="button addbutton" onclick="addScenario();">
      + Add Scenario 
    </span>
    Scenario List 
  </div>
  <div id="scenariobox">
    <form id="scenario1-form" name="scenario1-form" action="leaf" method="post">
      <input type="hidden" name="scenario1-species" id="scenario1-species" value="" />
      <div class="scenario" id="scenario1">
	<div class="scenariotitle">
	  <span class="button deletebutton" onclick="delScenario('scenario1');">
	    - Delete Scenario 
	  </span>
	  <div class="colorswatch" id="scenario1-swatch">
	    &nbsp;&nbsp;&nbsp;&nbsp;
	  </div>
	  <input type="text" class="scenario-name" id="scenario1-name" name="scenario1-name" value='{{ scenario_options|hash:"name"}} ' />
	</div>
	<div class="scenariotemp">
	  <table>
	    <tr>
	      <td>
		<span style="font-weight: bold;">
		  Base Temperature 
		</span>
	      </td>
	      <td>
		T<sub>0 </sub>= 
		<input type="text" size="5" id="scenario1-base-temp" name="scenario1-base-temp" 
		       value="0"
		       onchange="javascript:calculateKelvin(this);" onkeyup="javascript:calculateKelvin(this);" 
		       class="t-zero arr-field" />
		&deg;C = 
		<span class="kelvin">
		  273.15 
		</span>
		K 
	      </td>
	    </tr>
	  </table>
	</div><!-- end div scenariotemp -->
	<div class="speciesbox togglecontainer">
	  <div class="speciesheader">
	    <span class="button addbutton" onclick="addSpecies(this);">
	      + Add Species 
	    </span>
	    <div class="toggler toggle-open"></div>
	    Species List 
	  </div>
	  <div class="speciescontainer togglechild">
	    
	    <div class="species" id="species1">
	      
	      <span class="button deletebutton" onclick="delSpecies('species1');">
		- Delete Species 
	      </span>
	      
	      <input type="text" class="species-name" id="species1-name" name="species1-name" value="Your Tree #1" />
	      
	      <a href="#" class="tooltip">SC=<span>Species Composition</span></a> 
	      <input type="text" id="species1-percent" name="species1-percent" size="5" value="100" />
	      % 
	      
	      <table cellspacing="0" class="temptable">
		<tr>
		  <td>
		    <a href="#" class="tooltip">R<sub>0</sub>=<span>Respiration Rate @ base temperature</span></a>
		    
		    <input type="text" size="5" id="species1-R0" name="species1-R0" class="r-zero arr-field" />
		    
		    umol&nbsp;m<sup>-2</sup>s<sup>-1</sup>
		  </td>
		  <td>
		    &nbsp;&nbsp;&nbsp;
		  </td>
		  <td>
		    <a href="#" class="tooltip">E<sub>0</sub>=<span>Energy of Activation @ base temperature</span></a>
		    
		    <input type="text" size="5" id="species1-E0" name="species1-E0" class="e-zero arr-field" />
		    
		    J mol<sup>-1</sup> 
		    
		  </td>
		</tr>
	      </table>
	    </div>
	    <!-- end species div -->

	    
	  </div>
	</div>
	<div class="advancedoptionscontainer togglecontainer">
	  <div class="advancedoptionsheader">
	    <div class="toggler toggle-open"></div> Advanced Options 
	  </div>
	  <div class="togglechild">
	    <table cellspacing="0" class="advancedoptionstable">
	      <tr>
		<td>
		  Forest Leaf Area Index = 
		</td>
		<td>
		  <input type="text" id="scenario1-leafarea" name="scenario1-leafarea" size="5" value='{{ scenario_options|hash:"leafarea"}}'/>
		</td>
	      </tr>
	      <tr>
		<td>
		  Field Station: 
		  {% with scenario_options|hash:"fieldstation" as selectedstation %}
		  <select id="scenario1-fieldstation" name="scenario1-fieldstation" class="fieldstation-select">
		    {% for station in stations %}
  		    <option value="{{ station }}"
			    {% ifequal station selectedstation %}
			    selected
			    {% endifequal %} 
			    >{{station}} 
		    </option>
		    {% endfor %} 
		    {% endwith %}
		  </select>
		</td>
		<td>
   		  Year:
		  <select id="scenario1-year" name="scenario1-year">
		    <option value='{{ scenario_options|hash:"year"}}' selected />
		  </select>
		</td>
	      </tr>
	      <tr>
		<td>
		  Season Start (mm/dd): 
		</td>
		<td>
		  <input type="text" id="scenario1-startdate" name="scenario1-startdate" size="5" value='{{ scenario_options|hash:"startdate"}}' />
		</td>
	      </tr>
	      <tr>
		<td>
		  Season End (mm/dd): 
		</td>
		<td>
		  <input type="text" id="scenario1-enddate" name="scenario1-enddate" size="5" value='{{ scenario_options|hash:"enddate"}}' />
		</td>
	      </tr>
	      <tr>
		<td>
		  &nbsp;
		</td>
		<td>
		  <a id="scenario1-export"
		     href="#" target="blank"
		     onclick="makeExportLink(this); return true;"
		     >Export temperature data to CSV</a>
		</td>
	      </tr>
	      <tr>
		<td>
		  <a href="#" class="tooltip">&Delta;T<sub>a</sub>=<span>Increase or decrease temperature data points by this amount.</span></a>
		</td>
		<td>
		  <input type="text" id="scenario1-delta-t" name="scenario1-delta-t" size='5' value='{{ scenario_options|hash:"deltat"}}' />&deg;C
		</td>
	      </tr>
	    </table>
	  </div>
	</div>
      </div>
      <!-- end class "scenario" -->
    </form>
  </div>
  <!-- end div "scenariobox" -->
</div>
<!-- end div "scenariocontainer" -->

{% endblock %}

{% block rightlegend %}
Scenario Graph
{% endblock %}

{% block right %}
<div id="y-grid-canopy"></div>
{% endblock %}
