{% extends "respiration/base_respiration.html" %} 
{% load extras %}
{% block tabname %}tab-resources{% endblock %} 

{% block js %} 
    {{ block.super }} 

    
    <script type="text/javascript" src="/respiration/media/js/foresthelpers.js"></script>  
    <script type="text/javascript">
      function initNav() {
          connect("tab-leaf", "onclick", function() {
              window.location = '/respiration/leaf';
          });
          connect("tab-canopy", "onclick", function() {
              window.location = '/respiration/forest';
          });
       }
       addLoadEvent(initNav);
       //alert("resources");
    </script>
{% endblock %}

{% block moduleheader %}

{% endblock %} 

{% block modulecontainer %}
    <h3>Teaching Resources</h3>
    <ul>
      <li>
	<a href="/respiration/media/pdf/Respiration_Lab_Presentation.pdf" target="_blank">
	  Tree Respiration Lab Presentation
	</a>
      </li>
      <li>
	<a href="/respiration/media/pdf/Respiration_Lab_Protocol.pdf" target="_blank">
	  Tree Repiration Lab Protocol
	</a>
      </li>
      <li>
	<a href="/respiration/media/pdf/Respiration_Lab_Spreadsheet.pdf" target="_blank">
	  Tree Respiration Lab Spreadsheet
	</a>
      </li>
    </ul>
{% endblock %} 

