{% extends "respiration/base_respiration.html" %}
{% load static %}

{% block tabname %}tab-resources{% endblock %}

{% block moduleheader %}{% endblock %}

{% block modulecontainer %}
<div>
    <h3>Teaching Resources</h3>
    <ul>
        <li>
          <a href="{% static 'pdf/respiration/Respiration_Lab_Presentation.pdf' %}" target="_blank">
            Tree Respiration Lab Presentation
          </a>
        </li>
        <li>
          <a href="{% static 'pdf/respiration/Respiration_Lab_Protocol.pdf' %}" target="_blank">
            Tree Repiration Lab Protocol
          </a>
        </li>
        <li>
          <a href="{% static 'pdf/respiration/Respiration_Lab_Spreadsheet.pdf' %}" target="_blank">
            Tree Respiration Lab Spreadsheet
          </a>
        </li>
    </ul>
</div>
{% endblock %}
