{% extends 'base.html' %}

{% load render %}

{% block title %}Water Quality{% endblock %}

{% block js %}

	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/base/jquery-ui.css" type="text/css" media="all" /> 
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript"></script>
	
	<script src="/site_media/js/facebox.js" type="text/javascript"></script>
	<script src="/site_media/js/highcharts.js" type="text/javascript"></script>
	<script src="/site_media/js/modules/exporting.js" type="text/javascript"></script>

	{% if not show_graph %}
	<script type="text/javascript">
	$(document).ready(function() {
		$('a[rel*=facebox]').facebox();   
	$(document).bind('reveal.facebox', function() {
	        $('#facebox a[rel*=facebox]').facebox();
	});

	})
	</script>
	{% endif %}

	{% if show_graph %}
	<script type="text/javascript">
	var chart;
	$(document).ready(function() {
        $('a[rel*=facebox]').facebox();
	$("#start").datepicker({dateFormat: 'yy-mm-dd',
                                minDate: Date.UTC(2009, 3, 24),
	                        maxDate: Date.UTC(2009, 8, 6),
	yearRange: '2009:2009'
	});
	$("#end").datepicker({dateFormat: 'yy-mm-dd',
        minDate: Date.UTC(2009, 3, 24),
	maxDate: Date.UTC(2009, 8, 6)});
	   chart = new Highcharts.Chart({
		 chart: {
		    renderTo: 'chart-container',
	{% ifequal type "scatter-plot" %}
		    defaultSeriesType: 'scatter',
	{% endifequal %}
		    spacingRight: 20
		 },
		  title: {
		    text: '{{graph_title}}'
		 },
	{% ifequal type "time-series" %}
		 xAxis: {
		    type: 'datetime',
		    title: {
			  text: null
		    }
		 },
	{% endifequal %}
	{% ifequal type "scatter-plot" %}
		 xAxis: {
		    title: {
			  enabled: true,
			  text: '{{independent.name}} ({{independent.units}})'
		    },
		    startOnTick: true,
		    endOnTick: true,
		    showLastLabel: true
		 },
		 yAxis: {
		    title: {
			  text: '{{dependent.name}} ({{dependent.units}})'
		    }
		 },
	
	{% endifequal %}
		 tooltip: {
	{% ifequal type "time-series" %}
		    shared: true               
	{% else %}
	            shared: false
	{% endifequal %}
		 },
		 legend: {
		    enabled: true
		 },
		 plotOptions: {
		    area: {
			  fillColor: {
				linearGradient: [0, 0, 0, 300],
				stops: [
				   [0, 'rgba(100,0,6,0)'],
				   [1, 'rgba(2,0,100,0)']
				]
			  },
			  lineWidth: 1,
			  marker: {
				enabled: false,
				states: {
				   hover: {
					 enabled: true,
					 radius: 5
				   }
				}
			  },
			  shadow: false,
			  states: {
				hover: {
				   lineWidth: 1                  
				}
			  }
		    },
		    scatter: {
			  marker: {
				radius: 5,
				states: {
				   hover: {
					 enabled: true,
					 lineColor: 'rgb(100,100,100)'
				   }
				}
			  },
			  states: {
				hover: {
				   marker: {
					 enabled: false
				   }
				}
			  }
		    }
	
		 },
	{% ifequal type "time-series" %}
		 series: [
	{% for set in datasets %}
		  {
		    type: 'area',
		    name: '{{set.series.name}} ({{set.series.units}})',
		    pointInterval: 3600 * 1000,
		    pointStart: Date.UTC({{start.year}}, {{start.month}} - 1, {{start.day}}),
		    data: [
			 {% for point in set.data %}{{point}}{% if not forloop.last %},{% endif %}{% endfor %}
		    ]
		 }{% if not forloop.last %},{% endif %}{% if forloop.last %}{% if lines %},{% endif %}{% endif %}
	{% endfor %}
	
	 {% for line in lines %} 
	   {
		    name: '{{line.label}}',
		    type: 'line',
		    data: [[Date.UTC({{start.year}}, {{start.month}} - 1, {{start.day}}), {{line.value}}], [Date.UTC({{end.year}}, {{end.month}} - 1, {{end.day}}), {{line.value}}]],
		    marker: {
			  enabled: false
		    },
		    states: {
			  hover: {
				lineWidth: 0
			  }
		    },
		    enableMouseTracking: false
		 }{% if not forloop.last %},{% endif %}
	
	{% endfor %} 
		 ],
	{% endifequal %}
	
	{% ifequal type "scatter-plot" %}
		 series: [{
		    name: '{{dependent.name}} vs {{independent.name}}',
		    color: 'rgba(223, 83, 83, .5)',
		    data: [{% for point in data %}[{{point.0}},{{point.1}}]{% if not forloop.last %},{% endif %}
	{% endfor %}
	   ]
	   
		 },
	
	   {
		    type: 'line',
		    name: 'Regression Line',
	{% with lseriesp.regression_line_points as lrp %}
		    data: [[{{lrp.0.0}}, {{lrp.0.1}}], [{{lrp.1.0}}, {{lrp.1.1}}]],
	{% endwith %}
		    marker: {
			  enabled: false
		    },
		    states: {
			  hover: {
				lineWidth: 0
			  }
		    },
		    enableMouseTracking: false
		 }{% if lines %},{% endif %}
	
	 {% for line in lines %} 
	   {
		    name: '{{line.label}}',
		    type: 'line',
		    data: [[{{lseriesp.independent.min}}, {{line.value}}], [{{lseriesp.independent.max}}, {{line.value}}]],
		    marker: {
			  enabled: false
		    },
		    states: {
			  hover: {
				lineWidth: 0
			  }
		    },
		    enableMouseTracking: false
		 }{% if not forloop.last %},{% endif %}
	
	{% endfor %} 
	
	 ],
	
	{% endifequal %}
		 exporting: {
		    enabled: true
		 }
	
	   });
	   
	   
	});
	   
	
	</script>
	
	{% endif %}
	
{% endblock %}

{% block css %}

	<style type="text/css">
	@import "/site_media/css/waterquality/waterquality.css" ;
	</style>
	
	<!--[if IE 8]>
	<style>
	@import "/site_media/css/waterquality/waterquality_ie.css" ;
    </style>
	<![endif]-->	

{% endblock %}

{% block masthead %}
	Water Quality
{% endblock %}

{% block breadcrumbs %}
	<ul>
	<li><a href="{% url waterquality-graphing-tool %}">Graphing Tool</a></li>
	<li><a href="{% url waterquality-browse %}">Data Browser</a></li>
	<li><a id="teachlink" rel="facebox" href="/waterquality/teaching/">Teaching Resources</a></li>
	</ul>
{% endblock %}

{% block content %}

<div id="contentcontainer">
	
	<h3>Using the Graphing Tool</h3>
	
	<p>
	To graph a set of data, follow the 3 steps listed below:
	</p>
	
	<ol>
	<li>First, enter a title for your graph and select the graph type you're wanting to generate.</li> 
	<li>Select the data series that you'd like to graph with start/end dates and threshold labels. </li> 
	<li>Click the green create graph button to see the results.</li> 
	</ol>
	
	<p>
	Note that you can print the graph or download it, too. The icons are located in the top right corner of the graph. The graph can be downloaded in these four formats: PNG, JPEG, PDF, SVG.	</p>
	</p>	
	
	<!--start graphing tool -->
	<div id="graphingtool">
	<div id="graphingtool-inner">
	
	<h3>Graphing Tool</h3>
	<form action="." method="get">
	
	{% if type %}
	
	<input type="hidden" name="type" value="{{type}}" />
	
	<div id="parameters">
	
	
	<table class="graphtable">
		<tr>
			<th style="">Step 1: Create Graph</th>
			<th>Graph Title:</th>
			<td><input type="text" name="title" value="{{graph_title}}" maxlength="25"/></td>

			<th>Graph Type:</th>
			<td><input type="submit" name="type" value="time-series" /></td>
			<td><input type="submit" name="type" value="scatter-plot" /></td>
			<td><input type="submit" name="type" value="box-plot" /></td>
		</tr>
	</table>
	
	
	<table class="graphtable">
	
	<tr>
	<th>Step 2: Set Graph Parameters</th>
	
	{% ifequal type "time-series" %}
	<td>
	<b>Graph Type:</b><br />
	Time Series
	</td>
	<td>
	<b>Series:</b><br />
	<select size="4" name="series" multiple="multiple">
	{% for series in all_series %}
	<option value="{{series.id}}" {% if series.selected %}selected="selected"{% endif %}>{{series.name}} ({{series.units}})</option>
	{% endfor %}
	</select>
	</td>
	{% endifequal %}
	
	{% ifequal type "box-plot" %}
	<td>
	<b>Graph Type:</b><br />
	Box Plot
	</td>
	<td>
	<b>Series:</b><br />
	<select size="4" name="series" multiple="multiple">
	{% for series in all_series %}
	<option value="{{series.id}}" {% if series.selected %}selected="selected"{% endif %}>{{series.name}} ({{series.units}})</option>
	{% endfor %}
	</select>
	</td>
	{% endifequal %}
	
	{% ifequal type "scatter-plot" %}
	<td>
	<b>Graph Type:</b><br />
	Scatter Plot
	</td>
	<td>
	<b>Independent:</b><br />
	<select name="independent">
	{% for series in all_series %}
	<option value="{{series.id}}" {% if series.independent %}selected="selected"{% endif %}>{{series.name}} ({{series.units}})</option>
	{% endfor %}
	</select>
	<br />
	<b>Dependent:</b><br />
	<select name="dependent">
	{% for series in all_series %}
	<option value="{{series.id}}" {% if series.dependent %}selected="selected"{% endif %}>{{series.name}} ({{series.units}})</option>
	{% endfor %}
	</select><br />
	<b>Skip Zeroes:</b> 
	<input type="checkbox" name="skip_zeroes" 
		  {% if skip_zeroes %}checked="checked"{% endif %}
		  />
	</td>
	{% endifequal %}
	
	<td>
	<b>Start:</b><br />
	<input type="text" id="start" name="start" size="10" value="{{start|date:"Y-m-d"}}" />
	<br />
	<b>End:</b><br />
	<input type="text" id="end" name="end" size="10" value="{{end|date:"Y-m-d"}}" />
	</td>
	

	{% ifnotequal type "box-plot" %}

	{% for line in lines %}
	<td>
	<b>Threshold Label:</b><br />
	<input type="text" name="line_label_{{line.n}}" value="{{line.label}}" maxlength="15"/>
	<br />
	<b>Threshold Value:</b><br />
	<input type="text" name="line_value_{{line.n}}"value="{{line.value}}" />
	</td>
	{% endfor %}
	
	{% if allow_more_lines %}
	{% with lines|length as n %}
	<td>
	<b>Threshold Label:</b><br />
	<input type="text" name="line_label_{{n}}" value=""  maxlength="15"/>
	<br />
	<b>Threshold Value:</b><br />
	<input type="text" name="line_value_{{n}}"value="" />
	</td>
	{% endwith %}
	{% endif %}

	{% endifnotequal %}
	
	</tr>
	
	</table>
	
		<table class="graphtable">
		<tr>
		<th style="">Step 3: Graph This Information</th>
		<td>
		<input type="submit" value="Create Graph &darr; " style="background-color: green; color: white;" />
		</td>
		</tr>
	</table>

	
	</div>
	
	{% if lseriesp %}
	<p>
	R<sup>2</sup>: {{lseriesp.linear_regression.rr|floatformat:2}}
	</p>
	{% endif %}
	
	{% else %}
	
	<table class="graphtable">
		<tr>
			<th>Step 1: Create Graph</th>
			<th>Enter Graph Title:</th>
			<td><input type="text" name="title" value="{{graph_title}}" maxlength="25"/></td>
			<th>Choose Graph Type:</th>
			<td><input type="submit" name="type" value="time-series" /></td>
			<td><input type="submit" name="type" value="scatter-plot" /></td>
			<td><input type="submit" name="type" value="box-plot" /></td>
		</tr>
	</table>
	
	{% endif %}
	
	
	</form>
	{% if show_graph %}
	<div id="chart-container"></div>
	{% endif %}
	{% if show_box_plot %}
	{% with lsg.box_data as box_data %}
	{% spaceless %}
	<img src="https://chart.googleapis.com/chart?chs=600x200&cht=ls&chd=t0:-1,{% for bd in box_data.series %}{{bd.min}},{% endfor %}0|-1,{% for bd in box_data.series %}{{bd.lq}},{% endfor %}0|-1,{% for bd in box_data.series %}{{bd.uq}},{% endfor %}0|-1,{% for bd in box_data.series %}{{bd.max}},{% endfor %}0|-1,{% for bd in box_data.series %}{{bd.median}},{% endfor %}0&chm=F,0000FF,0,1:{{box_data.count}},20|H,0000FF,0,1:{{box_data.count}},1:20|H,0000FF,3,1:{{box_data.count}},1:20|H,0000FF,4,1:{{box_data.count}},1:20&chxt=y&chxr=0,{{box_data.min}},{{box_data.max}},0" width="600" height="200" />
	{% endspaceless %}
	{% endwith %}
	{% if show_ttest %}<br />
	T-Test: {{ttest|floatformat:2}}
	{% endif %}
	{% endif %}
	{% if too_much_data %}
	<p class="warning">Too many data points or series were selected. Displaying the selection
	  as-is would break your browser; therefore, one or more data series are
	  not being displayed. Please try again by selecting fewer data series or
	  a smaller date range.</p>
	{% endif %}
	
	
	</div>
	</div>
	<!--stop graphing tool -->
	
</div>

{% endblock %}
