{% extends 'base.html' %}

{% load render %}

{% block title %}Water Quality{% endblock %}

{% block css %}

	<style type="text/css">
	@import "/site_media/css/waterquality/waterquality.css" ;
	</style>
	
	<!--[if IE 8]>
	<style>
	@import "/site_media/css/waterquality/waterquality_ie.css" ;
    </style>
	<![endif]-->	

{% endblock %}

{% block masthead %}
	Water Quality
{% endblock %}

{% block breadcrumbs %}
	<ul>
	<li><a href="/waterquality/graph/">Graphing Tool</a></li>
	<li><a href="{% url waterquality-browse %}">Data Browser</a></li>
	<li><a id="teachlink" rel="facebox" href="/waterquality/teaching/">Teaching Resources</a></li>
	</ul>
{% endblock %}

{% block content %}

<div id="contentcontainer">
	
<h1>	Welcome to the Water Quality Module!</h1>

<h2>Overview</h2>

<p>[Intro to come]</p>

<p><a href="{% url waterquality-graphing-tool %}">Start Module</a></p>
</div>

{% endblock %}
