{% extends 'base.html' %}
{% block title %}Water Quality{% endblock %}

{% load charts %}
{% block js %}

	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/base/jquery-ui.css" type="text/css" media="all" /> 
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript"></script>
	
	<script src="/site_media/js/facebox.js" type="text/javascript"></script>
	<script src="/site_media/js/highcharts.js" type="text/javascript"></script>
	<script src="/site_media/js/modules/exporting.js" type="text/javascript"></script>

	{% if not show_graph %}
	<script type="text/javascript">
	$(document).ready(function() {
		$('a[rel*=facebox]').facebox();   
	$(document).bind('reveal.facebox', function() {
	        $('#facebox a[rel*=facebox]').facebox();
	});

	})
	</script>
	{% endif %}
	
{% endblock %}
{% block css %}

	<style type="text/css">
	@import "/site_media/css/waterquality/waterquality.css" ;
	</style>
	
	<!--[if IE 8]>
	<style>
	@import "/site_media/css/waterquality/waterquality_ie.css" ;
    </style>
	<![endif]-->	

{% endblock %}

{% block masthead %}
	Water Quality
{% endblock %}
{% block breadcrumbs %}
	<ul>
	<li><a href="/waterquality/">Graphing Tool</a></li>
	<li><a href="{% url waterquality-browse %}">Data Browser</a></li>
	<li><a id="teachlink" rel="facebox" href="/waterquality/teaching/">Teaching Resources</a></li>
	</ul>
{% endblock %}

{% block content %}
	<div id="contentcontainer">
		<p>
		<input type=button onClick="parent.location='javascript:history.go(-1)'" value='&laquo; Back to Charts'>		
		</p>
			
	<table>
	
	{% for row in series.row_set.all %}
	<tr>
	<td>{{row.timestamp}}</td>
	<td>{{row.value}}</td>
	</tr>
	{% endfor %}
	
	</table>

</div>
{% endblock %}
