{% extends "mammals/base_mammals.html" %}
{% load humanize %}
{% load staticfiles %}
{% block title %}Grid Block{% endblock %}
{%block mammals_nav_expeditions%}class="active"{%endblock%}

{% block js %}
    <script type="text/javascript" src="{% static 'js/mammals/grid_and_block.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mammals/block.js' %}"></script>
    {{ block.super }}
{% endblock %}
{% block css %}
    {{ block.super }}
{% endblock %}

{% block container %}
<h3>All expeditions</h3>
        <div class="pagination">
            <span class="step-links">
                {% if expeditions.has_previous %}
                    <a href="?page={{ expeditions.previous_page_number }}">Back</a>
                {% endif %}
                <span class="current">
                    Page {{ expeditions.number}} of {{ expeditions.paginator.num_pages }}
                </span>
                {% if expeditions.has_next %}
                    <a href="?page={{ expeditions.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>

        
     <table class = "green_table">
        <tr>
            <td  > 
               <strong> Expedition</strong>
            </td> 
            <td  > 
                <strong>School</strong>
            </td> 
            <td  > 
                <strong>Start date</strong>
            </td> 
            <td  > 
                <strong>Square</strong>
            </td> 
            <td  > 
                <strong>Caught</strong>
            </td> 
            <td  > 
                <strong>Actions</strong>
            </td> 
        </tr>
        {% for e in expeditions.object_list %}
                <tr>
                    <td  > 
                        Expedition #{{e.id }}
                    </td> 
                    <td  > 
                        {{e.school.name}}
                    </td> 
                    <td  > 
                        {{e.start_date_of_expedition|naturalday}}
                    </td> 
                    <td  > 
                        {{e.grid_square.battleship_coords }}
                    </td> 
                    <td  >
                        {%if  e.how_many_mammals_caught > 0 %}
                            {{e.how_many_mammals_caught }} animal{{e.how_many_mammals_caught|pluralize }} 
                        {%endif %}
                    </td> 
                    <td  > 
                        <a href= "/mammals/expedition/{{e.id }}/">Expedition page</a>
                    </td> 
            </tr>
        {%endfor%}
    </table>
    
    <div class="pagination">
        <span class="step-links">
            {% if expeditions.has_previous %}
                <a href="?page={{ expeditions.previous_page_number }}">Back</a>
            {% endif %}
            <span class="current">
                Page {{ expeditions.number}} of {{ expeditions.paginator.num_pages }}
            </span>
            {% if expeditions.has_next %}
                <a href="?page={{ expeditions.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>

{% endblock %}

