{% extends 'base.html' %}
{% load static %}


{% block css %}
<style type='text/css'>
  @import "{% static 'css/mammals/style.css' %}";
</style> 
<link rel="stylesheet" media="print" href="{% static 'css/mammals/print.css' %}"/>
{% endblock %}




{% block js %}
  {{block.super}}
<script  type="text/javascript" src="{% static 'js/jquery-ui-1.8.11.custom/js/jquery-1.4.4.min.js' %}"></script>
<script  type="text/javascript" src="{% static 'js/jquery-ui-1.8.11.custom/js/jquery-ui-1.8.11.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libraries/jquery.sharing/jquery.sharing.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libraries//sharing.js' %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{settings.GOOGLE_MAP_API}}"></script>
<script type="text/javascript" src="{% static 'js/mammals/maps.js' %}"></script>
{% endblock %}

{% block masthead %}
<a href="/mammals/" title="Return to 'Mammals and Habitats' home">Mammals and Habitats</a>
{% include "mammals/sharing.html" %}
{% endblock %}
{% block nav %}
    <ul>
        <li class="default {% block status_home %}{% endblock %}"><a href="/mammals/">Home</a></li>
        <li id="gridcategory">GRID:</li>
        <li id="gridresearch" class="default {% block status_research %}{% endblock %}"><a href="/mammals/grid/">Research</a></li>
        <li id="gridplay" class="default {% block status_playground %}{% endblock %}"><a href="/mammals/sandbox/grid/">Playground</a></li>
        <li id="map" {%block mammals_nav_search%}{%endblock%} ><a href="/mammals/search/">Habitat Map</a></li>
        <li class="default {% block status_teaching %}{% endblock %}"><a href="/mammals/teaching/">Teaching Resources</a></li>
        {% if user.is_authenticated %}
        <li id="gridresearch"><a href="/mammals/all_expeditions/">Expeditions</a></li>
        <li id="sightings_tab"><a href="/mammals/sightings">Sightings</a></li>
        <li class="default"><a href="/mammals/logout/">Logout {{user }}</a></li>
        {%else %}
        <li class="default"><a href="/mammals/login/">Log in</a></li>
        {%endif %}
    </ul>
{% endblock %}

{% block content %}
<div id="container_mammals">
	{% block container %}
	{% endblock %}
</div><!-- id="container" -->
{% endblock %}


{% block footer %}
    <div id="footer">
        <ul id="standard-elements">
            <li><a href="/portal/about/">About</a></li>
            <li><a href="/portal/credits/">Credits</a></li>
            <li><a href="/portal/help/">Help</a></li>
            <li><a href="mailto:ccnmtl-blackrock@columbia.edu">Contact</a></li>
        </ul>
    </div>
{% endblock %}
