{% extends "mammals/base_mammals.html" %}
{% load static %}
{% block title %}Grid Block{% endblock %}

{% block bodyclass %}square{%endblock%}
{% block js %}

    <script type="text/javascript" src="{% static 'js/mammals/map_colors.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mammals/grid_and_block.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mammals/block.js' %}"></script>
    
    <script type="text/javascript">
        function edit_expedition_ajax (){ // catch the form's submit event
            jQuery.ajax({
                data: jQuery('#edit_expedition_form').serialize(),
                type: 'POST',
                url: '/mammals/edit_expedition_ajax/',
                success: function(response) {
                    alert ('Expedition saved.');
                }
            });
            return false;
        }
    </script>
    
    {{ block.super }}
{% endblock %}


{% block css %}

    {{ block.super }}
{% endblock %}

{% block container %}


<form action="/mammals/edit_expedition/{{expedition.id}}/" method="post" id="edit_expedition_form" >


<h3 > Expedition # {{expedition.id }} to Square {{expedition.grid_square.battleship_coords }}, {{expedition.start_date_of_expedition|date:"d M Y" }}</h3>

        <div id = "top_part_of_form" class = "container_div">
        <div id = "school_information" class = "slide">
            <h4>School Information </h4>
            <table id ="distances_table">
                <tr>
                    <td > 
                        Grade level: 
                    </td>
                    <td >
                        <select name="grade" id = "grade">
                            {% for grade in grades %}
                                <option value = "{{grade.id}}" {%ifequal expedition.grade_level_id grade.id %} selected{%endifequal%}>{{grade.label}}</option>
                            {%endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td  > 
                        School:
                    </td> 
                    <td  >             
                        <select name="school" id = "school">
                                <option value = "None">None selected</option>
                                {% for school in schools %}
                                    <option value = "{{school.id}}" {%ifequal expedition.school_id school.id %} selected{%endifequal%}>{{school.name}}</option>
                                {%endfor %}
                        </select>
                    </td> 
                </tr>
                <tr>
                    <td  > 
                        Number of students:
                    </td> 
                    <td  > 
                        <input name="number_of_students" value ="{{expedition.number_of_students}}" size="3" maxlength="3" class ="short_input_field" ></input>
                    </td> 
                </tr>
                <tr>
                    <td  > 
                        School contact (name):
                    </td> 
                    <td  > 
                        <input name="school_contact_1_name" value ="{{expedition.school_contact_1_name}}"></input>
                    </td> 
                </tr>
                <tr>
                    <td  > 
                        School contact (phone):
                    </td> 
                    <td  > 
                        <input name="school_contact_1_phone" value ="{{expedition.school_contact_1_phone}}"></input>
                    </td> 
                </tr>
                <tr>
                    <td  > 
                        School contact (email):
                    </td> 
                    <td  > 
                        <input name="school_contact_1_email" value ="{{expedition.school_contact_1_email}}"></input>
                    </td> 
                </tr>
            </table>
        </div>


        <div id = "overnight_environmental_info" class = "slide">
            <h4>Overnight Environmental Data </h4>
            <table id ="distances_table">
                    {%comment %}
                    <tr>
                        <td  > 
                           Temperature:
                        </td> 
                        <td  > 
                            <select id="overnight_temperature" name="overnight_temperature">
                                {% for temp in overnight_temperatures %}
                                    <option value = "{{temp.id}}" {%ifequal expedition.overnight_temperature_id temp.id %} selected{%endifequal%}>{{temp}}</option>
                                {%endfor %}
                            </select> &deg; C
                        </td> 
                    </tr>
                    {%endcomment %}
                    
                    <tr>
                        <td  > 
                           Time:
                        </td> 
                        <td  > 
                            <select id = "expedition_hour_string" name = "expedition_hour_string">
                                {% for hour in hours %}
                            <option value="{{hour}}" {%ifequal expedition.end_hour_string hour%} selected{%endifequal%}>{{hour}}</option>
                                {%endfor %}
                            </select>
                         :
                         
                            <select id = "expedition_minute_string" name = "expedition_minute_string">
                                {% for minute in minutes %}
                                <option value="{{minute}}" {%ifequal expedition.end_minute_string minute %} selected{%endifequal%}>{{minute}}</option>
                                {%endfor %}
                            </select>
            

                        </td> 
                    </tr>
                    
                    <tr>
                        <td  > 
                           Temperature:
                        </td> 
                        <td  > 
                            <input name="overnight_temperature_int" class ="short_input_field" value ="{{expedition.overnight_temperature_int}}" size="3" maxlength="3" ></input>
                        &deg; C
                        </td> 
                    </tr>
                    <tr>
                         <td  > 
                           Moon Phase:
                        </td> 

                        <td  > 
                            <select id = "moon_phase" name = "moon_phase">
                                {% for moon_phase in moon_phases %}
                                    <option value = "{{moon_phase.id}}" {%ifequal expedition.moon_phase_id moon_phase.id %} selected{%endifequal%}>{{moon_phase}}</option>
                                {%endfor %}
                            </select>
                        </td> 
                    </tr>
                    <tr>

                        <td  > 
                           Cloud Cover:
                        </td>
                        <td  > 
                            <select  id = "cloud_cover" name = "cloud_cover">
                                {% for cloud_cover in cloud_covers %}
                                    <option value = "{{cloud_cover.id}}" {%ifequal expedition.cloud_cover.id  cloud_cover.id%} selected{%endifequal%}>{{cloud_cover}}</option>
                                {%endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td  > 
                           Precipitation:
                        </td>
                        <td  > 
                            <select  id = "overnight_precipitation" name = "overnight_precipitation">
                            {% for pr in overnight_precipitations %}
                                <option value = "{{pr.id}}" {%ifequal expedition.overnight_precipitation_id pr.id %} selected{%endifequal%}>{{pr}}</option>
                            {%endfor %}
                            </select>
                        </td> 
                    </tr>
                    <tr>
                        <td  > 
                           Type of precipitation:
                        </td>
                        <td  > 
                            <select  id = "overnight_precipitation_type" name = "overnight_precipitation_type">
                            {% for prt in overnight_precipitation_types %}
                                <option value = "{{prt.id}}" {%ifequal expedition.overnight_precipitation_type_id prt.id %} selected{%endifequal%}>{{prt}}</option>
                            {%endfor %}
                            </select>
                        </td> 
                    </tr>
            </table>
        </div>
        </div><!-- end top_part_of_form -->
        
        <div id = "bottom_part_of_form" class = "container_div">
            {% if expedition.how_many_mammals_caught %}
                <div id = "animals_caught" class = "slide">
                    <h4>Animals caught</h4>
                        <div class = "trap_location_container"> 
                            {{expedition.how_many_mammals_caught }}
                            animal{{expedition.how_many_mammals_caught|pluralize }}
                            caught
                       </div>
                       <div class = "trap_location_container"> 
                            <a href ="/mammals/expedition/{{expedition.id}}/animals/">Details</a>
                       </div>
                </div>
            {%endif%}
                <div id = "trap_locations" class = "slide">
                <h4>Trap Locations per Team</h4>
                    {%for point in expedition.trap_locations_ordered_by_team %}
                        {%ifchanged point.team_letter %}
                            <div class = "trap_location_container"> 
                                <a href = "/mammals/team_form/{{expedition.id }}/{{point.team_letter }}/" > {{point.team_letter }}</a>
                            </div>
                        {%endifchanged %} 
                    {%endfor%}
                </div>
            </div><!-- end bottom_part_of_form -->


<button type="button" onclick="edit_expedition_ajax(); return false;">Save</a>                   
<button type="button" onclick="javascript:jQuery('#edit_expedition_form').submit()">All expeditions</button>
<input type="text" name="expedition_id" id="expedition_id" value ="{{expedition.id}}" class="hide_this"></input>
</form>


<div id ="block_json" style="display:none">{{expedition.grid_square.corner_obj_json}}</div>    
<div id ="transects_json"  style="display:none">{{expedition.transects_json}}</div>
    {% with expedition.transects as transects %}
    <div class="team_trap_table">
        <div class="transect_table">
                {% include "mammals/transect_table_heading.html" %} 
                <div id="transect_table_overflow_div">
                    {% include "mammals/transect_table.html" %} 
                </div>
        </div><!-- class="" -->
    </div>
    {%endwith %}
    
    <div id="map_canvas"></div><!-- id="map_canvas" -->

    <div class="clearfix"></div><!-- class="clearfix" -->
</div><!-- class="team_trap_table" -->

{% endblock %}
