{% extends "mammals/base_mammals.html" %}
{% load smartif %}
{% block title %}Animal details for expedition # {{expedition.id }} {% endblock %}
    
{% block js %}
    {{ block.super }}
    <script type="text/javascript" >
    (function () {
        function check_animal_form () {
            //console.log ('goat')
            console.log ('submitted');
            
            if (jQuery('.delete_animal_checkbox:checked').length > 0) {
                if(confirm('Do you really want to delete the animal(s)?')) {
                    return true;
                }
            }
            // uncheck these boxes.
            console.log ("Setting to false");
            jQuery(".delete_animal_checkbox").attr("checked", false);
            return false;
        }
        function set_up_validation() {
            jQuery("#animal_form").submit(check_animal_form);
            //set_up_dialog()
        }
        jQuery (set_up_validation);
    })()
    </script>
{% endblock %}

{% block css %}
<style media="screen" type="text/css">
    .green_table td
    {
        border-color: #ABA;
        border-width: 1px;
        border-style: solid;
        margin:  1px;
        padding: 4px;
        width: 800px;
        background-color: #EFE;
    }
</style>
{{ block.super }}
{% endblock %}
{% block container %}
<div id ="block_json" style="display:none">{{block_json}}</div>    
<div id ="transects_json" style="display:none">{{transects_json}}</div>
<h3 > Mammals caught during 
<a href ="{{expedition.get_absolute_url}}" >expedition # {{expedition.id }}</a> to square {{expedition.grid_square.battleship_coords}}  on {{expedition.start_date_of_expedition|date:"d M Y" }}</h3>
<p>Note: To delete an animal,click the checkbox under "Delete", and then click "Save".
</p>
    <form action ="/mammals/save_expedition_animals/" method ="post" id="animal_form"> 
    
    {% csrf_token %}
    <input type="hidden" name = "expedition_id" id = "expedition_id" value ="{{expedition.id}}" />
        <hr />
        {%for al in expedition.animal_locations%}
            {% with al.animal as an %}    
                 {% include 'mammals/animal_detail_form.html' %}
            {% endwith %}    
            <hr />
        {%endfor%}
    <input type ="submit" value = "Save" </input>
</form>
</div>
{% endblock %}
