{% extends "mammals/base_mammals.html" %}
{% load static %}

{% block title %}Mammals and Habitats{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static 'js/mammals/map_colors.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mammals/grid_and_block.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mammals/block.js' %}"></script>
    {{ block.super }}
{% endblock %}



{% block bodyclass %}square {% if sandbox %}playground{% else %}research{% endif %}_grid{% endblock %}

{% block container %}
    <div class = "grid_square_print_page_div">
    <div class="team_trap_table">
        <div id ="block_json" style="display:none"  >{{selected_block.corner_obj_json}}</div>
        <div id ="transects_json" style="display:none"  >{{transects_json}}</div>

        {% with printer_friendly='True' %}
            {% include "mammals/transect_table_heading.html" %} 
            {% include "mammals/transect_table.html" %} 
        {% endwith %}
    </div>
    {% if selected_block %}
        {% include "mammals/grid_center_table.html" %}
    {% endif %}
    <div id="map_canvas"></div>
    <div class="clearfix">
    </div>
{%endblock %}

