	<div id="playground_form">
		<h2 class="formfield_header">Draw your grid:</h2><!-- class="formfield_header" -->
		<div class="formfield multiformfield">
			<div class="multifield">Center of grid:</div>
			<div class="multiinput">
				<div>
					<label for="grid_lat">Latitude:</label>
					<input type="text" name="grid_center_y" value="{{grid_center_y}}" id="grid_lat" class="inputbox" />
				</div>
				<div>
					<label for="grid_long">Longitude:</label>
					<input type="text" name="grid_center_x" value="{{grid_center_x}}" id="grid_long" class="inputbox" />
				</div>
			</div><!--  class="multiinput" -->
		</div><!-- class="formfield" -->
		<div class="formfield multiformfield">
			<div class="multifield">Dimensions in squares:</div>
			<div class="multiinput">
				<div>
					<label for="grid_height">Height:</label>
					<input type="text" name="height_in_blocks" value="{{height_in_blocks}}" id="grid_height" class="inputbox" />
				</div>
				<div>
					<label for="grid_long">Width:</label>
					<input type="text" name="width_in_blocks" value="{{width_in_blocks}}" id="grid_width" class="inputbox" />
				</div>
			</div><!--  class="multiinput" -->
		</div><!-- class="formfield" -->
		<div class="formfield">
			<label for="side_length">Length of square side:</label>
			<input type="text" name="block_size_in_m" value="{{block_size_in_m}}" id="side_length" class="inputbox" /> &nbsp;meters
		</div><!-- class="formfield" -->
	</div><!-- id="playground_form" -->

<input type="text" name="selected_block_center_y" id="selected_block_center_y"  value="{{selected_block_center_y}}" class="hide_this" />
<input type="text" name="selected_block_center_x" id="selected_block_center_x" value="{{selected_block_center_x}}" class="hide_this" />

{%if not sandbox %}
<input type="text" name = "selected_block_database_id" id="selected_block_database_id" value ="{{selected_block_database_id}}" class="hide_this" />
{%endif %}
