{% extends "mammals/base_mammals.html" %}
{% load static %}

{% block title %}Mammals and Habitats{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/libraries/jquery-1.6.4.min.js' %}" type="text/javascript"></script>
{% endblock %}

{% block status_home %}active{% endblock %}

{% block container %}
    <h3>Welcome to the Mammals and Habitats Module!</h3>

   <div class="landingSlideshow">
   <a data-flickr-embed="true" data-footer="true"  href="https://www.flickr.com/photos/blackrockforestconsortium/albums/72157632762771848" title="Mammals and Habitats slideshow"><img src="https://c1.staticflickr.com/9/8518/8471018497_7c5f5b3c43.jpg" width="500" height="333" alt="Mammals and Habitats slideshow"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
   </div>
   
    <p>Black Rock Forest Consortium and the Columbia Center for New Media Teaching and Learning have created a Virtual Forest Partnership with New York City Schools thanks to a generous grant from the Toyota USA Foundation.</p>
    
    <p>In this module, students become citizen researchers by taking part in a longitudinal study to identify Black Rock Forest mammals in various habitats. Over the years, these habitats will emerge and be represented as colorful overlays over the Forest map.</p>
    
    <p><b>Educators:</b> Use the <a href="/mammals/sandbox/grid/">Playground</a> to get familiar with the grid sampling tool by entering coordinates of a park near your school. Go to the <a href="/mammals/teaching/">Teaching Resources</a> area to download materials that you can use with your students in preparation for your Black Rock Forest visit. The <a href="/mammals/grid/">Research Grid</a> will be used during your visit.</p>

    <p><b>Students:</b> Go to the <a href="/mammals/search/">Map</a> to see species and habitat data collected by students who have participated in the <a href="/mammals/grid/">Research Grid</a> activity at Black Rock Forest. If you've already done the activity, you can search for the data you collected.</p>
    
    <br clear="all" />
<p class="funder_logo"><span><img src="{% static 'images/logo_toyota_foundation.jpg' %}" width="85" height="67" /></span><br style="height: 15px">The Virtual Forest Partnership with New York City Schools<br />is made possible with support from the Toyota USA Foundation</p>

    <br clear="all" />

{% endblock %}
