{% extends "mammals/base_mammals.html" %}
{% load static %}

{%block title %}Species and Habitat Map of Black Rock Forest{%endblock %}

{% block js %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/mammals/habitat_map_style.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/mammals/habitat_map_code.js' %}"></script>
{% endblock %}

{% block css %}
    <style type='text/css'>
        @import "{% static 'css/mammals/style.css' %}";
        @import "{% static 'js/jquery-ui-1.8.11.custom/css/smoothness/jquery-ui-1.8.11.custom.css' %}";
    </style>
{% endblock %}

{%block mammals_nav_search%}class="active"{%endblock%}

{% block container %}
{%include "mammals/search_subtemplates/results.html" %}
{%include "mammals/search_subtemplates/other_hidden_fields.html" %}
<div id="container" class="habitatmap">
    <div class="plain">
        <div id="left">
            <h3>Species and Habitat Map</h3>
            <form method="get" action="." id="the_habitat_search_form">
                {%include "mammals/search_subtemplates/grid_selector.html" %}
                <span class = "trap_location_checkbox_container">
                    {%include "mammals/search_subtemplates/traps_and_spotting.html" %}
                    {%include "mammals/search_subtemplates/species.html" %}
                    {%include "mammals/search_subtemplates/habitats.html" %}
                    {%include "mammals/search_subtemplates/schools.html" %}
                    {%include "mammals/search_subtemplates/dates.html" %}
                </span>
            </form>
        </div>
        <div id="map_canvas">Loading the map of the forest...</div>
        <div class="clearfix"></div>
    </div>
</div>
{%endblock%}


    
