{% extends "mammals/base_mammals.html" %}
{% load static %}

{% block title %}Mammals and Habitats{% endblock %}

{% block status_teaching %}active{% endblock %}

{% block container %}
    <h3>Teaching resources</h3>
    <h4>Documents for pre-forest trip activities</h4>
    <ul>
    <li>
      <a href = "{% static 'pdf/mammals/Playground_Grid_Instructions.pdf' %}" target="_blank">Playground Grid Instructions</a>
    </li>
    <li>
      <a href = "{% static 'pdf/mammals/UsingCompass.pdf' %}" target="_blank">Using a Compass</a>
    </li>
    <li>
      <a href = "{% static 'pdf/mammals/MammalsDataCollectionSheet.pdf' %}" target="_blank">Data Collection Sheet</a>
    </li>
    </ul>

  <h4>Documents to print and review prior to your Forest visit</h4>
<i>Print 1 copy for each team of 3 or 4 students</i>

    <ul>
    <li>
      <a href = "{% static 'pdf/mammals/MammalsActivityInstructions.pdf' %}" target="_blank">Activity Instructions</a>
    </li>
    <li>
      <a href = "{% static 'pdf/mammals/MarkingFindingWaypoints.pdf' %}" target="_blank">Marking and Finding Waypoints</a>
    </li>
    <li>
      <a href = "{% static 'pdf/mammals/MammalsDataCollectionSheet.pdf' %}" target="_blank">Data Collection Sheet</a>
    </li>
        <li>
      <a href = "{% static 'pdf/mammals/BaitPreparationGuide.pdf' %}" target="_blank">Bait Preparation Guide</a>
    </li>
    <li>
      <a href = "{% static 'pdf/mammals/StudentDuffleBagChecklist.pdf' %}" target="_blank">Student Duffle Bag Checklist</a>
    </li>
    </ul>

<i>Print 1 copy for the teacher</i>

    <ul>
    <li>
      <a href = "{% static 'pdf/mammals/MammalsActivityInstructions.pdf' %}" target="_blank">Activity Instructions</a>
    </li>
    <li>
      <a href = "{% static 'pdf/mammals/ResearchGridInstructions.pdf' %}" target="_blank">Research Grid Instructions</a>
    </li>
    <li>
      <a href = "{% static 'pdf/mammals/TeacherDuffleBagChecklist.pdf' %}" target="_blank">Teacher Duffle Bag Checklist</a>
    </li>
        <li>
      <a href = "{% static 'pdf/mammals/TreeIdentificationDichotomousKey.pdf' %}" target="_blank">Dichotomous Key to Tree Identification</a>
    </li>
    <li>
      <a href = "{% static 'pdf/mammals/ForestCommunitiesDichotomousKey.pdf' %}" target="_blank">Dichotomous Key to Forest Community Types</a>
    </li>
    </ul>

{% endblock %}
