{% extends "mammals/base_mammals.html" %}
{% load static %}
{% block title %}Team Form{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/mammals/map_colors.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mammals/grid_and_block.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mammals/block.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mammals/team_form.js' %}"></script>
    <script type="text/javascript">jQuery (add_team_form_maps);</script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <style media="screen" type="text/css">
        @import "{% static 'css/mammals/team_form.css' %}" ;
    </style>
{% endblock %}
{% block container %}
<div id ="corner_obj" style="display:none">{{expedition.grid_square.corner_obj_json}}</div>
<div id ="block_json" style="display:none">{{block_json}}</div>    
<div id ="transects_json" style="display:none">{{transects_json}}</div>

<form action ="/mammals/save_team_form/" method="post" id="team_form"> 
    <input type="hidden" name = "expedition_id" id = "expedition_id" value ="{{expedition.id}}" />
    <input type="hidden" name = "team_letter"   id = "team_letter"   value ="{{team_letter}}" />
    
    <div class="title"> 
      <div>      
        <div class="title_static">Mammals and Habitats Data Collection Sheet - Expedition #{{expedition.id }}</div> 
      </div>
      <div>      
       <div class="title_day">Day 1 </div>
      </div>
    </div>
    <div class="team_form_top_table">
      <div class="team_form_table_left">
        <div><strong>School</strong>: {{expedition.school}}</div>
        <div>
                <strong>Names</strong>: <input name="student_names" value ="{{student_names|default_if_none:''}}" size="50" maxlength="350"></input><br />
                <em>To preserve students' privacy, do not enter last names.</em>
            </div>
              </div>
      <div class="team_form_table_right">
            
            <div>
                <strong>Sample square</strong>: {{expedition.grid_square.battleship_coords}}
            </div>
      
         <div><strong>Team Letter</strong>: {{team_letter}}
           </div>           
           <div><strong>Compass bearing</strong>: {{team_points.0.transect_bearing_wrt_magnetic_north|floatformat:0 }}&deg; from magnetic north <!--
           {{point.transect_bearing|floatformat:0 }}&deg; from true north.)
           -->
           </div>
       </div> 
     </div>
     <div id="trap_container">
    {%for point in team_points     %}
            {%include "mammals/trap_location.html" %}
    {%endfor%}
    </div>
    {% csrf_token %}
    <div  class="save_buttons">
        <button type="button" onclick="save_team_form_ajax(); return false;">Save Team {{team_letter}}</a>
        <button type="button" onclick="javascript:jQuery('#team_form').submit()">Save Team {{team_letter}} and go back</button>
    </div>
</form>
</div>
{% endblock %}

