<div class="trap_rectangle" >

<h3 class="trap_label" >Trap {{point.team_letter }}{{point.team_number }} </h3> 

<div class="team_form_container">

<div class = "team_form_mini_map">
    <div style="display:none" class = "team_form_hidden_div">
        <!-- using this data to correctly center the mini-maps in the team_form.js . -->
        <div id = "lat_{{point.id}}">{{point.suggested_lat}}</div>
        <div id = "lon_{{point.id}}">{{point.suggested_lon}}</div>
        <div id = "transect_center_lat_{{point.id}}">{{point.transect_endpoints.center.0}}</div>
        <div id = "transect_center_lon_{{point.id}}">{{point.transect_endpoints.center.1}}</div>
        <div id = "transect_edge_lat_{{point.id}}">{{point.transect_endpoints.edge.0}}</div>
        <div id = "transect_edge_lon_{{point.id}}">{{point.transect_endpoints.edge.1}}</div>
    </div>
    {%comment %}
    <div id = "map_{{point.id}}" class = "team_form_map" ></div>
    {%endcomment %}
</div>

<div class="mammals_form team_form_distance"><strong>Distance (m) from center</strong>: {{point.transect_distance|floatformat:0}}m</div>  

<div class = "mammals_form team_form_lat_lon_coord latitude suggested">
    <span class ="label">
        <strong>Suggested latitude</strong>:
    </span>
    <span class ="value">
        {{point.suggested_lat|floatformat:5 }}
    </span>
</div>
<div class = "mammals_form team_form_lat_lon_coord latitude actual">
    <span class ="label">
        <strong>Actual latitude</strong>:
    </span>
    <span class ="value">
        <input class="coord_input" type="text" name = "actual_lat_{{point.id}}"  id = "actual_lat_{{point.id}}" value = "{{point.actual_lat|floatformat:5}}"  maxlength="9" />
    </span>
</div>


<div class = "mammals_form team_form_lat_lon_coord longitude suggested">
    <span class ="label">
        <strong>Suggested longitude</strong>:
    </span>
    <span class ="value">
        {{point.suggested_lon|floatformat:5 }}
    </span>
</div>
<div class = "mammals_form team_form_lat_lon_coord longitude actual">
    <span class ="label">
        <strong>Actual longitude</strong>:
    </span>
    <span class ="value">
    <input class="coord_input" type="text" name = "actual_lon_{{point.id}}" id = "actual_lon_{{point.id}}" value = "{{point.actual_lon|floatformat:5}}"  maxlength="9" />
    </span>
</div>


<div class = "mammals_form team_form_was_a_trap_set_here">
    <span class ="label">
        <strong>Was a trap set here?</strong>
    </span>

    <select id="whether_a_trap_was_set_here_{{point.id}}" name="whether_a_trap_was_set_here_{{point.id}}" class = "whether_a_trap_was_set_here_dropdown" >
        <option value = "True"  {%if point.whether_a_trap_was_set_here %}selected{%endif%}>Yes</option>
        <option value = "False" {%if not point.whether_a_trap_was_set_here %}selected{%endif%}>No</option>
    </select>
</div>


<div class = "mammals_form team_form_trap_type_div">
    <span class ="label">
       <strong>Trap type</strong>:
    </span>
    <select id="trap_type_{{point.id}}" name="trap_type_{{point.id}}">
        {% for trap_type in trap_types %}
            <option value = "{{trap_type.id}}"{%if point.trap_type_id == trap_type.id %} selected{%endif%}>{{trap_type}}</option>
        {%endfor %}
    </select>
</div>

<div class = "mammals_form team_form_bait_type_div">

    <span class ="label">
        <strong>Bait type</strong>:
    </span>

    <select id="bait_{{point.id}}" name="bait_{{point.id}}">
    
    <option value="None">No bait placed in trap</option>
    {% for b in baits %}
        <option value = "{{b.id}}"{%if point.bait_id == b.id %} selected{%endif%}>{{b}}</option>
    {%endfor %}
    </select>
</div>


<div class = "mammals_form team_form_trap_success">
    <span class ="label">
        <strong>Catch</strong>:
    </span>
    <select  id = "bait_still_there_{{point.id}}" name="bait_still_there_{{point.id}}" >
        <option value = "True"  {%if point.bait_still_there %}selected{%endif%}>Bait present</option>
        <option value = "False" {%if not point.bait_still_there %}selected{%endif%}>Bait absent</option>
    </select>
    
</div>

<div class = "mammals_form team_form_trap_animals">
    <span class ="label">
        <strong>Trap empty?</strong>
    </span>
    
    <select id="animal_{{point.id}}" name="animal_{{point.id}}">
            {% if not point.animal %}
            <!-- you can't remove an animal this way. In fact for now you can only do it via the Django admin.-->
            <option value="None">Trap empty</option>
            {% endif %}
            {% for species in species %}
                <option value = "{{species.id}}"  {%if point.animal.species_id == species.id %} selected{%endif%}   >{{species}}</option>
            {%endfor %}
    </select>
</div>


<div class = "mammals_form team_form_habitat_type_div">
   <span class ="label">
        <strong>Habitat</strong>:
    </span>

    <select id="habitat_{{point.id}}" name="habitat_{{point.id}}">
        
        <option value="None">None recorded</option>
        {% for habitat in habitats %}
            <option value = "{{habitat.id}}" {%if point.habitat_id == habitat.id %} selected{%endif%} >{{habitat}}</option>
        {%endfor %}
    </select>
</div>

<div class = "mammals_form team_form_understory_div">
    <span class ="label">
    <strong>Understory</strong>:
    </span>
    <input name="understory_{{point.id}}" value ="{{point.understory|default_if_none:''}}" size="50" maxlength="250" ></input>
</div>

<div class = "mammals_form notes_about_location_div">
    <span class ="label">
    <strong>Notes</strong>:
    </span>
    <input name="notes_about_location_{{point.id}}" value ="{{point.notes_about_location|default_if_none:''}}" size="50" maxlength="250" ></input>
</div>


</div>
</div  > <!-- class="trap_rectangle" -->
