<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head><title>{% block title %}MY PAGE TITLE{% endblock %}</title>

<style media="screen" type="text/css">
@import "/site_media/css/site.css" ;
@import "/site_media/css/style.css" ;
</style>

{% block css %}{% endblock %}
{% block js %}{% endblock %}
{% block feeds %}{% endblock %}

{% include "google_analytics.html" %}

</head>
<body class="{% block bodyclass %}{% endblock %}">

<a href="/"><span id="brf"></span></a>
<a href="http://ccnmtl.columbia.edu/"><span id="ccnmtl"></span></a>

<div id="wrapper">
<h1 id="masthead"><span>{% block masthead %}{% endblock %}</span></h1>
<div id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
<div id="nav">{% block nav %}{% endblock %}</div>

{% block content %}{% endblock %}
</div>
{% block footer %}{% endblock %}
</body></html>
