<form name="respiration" action="../../respiration/loadsolr" method="POST" onSubmit="return submitSolrQuery(this, 'solr_progress');">
     <fieldset class="module aligned">
        <h2>Import Respiration Data from SOLR</h2>
        <div style="color: #F00; font-weight: bold; margin: 5px 5px;" colspan="2"><div id="respiration_error"></div></div>
        <div style="color: #00F; font-weight: bold; margin: 5px 5px;" colspan="2"><div id="respiration_status"></div></div>
        <div id="solr_progress" class="progress_indicator" style="display: none; top: 116px; height:268px;"><div>Loading...please wait<br /><img src="/site_media/images/progress.gif" /></div></div>
        <div class="form-row">
            <label for="id_base_query" class="required">Base Query:</label><input type="text" name="base_query" id="id_base_query" class="vTextField" style="width: 350px" value="http://cherrystone.cc.columbia.edu:8181/solr/blackrock/select/?qt=forest-data&collection_id=environmental-monitoring&"></input>
        </div> 
        <div class="form-row">
            <label for="id_import_set">Import Set:</label><input type="text" name="import_set" id="id_import_set" class="vTextField" style="width: 350px"></input><br />
            <label>&nbsp;</label><i>If no import set is specified, all "educational" data will be imported. Approx. 30 minute load time.</i>
        </div> 
        <div class="form-row">
            <label for="id_delete_data">Delete Data</label><input type="checkbox" name="delete_data" id="id_delete_data" checked="checked"></input>
            
            <div id="delete_details" style="margin-left: 30px; margin-top: 10px">
                <span style="margin-right: 25px"><label>Station:</label></span><select name="station"><option value="All">All</option><option value="Fire Tower"/>Fire Tower</option><option value="Open Lowland"/>Open Lowland</option><option value="Ridgetop">Ridgetop</option></select>
                <br />
                <span style="margin-right: 9px"><label>Start Date:</label></span><input name="start_date" id="id_start_date" class="vDateField" size="10" type="text">
                <br />
                <span style="margin-right: 14px"><label>End Date:</label></span><input name="end_date" id="id_end_date" class="vDateField" size="10" type="text">
            </div>
            
        </div>
        <div style="margin: 5px;">
            <input value="Submit" class="default" name="_submit" type="submit">
        </div>
    </fieldset>           
</form>

<br/><br/>

<form name="import_csv" action="../../respiration/loadcsv" enctype="multipart/form-data" method="POST">
    <fieldset class="module aligned">
        <h2>Import Respiration Data From CSV</h2>
    
        <div style="color: #F00; font-weight: bold; margin: 5px 5px;" colspan="2"><div id="import_error"></div></div>
        <div style="color: #00F; font-weight: bold; margin: 5px 5px;" colspan="2"><div id="import_status"></div></div>
        <div id="csv_progress" class="progress_indicator" style="display: none; top: 442px; height:130px;"><div>Loading...please wait<br /><img src="/site_media/images/progress.gif" /></div></div>
    
        <div class="form-row">
            <label for="id_csvfile" class="required">Filename:</label><input type="file" id="id_csvfile" name="csvfile" size="40"></input>
        </div> 
        <div class="form-row">
            <label for="id_delete_data">Delete Data</label><input type="checkbox" name="delete" id="id_delete"></input>
        </div>
        <div class="form-row">
            <input value="Import Data" class="default" name="_submit" type="submit">
        </div>
    </fieldset>
</form>