{% extends "base.html" %} 

{% block title %}
Paleoecology: {% block pagetitle %}{% endblock %}
{% endblock %} 

{% block css %} 
<style type='text/css'>
  @import "media/css/style.css";
</style> 
<!--[if IE 7]>
<style type='text/css'>
  @import "media/css/style_ie7.css";
</style> 
<![endif]-->
{% endblock %} 

{% block js %} 
  {{block.super}}
    <script type="text/javascript">
      function setActiveTab() { addElementClass("{% block tabname %}tab-identification{% endblock %}", "tab-selected"); }
      addLoadEvent(setActiveTab);
    </script> 
{% endblock %} 

{% block masthead %} 
<a href="/paleoecology/" title="Return to 'Paleoecology' home">Paleoecology</a>
{% endblock %} 

{% block content %} 
<div id="content">
	<div id="tab-bar">
        <div class="tab" id="tab-resources">
            Teaching Resources
        </div>
    	<div class="tab" id="tab-coresample">
    		Sediment Sampling
    	</div>
    	
    	<div class="tab" id="tab-identification">
    		Pollen Identification
    	</div>
	</div>
	
<div id="container">
{% block container %}
	
  {% block instructions %}
  {% endblock %}

	<div id="left">
		{% block left %} 
		LEFT PANE REPORTING FOR DUTY 
		{% endblock %} 
	</div>
	

	<div id="right">
	    {% block right %} 
		RIGHT PANE SIR YES SIR 
	    {% endblock %} 
	</div>
	
	{% block bottombuttons %}
	{% endblock %}
	
{% endblock %}
</div>
<!-- end div "container" -->
</div>
{% endblock %} 

{% block script_footer %}    
    <script type="text/javascript">
        /* Select from list: Chrome, Firefox, Safari, MSIE */
        shieldbrowser({"Chrome": 1, "Firefox": 3.6, "Safari": 4, "MSIE": 8 });
    </script>
{% endblock %} 