{% extends "base.html" %}
{% load static %}

{% block title %}
Paleoecology: {% block pagetitle %}{% endblock %}
{% endblock %} 

{% block css %} 
<style type='text/css'>
  @import "{% static 'css/paleoecology/style.css' %}";
</style> 
<!--[if IE 7]>
<style type='text/css'>
  @import "media/css/style_ie7.css";
</style> 
<![endif]-->
{% endblock %} 

{% block js %} 
    <script src="{% static 'js/libraries/jquery-1.6.4.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/mochikit/MochiKit/MochiKit.js' %}" type="text/javascript"></script> 
    <script src="{% static 'js/mochikit/MochiKit/Signal.js' %}" type="text/javascript"></script> 
    <script src="{% static 'js/browserdetect.js' %}" type="text/javascript" language="javascript"></script>
    <script type="text/javascript">
      function setActiveTab() { addElementClass("{% block tabname %}tab-identification{% endblock %}", "tab-selected"); }
      addLoadEvent(setActiveTab);
    </script> 
{% endblock %} 

{% block masthead %} 
<a href="/paleoecology/" title="Return to 'Paleoecology' home">Paleoecology</a>
{% endblock %} 

{% block content %} 
<div id="content">
    <div id="tab-bar">
        <div class="tab-survey">
            <a class="btn-paleoecology"
                target="_blank"
                href="https://docs.google.com/forms/d/e/1FAIpQLSdQET9fcq2avuRnVrRScopwwD9tTh8nE0TG0SZ1s9B0R6rbrQ/viewform?usp=sf_link">
                Take Survey
            </a>
        </div>
        <div class="tab" id="tab-resources">
            Teaching Resources
        </div>
        <div class="tab" id="tab-coresample">
            Sediment Sampling
        </div>
        <div class="tab" id="tab-identification">
            Pollen Identification
        </div>

    </div>
<div id="container">
{% block container %}

  {% block instructions %}
  {% endblock %}

    <div id="left">
        {% block left %} 
        LEFT PANE REPORTING FOR DUTY 
        {% endblock %} 
    </div>

    <div id="right">
        {% block right %} 
        RIGHT PANE SIR YES SIR 
        {% endblock %} 
    </div>

    {% block bottombuttons %}
    {% endblock %}

{% endblock %}
</div>
<!-- end div "container" -->
</div>
{% endblock %}
