{% extends "paleoecology/base_paleoecology.html" %}
{% load static %}
{% load extras %}

{% block pagetitle %}Pollen Identification{% endblock %}

{% block tabname %}tab-identification{% endblock %} 

{% block js %} 
{{ block.super }} 

  <script type="text/javascript">
    function initNav() {
      connect("tab-coresample", "onclick", function() { location.href='explore'; });
      connect("tab-resources", "onclick", function() { location.href='resources'; });
    }
    addLoadEvent(initNav);
  </script>
  
  <script type="text/javascript" src="{% static 'js/paleoecology/interactive_key.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/paleoecology/pollen_identification.js' %}"></script>
{% endblock %}

{% block overlay %}
<div id="pollen-lightbox" class="pollen-lightbox" style="display: none"></div>
<div id="pollen-lightbox-content" style="display: none">
    <p><a href="#"  id="pollen-lightbox-close">Click to close</a></p>
    <center><img id="pollen-image-large" src="" /></center>
</div>
{% endblock %}

{% block instructions %}
<div id="instructions"><strong>Instructions:</strong> Use the appropriate interactive key to identify each of the pictured specimens.  You may change your answer any time by clicking on a specimen you have already identified.</div>
{% endblock %}

{% block left %}


<div id="identify-box">
  <div class="identify-title">Identify This Specimen</div>
  
 <div id="pollen-image-container">
    <div id="pollen-image"></div>
    <div id="pollen-magnify">
        <img src="{% static 'images/paleoecology/magnify.png' %}" alt="Enlarge this image" title="Enlarge this image" />
    </div>
 </div>
  
  <form id="identify-form" action=".">
    <div>
      Choose Species Name:<br /><br />
        <select name="pollen-choice" id='pollen-choice'>
          <option value=""></option>
          <option value="">--- POLLEN ---</option>
          <option value="abies (fir) pollen">Abies (fir) pollen</option>
          <option value="alnus (alder) pollen">Alnus (alder) pollen</option>
          <option value="asteraceae (ragweed & herbs) pollen">Asteraceae (ragweed & herbs) pollen</option>
          <option value="betula (birch) pollen">Betula (birch) pollen</option>
          <option value="carya (hickory) pollen">Carya (hickory) pollen</option>
          <option value="castanea dentata (American chestnut) pollen">Castanea dentata (American chestnut) pollen</option>
          <option value="cyperaceae (sedge) pollen">Cyperaceae (sedge) pollen</option>
          <option value="fagus grandifolia (American beech) pollen">Fagus grandifolia (American beech) pollen</option>
          <option value="fraxinus (ash) pollen">Fraxinus (ash) pollen</option>
          <option value="gramineae (grass) pollen">Gramineae (grass) pollen</option>
          <option value="ostrya/carpinus pollen">Ostrya/carpinus pollen</option>
          <option value="picea (spruce) pollen">Picea (spruce) pollen</option>
          <option value="pinus strobus (white pine) pollen">Pinus strobus (white pine) pollen</option>
          <option value="quercus (oak) pollen">Quercus (oak) pollen</option>
          <option value="tsuga canadensis (eastern hemlock) pollen">Tsuga canadensis (eastern hemlock) pollen</option>
          <option value="ulmus (elm) pollen">Ulmus (elm) pollen</option>
          <option value=""></option>
          <option value="">--- NEEDLES ---</option>
          <option value="abies (fir) needle">Abies (fir) needle</option>
          <option value="picea (spruce) needle">Picea (spruce) needle</option>
          <option value="pinus strobus (white pine) needle">Pinus strobus (white pine) needle</option>
          <option value="tsuga canadensis (eastern hemlock) needle">Tsuga canadensis (eastern hemlock) needle</option>
          <option value=""></option>
          <option value="">--- SEEDS ---</option>
          <option value="betula papyrifera (paper birch) seed">Betula papyrifera (paper birch) seed</option>
          <option value="betula populifolia (gray birch) seed">Betula populifolia (gray birch) seed</option>
          
        </select>
      </div>
      <!--input type="text" id='name-form'></input--><br />
      <span><input type='button' id='next' value='Next Species &gt;&gt;'/></span><input type='button' id='answers' value='Check Answers' />
  </form>
</div>

<div id="pollen-zoo-outer">
  <div class="identify-title"><span id='zoo-title'>Species to Identify</span><span id='answerkey-title'>Check Answers</span></div>
  <div id="pollen-zoo"></div>
</div>

{% endblock %}

{% block bottombuttons %}
<!--  <input type='button' id='complete' value='Complete Activity &gt;&gt;' />-->


{% endblock %}

{% block right %}


<div id="key-tabs"><input type="button" id='key-reset' value="Restart Key" />
  <div id="seed-tab" class="key-tab">Seed Key</div>
  <div id="needle-tab" class="key-tab">Needle Key</div>
  <div id="pollen-tab" class="key-tab keytab-selected">Pollen Key</div>
</div>
<div id="key-container">


<div id="pollen-key" class="key">


 <div class="keyrow selected" id="keyrow-pollen1"> <div class="line-id">1.</div><div class="keyitem">
    <div class="characteristic-pair">
     <div class="button-container">
        <div class="key_button" onclick="goto('12')">Go to 12.</div>
      </div>
      <div class="characteristic">
        Pollen has bladders (<a href="#" class="morphology" onclick="return showTerm(this)">vesiculate</a>)
      </div>
      
    </div>
    <div class="characteristic-pair">
      <div class="button-container">
        <div class="key_button" onclick="goto('2a');">Go to 2a.</div>
      </div>
      <div class="characteristic">
        Pollen has no bladders
      </div>
      
    </div>
  </div></div>

  <div class="keyrow" id="keyrow-pollen2a"> <div class="line-id">2a.</div><div class="keyitem">
    <div class="characteristic-pair">
      <div class="button-container">
        <div class="key_button" onclick="goto('2b')">Go to 2b.</div>
      </div>
      <div class="characteristic">
        Pollen is spherical/round or somewhat elongated in shape
      </div>
     
    </div>
    <div class="characteristic-pair">
      <div class="button-container">
        <div class="key_button" onclick="goto('14')">Go to 14.</div>
      </div>
      <div class="characteristic">
        Pollen is pyramidal (pear-shaped)
      </div>
      
    </div>
  </div></div>

  <div class="keyrow" id="keyrow-pollen2b"><div class="line-id">2b.</div><div class="keyitem">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Pollen has <a href="#" class="morphology" onclick="return showTerm(this)">spines or bumps</a>
      </div>
      <div class="answer">
        <div class="key_answer">Asteraceae/Composite/Ambrosia</div>
      </div>
    </div>
    <div class="characteristic-pair">
        <div class="button-container">
        <div class="key_button" onclick="goto('3')">Go to 3.</div>
      </div>
      <div class="characteristic">
        Pollen has <a href="#" class="morphology" onclick="return showTerm(this)">pores</a> only (<a href="#" class="morphology" onclick="return showTerm(this)">porate</a>)
      </div>
    
    </div>
    <div class="characteristic-pair">
        <div class="button-container">
        <div class="key_button" onclick="goto('4')">Go to 4.</div>
      </div>
      <div class="characteristic">
        Pollen has <a href="#" class="morphology" onclick="return showTerm(this)">furrows</a>
      </div>
    </div>
    <div class="characteristic-pair">
       <div class="button-container">
        <div class="key_button" onclick="goto('14')">Go to 14.</div>
      </div>
      <div class="characteristic">
        Pollen has no <a href="#" class="morphology" onclick="return showTerm(this)">pores</a> and no <a href="#" class="morphology" onclick="return showTerm(this)">furrows</a>
      </div>
     
    </div>
  </div></div>

  <div class="keyrow" id="keyrow-pollen3"><div class="line-id">3.</div><div class="keyitem">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Pollen has one <a href="#" class="morphology" onclick="return showTerm(this)">pore</a> (<a href="#" class="morphology" onclick="return showTerm(this)">monoporate</a>)
      </div>
      <div class="answer">
        <div class="key_answer">Gramineae/Poaceae/Grasses</div>
      </div>
    </div>
    <div class="characteristic-pair">
     <div class="button-container">
        <div class="key_button" onclick="goto('6')">Go to 6.</div>
      </div>
      <div class="characteristic">
        Pollen has more than one <a href="#" class="morphology" onclick="return showTerm(this)">pore</a>
      </div>
      
    </div>
  </div></div>

  <div class="keyrow" id="keyrow-pollen4"><div class="line-id">4.</div><div class="keyitem">
    <div class="characteristic-pair">
      <div class="button-container">
        <div class="key_button" onclick="goto('5')">Go to 5.</div>
      </div>
      <div class="characteristic">
        Pollen has <a href="#" class="morphology" onclick="return showTerm(this)">furrows</a> only (<a href="#" class="morphology" onclick="return showTerm(this)">colpate</a>)
      </div>
      
    </div>
    <div class="characteristic-pair">
      <div class="button-container">
        <div class="key_button" onclick="goto('11')">Go to 11.</div>
      </div>
      <div class="characteristic">
        Pollen has <a href="#" class="morphology" onclick="return showTerm(this)">furrows</a> and <a href="#" class="morphology" onclick="return showTerm(this)">pores</a> (<a href="#" class="morphology" onclick="return showTerm(this)">colporate</a>)
      </div>
      
    </div>
  </div></div>

  <div class="keyrow" id="keyrow-pollen5"><div class="line-id">5.</div><div class="keyitem">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Pollen has three <a href="#" class="morphology" onclick="return showTerm(this)">furrows</a> and is slightly elongated
      </div>
      <div class="answer">
        <div class="key_answer">Quercus (oak)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Pollen has four shallow <a href="#" class="morphology" onclick="return showTerm(this)">furrows</a>
      </div>
      <div class="answer">
        <div class="key_answer">Fraxinus (ash)</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow" id="keyrow-pollen6"><div class="line-id">6.</div><div class="keyitem">
    <div class="characteristic-pair">
      <div class="button-container">
        <div class="key_button" onclick="goto('7')">Go to 7.</div>
      </div>
      <div class="characteristic">
        Pollen has three <a href="#" class="morphology" onclick="return showTerm(this)">pores</a> (<a href="#" class="morphology" onclick="return showTerm(this)">triporate</a>)
      </div>
      
    </div>
    <div class="characteristic-pair">
      <div class="button-container">
        <div class="key_button" onclick="goto('9')">Go to 9.</div>
      </div>
      <div class="characteristic">
        Pollen has more than three <a href="#" class="morphology" onclick="return showTerm(this)">pores</a>
      </div>
      
    </div>
  </div></div>
  
  <div class="keyrow" id="keyrow-pollen7"><div class="line-id">7.</div><div class="keyitem">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Three <a href="#" class="morphology" onclick="return showTerm(this)">pores</a> are on edge of grain and are protruding
      </div>
      <div class="answer">
        <div class="key_answer">Betula (birch)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Three <a href="#" class="morphology" onclick="return showTerm(this)">pores</a> are on edge of grain and not protruding
      </div>
      <div class="answer">
        <div class="key_answer">Ostrya/Carpinus</div>
      </div>
    </div>
    <div class="characteristic-pair">
       <div class="button-container">
        <div class="key_button" onclick="goto('8')">Go to 8.</div>
      </div>
      <div class="characteristic">
        Three <a href="#" class="morphology" onclick="return showTerm(this)">pores</a> not on edge of grain
      </div>
     
    </div>
  </div></div>

  <div class="keyrow" id="keyrow-pollen8"><div class="line-id">8.</div><div class="keyitem">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Three <a href="#" class="morphology" onclick="return showTerm(this)">pores</a> are round and flat and on same face of pollen grain
      </div>
      <div class="answer">
        <div class="key_answer">Carya (hickory)</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow" id="keyrow-pollen9"><div class="line-id">9.</div><div class="keyitem">
    <div class="characteristic-pair">
       <div class="button-container">
        <div class="key_button" onclick="goto('10')">Go to 10.</div>
      </div>
      <div class="characteristic">
        Pollen has 4 or 5 <a href="#" class="morphology" onclick="return showTerm(this)">pores</a>
      </div>
     
    </div>
  </div></div>

  <div class="keyrow" id="keyrow-pollen10"><div class="line-id">10.</div><div class="keyitem">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        <a href="#" class="morphology" onclick="return showTerm(this)">Pores</a> are connected by <a href="#" class="morphology" onclick="return showTerm(this)">arcs</a>
      </div>
      <div class="answer">
        <div class="key_answer">Alnus (alder)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        <a href="#" class="morphology" onclick="return showTerm(this)">Pores</a> not connected by <a href="#" class="morphology" onclick="return showTerm(this)">arcs</a> and surface has <a href="#" class="morphology" onclick="return showTerm(this)">rugulate</a> (lobed) pattern
      </div>
      <div class="answer">
        <div class="key_answer">Ulmus (elm)</div>
      </div>
    </div>
  </div></div>
  
  <div class="keyrow" id="keyrow-pollen11"><div class="line-id">11.</div><div class="keyitem">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Pollen is <a href="#" class="morphology" onclick="return showTerm(this)">tricolporate</a> and the circular <a href="#" class="morphology" onclick="return showTerm(this)">pore</a> exceeds the width of the furrow
      </div>
      <div class="answer">
        <div class="key_answer">Fagus (beech)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Pollen is <a href="#" class="morphology" onclick="return showTerm(this)">tricolporate</a>, elongated and small
      </div>
      <div class="answer">
        <div class="key_answer">Castanea dentata (American chestnut)</div>
      </div>
    </div>
  </div></div>
  
  <div class="keyrow" id="keyrow-pollen12"><div class="line-id">12.</div><div class="keyitem">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Connection between bladder and body is not <a href="#" class="morphology" onclick="return showTerm(this)">constricted</a> at point of attachment
      </div>
      <div class="answer">
        <div class="key_answer">Picea (spruce)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="button-container">
        <div class="key_button" onclick="goto('13')">Go to 13.</div>
      </div>
      <div class="characteristic">
        Connection between bladder and body is <a href="#" class="morphology" onclick="return showTerm(this)">constricted</a>
      </div>
      
    </div>
  </div></div>

  <div class="keyrow" id="keyrow-pollen13"><div class="line-id">13.</div><div class="keyitem">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        <a href="#" class="morphology" onclick="return showTerm(this)">Cap</a> on body has uneven thickness
      </div>
      <div class="answer">
        <div class="key_answer">Abies (fir)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        <a href="#" class="morphology" onclick="return showTerm(this)">Cap</a> on body has even thickness and has bumps on bottom of body (<a href="#" class="morphology" onclick="return showTerm(this)">verrucae</a>)
      </div>
      <div class="answer">
        <div class="key_answer">Pinus strobus (white pine)</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow" id="keyrow-pollen14"><div class="line-id">14.</div><div class="keyitem">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Pollen has no <a href="#" class="morphology" onclick="return showTerm(this)">pore</a> or <a href="#" class="morphology" onclick="return showTerm(this)">furrow</a> and has a pyramidal shape
      </div>
      <div class="answer">
        <div class="key_answer">Cyperaceae (sedge)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Pollen has no <a href="#" class="morphology" onclick="return showTerm(this)">pore</a> or <a href="#" class="morphology" onclick="return showTerm(this)">furrow</a> and is large and round
      </div>
      <div class="answer">
        <div class="key_answer">Tsuga canadensis (eastern hemlock)</div>
      </div>
    </div>
  </div>
  </div>
  <br /><br /><br /><br />
</div>

<div id="needle-key" class="key" style="display:none;">

  <div class="keyrow selected" id="keyrow-needle1"><div class="line-id">1.</div><div class="keyitem">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Needle is square in cross-section
      </div>
      <div class="answer">
        <div class="key_answer">Picea (spruce)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="button-container">
        <div class="key_button" onclick="goto('2')">Go to 2.</div>
        </div>
        <div class="characteristic">
        Needle is not square in cross-section
      </div>
    </div>
  </div></div>

  <div class="keyrow" id="keyrow-needle2"><div class="line-id">2.</div><div class="keyitem">
    <div class="characteristic-pair">
       <div class="button-container">
        <div class="key_button" onclick="goto('3')">Go to 3.</div>
        </div>
      <div class="characteristic">
        Needle is flat in cross-section
      </div>
    </div>
    <div class="characteristic-pair">
       <div class="button-container">
        <div class="key_button" onclick="goto('4')">Go to 4.</div>
        </div>
        <div class="characteristic">
        Needle is not flat in cross-section
      </div>
    </div>
  </div></div>

  <div class="keyrow" id="keyrow-needle3"><div class="line-id">3.</div><div class="keyitem">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Needle has a notch at the tip
      </div>
      <div class="answer">
        <div class="key_answer">Abies (fir)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Needle has no notch at the tip and the leaf stem (petiole) is at a 45&deg; angle
      </div>
      <div class="answer">
        <div class="key_answer">Tsuga (hemlock)</div>
      </div>
    </div>
  </div></div>

  <div class="keyrow" id="keyrow-needle4"><div class="line-id">4.</div><div class="keyitem">
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Needle is triangular in cross-section and slightly serrated
      </div>
      <div class="answer">
        <div class="key_answer">Pinus strobus (white pine)</div>
      </div>
    </div>
  </div></div>

</div>

<div id="seed-key" class="key" style="display:none;">

  <div class="keyrow selected" id="keyrow-seed1"><div class="line-id">1.</div>
  <div class="keyitem">
    
    <div class="characteristic-pair">
      
      <div class="characteristic">
        Each wing of the seed is about the same size as the nut of the seed
      </div>
      <div class="answer">
        <div class="key_answer">Betula papyrifera (paper birch)</div>
      </div>
    </div>
    <div class="characteristic-pair">
      <div class="characteristic">
        Each wing of the seed is much larger than the nut of the seed
      </div>
      <div class="answer">
        <div class="key_answer">Betula populifolia (gray birch)</div>
      </div>
    </div>
  </div>
  </div>
</div>

</div>

<div class="morphology-term" style="display: none" id="arcs">
<div class="title">Arcs <a class="close" href="#" onclick="return closeTerm(this);"></a></div><div class="content">are ridges that connect two pores.</div>
</div>
<div class="morphology-term" style="display: none" id="cap">
<div class="title">Cap <a class="close" href="#" onclick="return closeTerm(this);"></a></div><div class="content"> is a partial cover on the pollen grain.</div>
</div>
<div class="morphology-term" style="display: none" id="colpate">
<div class="title">Colpate <a class="close" href="#" onclick="return closeTerm(this);"></a></div><div class="content"> is an elongated opening (a furrow) on the surface of the pollen grain.</div>
</div>
<div class="morphology-term" style="display: none" id="colporate">
<div class="title">Colporate <a class="close" href="#" onclick="return closeTerm(this);"></a></div><div class="content"> is a pore and a furrow on the surface of the pollen grain.</div>
</div>
<div class="morphology-term" style="display: none" id="constricted">
<div class="title">Constricted <a class="close" href="#" onclick="return closeTerm(this);"></a></div><div class="content"> is a pinch in the surface of the pollen grain where the bladder connects to the body.</div>
</div>
<div class="morphology-term" style="display: none" id="furrows">
<div class="title">Furrows <a class="close" href="#" onclick="return closeTerm(this);"></a></div><div class="content"> are elongated openings on the surface of the pollen grain (= colpate).</div>
</div>
<div class="morphology-term" style="display: none" id="furrow">
<div class="title">Furrows <a class="close" href="#" onclick="return closeTerm(this);"></a></div><div class="content"> are elongated openings on the surface of the pollen grain (= colpate).</div>
</div>
<div class="morphology-term" style="display: none" id="monoporate">
<div class="title">Monoporate <a class="close" href="#" onclick="return closeTerm(this);"></a></div><div class="content"> is a pollen grain with one pore.</div>
</div>
<div class="morphology-term" style="display: none" id="porate">
<div class="title">Porate <a class="close" href="#" onclick="return closeTerm(this);"></a></div><div class="content"> is a pore/hole/round opening on the surface of the pollen grain.</div>
</div>
<div class="morphology-term" style="display: none" id="pore">
<div class="title">Pores <a class="close" href="#" onclick="return closeTerm(this);"></a></div><div class="content"> are holes or round openings on the surface of the pollen grain.</div>
</div>
<div class="morphology-term" style="display: none" id="pores">
<div class="title">Pores <a class="close" href="#" onclick="return closeTerm(this);"></a></div><div class="content"> are holes or round openings on the surface of the pollen grain.</div>
</div>
<div class="morphology-term" style="display: none" id="rugulate">
<div class="title">Rugulate <a class="close" href="#" onclick="return closeTerm(this);"></a></div><div class="content"> is a pollen grain that has irregularly arranged wrinkles on the surface.</div>
</div>
<div class="morphology-term" style="display: none" id="spines-or-bumps">
<div class="title">Spines or Bumps<a class="close" href="#" onclick="return closeTerm(this);"></a></div><div class="content"> are sharp or rounded projections on the surface of the pollen grain.</div>
</div>
<div class="morphology-term" style="display: none" id="tricolpate">
<div class="title">Tricolpate <a class="close" href="#" onclick="return closeTerm(this);"></a></div><div class="content"> has three furrows.</div>
</div>
<div class="morphology-term" style="display: none" id="tricolporate">
<div class="title">Tricolporate <a class="close" href="#" onclick="return closeTerm(this);"></a></div><div class="content"> has three pores and three furrows.</div>
</div> 
<div class="morphology-term" style="display: none" id="triporate">
<div class="title">Triporate <a class="close" href="#" onclick="return closeTerm(this);"></a></div><div class="content"> has three pores.</div>
</div>
<div class="morphology-term" style="display: none" id="verrucae">
<div class="title">Verrucae <a class="close" href="#" onclick="return closeTerm(this);"></a></div><div class="content"> are rounded bumps on the pollen grain.</div>
</div>
<div class="morphology-term" style="display: none" id="vesiculate">
<div class="title">Vesiculate <a class="close" href="#" onclick="return closeTerm(this);"></a></div>
<div class="content"> is a bladder or "balloon" attached to a pollen grain to facilitate wind dispersal.</div>
</div>

{% endblock %}
