{% extends "base.html" %}
{% load static %}

{% block title %}Paleoecology{% endblock %}

{% block css %}
<style type='text/css'>
  @import "{% static 'css/paleoecology/style.css' %}";
</style>

{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block masthead %}
<a href="/paleoecology/" title="Return to 'Paleoecology' home">Paleoecology</a>
<span style="float: right">
    <a class="btn-paleoecology"
        target="_blank"
        href="https://docs.google.com/forms/d/e/1FAIpQLSdQET9fcq2avuRnVrRScopwwD9tTh8nE0TG0SZ1s9B0R6rbrQ/viewform?usp=sf_link">
        Take Survey
    </a>
</span>
{% endblock %}

{% block content %}

<div id="content" style="padding: 20px;">

<h3>Welcome to the Paleoecology Module!</h3>

<h4>
Overview
</h4>

<p>
This module has two activities centered on data from a sediment core sample taken from Sutherland Pond in Black Rock Forest.
</p>

<p>
In the Pollen Identification Activity, students learn how to identify pollen grains and plant macrofossils found in Sutherland Pond sediments.
</p>

<p>
In the Sediment Core Sampling Activity, students learn strategies for efficient sampling of a pond core to ensure the capture of the relevant changes in the pollen record over time.
</p>

<p>
This module is currently being developed by the Center for New Media Teaching and Learning in collaboration with Dr. Terryanne Maenza-Gmelch of the Department of Environmental Science at Barnard College.
</p>
<br />
<h4>This module contains two activities and teaching resources:</h4>

<p><a href="identification">Start Pollen Identification Activity</a></p>
<p><a href="explore">Start Sediment Sampling Activity</a></p>
<p><a href="resources">View Teaching Resources</a></p>
<br />

<h4>
Offer Feedback
</h4>

<p>
Please help us improve these learning modules by taking a quick survey. We appreciate your help!
<div>
<a class="btn-paleoecology"
    target="_blank"
    href="https://docs.google.com/forms/d/e/1FAIpQLSdQET9fcq2avuRnVrRScopwwD9tTh8nE0TG0SZ1s9B0R6rbrQ/viewform?usp=sf_link">
    Take Survey
</a>
</div>
</p>

</div>
{% endblock %}
