{% extends "paleoecology/base_paleoecology.html" %}
{% load static %}
{% load extras %}

{% block pagetitle %}Teaching Resources{% endblock %}

{% block tabname %}tab-resources{% endblock %} 

{% block js %} 
{{ block.super }} 

  <script type="text/javascript">
    function initNav() {
      connect("tab-coresample", "onclick", function() { location.href='explore'; });
      connect("tab-identification", "onclick", function() { location.href='identification'; });
    }
    addLoadEvent(initNav);
  </script>
  
  <script type="text/javascript" src="{% static 'js/paleoecology/interactive_key.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/paleoecology/pollen_identification.js' %}"></script>
{% endblock %}

{% block container %}
<h3>Teaching Resources</h3>

<ul>
<li><a href="{% static 'pdf/paleoecology/HudsonHighlandsHistory.pdf' %}">Hudson Highlands history</a>
<li><a href="{% static 'pdf/paleoecology/PaleoecologyLecture.pdf' %}">Lecture slides</a></li>
<li><a href="{% static 'pdf/paleoecology/PaleoecologyModuleQuestions.pdf' %}">Guide to explore the module</a></li>
</ul>
{% endblock %}
