{% load static %}

<div class="gridselector">
  <div id="show_map_grid">
    <div class="checkbox"><input type="checkbox" id="id_gridOn" value="Show map grid" /></div>
    <div class="legend"><img src="{% static 'images/mammals/habitat_map/habitat_grid.png' %}" alt="" width="19" height="20" /></div>
    <div class="title">Show map grid</div>
      </div>
    
    <div id="square_coordinates">Square coordinates:
        <span id ="battleship_coords_span"></span>
    </div>
    
    <div id="reset_map_button">
    <a href = "/mammals/search">Reset Search</a>
    </div>
    <div class="clearfix"></div>
</div><!-- div class="gridselector" -->
