{% extends "admin/index.html" %} 
{% load i18n %}
{% load extras %}
{% load static %}

{% block title %}Solr Administration | {% trans "Django Admin" %}{% endblock %}
 
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}"></link>
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}"></link>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/media/js/core.js"></script>
    <script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/media/js/admin/CollapsedFieldsets.js"></script>
    <script type="text/javascript" src="/media/js/calendar.js"></script>
    <script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="{% static 'js/mochikit/MochiKit/MochiKit.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/json2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/admin.js' %}"></script>
{% endblock extrahead %}

{% block branding %}
    <h1>Blackrock Forest: Virtual Simulation</h1>
{% endblock %}

{% if not is_popup %}

    {% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="../">{% trans "Home" %}</a> &rsaquo; 
        <a href="../portal">Portal</a> &rsaquo;
        Rebuild Solr Index 
    </div>
    {% endblock %}

{% endif %} 

{% block content_title %}<h1>Solr Administration</h1>{% endblock %}

{% block content %}
    <form action='rebuild_index' method='POST'>
        <fieldset class="module aligned">
            <h2>Rebuild Solr Index</h2>
            
            <div class="form-row">
               <label class="required">Server:</label>
               <input type="text" value="{{server}}" readonly style="width: 300px"/>            
            </div>

        </fieldset>
                        
        <div class="submit-row" style="height: 25px;">
            <input value="Rebuild" class="default" name="_save" type="submit">
        </div>
    </form>
    
    {% if results %}
        <h2>Results</h2>
        <table width="600px" cellspacing="2px">
            {% for r in results %}
                <tr><td>{{r}}</td></tr>
            {% endfor %}
         
        </table>
    {% endif %}
  
{% endblock %}

{% block sidebar %}{% endblock %}




