{% load portal %}
     
<div class="assetlist">
    {% for result in block.list %}
        {% if forloop.counter <= block.list_count %}
            {% with result.object as current_object %}
            {% with "geocode" as geocode_class %}
            {% with forloop.counter as icon_display_order %}
            {% with 1 as includehighlight %}
                <!-- Asset Locations (Hidden. Used by maps.js to plot GMaps) -->
                {% include "portal/asset_location.html" %}
     
                {% include "portal/asset_singleresult.html" %}                
            {% endwith %}{% endwith %}{% endwith %}{% endwith %}
        {% endif %}
    {% endfor %}
        
    <a class="view-all" href="/portal/search/?{{block.search_query}}">View All</a>
</div>
<input type="hidden" name="audience" value="{{block.audience}}" />


