{% load portal %}
{% load static %}

{% comment %}

Included by:
assetlist.html
featuredasset.html
object_detail.html

Variables to this template:

current_object -- instance of an indexed asset in the portal data model
geocode_class -- include the hidden geocode div using the named geocode_class
includehighlight -- include a Highlight on Map link when processing
showinfrastructure -- Include the infrastructure facets when listing out the asset's facets
showfeatured -- Include the featured facets when listing out the asset's facets
prefix -- Prefix for the identifier to prevent duplications

{% endcomment %}

{% if current_object.location.count %}
    {% for l in current_object.location.all %}
        {% with l as current_location %}
            {% if includehighlight %}
                {% if forloop.counter == 1 %}
                    {% if current_location.latitude %}
                        <!--  Highlight this asset's first location -->
                        {% if audience %} 
                            <a class="asset_icon" onclick="portalMapInstance.showMarkerInfoWindow('{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}'); return false;"><img style="float: left; margin-right: 10px;" src="{% static 'images/portal/' %}nonmapicon_{{audience|lower}}_{{icon_display_order}}.png" alt="{{icon_display_order}} map marker" /></a>
                        {% else %}
                            <a class="asset_icon" nclick="portalMapInstance.showMarkerInfoWindow('{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}'); return false;"><img style="float: left; margin-right: 10px;" src="https://chart.googleapis.com/chart?chst=d_map_pin_letter&amp;chld={{icon_display_order}}|4A3404|FFFFFF" alt="{{icon_display_order}} map marker" /></a>
                        {% endif %}
                     {% endif %}
                {% endif %}
            {% endif %}
            {% if geocode_class %}
                {% include "portal/asset_geocode.html" %}
            {% endif %}
        {% endwith %}
    {% endfor %}
{% else %}{% if current_object.location %}
    {% with current_object.location as current_location %}
        {% if includehighlight %}
            {% if audience %} 
                <a class="asset_icon" onclick="portalMapInstance.showMarkerInfoWindow('{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}'); return false;"><img style="float: left; margin-right: 10px;" src="{% static 'images/portal/' %}nonmapicon_{{audience|lower}}_{{icon_display_order}}.png" alt="{{icon_display_order}} map marker" /></a>
            {% else %}
                <a class="asset_icon" onclick="portalMapInstance.showMarkerInfoWindow('{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}'); return false;"><img style="float: left; margin-right: 10px;" src="https://chart.googleapis.com/chart?chst=d_map_pin_letter&amp;chld={{icon_display_order}}|4A3404|FFFFFF" alt="{{icon_display_order}} map marker" /></a>
            {% endif %}
        {% endif %}
        {% if geocode_class %}
            {% include "portal/asset_geocode.html" %}
        {% endif %}
    {% endwith %}
{% endif %}{% endif %}

{% if current_object.latitude %}
    {% if audience %} 
        <a class="asset_icon" onclick="portalMapInstance.showMarkerInfoWindow('{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}'); return false;"><img style="float: left; margin-right: 10px;" src="{% static 'images/portal/' %}nonmapicon_{{audience|lower}}_{{icon_display_order}}.png" alt="{{icon_display_order}} map marker" /></a>
    {% else %}
        <a class="asset_icon" onclick="portalMapInstance.showMarkerInfoWindow('{{prefix}}{{current_object|klass}}-{{current_object.id}}-{{current_location.id}}'); return false;"><img style="float: left; margin-right: 10px;" src="https://chart.googleapis.com/chart?chst=d_map_pin_letter&amp;chld={{icon_display_order}}|4A3404|FFFFFF" alt="{{icon_display_order}} map marker" /></a>
    {% endif %}

    {% if geocode_class %}
        {% with current_object as current_location %}
            {% include "portal/asset_geocode.html" %} 
        {% endwith %}
    {% endif %}
{% endif %}
