{% load portal %}
{% load static %}

 <div class="single_result">
     <!-- Name -->
     {% if icon_display_order %}
        <a class="display-name" href="{{current_object|detail_url}}">{{current_object|display_name}}</a>
     {% else %}
     <table style="margin-bottom: 8px">
       <tr>
         <td style="vertical-align: middle">
           <img src="{% static 'images/portal/' %}nonmapicon_{{current_object|klass|lower}}.png" alt="record type icon" style="width: 25px; height: auto; margin-right: 5px;" />
         </td>
         <td style="vertical-align: middle">
           <a class="display-name" href="{{current_object|detail_url}}">
             {{current_object|search_name}}
           </a>
         </td>
       </tr>
     </table>
     {% endif %}
     
     <table>
        <tr>
        {% if current_object.display_image %}
            <td class="search_detail_image_column">
                <img alt="{{asset_klass}} Icon" src="{{current_object.display_image.file.url}}" class="search_detail_image"></img>
            </td>
        {% else %}{% if current_object.digital_format %}
            {% if current_object.digital_format.is_image %}
                {% if current_object.file.url %}
                    <td class="search_detail_image_column"><img src="{{current_object.file.url}}" class="search_detail_image"></img></td>
                {% else %}{% if current_object.url %}
                    <td class="search_detail_image_column"><img src="{{current_object.url}}" class="search_detail_image"></img></td>
                {% endif %}{% endif %}
            {% endif %} 
        {% endif %}{% endif %}
        <td>
            <b>Record Type</b>: <a href="/portal/search/?q=&amp;asset_type={{current_object|klass}}">{{current_object|klass_display}}</a>
            {% include "portal/asset_description.html" %}
            
            {% if current_object.facet.count %}
                <b>Keywords</b>: 
                {% for k in current_object.facet.all %}{% if forloop.counter > 1 %}, {% endif %}<a href="/portal/search/?q=&amp;{{k.solr_name}}={{k.name}}">{{k.display_name}}</a>{% endfor %}
            {% endif %}
        </td>
        </tr>
    </table>
 </div>                 
