{% load portal %}
{% load cache %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.6"/>
    <title>
      The Virtual Forest Initiative: {% block title %}{% endblock %}
    </title>

    {% block css %}{% endblock %}

    <style media="screen" type="text/css">
      @import "{% static 'css/site.css' %}" ;
      @import "{% static 'css/style.css' %}" ;
      @import "{% static 'css/tiny_mce.css' %}" ;
      @import "{% static 'css/portal/style.css' %}";
      @import "{% static 'js/jquery-ui-1.8.11.custom/css/smoothness/jquery-ui-1.8.11.custom.css' %}" ;
      @import "{% static 'css/shield.css' %}";
    </style>
    <script>var STATIC_URL = "{{STATIC_URL}}";</script>

    {% block js %}
    <script type="text/javascript" src="{% static 'js/libraries/jquery-1.6.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mochikit/MochiKit/MochiKit.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mochikit/MochiKit/Signal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/browserdetect.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/shield.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.11.custom/js/jquery-1.4.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.11.custom/js/jquery-ui-1.8.11.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flowplayer-3.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/jquery.sharing/jquery.sharing.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/sharing.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/portal/jcarousel/lib/jquery.jcarousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/portal/maps.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/portal/portal.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{settings.GOOGLE_MAP_API}}"></script>

    {% endblock %}

    {% block feeds %}{% endblock %}

    {% include "google_analytics.html" %}

    <link rel="stylesheet" href="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.css" />
    <script src="https://search.sites.columbia.edu/cu-privacy-notice/cu-privacy-notice.js"></script>
</head>
<body>
    <div id="shieldbox"></div>
    <div id="masthead_top">
        <a href="http://ctl.columbia.edu/">
            <img id="ctl_logo"
                 width="200"
                 class="img-responsive"
                 src="{% static 'images/ctl-logo-white.png' %}">
        </a>
        {% block search_tab %}
            <div id="search">
                <form id="search_form" method="get" action="/portal/search/">
                    <a class="advancedsearch-link" href="/portal/search/">Advanced Search ></a><br />
                    <input name="q" id="id_q" type="text" value="Search" onfocus="clearDefaultText();"/>
                    <input type="submit" value="Search"/>

                </form>
            </div>
        {% endblock %}
        <a href="/"><span id="brf"></span></a>
    </div>

<div id="wrapper">
    <div id="mainnav">
        {% if not error %}
            <ul>
              <li class="home"><a href="/portal/" style="width: 15px">&nbsp;</a></li>
              <li class="interactive-map"><a href="/portal/interactive-map/">Map</a></li>
              <li class="weather"><a href="/portal/weather/">Sensor Data</a></li>
              <li class="forest-view"><a href="/portal/forest-view/">ForestCam</a></li>
              <li class="research"><a href="/portal/research/">Research</a></li>
              <li class="education"><a href="/portal/education/">Education</a></li>
            </ul>
        {% endif %}

        <div id="sharing_container">
            <div id="sharing_actions"></div>
            <img id="sharing_button" src="{% static 'images/portal/share_button.png' %}" alt="share button" />
            <div id="weather-widget">
                <div id="weather-widget-tab"><img src="{% static 'images/portal/down_arrow.png' %}" alt="Open Weather Widget" style="float: right;"/>Current Conditions &nbsp; &nbsp; </div>
                <div id="weather-widget-content">
                    <div id="data">
                        <div class="weather-widget-title">Open Lowland Station</div>
                        <h6>as of {% now "g a" %} on {% now "m/d/y" %}</h6>
                        <p><img src="https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/Widget.png" alt="Current Conditions Widget" /></p>
                        <div class="action"><a href="/portal/weather/">More >></a></div>
                    </div>

                    <div id="webcam">
                        <div class="weather-widget-title">ForestCam</div>
                        <h6>&nbsp;</h6>
                        <p><img src="https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/webcam/current_thumb.jpg" alt="Current Forest View" /></p>
                        <div class="action"><a href="/portal/forest-view/">More >></a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="container">
        {% block container %}
            {% comment %}
            <table width="100%">
            <tr>
                <td id="left">
                    {% block left %}
                    LEFT PANE REPORTING FOR DUTY
                    {% endblock %}
                </td>

                <td id="right">
                    <div id="map_canvas"></div>
                </td>
            </tr>
            </table>
            {% endcomment %}
        {% endblock %}
    </div>
</div>
{% block footer %}
    <div id="footer">
        <ul id="standard-elements">
            <li><a href="/portal/about/">About</a></li>
            <li><a href="/portal/credits/">Credits</a></li>
            <li><a href="/portal/help/">Help</a></li>
            <li><a href="mailto:ccnmtl-blackrock@columbia.edu">Contact</a></li>
        </ul>
    </div>
{% endblock %}

{% if STAGING_ENV %}
    <div class="alert alert-error"
        style="position: fixed; bottom: 0px; background-color: #fee; border: #f00 solid 1px;">
        <h4>Warning: Staging Site</h4>
        <p>You are viewing a staging version of this site, not the production site.</p>
        <p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
    </div>
{% endif %}

<script type="text/javascript">

    function clearDefaultText() {
        // Clear the Ghost Text if it is still set.
        var search_text = document.getElementById('id_q');

        if (search_text != null && search_text.value == 'Search') {
            search_text.value = '';
        }

        return search_text.value;
    }

    jQuery(document).ready(function() {
        /* Select from list: Chrome, Firefox, Safari, MSIE */
        shieldbrowser({"Chrome": 1, "Firefox": 3.6, "Safari": 4, "MSIE": 7 });

        var bits = window.location.pathname.split('/')
        if (bits.length > 2) {
            if (bits[2] == "") {
                jQuery("li.home").addClass("selected");
            } else {
                jQuery("li." + bits[2]).addClass("selected");
            }
        }

        jQuery('#search_form').submit(function() {
            var search_text = clearDefaultText();

            if (search_text == '') {
                window.location = jQuery('#search_form').attr('action');
                return false;
            } else {
                return true;
            }
        });

        jQuery('#weather-widget-tab').click(function(event){
            jQuery('#weather-widget-content').toggle('blind', { direction: 'vertical' }, 1000);
        });
    });

</script>

</body></html>
