{% load portal %}
{% load cache %}
{% load static %}

{% with 1 as search_nearby %}

{% if selected %}
    {% with "geoselected" as geocode_class %}
    {% with "selected" as prefix %}
    {% with selected as current_object %}
        {% include "portal/asset_location.html" %}
    {% endwith %}{% endwith %}{% endwith %}
{% endif %}

{% with "geocode" as geocode_class %}
            
<!--  Geocoded information for all Infrastructure assets -->
<div id="infrastructure_assets" style="display:none">
    {% for result in result|facet_assets:"infrastructure" %}
        {% with result.object as current_object %}
        {% with 1 as show_infrastructure %}
        {% with "infra" as prefix %}
            {% include "portal/asset_location.html" %}
        {% endwith %}{% endwith %}{% endwith %}
    {% endfor %}
</div>

<!--  Geocoded information for all Featured assets -->
<div id="featured_assets" style="display:none">
    {% for result in result|facet_assets:"featured" %}
        {% with result.object as current_object %}
        {% with 1 as show_featured %}
        {% with "featured" as prefix %}
            {% include "portal/asset_location.html" %}
        {% endwith %}{% endwith %}{% endwith %}
    {% endfor %}
</div>

{% endwith %}{% endwith %}

<div id="interactive_map">

  <table width="100%"><tr>
    <td id="left">
      <div id="map_filters">
        <div class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons">
          <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top ui-state-focus">
            <span class="ui-icon ui-icon-triangle-1-s"></span>
            <a tabindex="-1" href="#">Cultural Features</a>
          </h3>
          <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
            {% with object|facet_counts:"infrastructure" as infrastructure_counts %}
              <div>
                <input type="checkbox" class="layer" id="viewpoints" value="Viewpoints" />
                <img src="{% static 'images/portal/nonmapicon_viewpoints.png' %}" alt="Viewpoints"/>
                Viewpoints
              </div>
              <div>
                <input type="checkbox" class="layer" id="roads" value="Roads" />
                <img src="{% static 'images/portal/nonmapicon_roads.png' %}" alt="Forest Roads" />
                Roads/Parking Lots
              </div>
              <div>
                <input type="checkbox" class="layer" id="trails" value="Trails" />
                <img src="{% static 'images/portal/nonmapicon_trails.png' %}" alt="Forest Trails"/>
                Trails
              </div>
              <div>
                <input type="checkbox" class="layer" id="buildings" value="Buildings" checked="checked" />
                <img src="{% static 'images/portal/nonmapicon_buildings.png' %}" alt="Buildings"/>
                Buildings
              </div>
              <div>
                <input type="checkbox" class="facet infrastructure_option" id="idEnvironmentalMonitoring" value="Environmental Monitoring Stations" />
                <img src="{% static 'images/portal/nonmapicon_environmentalmonitoringstations.png' %}" alt="Environmental Monitoring"/>
                Environmental Monitoring ({{infrastructure_counts.EnvironmentalMonitoringStations}})
              </div>
              <!-- checked="checked"  --> 
              <div style="display: none">
                <input type="checkbox" class="facet" id="idLongtermPlots" value="Long-Term Plots" disabled="disabled" />
                <img src="{% static 'images/portal/nonmapicon_longtermplots.png' %}" alt="Long-Term Plots"/>
                Long-Term Plots ({{infrastructure_counts.LongTermPlots}})
              </div>
              <div>
                <input type="checkbox" class="layer" id="webcams" value="Webcams" />
                <img src="{% static 'images/portal/nonmapicon_webcams.png' %}" alt="Webcams" />
                Webcams  (1)
              </div>
            {% endwith %}
          </div>
        </div>
        <div class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons">
          <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-focus ui-corner-all">
            <span class="ui-icon ui-icon-triangle-1-e"></span>
            <a tabindex="-1" href="#">Natural Features</a>
          </h3>
          <div style="display: none;" class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
            <div>
              <input class="layer" id="ponds" value="Ponds" checked="checked" type="checkbox">
              <img src="{% static 'images/portal/nonmapicon_ponds.png' %}" alt="Ponds">
              Ponds
            </div>
            <div>
              <input class="layer" id="streams" value="Streams" checked="checked" type="checkbox">
              <img src="{% static 'images/portal/nonmapicon_streams.png' %}" alt="Streams">
              Streams
            </div>
            <div>
              <input class="layer" id="peaks" value="Peaks" checked="checked" type="checkbox"><img src="{% static 'images/portal/nonmapicon_peaks.png' %}" alt="Peaks">
              Peaks (6)
            </div>
          </div>
        </div>
        <div class="ui-accordion ui-widget ui-helper-reset ui-accordion-icons">
          <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top ui-state-focus">
            <span class="ui-icon ui-icon-triangle-1-s"></span>
            <a tabindex="-1" href="#">Points of Interest</a>
          </h3>
          <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
            {% with result|facet_counts:"featured" as featured_counts %}
              <div>
                <input type="checkbox" class="facet featured_option" id="id_education" value="Education" />
                <img src="{% static 'images/portal/nonmapicon_education.png' %}" alt="Education" />
                Education ({{featured_counts.FeaturedEducation}})
              </div>
              <div>
                <input type="checkbox" class="facet featured_option" id="id_research" value="Research" />
                <img src="{% static 'images/portal/nonmapicon_research.png' %}" alt="Research" />
                Research ({{featured_counts.FeaturedResearch}})
              </div>
            {% endwith %}
          </div>
        </div>
        
            <div id="map_actions">
              <a href="{% static 'kml/portal/blackrock.kml.zip' %}">Download KML files</a>
            </div>
        </div>
        <div id="nearby_results"></div>
    </td>
    <td id="right">
        <div id="map_canvas"></div>
    </td>  
  </tr>
</table>
           
</div>

<script type="text/javascript">
jQuery(document).ready(function() {
    var visible = getVisibleContentHeight();
    document.getElementById("map_canvas").style.height = visible + "px";
    document.getElementById("nearby_results").style.height = visible + "px";

    jQuery(".ui-accordion-header").click(function() {
        jQuery(this).next().toggle();
        jQuery(this).toggleClass("ui-corner-all ui-corner-top");
        var child = jQuery(this).children("span.ui-icon");
        child.toggleClass("ui-icon-triangle-1-s ui-icon-triangle-1-e");
        return false;
    });
});
</script>
