{% extends "portal/base_portal.html" %} 
{% load portal %}

{% block title %}
    {% if module.label == "Home" %}
        {{module.label}}
    {% else %}
        {{module.label}} {{section.label}}
    {% endif %}
{% endblock %}

{% block js %}
    {{block.super}}
{% endblock %}

{% block container %}
    {% if error %}
        {% include "portal/error.html" %}
    {% else %}{% if module and module.slug == "home" %}
        {% include "portal/pageblocks.html" %}
    {% else %}{% if section.slug == "forest-view" %}
        {% include "portal/pageblocks.html" %}
    {% else %}{% if section.slug == "about" or section.slug == "help" or section.slug == "credits" %}
        {% include "portal/pageblocks.html" %}
    {% else %}{% if section.slug == "interactive-map" %}
        {% include "portal/interactive_map.html" %}
    {% else %}
        <table width="100%">
            <tr>
                <td id="left">
                    {% include "portal/pageblocks.html" %}
                </td>
                <td id="right">
                    <div id="map_canvas" class="highlight"></div>
                </td>
            </tr>
        </table>
    {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
{% endblock %}

