{% extends "portal/base_portal.html" %}
{% load portal %}

{% block title %}Search{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}


{% block search_tab %}{% endblock %}

{% block container %}
<div id="search-wrapper">
<form method="get" action=".">

 <table id="search-table">
    <tr>
    <td id="facets_column">
        <div id="facets" class="">
             {% for field in form %}
                {{ field.errors }}
                {% if field.label == "Search" %}
                    <div style="padding: 10px" class="ui-widget">
                        <h3 style="display: inline">{{field.label}}</h3>: {{ field }}
                        <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit"><span class="ui-button-text">Submit</span></button>
                        <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="reset" onclick="jQuery('#result_count').html(''); parent.location='/portal/search/'"><span class="ui-button-text">Reset</span></button>
                    </div>
                {% else %}
                    
                    <div class="fieldWrapper ui-accordion ui-widget ui-helper-reset ui-accordion-icons">
                        {% if field.field.choices %}
                            <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-top ui-state-focus"><span class="ui-icon ui-icon-triangle-1-s"></span><a tabindex="-1" href="#">Search By {{field.label_tag}}</a></h3>
                            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active">
                            {{ field }}
                            </div>
                        {% else %}
                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-state-disabled ui-corner-all ui-state-focus"><span class="ui-icon ui-icon-triangle-1-s"></span><a tabindex="-1" href="#">Search By {{field.label_tag}}</a></h3>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </td>
    <td id="results_column">
        <div class="ui-widget" style="margin-left: 20px; margin-right: 10px;">
            {% if page.has_previous or page.has_next %}
                <div style="float: right">
                    {% if page.has_previous %}&laquo; <a href="?{{ query }}page={{ page.previous_page_number }}">Previous</a>{% endif %}
                    {% if page.has_previous and page.has_next %}|{% endif %}
                    {% if page.has_next %}<a href="?{{ query }}page={{ page.next_page_number }}">Next</a> &raquo;{% endif %}
                </div>
            {% endif %}
            <h3 style="margin-top: 5px;">
            <div id="result_count">                
                {% if count > 0 %}
                    Showing {{page.start_index}}-{{page.end_index}} of {{count}} Results
                {% else %}{% if count == 0 %}
                    Your search did not match any records. Please try again.
                {% endif %}{% endif %}
            </div>
            </h3>
        </div>
        
        <div id="search-results">
            <div class="assetlist">
                {% for result in page.object_list %}
                    {% with result.object as current_object %}
                        {% include "portal/asset_singleresult.html" %}
                    {% endwith %}
                {% endfor %}
            </div>
            {% if page.has_previous or page.has_next %}
                <div style="float: right;" class="ui-widget">
                    {% if page.has_previous %}&laquo; <a href="?{{ query }}page={{ page.previous_page_number }}">Previous</a>{% endif %}
                    {% if page.has_previous and page.has_next %}|{% endif %}
                    {% if page.has_next %}<a href="?{{ query }}page={{ page.next_page_number }}">Next</a> &raquo;{% endif %}
                </div>
            {% endif %}
        </div>
   </td>
   </tr>
</table>
</form>
</div>


<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery(".ui-accordion-header").click(function() {
        jQuery(this).next().toggle();
        if (!jQuery(this).hasClass("ui-state-disabled")) {
            jQuery(this).toggleClass("ui-corner-all ui-corner-top");
            var child = jQuery(this).children("span.ui-icon");
            child.toggleClass("ui-icon-triangle-1-s ui-icon-triangle-1-e");
        }
        return false;
    });

    var visible = getVisibleContentHeight();
    jQuery("#facets").css("min-height", visible + "px");
});
</script>

{% endblock %}

