{% extends "portal/base_portal.html" %}
{% load portal %}
{% load static %}

{% block title %}
    Weather
{% endblock %}

{% block js %}
    {{block.super}}
    <script type="text/javascript">
    var stations = {
        'Open Lowland Station': { 
            'prefix': 'OL_',
            'rawdata': 'https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/Lowland.csv',
            'historicdata': '/portal/browse/portal/dataset/objects/20/'
            
        },
        'Ridgetop Station': { 
            'prefix': 'RT_', 
            'ozone': false,
            'co2': false,
            'snow-depth': false,
            'soil-depth': false,
            'uv-radiation': false,
            'wave-radiation': false,
            'net-wave-radiation': false,
            'total-radiation': false,            
            'rawdata': 'https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/Ridgetop.csv',
            'historicdata': '/portal/browse/portal/dataset/objects/19/'
        }
    };
    var currentStation = 'Open Lowland Station';
    
    function timerange(value) {
        jQuery(".weather-image").hide();
        
        var increment = ".twentyfourhours";
        if (value == 1)
            increment = ".sevendays";
        else if (value == 2)
            increment = ".thirtydays";
        return increment;
    }
    
    function timelabel(value) {
        var label = "24 hours";
        if (value == 1) {
            label = "7 days";
        } else if (value == 2) {
            label = "30 days";
        }
        return label;
    }

    jQuery(document).ready(function() {
        jQuery(".weather-station-selector").change(function(evt) {
            var srcElement = evt.srcElement || evt.target || evt.originalTarget;
            
            var newStation = jQuery(srcElement).val();
            if (currentStation != newStation) {

                var reset_selector;

                jQuery("#weather .nav-container ul li a").each(function(idx, elt) {
                   // does this station support this category?
                   var property = jQuery(elt).attr('id');
                   if (stations[newStation].hasOwnProperty(property) && !stations[newStation][property]) {
                       jQuery(elt).hide();
                       if (jQuery(elt).parent().hasClass('active')) {
                           jQuery(elt).parent().removeClass('active');
                           reset_selector = true;
                       }
                   } else {
                       jQuery(elt).show();
                   }
                });
                
                jQuery("div.weather-image img").each(function(idx, elt) {
                    // replace the prefix with this station's prefix
                    var newSrc = jQuery(elt).attr("src").replace(stations[currentStation].prefix, stations[newStation].prefix);
                    jQuery(elt).attr("src", newSrc);
                });
                
                // Update the link for historical & raw data downloads
                jQuery("#rawdata").attr("href", stations[newStation].rawdata);
                
                if ('historicdata' in stations[newStation]) {
                    jQuery("#historicdata").attr("href", stations[newStation].historicdata);
                    jQuery("#historicdata").show();
                } else {
                    jQuery("#historicdata").hide();
                }

                if (reset_selector) {
                    jQuery("#weather .nav-container ul").scrollLeft(0);
                    jQuery("#air-soil").trigger("click");
                }
                    
                currentStation = newStation;
            }
        });
        jQuery("#weather .nav-container ul li a").click(function() {
            jQuery("#weather .nav-container ul li").removeClass("active");
            jQuery(this).parent().addClass("active");

            var category = "." + jQuery(this).attr("id");
            var value = jQuery("#slider").slider( "option", "value" );
            jQuery(category+timerange(value)).show();
            
            jQuery("h2 span.datapoint").html(jQuery(this).html());
        });

        jQuery("#slider").slider({
            max: 2,
            step: 1,
            slide: function(event, ui) {
                var category = "." + jQuery(".nav-container li.active a").attr("id");
                var range = timerange(ui.value);
                var label = timelabel(ui.value);
                jQuery(category + range).show();
                jQuery("h2 span.timespan").html(label);
            }
        });

        // button bar slider for various weather elements
        var scrollWidth = jQuery("#weather .nav-container ul li").width();
        jQuery('#weather .nav-container .next_nav').click(function () {
            jQuery("#weather .nav-container ul").animate({
                scrollLeft: '+=' + scrollWidth + 'px'
            });
        });
        jQuery('#weather .nav-container .prev_nav').click(function () {
            jQuery("#weather .nav-container ul").animate({
               scrollLeft: '-=' + scrollWidth + 'px'
            });
        });
        
    });
    </script>
{% endblock %}

{% block container %}

<div id="weather">
    <div class="station-select-container">
        <img src="{% static 'images/portal/nonmapicon_environmentalmonitoringstations.png' %}" alt="record type icon" />
        <h3>
            <span class="station-name">Select Station</span>
        </h3>
        <select class="form-control weather-station-selector">
            <option value="Open Lowland Station">Open Lowland Station: Elevation 270 feet</option>
            <option value="Ridgetop Station">Ridgetop Station: Elevation 1400 feet</option>
        </select>
        <div class="page-metadata">Data as of {% now "g a" %} on {% now "m/d/Y" %} (Updated Hourly)</div>
    </div>
    <div class="clearfix"></div>
    <div class="nav-container">
        <div class="ui-state-default ui-corner-all next_nav">
            <span class="ui-icon ui-icon-carat-1-e"></span>
        </div>
        <div class="ui-state-default ui-corner-all prev_nav">
            <span class="ui-icon ui-icon-carat-1-w"></span>
        </div>
        <ul>
            <li class="active"><a id="air-soil">Air &amp; Soil Temperature</a></li>
            <li><a id="precip">Precipitation</a></li>
            <li><a id="wind">Wind</a></li>
            <li><a id="baro">Barometric Pressure</a></li>
            <li><a id="ozone">Ozone</a></li>
            <li><a id="co2">Carbon Dioxide</a></li>
            <li><a id="soil-depth">Soil Depth</a></li>
            <li><a id="snow-depth">Snow Depth</a></li>
            <li><a id="uv-radiation">UV Radiation</a></li>
            <li><a id="wave-radiation">Wave Radiation</a></li>
            <li><a id="net-wave-radiation">Net Wave Radiation</a></li>
            <li><a id="total-radiation">Total Net Radiation</a></li>
        </ul>
    </div>

    <div id="time-slider">
        <div class="legend">
            <div class="label-24hours">24 hours</div>
            <div class="label-7days">7 days</div>
            <div class="label-30days">30 days</div>
        </div>
        <div class="ui-slider ui-slider-horizontal ui-widget ui-widget-content" id="slider">
            <a style="left: 50%;" class="ui-slider-handle ui-state-default ui-corner-all ui-state-focus" href="#"></a>
        </div>
    </div>
    
    <h2 class="datapoint-timespan"><span class="datapoint">Air & Soil Temperature</span> <span class="timespan">24 hours</span></h2>
        
    <!-- Air Soil -->
	<div class="weather-image air-soil twentyfourhours">
	  <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Air-Soil-24Hr.png' alt="Air &amp; Soil 24 hours"/>
	</div>
    <div class="weather-image air-soil sevendays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Air-Soil-7Day.png' alt="Air &amp; 7 Days"/>
    </div>
    <div class="weather-image air-soil thirtydays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Air-Soil-30Day.png' alt="Air &amp; Soil 30 Days"/>
    </div>

    <!-- Precipitation -->
    <div class="weather-image precip twentyfourhours" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Precip-24Hr.png' alt="Precipitation 24 hours"/>
    </div>
    <div class="weather-image precip sevendays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Precip-7Day.png' alt="Precipitation 7 Days"/>
    </div>
    <div class="weather-image precip thirtydays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Precip-30Day.png' alt="Precipitation 30 days"/>
    </div>
    
    <!-- Wind -->
    <div class="weather-image wind twentyfourhours" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Wind-24Hr.png' alt="Wind 24 hours" />
    </div>
    <div class="weather-image wind sevendays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Wind-7Day.png' alt = "Wind 7 Days" />
    </div>
    <div class="weather-image wind thirtydays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Wind-30Day.png' alt="Wind 30 Days" />
    </div>
    
    <!-- Baro -->
    <div class="weather-image baro twentyfourhours" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Baro-24Hr.png' alt="Barometric Pressure 24 hours" />
    </div>
    <div class="weather-image baro sevendays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Baro-7Day.png' alt="Barometric Pressure 7 Days" />
    </div>
    <div class="weather-image baro thirtydays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Baro-30Day.png' alt="Barometric Pressure 30 Days" />
    </div>
    
    <!-- Ozone -->
    <div class="weather-image ozone twentyfourhours" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Ozone-24Hr.png' alt="Ozone Levels 24 hours" />
    </div>
    <div class="weather-image ozone sevendays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Ozone-7Day.png' alt="Ozone Levels 7 Days" />
    </div>
    <div class="weather-image ozone thirtydays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Ozone-30Day.png' alt="Ozone Levels 30 Days" />
    </div>

    <!-- CO2 -->
    <div class="weather-image co2 twentyfourhours" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_CO2-24Hr.png' alt="Carbon Dioxide 24 hours" />
    </div>
    <div class="weather-image co2 sevendays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_CO2-7Day.png' alt="Carbon Dioxide 7 Days" />
    </div>
    <div class="weather-image co2 thirtydays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_CO2-30Day.png' alt="Carbon Dioxide 30 Days" />
    </div>
    
    <!-- Wave Radiation -->
    <div class="weather-image wave-radiation twentyfourhours" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_NetRadA-24Hr.png' alt="Wave Radiation 24 hours" />
    </div>
    <div class="weather-image wave-radiation sevendays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_NetRadA-7Day.png' alt="Wave Radiation 7 Days" />
    </div>
    <div class="weather-image wave-radiation thirtydays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_NetRadA-30Day.png' alt="Wave Radiation 30 Days" />
    </div>
    
    <!-- Net Wave Radiation -->
    <div class="weather-image net-wave-radiation twentyfourhours" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_NetRadB-24Hr.png' alt="Net Wave Radiation 24 hours" />
    </div>
    <div class="weather-image net-wave-radiation sevendays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_NetRadB-7Day.png' alt="Net Wave Radiation 7 Days" />
    </div>
    <div class="weather-image net-wave-radiation thirtydays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_NetRadB-30Day.png' alt="Net Wave Radiation 30 Days" />
    </div>
    
    <!-- Total Radiation -->
    <div class="weather-image total-radiation twentyfourhours" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_NetRadC-24Hr.png' alt="Total Net Radiation 24 hours" />
    </div>
    <div class="weather-image total-radiation sevendays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_NetRadC-7Day.png' alt="Total Net Radiation 7 Days" />
    </div>
    <div class="weather-image total-radiation thirtydays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_NetRadC-30Day.png' alt="Total Net Radiation 30 Days" />
    </div>

    <!-- Snow Depth -->
    <div class="weather-image snow-depth twentyfourhours" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Snow-24Hr.png' alt="Snow Depth 24 hours" />
    </div>
    <div class="weather-image snow-depth sevendays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Snow-7Day.png' alt="Snow Depth 7 Days" />
    </div>
    <div class="weather-image snow-depth thirtydays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_Snow-30Day.png' alt="Snow Depth 30 Days" />
    </div>

    <!-- Soil Depth -->
    <div class="weather-image soil-depth twentyfourhours" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_SoilVWC-24Hr.png' alt="Soil Depth 24 hours" />
    </div>
    <div class="weather-image soil-depth sevendays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_SoilVWC-7Day.png' alt="Soil Depth 7 Days" />
    </div>
    <div class="weather-image soil-depth thirtydays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_SoilVWC-30Day.png' alt="Soil Depth 30 Days" />
    </div>

    <!-- UV Radiation -->
    <div class="weather-image uv-radiation twentyfourhours" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_UVRad-24Hr.png' alt="Ultraviolet Radiation 24 hours" />
    </div>
    <div class="weather-image uv-radiation sevendays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_UVRad-7Day.png' alt="Ultraviolet Radiation 7 Days" />
    </div>
    <div class="weather-image uv-radiation thirtydays" style="display: none">
      <img src='https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/OL_UVRad-30Day.png' alt="Ultraviolet Radiation 30 Days" />
    </div>
    
  
    <div class="header-row">
        <a href="/portal/browse/portal/dataset/objects/20" id="historicdata">View Historic Data</a>
        <a href="https://www1.columbia.edu/sec/ccnmtl/projects/blackrock/forestdata/data/current/Lowland.csv" id="rawdata">Download Raw Data (YTD)</a>
    </div>
    <div class="clearfix"></div>
    
</div>
{% endblock %}
