{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'js/portal/imageflow/imageflow.css' %}" />

<script type="text/javascript" src="{% static 'js/portal/imageflow/imageflow.js' %}"></script>
<script type="text/javascript" src="{% static 'js/portal/blackrock_webcam.js' %}"></script>

<div id="forestcam">
  <div class="pagetitle">
    <img src="{% static 'images/portal/nonmapicon_webcams.png' %}" alt="record type icon" />
    <h3><a href="/portal/browse/portal/station/objects/3/">Science Center ForestCam</a></h3>
  </div>
    
  <div id="left">
    <div class="header-row">
      <h5 id="header-copy">
        Still Views By Date
      </h5>
    </div>
    <div class="box-content">
      <h4>Now Viewing: 
      <input id="datepicker" type="text" value="Today" style="width: 100px">&nbsp;&nbsp;&nbsp;Change Date: &nbsp;<img id="calendar_icon" style="vertical-align:middle;" src="{% static 'images/portal/calendar.gif' %}" alt="calendar icon"/></h4>
        <center>
          <div class="big-still">
            <img src="" id="current_image"></img>
            <span id="current_image_text" class="caption"></span>
          </div>
          <div id="flow-container">
            <p>Drag slider to scroll back 24 hours</p>
            <div id="webcam-flow" class="imageflow"></div>
            <div style="float: left; margin-left: 25px; margin-top: -25px; font-size: 90%;">Earlier</div>
            <div id="webcam-flow_key" style="display: none">
              <div style="float: right; margin-right: 25px; margin-top: -25px; font-size: 90%;">Later</div>
            </div>
          </div>
        </center>
        <br class="clear" />  
    </div>
  </div>
  <div id="right">
    <div class="header-row">
      <h5 id="header-copy">Timelapse Videos</h5>
    </div>
    <div class="box-content">
      <h4 style="text-align: left">Select a Video:</h4>
      <div>
        <div style="float: left; margin: 0px 5px; width: 31%;">
          <a class="select_video current_video" onclick="return switchvideo(this, 'sunrise');">
            <h5>Sunrise</h5>
            <img src="{% static 'images/portal/forestcam/poster_sunrise.png' %}" style="width: 100%; height: auto;"></img>
          </a>
        </div>
        <div style="float: left; margin: 0px 5px; width: 31%;">
          <a class="select_video" onclick="return switchvideo(this, 'snow');">
            <h5>Snow Melting</h5>
            <img src="{% static 'images/portal/forestcam/poster_snow.png' %}" style="width: 100%; height: auto;"></img>
          </a>
        </div>
        <div style="float: left; margin: 0px 0px 0px 5px; width: 31%;">
          <a class="select_video" onclick="return switchvideo(this, 'showers');">
            <h5>April Showers</h5>
            <img src="{% static 'images/portal/forestcam/poster_showers.png' %}" style="width: 100%; height: auto;"></img>
          </a>
        </div>
      </div>

      <br class="clear" />

      <center>
        <!-- Sunrise -->
        <div id="sunrise" style="display: none;" class="video">
          <iframe width="560" height="315" src="https://youtube.com/embed/by4bTCBNac8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <!-- Snow Melting -->
        <div id="snow" style="display: none" class="video">
          <iframe width="560" height="315" src="https://youtube.com/embed/SeP6kHipqXU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <!-- April Showers -->
        <div id="showers" style="display: none" class="video">
          <iframe width="560" height="315" src="https://youtube.com/embed/1NsiI7UcjfQ?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </center>
      <br class="clear" />
    </div>
  </div>
  <div style="clear: both">
</div>
 
<script type="text/javascript">
    jQuery(document).ready(function() {

        jQuery("#datepicker").datepicker({
            // we only have good pics starting in Feb 2012
            minDate: new Date(2012, 2 - 1, 11),
            maxDate: "+0",

            // onSelect - load the photos from that day
            onSelect: function(dateText, inst) {
                var pickedDate = jQuery(this).datepicker('getDate');
                draw_image_flow(pickedDate.getDate(), pickedDate.getMonth(), pickedDate.getFullYear());
                jQuery("#picked-date").html(getDisplayDate(pickedDate));
            }
        });

        draw_image_flow();
        jQuery("#calendar_icon").click(function() { jQuery("#datepicker").datepicker("show"); });
    });

    function switchvideo(a, id) {
        jQuery(".video").hide();
        jQuery("#" + id).show();
        return true;
    }
  
</script>
<br />
<br class="clear" />
